.outerShell {
    margin: 140px 15px 15px 195px;
    display: flex;
    justify-content: space-around;
}

.chapterShell {
    background: whitesmoke;
    padding: 15px;
    max-width: 750px;
}

.imageShell {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-width: 375px;
    height: 100%;
    background: whitesmoke;
}