<div class="outerShell">
    <div *ngIf='view' class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div [innerHTML]="view | safeHtml" class="chapterShell"></div>


        <div *ngIf='images && navDisplay' [innerHTML]="images | safeHtml" class="imageShell"></div>
        <img *ngIf='!images' src="../../assets/images/S.png" alt="banner of the Empire" class="image">

        <div *ngIf='images' class="tableShell" (click)="displayTables()">
            <p>Show Chapter Tables</p>
        </div>

        <h1 class="chapterTitle">{{chapterName}}</h1>
    </div>

    <div *ngIf='!view'>
        <div class="loading"></div>
    </div>
</div>