@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

.outerShell {
  margin: 137px 0 25px;
}

.innerShell {
  display: flex;
  justify-content: space-around;
  width: 950px;
  position: relative
}

.chapterShell {
  padding: 15px;
  width: 635px;
  z-index: 0;
}

.backColor {
  background: whitesmoke;
  position: absolute;
  left: 0;
  height: 100%;
  width: 635px;
  z-index: -1;
}

.backTexture {
  background-image: url('../../assets/images/1.jpg');
  background-size: fill;
  height: 900px;
  width: 635px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.imageShell {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 300px;
  height: 100%;
  background: rgba(245, 245, 245, 0.75);
}

.image {
  margin-left: 15px;
  margin-top: -26px;
  width: 300px;
  height: 100%;
}

.imageBanner {
  display: flex;
  flex-direction: column;
}

.tableShell {
  z-index: 0;
  align-items: center;
  margin: 15px;
  display: none;
}

.tableImage {
  width: 30px;
  height: 30px;
}

p {
  font-size: 20px;
  margin-left: 15px;
  font-family: 'Vollkorn SC', serif;
}

.chapterTitle {
  z-index: 0;
  margin: 0 auto;
  font-family: 'Vollkorn SC', serif;
  border-bottom: 1px solid #222;
}

/* =================== */

.loading, .loading::before, .loading::after {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(151, 23, 21, .4);
  border-left-color: rgb(151, 23, 21);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*  */

@media (max-width: 500px) {
  .outerShell {
    margin-top: 85px;
  }

  .innerShell {
    flex-direction: column-reverse;
    width: 100%;
  }

  .chapterShell {
    width: 100%;
  }
  
  .backTexture {
    width: 100%;
  }

  .backColor {
    width: 100%;
  }

  .imageShell {
    width: 100%;
    flex-wrap: wrap;
  }

  .image {
    display: none;
  }

  .tableShell {
    display: flex;
    margin-bottom: 0;
  }

  .imageShell {
    width: 100%;
    margin: 0;
    padding-left: 15px;
    background: transparent;
  }
}