.bonus-crp-spacing {
    height: 7vw;
    max-height: 58px;
}

.kit-shell {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.kit-shell table {
    width: 350px
}

.result-shell {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.resultHolder {
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

.generateButton {
    background: #b45f06;
    color: whitesmoke;
    width: 200px;
    position: inherit;
    border-radius: 25px;
    transition: .6s;
}

.generateButton:hover {
    background: #222;
}

@media (max-width: 426px) {
    .result-shell {
        flex-direction: column;
    }
}
