.bonus-crp-spacing {
    height: 7vw;
    max-height: 58px;
}

.kit-shell {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.kit-shell table {
    width: 350px
}


.resultHolder {
    margin: 10px auto;
    width: 85%;
    text-align: center;
}

.generateButton {
    background: #b45f06;
    color: whitesmoke;
    width: 100px;
    position: inherit;
    border-radius: 25px;
    transition: .6s;
}

.generateButton:hover {
    background: #222;
}


.rudiment-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

.rudiment-shell table {
    margin-bottom: 15px;
}