<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class='anchor'>
        <div id='3ibTsjRfDjl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3ibTsjRfDjl'"></app-bm-chapter-icon>
        <h1>Which Ancestry Should I Choose?</h1>
        <div class="underline"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3xvmHgvOCJI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3xvmHgvOCJI'"></app-bm-chapter-icon>
        <p> Your Ancestry effects character creation in 3 ways: Stat Score Modifiers, Gameplay Rewards, and
          Class Costs. If you're new to RPGs in generally, go for an Ancestry that interests you based on the
          flavor.</p>
      </div>
      <div class='anchor'>
        <div id='persjiojicoejw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'persjiojicoejw'"></app-bm-chapter-icon>
        <h2>Personality</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='eachioejsiojcioew' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'eachioejsiojcioew'"></app-bm-chapter-icon>
        <p>Each Ancestry has its only unique personality that might appeal to you. You can read about each's in their
          Personality
          section and see a bullet-point summary beyond that in "Characteristics", which will become important later in
          Character Creation.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='notehiosjtiojes' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'notehiosjtiojes'"></app-bm-chapter-icon>
        <p>Note that these are default Characteristics that assume that there is only one culture per ancestry and that
          these
          cultures are very similar to the stereotypes of that ancestry in popular fiction but your GM might have a
          separate list
          from which to pull from so check with them. If you’re using the official campaign setting, you’ll find that
          information
          under the Nations folder in the World Codex found <a
            href="https://www.worldanvil.com/w/the-welgyrf-sagas-peschke" target="_blank">here</a>.</p>
      </div>
      <div class='anchor'>
        <div id='3kOpuEvckQq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3kOpuEvckQq'"></app-bm-chapter-icon>
        <h2>Stat Score Modifiers</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3NRWeiscuJi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3NRWeiscuJi'"></app-bm-chapter-icon>
        <p> These modify the base stats that you roll. You can use it to balance out your character's weak spots
          or you can use it to maximize what your character is already good it. We recommend the latter as
          Bonfire is a game built around teamwork: you'll have friends who will be good at things your
          character isn't.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='notethatnonti' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'notethatnonti'"></app-bm-chapter-icon>
        <p> Note that these adjustments can't bring score above 23 or below 1.</p>
      </div>
      <div class='anchor'>
        <div id='3FtaYQizyom' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3FtaYQizyom'"></app-bm-chapter-icon>
        <h2>Gameplay Rewards</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3zrqShuDWpY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3zrqShuDWpY'"></app-bm-chapter-icon>
        <p> Each Ancestry is meant to encourage a certain type of play. For instance, orcs are highly destructive,
          so they reward players who are aggressive, while elves get
          rewarded for being careful with how they engage with others. These are noted under the Ancestry
          Temperament and Abilities sections in their summary. </p>
      </div>
      <div class='anchor'>
        <div id='3NLyIsVRDgl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3NLyIsVRDgl'"></app-bm-chapter-icon>
        <h2>Class Costs</h2>
        <div class="underline-sub"></div>
      </div>
      <div class=' paragraphShell anchor marginBottom'>
        <div id='3zHPAsQZMCS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3zHPAsQZMCS'"></app-bm-chapter-icon>
        <p>Some Ancestries have cultural practices that look down or favor certain Classes. This is reflected in the
          Class Costs.</p>
      </div>

      <div class="anchor">
        <div id="3h1" class="anchorTag"></div>
        <h1>Elves</h1>
        <div class="underline"></div>
      </div>

      <div class='sidebarShell marginBottom float sidebar-width'>
        <img src="../../../../assets/images/elf.png" />
        <h5 class='sidebarTitle'>Elf Summary</h5>
        <div class='anchor'>
          <div id='3hg2' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3hg2'"></app-bm-chapter-icon>
          <h2>Modifiers</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p1' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p1'"></app-bm-chapter-icon>
          <p> -2 Str</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p2' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p2'"></app-bm-chapter-icon>
          <p> -4 Con</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p3' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p3'"></app-bm-chapter-icon>
          <p> +4 Int</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='3p4' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p4'"></app-bm-chapter-icon>
          <p> +2 Pre</p>
        </div>

        <div class='paragraphShell anchor'>
          <div id='elvemediusizzed' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'elvemediusizzed'"></app-bm-chapter-icon>
          <p>Medium Sized</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='elvfvistlaity' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'elvfvistlaity'"></app-bm-chapter-icon>
          <p>Vitality Size Modifier is 10</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='elvesoifkopes' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'elvesoifkopes'"></app-bm-chapter-icon>
          <p>Nerve Modifier is 20</p>
        </div>
        <div class="table-overflow">
          <table class="all-centered">
            <thead>
              <tr class="notSticky">
                <th colspan="5">Movement (ft / sec)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Crawl</td>
                <td>Walk</td>
                <td>Jog</td>
                <td>Run</td>
                <td>Sprint</td>
              </tr>
              <tr>
                <td>2.5</td>
                <td>5</td>
                <td>10</td>
                <td>15</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class='anchor'>
          <div id='elfeiraiocie' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'elfeiraiocie'"></app-bm-chapter-icon>
          <h2>Ancestral Ability</h2>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='startouchejiocew' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'startouchejiocew'"></app-bm-chapter-icon>
          <p>Star Shield: when resisting a spell’s Effect, any Boons that you get on your Check can be given to your
            allies if they’re affected by the same spell and it requires Mental resistance or if the spell requires
            Physical resistance and you’re within 5 ft.</p>
        </div>
        <div class='anchor'>
          <div id='elfcharjaiocj' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'elfcharjaiocj'"></app-bm-chapter-icon>
          <h2>Characteristics</h2>
        </div>
        <div class="characterisiticsShell">
          <div>
            <h6>Descriptions</h6>
            <p>{{characterisitics.elf.descriptions[0]}}, {{characterisitics.elf.descriptions[1]}}</p>
          </div>
          <div>
            <h6>Convictions</h6>
            <p *ngFor="let conviction of characterisitics.elf.convictions">{{conviction}}</p>
          </div>
          <div>
            <h6>Relationships</h6>
            <p *ngFor="let devotion of characterisitics.elf.devotions">{{devotion}}</p>
          </div>
          <div>
            <h6>Strength</h6>
            <p class='marginBottom'>{{characterisitics.elf.strength}}</p>
          </div>
          <div>
            <h6>Temperament</h6>
            <p class='marginBottom'>{{characterisitics.elf.temperament}}</p>
          </div>
        </div>
        <div class='anchor'>
          <div id='3hg5' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3hg5'"></app-bm-chapter-icon>
          <h2>Class Costs</h2>
        </div>
        <div class="chartShell">
          <div>Expert: 3</div>
          <div>Fighter: 5</div>
        </div>
        <div class="chartShell">
          <div>Servant: 3</div>
          <div>Socialite: 0</div>
        </div>
        <div class="chartShell">
          <div>Weird-Adept: 0</div>
        </div>
      </div>

      <img src="../../../../assets/images/elf.png" />

      <div class='marginBottom paragraphShell anchor'>
        <div id='wewhoweretarpacie' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'wewhoweretarpacie'"></app-bm-chapter-icon>
        <p class="italic">We who were trapped in prisons of flesh look to our forebears. For as the Alwealda
          ascended to return to the Divines, we, their children, will also ascend when we too have perfected
          ourselves in their sight.</p>
      </div>

      <div class='marginBottom paragraphShell anchor'>
        <div id='3p20' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p20'"></app-bm-chapter-icon>
        <p> The Elves are the first born of the Divines. Originally, the inhabitants of the Painted World,
          the source of all
          magic, they now inhabit the Middle Realm as mentally ethereal beings.</p>
      </div>
      <div class='anchor'>
        <div id='3hg16' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3hg16'"></app-bm-chapter-icon>
        <h2>Appearance</h2>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p26' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p26'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p> Elves are slender beings that are widely considered classically beautiful, though many find
          their features alien
          and off putting. They uniformly have long ears that taper to a point at the end.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p27' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p27'"></app-bm-chapter-icon>
        <p> Their eyes are pure white, with no iris or pupil visible, this matched with their sharp teeth,
          can give them a
          feline turn to their face.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p28' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p28'"></app-bm-chapter-icon>
        <p> Elves naturally survive off the ebb and flow of magic that drifts through the air of the Painted
          World. While
          still present in the Middle Realm, these winds are a sliver of their natural magnitude and so
          Elves need to find
          other sources; the main one being through the magic inherent in all living creatures. While
          vegetables do have
          magic in them, an Elf would have to consume 100s of pounds of lettuce each day to not die of
          starvation. The
          only realistic way of getting enough magic to survive is through the consumption of meat, making them
          omnivores in theory but carnivores in practice.
        </p>
      </div>
      <div class='anchor'>
        <div id='3hg17' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3hg17'"></app-bm-chapter-icon>
        <h2>Personality</h2>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p29' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p29'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p> To describe an Elf as “careful” would be a huge understatement. They tend to live longer than other
          Ancestries,
          not because some supernaturally long lifespan, but because they're always careful about their
          actions. They see
          other Ancestries as brash and impetuous while they're in turn seen as slow and cowardly.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p30' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p30'"></app-bm-chapter-icon>
        <p> It's not they're incapable of great emotion or quick action but elves seem to understand that with
          every action
          comes a consequence, whether that action was well meaning or not, and that this karmic force is more
          powerful than
          any other law or power.
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p31' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p31'"></app-bm-chapter-icon>
        <p> However, once set on a course, it is hard to dissuade an elf, for they do nothing lightly.</p>
      </div>

      <div class="anchor">
        <div id="3h2" class="anchorTag"></div>
        <h1>Humans</h1>
        <div class="underline"></div>
      </div>
      <div class='sidebarShell marginBottom float sidebar-width'>
        <img src="../../../../assets/images/human.png" />
        <h5 class='sidebarTitle'>Human Summary</h5>
        <div class='anchor'>
          <div id='3hg6' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3hg6'"></app-bm-chapter-icon>
          <h2>Modifiers</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p5' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p5'"></app-bm-chapter-icon>
          <p>Medium Sized</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='humanvialitiy' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'humanvialitiy'"></app-bm-chapter-icon>
          <p>Vitality Size Modifier is 15</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='humanstresehio' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'humanstresehio'"></app-bm-chapter-icon>
          <p>Nerve Modifier is 15</p>
        </div>
        <div class="table-overflow">
          <table class="all-centered">
            <thead>
              <tr class="notSticky">
                <th colspan="5">Movement (ft / sec)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Crawl</td>
                <td>Walk</td>
                <td>Jog</td>
                <td>Run</td>
                <td>Sprint</td>
              </tr>
              <tr>
                <td>2.5</td>
                <td>5</td>
                <td>10</td>
                <td>15</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class='anchor'>
          <div id='huamnracjioaw' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'huamnracjioaw'"></app-bm-chapter-icon>
          <h2>Ancestral Abilities</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='turegriojtr' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'turegriojtr'"></app-bm-chapter-icon>
          <p>True Grit: Increase the size of your Grit Die by 1.</p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='naturajopkfopew' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'naturajopkfopew'"></app-bm-chapter-icon>
          <p>Naturally Adept: At first level, gain the Martial, Skill, or Personality Adept Ability.</p>
        </div>
        <div class='anchor'>
          <div id='huamncioiopopjioe' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'huamncioiopopjioe'"></app-bm-chapter-icon>
          <h2>Characteristics</h2>
        </div>
        <div class="characterisiticsShell">
          <div>
            <h6>Descriptions</h6>
            <p>{{characterisitics.human.descriptions[0]}}, {{characterisitics.human.descriptions[1]}}</p>
          </div>
          <div>
            <h6>Convictions</h6>
            <p *ngFor="let conviction of characterisitics.human.convictions">{{conviction}}</p>
          </div>
          <div>
            <h6>Relationships</h6>
            <p *ngFor="let devotion of characterisitics.human.devotions">{{devotion}}</p>
          </div>
          <div>
            <h6>Strength</h6>
            <p class='marginBottom'>{{characterisitics.human.strength}}</p>
          </div>
          <div>
            <h6>Temperament</h6>
            <p class='marginBottom'>{{characterisitics.human.temperament}}</p>
          </div>
        </div>
        <div class='anchor'>
          <div id='3hg9' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3hg9'"></app-bm-chapter-icon>
          <h2>Class Costs</h2>
        </div>
        <div class="chartShell">
          <div>Expert: 0</div>
          <div>Fighter: 0</div>
        </div>
        <div class="chartShell">
          <div>Servant: 0</div>
          <div>Socialite: 0</div>
        </div>
        <div class="chartShell">
          <div>Weird-Adept: 0</div>
        </div>
      </div>

      <img src="../../../../assets/images/human.png" />

      <div class='marginBottom paragraphShell anchor'>
        <div id='inthefdaysofoyour' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'inthefdaysofoyour'"></app-bm-chapter-icon>
        <p class="italic">In the days of yore, the Divines and the Giants fought in a war unending. And from
          their struggles fell their blood and sweat to the earth. From that mixture arose the first man and
          women, born of blood, sweat, and earth; the prices we must pay for all things.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p32' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p32'"></app-bm-chapter-icon>
        <p> Humans are the first natives of the Middle Realm. They are creatures born from strife, who’ve
          carved for
          themselves a place in the world through fire, steel, and grit.</p>
      </div>
      <div class='anchor'>
        <div id='3hg19' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3hg19'"></app-bm-chapter-icon>
        <h2>Appearance</h2>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p38' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p38'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p> The Humans of the Middle Realm look like you and me. Their skin, eye, and hair color range
          widely, adapted to
          the region of that Human’s origin, with darker skins more common towards the equator.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p39' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p39'"></app-bm-chapter-icon>
        <p> If you don’t know what a Human looks like, I don’t know what to tell you.</p>
      </div>
      <div class='anchor'>
        <div id='3hg20' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3hg20'"></app-bm-chapter-icon>
        <h2>Personality</h2>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p40' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p40'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p> The truth is Humans are odd and quirky individuals that seem to have the defining trait of their
          curiosity and
          ambition.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p41' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p41'"></app-bm-chapter-icon>
        <p> Truthfully, you probably have your own opinion about how humans behave and why they behave the
          way they do and
          nothing I write in this little blurb is going to convince you otherwise.</p>
      </div>

      <div class="anchor">
        <div id="orcheadertag" class="anchorTag"></div>
        <h1>Orcs</h1>
        <div class="underline"></div>
      </div>

      <div class='sidebarShell marginBottom float sidebar-width'>
        <img src="../../../../assets/images/orc.png" />
        <h5 class='sidebarTitle'>Orc Summary</h5>
        <div class='anchor'>
          <div id='3hg10' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3hg10'"></app-bm-chapter-icon>
          <h2>Modifiers</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p6' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p6'"></app-bm-chapter-icon>
          <p> +4 Str</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p7' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p7'"></app-bm-chapter-icon>
          <p> +3 Con</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='3p8' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p8'"></app-bm-chapter-icon>
          <p> -4 Int</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='3p9' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3p9'"></app-bm-chapter-icon>
          <p> -4 Pre</p>
        </div>

        <div class='paragraphShell anchor'>
          <div id='orcmediusdif' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'orcmediusdif'"></app-bm-chapter-icon>
          <p>Medium Sized</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='orcviality' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'orcviality'"></app-bm-chapter-icon>
          <p>Vitality Size Modifier is 15</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='orcstresshiotj' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'orcstresshiotj'"></app-bm-chapter-icon>
          <p>Nerve Modifier is 15</p>
        </div>
        <div class="table-overflow">
          <table class="all-centered">
            <thead>
              <tr class="notSticky">
                <th colspan="5">Movement (ft / sec)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Crawl</td>
                <td>Walk</td>
                <td>Jog</td>
                <td>Run</td>
                <td>Sprint</td>
              </tr>
              <tr>
                <td>2.5</td>
                <td>5</td>
                <td>10</td>
                <td>15</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='anchor'>
          <div id='orcsraiocew' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'orcsraiocew'"></app-bm-chapter-icon>
          <h2>Ancestral Abilities</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='destrrucitove' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'destrrucitove'"></app-bm-chapter-icon>
          <p>Destructive: When using equipment to gain a bonus, orcs may gain an extra +d4! to their Check in exchange
            for an additional 1 Wear on the item.</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='intigstaorc' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'intigstaorc'"></app-bm-chapter-icon>
          <p>Instigator: Orcs gain 1 Grit Die when they start a Combat, Challenge, or Confrontation.</p>
        </div>
        <div class='anchor'>
          <div id='orcjifoewjiofewk' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'orcjifoewjiofewk'"></app-bm-chapter-icon>
          <h2>Characteristics</h2>
        </div>
        <div class="characterisiticsShell">
          <div>
            <h6>Descriptions</h6>
            <p>{{characterisitics.orc.descriptions[0]}}, {{characterisitics.orc.descriptions[1]}}</p>
          </div>
          <div>
            <h6>Convictions</h6>
            <p *ngFor="let conviction of characterisitics.orc.convictions">{{conviction}}</p>
          </div>
          <div>
            <h6>Relationships</h6>
            <p *ngFor="let devotion of characterisitics.orc.devotions">{{devotion}}</p>
          </div>
          <div>
            <h6>Strength</h6>
            <p class='marginBottom'>{{characterisitics.orc.strength}}</p>
          </div>
          <div>
            <h6>Temperament</h6>
            <p class='marginBottom'>{{characterisitics.orc.temperament}}</p>
          </div>
        </div>
        <div class='anchor'>
          <div id='3hg13' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'3hg13'"></app-bm-chapter-icon>
          <h2>Class Costs</h2>
        </div>
        <div class="chartShell">
          <div>Expert: 5</div>
          <div>Fighter: 0</div>
        </div>
        <div class="chartShell">
          <div>Servant: 7</div>
          <div>Socialite: 10</div>
        </div>
        <div class="chartShell">
          <div>Weird-Adept: 5</div>
        </div>
      </div>

      <img src="../../../../assets/images/orc.png" />

      <div class='marginBottom paragraphShell anchor'>
        <div id='daysofhashenightioefe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'daysofhashenightioefe'"></app-bm-chapter-icon>
        <p class="italic">Days of ashes and nights of fire; we were great warriors then. But our swords and
          shields were stolen from us and now we, the nomads, search for things that no hand can hold. Where
          must we go? We who search the wasteland for our better selves?</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p42' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p42'"></app-bm-chapter-icon>
        <p> Heirs to a great empire long since lost to the ages, the orcs cling to tradition in the wake of
          uncertain and dark times. Some say that they value only strength but to truly known an orc is to
          know the soul of honor.</p>
      </div>
      <div class='anchor'>
        <div id='3hg22' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3hg22'"></app-bm-chapter-icon>
        <h2>Appearance</h2>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p49' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p49'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p> Orcs have dark green or grey skin with porcine nose and tusks that jut up from their lower jaw.
          They tend to be
          stocky, with thick muscles and hunched shoulders.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p50' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p50'"></app-bm-chapter-icon>
        <p> Their hair is wiry, closer to steel wool than anything else and their eyes are completely
          black, with no
          pupils or irises, giving them an indescribable inhumanness to it.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='3p51' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p51'"></app-bm-chapter-icon>
        <p> Naturally, orcs are scavengers, able to survive on practically anything, no matter how rotten or
          foul.</p>
      </div>
      <div class='anchor'>
        <div id='3hg23' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3hg23'"></app-bm-chapter-icon>
        <h2>Personality</h2>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p52' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p52'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p> An orc’s life is defined by struggle: from birth to death, they conceptualize the universe as having
          a vendetta against them. This can often give them a martyr complex and make them morose traveling
          companions at times because they feel the weight of the world.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='3p53' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p53'"></app-bm-chapter-icon>
        <p> They can also come across as aggressive, which some have pointed out is a defense mechanism, but
          orcs would simply scoff at that.</p>
      </div>
      <div class='paragraphShell marginBottom anchor'>
        <div id='3p54' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'3p54'"></app-bm-chapter-icon>
        <p> There’s nothing an orc values more than their honor and the chance to prove themselves against a
          worthy foe. This is often seen in their deities across orcish cultures, which are almost exclusively
          pantheons of their greatest foes. It is taken for granted that you are only as good as your enemies.
        </p>
      </div>

    </div>
    <div class="sideShell">
      <app-quick-nav [side]='side'></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Chapter 2.3 Ancestries</h1>
  </div>
</div>