.rangesShell {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.rangevalue {
  width: 50%;
}

.equipmentvalue {
  width: 75px;
}

.hirelingvalue {
  width: 175px;
}

.poisonvalue {
  width: 100px;
}

.tableValue .equipmentvalue:first-child, .tableValue .poisonvalue:first-child, .tableValue .hirelingvalue:first-child {
  padding-left: 10px;
  width: 215px;
  text-align: left;
}

.armorvalue {
  width: 55px;
}

.tableValue .armorvalue:first-child {
  padding-left: 10px;
  width: 100px;
  text-align: left;
}

.tableValue .armorvalue:nth-child(3) {
  width: 70px;
}

.subtitle {
  color: whitesmoke;
  background: rgb(100, 100, 100) !important;
}

.kitShell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.kitTable {
  width: 300px;
}

.kitBottomLine {
  background: grey !important;
  display: flex;
  justify-content: space-evenly;
}

.kitBottomItem {
  color: whitesmoke;
  text-indent: 0;
  width: 50%;
}