<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div>
        <h1>About</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>The greatest hurdle of any TTRPG is to take the hero we have designed in our minds, and place them within the
          rules of the game. Invariably, the rules fall short of being able to realize the true potential of any
          character.</p>
      </div>
      <div class='paragraphShell '>
        <p>Bonfire, with its nuanced skills, incremental combat, and custom social-confrontation system seeks to
          alleviate
          that handicap and be the most comprehensive and elegant system possible. </p>
      </div>
      <div class='paragraphShell '>
        <p>Allowing players to create the characters of their dream, is our dream.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>All with as little resistance as possible. Whether your playstyle is heavily influenced by roleplay, and you
          want
          drama and intrigue, or marked out as a highly specialized stoic combatant, Bonfire has you covered.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Gone are the days of having to choose one or the other, all playstyles are welcome to come and sit next to
          the
          warm light that is <strong>BONFIRE</strong>.</p>
      </div>
      <div>
        <h3>Features</h3>
      </div>
      <ul>
        <li><strong>Simple Complexity: </strong>Simple to learn but hard to master, Bonfire uses your common sense to
          build frameworks that allow you to
          quickly
          pick up and learn and then build off of.</li>
        <li><strong>Hybrid Class/Classes System: </strong>Preserving the strength of a class-based system, Bonfire
          introduces elements of easy customization that
          allows
          your character to stand out from others of their class and continue to grow into a character that is all your
          own.</li>
        <li><strong>Never Have a Boring Combat Again: </strong>Bonfire is the next step in the evolution of tabletop
          gaming. It sacrifices turn-based combat for an elegant
          semi
          real-time form of play that does not result in chaos. </li>
        <li><strong>Ditch Arbitrary and Unintuitive Skill Challenges: </strong>3 successes before 3 failures? Boring.
          Instead utilize a skill framework that’s intuitive to use and rewards
          players for creative use of skills and contacts and equipment. </li>
        <li><strong>Revel in Tactical Intrigue: </strong>Ever dream of playing Tywin, Moist Von Lipwig, Bilbo Baggins,
          and/or Admiral Adama? Now’s your chance as
          Bonfire
          provides a deep Confrontation system that mechanically rewards you for roleplaying your character in a way
          other
          games don’t. </li>
        <li><strong>Wealth of Playstyles: </strong>Ever had a session of no combat? Sure, but how do you apply
          experience? How do your characters grow without
          reducing every NPC and stray animal to potential murder hobo fodder? You can have a whole campaign with a
          rewarding climax and the tense moments of uncertainty that keep you on the edge of your seat without any
          combat
          Impossible, you say? Well, in Bonfire, you can.</li>
        <li><strong>Full Customizable Magic System: </strong>Create just the right spell for just the right occasions as you can mix and match spell Rudiments to build
          unique
          conjurations.</li>
      </ul>
      <div>
        <h3>Join The Conversation</h3>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Join a vibrant community, partake in the discussion and the memes, on our <a href="https://discord.gg/G8GVTME" target="_blank">Discord</a>.</p>
      </div>
      <div>
        <h2>Playing The Game</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell '>
        <p>Bonfire focuses on intuitive mechanics that help you get up and running as quickly as possible.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>In fact, the fastest way to learn the Bonfire system is to forget what you know about other RPGs: forget
          rounds,
          lists of actions divided into specific categories, Bonfire is aimed at letting you do what you want, when you
          want, how you want.</p>
      </div>
      <div>
        <div id="Roleplayingisheader" class="Tag"></div>
        <h3>Roleplaying Is The Min-max Option</h3>
      </div>
      <div class='paragraphShell '>
        <p>It sucks to have to cripple your character just so you can play someone that you find interesting and
          compelling.
          We’ve all been there: picking suboptimal choices because they align with the character we want.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>But why have that choice? Why can’t the roleplaying option also be the best option?</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Well, in Bonfire, it is: no more tension at your table between the min-maxers and the roleplayers.</p>
      </div>
      <div>
        <h3>Turn Permissions Into Pillars</h3>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>In other games, they say they have 3 pillars of play, combat, social, and exploration, but what gets the most
          support? Combat, with barely two pages side-by-side for the others. All those games are really giving you is
          permission to run those types of encounters and that’s it because all those games give you to make calls are
          rules for combat.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p><strong>Combat Isn’t Your Only Option</strong> Now you can play a gang of cunning thieves or a cabal of
          powerful lords, or blend them to create rich
          campaigns
          with deep, varied, and tactical encounters of all kinds using a simple but powerful framework.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p><strong>Don’t Worry: We Also Have Violence</strong> Even still, Bonfire’s combat is revolutionary. Once
          you’ve run a combat or two, you’ll be hooked. You’ll
          never
          wish to return to the monotony of round-based combat again. Instead of stacking dice while the rest of your
          party takes forever to take their actions, you’ll be able to move, react, and change tactics as needed every
          second of combat, all while on the edge of your seat as you watch an ever evolving drama play out before you.
        </p>
      </div>
      <div>
        <h3>Meaningful Choices</h3>
      </div>
      <div class='paragraphShell '>
        <p>From the second you pick up your dice for character creation to the moment you step away from the table,
          Bonfire
          is aimed at giving you meaningful choices through which you can express your character.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>With frameworks to help the GM with arbitration, you’ll know that the crowbar you picked up and have been
          carrying around will mean something: that choice matters.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Watch your character grow and their unique choices be rewarded.</p>
      </div>
      <div>
        <h2>Basic Mechanics</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell '>
        <p>The basic mechanics of Bonfire are simple: you roll a d20 + the applicable Rank + the applicable stat
          modifier vs
          a d20 + the Risk die.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>But that’s just the beginning: employ strategies and tactics to be able to consistently gain bonuses to come
          out
          ahead.</p>
      </div>
      <div>
        <h3>Combat</h3>
      </div>
      <div class='paragraphShell '>
        <p>Combat ditches round-to-round combat for a count-up system where every second counts.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Instead of having to arbitrarily determine whether an action is a major, minor, move, or free one, you can
          use
          real life to determine things, making it much easier for everyone involved.</p>
      </div>
      <div class='paragraphShell '>
        <p>Additionally, every fighter is different with weapon, shield, and even armor choice meaningfully changes how
          your
          character plays in a natural and intuitive manner. This means that no two fighters are the same without the
          rules bloat.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>And, even then, due to combat styles, which are open to all fighters without a feat-tax, a fighter can change
          and
          adapt their strategy during play, giving them more meaningful choices.</p>
      </div>
      <div>
        <h3>Confrontations</h3>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Confrontations are battles of will between two opposing forces. Ever wanted to run a game inspired by the
          climax of
          the original Dune? If so, Confrontations are your jam.</p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Confrontations allow your character’s beliefs, goals, and convictions to have an impact on the story in a
          real
          way that you have control over. Reinforce roleplay with a light-weight framework that allows you to easily
          arbitrate roleplaying situations; turn Charisma from a dump stat to a must-have stat.</p>
      </div>
      <div>
        <h3>Challenges</h3>
      </div>
      <div class='paragraphShell '>
        <p>Planning a heist where you want to slip in and out like a shadow’s breath? Or perhaps a wild chase across a
          wilderness in search of a fugitive? Challenges got your back. </p>
      </div>
      <div class='paragraphShell  marginBottom'>
        <p>Fill out whatever Obstacles the players are going to be facing and you’re good to go: the system and the
          players
          will take care of the rest, allowing you to focus on bringing them to life with Boons and Complications that
          create thrilling and memorable adventures, no swords required.</p>
      </div>
    </div>
  </div>
</div>