.flawTableShell{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.flawTableOverflow {
    width: 300px
}

.Vicevalue {
    width: 75px;
}

.viceTable {
    width: 150px;
    float: left;
    margin: 10px 15px 15px 0;
}

.flawTableTableTable {
    width: 200px;
    float: left;
    margin: 10px 15px 15px 0;
}

.flawTableTableSpacing {
    margin-bottom: 30px;
}

.Phobiasvalue {
    width: 100px;
}

.phobiasTable {
    width: 200px;
    float: left;
    margin: 10px 15px 15px 0;
}

.FlawTablesvalue {
    width: 90px;
}

.flawTable {
    width: 180px;
    float: left;
    margin: 0 15px 10px 0;
}

.backgroundTable {
    width: 275px;
    margin-bottom: 15px;
}

.flawTableShells {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tableValue .TableIndividual:first-child {
    width: 75px;
}

.tableValue .TableIndividual:nth-child(2) {
    width: 135px;
}

.tableValue .TableIndividual:nth-child(3) {
    width: 75px;
}

.equipmentvalue {
    width: 75px;
  }
  
  .tableValue .equipmentvalue:first-child {
    padding-left: 10px;
    width: 215px;
    text-align: left;
  }

.kitBottomLine {
    background: grey !important;
    display: flex;
    justify-content: space-evenly;
  }
  
  .kitBottomItem {
    color: whitesmoke;
    text-indent: 0;
    width: 50%;
  }

@media (max-width: 580px) {
    .flawTableShells {
        justify-content: space-around;
    }

    .flawTableTableTable {
        float: none;
        margin: 10px auto 15px auto;
    }
}