<a routerLink="home">Home</a>
<h1>Chapters</h1>
<a routerLink="chapter/c1">Chapter 1: <br> Character Creation</a>
<a routerLink="chapter/c2">Chapter 2: <br> Ability Scores</a>
<a routerLink="chapter/c3">Chapter 3: <br> Races</a>
<a routerLink="chapter/c4">Chapter 4: <br> Archetypes</a>
<a routerLink="chapter/c5">Chapter 5: <br> Flaws</a>
<a routerLink="chapter/c6">Chapter 6: <br> Character Vitals</a>
<a routerLink="chapter/c7">Chapter 7: <br> Masteries</a>
<a routerLink="chapter/c8">Chapter 8: <br> Skills</a>
<a routerLink="chapter/c9">Chapter 9: <br> Social</a>
<a routerLink="chapter/c10">Chapter 10: <br> Combat</a>
<a routerLink="chapter/c11">Chapter 11: <br> Equipment</a>
<a routerLink="chapter/c12">Chapter 12: <br> Magic</a>
<a routerLink="chapter/c13">Chapter 13: <br> Divine</a>
<a routerLink="chapter/c14">Chapter 14: <br> Character Progression</a>
<a routerLink="chapter/c15">Chapter 15: <br> Misc Rules</a>
<a href="https://drive.google.com/file/d/1L8hQ38ZjLbn9E_CDqVb6_rKG-uG_5yGX/view?usp=sharing">Character Sheet</a>
