@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

a {
    text-decoration: none;
    padding: 10px;
    color: white;
    min-width: 6%;
}

a:hover {
    background: #b45f0675;
    border-radius: 20px;
}

a:active {
    color: #b45f06
}

h1 {
    size: 10px;
    margin-left: 5px;
    padding: 0;
}

.navBar {
    width: 100%;
    margin: 15px auto;
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    position: relative;
    z-index: 1;
    font-family: 'Vollkorn SC', serif;
}

.navOverlay {
    background: linear-gradient(rgba(34, 34, 34, 0), #222);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navBackground {
    position: absolute;
    background-position: center;
    background-size: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.heraldRight {
    height: 115px;
    position: absolute;
    top: -3px;
    right: -45px;
}

.heraldLeft {
    height: 120px;
    position: absolute;
    top: -7px;
    left: -38px;
 }

.topNav {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.middleNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.bottomNav {
    height: 35px;
    margin: 0 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    justify-content: space-around;
}

.selectChapter {
    color: whitesmoke;
    width: 250px;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
}