<div class="navBar browser" [ngClass]="{'noMargin' : !marginBack }">
    <div class="navOverlay" [ngClass]="{'fullBackground' : !marginBack }"></div>

    <div class="topNav">
        <a class="selectChapter" (click)="setChapter()" routerLink="">Home</a>
        <a class="selectChapter" (click)="setChapter()" routerLink="search">Search</a>
    </div>
    <div class="middleNav">
        <a [ngClass]="{'active': reset === 'Basic Mechanics'}" routerLink="rules-reference/1" (mouseover)="viewChapter('Basic Mechanics')"
            (mouseout)="resetChapter()" (click)="setChapter(1)">1.1</a>
        <a [ngClass]="{'active': reset === 'Confrontations'}" routerLink="rules-reference/2" (mouseover)="viewChapter('Confrontations')"
            (mouseout)="resetChapter()" (click)="setChapter(2)">1.2</a>
        <a [ngClass]="{'active': reset === 'Races'}" routerLink="chapter/3" (mouseover)="viewChapter('Races')"
            (mouseout)="resetChapter()" (click)="setChapter(3)">3</a>
        <a [ngClass]="{'active': reset === 'Archetypes'}" routerLink="chapter/4" (mouseover)="viewChapter('Archetypes')"
            (mouseout)="resetChapter()" (click)="setChapter(4)">4</a>
        <a [ngClass]="{'active': reset === 'Flaws'}" routerLink="chapter/5" (mouseover)="viewChapter('Flaws')"
            (mouseout)="resetChapter()" (click)="setChapter(5)">5</a>
        <a [ngClass]="{'active': reset === 'Character Vitals'}" routerLink="chapter/6" (mouseover)="viewChapter('Character Vitals')"
            (mouseout)="resetChapter()" (click)="setChapter(6)">6</a>
        <a [ngClass]="{'active': reset === 'Skills'}" routerLink="chapter/7" (mouseover)="viewChapter('Skills')"
            (mouseout)="resetChapter()" (click)="setChapter(7)">7</a>
        <p>|</p>
        <a [ngClass]="{'active': reset === 'Confrontation'}" routerLink="chapter/8" (mouseover)="viewChapter('Confrontation')"
            (mouseout)="resetChapter()" (click)="setChapter(8)">8</a>
        <a [ngClass]="{'active': reset === 'Combat'}" routerLink="chapter/9" (mouseover)="viewChapter('Combat')"
            (mouseout)="resetChapter()" (click)="setChapter(9)">9</a>
        <a [ngClass]="{'active': reset === 'Equipment'}" routerLink="chapter/10" (mouseover)="viewChapter('Equipment')"
            (mouseout)="resetChapter()" (click)="setChapter(10)">10</a>
        <a [ngClass]="{'active': reset === 'The Weird'}" routerLink="chapter/11" (mouseover)="viewChapter('The Weird')"
            (mouseout)="resetChapter()" (click)="setChapter(11)">11</a>
        <a [ngClass]="{'active': reset === 'The Divine'}" routerLink="chapter/12" (mouseover)="viewChapter('The Divine')"
            (mouseout)="resetChapter()" (click)="setChapter(12)">12</a>
        <a [ngClass]="{'active': reset === 'Character Progression'}" routerLink="chapter/13" (mouseover)="viewChapter('Character Progression')"
            (mouseout)="resetChapter()" (click)="setChapter(13)">13</a>
        <a [ngClass]="{'active': reset === 'Misc Rules'}" routerLink="chapter/14" (mouseover)="viewChapter('Misc Rules')"
            (mouseout)="resetChapter()" (click)="setChapter(14)">14</a>
    </div>
    <div class="bottomNav">
        <a *ngIf="reset !== ''" routerLink="{{perviousRoute}}" (click)="setChapter('p')" class="selectChapter side"><div><img src="../../assets/images/backButton.png" alt="back button" class="buttonImage">{{pervious}}</div></a>
        <p class="selectChapter">{{chapter}}</p>
        <a *ngIf="reset !== ''" routerLink="{{nextRoute}}" (click)="setChapter('n')" class="selectChapter side"><div>{{next}}<img src="../../assets/images/forwardButton.png" alt="forward button" class="buttonImage"></div></a>
    </div>

    <img src="../../assets/images/dragon.png" alt="dragon" class="heraldRight">
    <img src="../../assets/images/griffin.png" alt="griffin" class="heraldLeft">
</div>

<!-- MOBILE NAV -->

<div class="mobile">
    <div class="mobileShell">
        <div class="hamShell" (click)="openHam()">
            <div class="hamBar"></div>
            <div class="hamBar"></div>
            <div class="hamBar"></div>
        </div>

        <div class="navTitleShell" routerLink="/" (click)="setChapter()">
            <img src="../../assets/images/white.png" alt="bonfire white title" class="navTitleWords">
        </div>

        <i class="fa fa-search homeIcon" routerLink="/search" (click)="setChapter()"></i>
    </div>

    <div *ngIf="ham" class="navSelectShell">
        <h1 class="navX" (click)="openHam()">X</h1>
        <a [ngClass]="{'active': reset === ''}" routerLink="../"
            (mouseout)="resetChapter()" (click)="setChapter()">Home</a>
        <a [ngClass]="{'active': reset === 'Basic Mechanics'}" routerLink="rules-reference/1"
            (mouseout)="resetChapter()" (click)="setChapter(1)">1.1 Basic Mechanics</a>
        <a [ngClass]="{'active': reset === 'Stat Scores'}" routerLink="rules-reference/2"
            (mouseout)="resetChapter()" (click)="setChapter(2)">1.2 Confrontations</a>
        <a [ngClass]="{'active': reset === 'Races'}" routerLink="chapter/3"
            (mouseout)="resetChapter()" (click)="setChapter(3)">3 Races</a>
        <a [ngClass]="{'active': reset === 'Archetypes'}" routerLink="chapter/4"
            (mouseout)="resetChapter()" (click)="setChapter(4)">4 Archetypes</a>
        <a [ngClass]="{'active': reset === 'Flaws'}" routerLink="chapter/5"
            (mouseout)="resetChapter()" (click)="setChapter(5)">5 Flaws</a>
        <a [ngClass]="{'active': reset === 'Character Vitals'}" routerLink="chapter/6"
            (mouseout)="resetChapter()" (click)="setChapter(6)">6 Character Vitals</a>
        <a [ngClass]="{'active': reset === 'Skills'}" routerLink="chapter/7"
            (mouseout)="resetChapter()" (click)="setChapter(7)">7 Skills</a>
        <a [ngClass]="{'active': reset === 'Confrontation'}" routerLink="chapter/8"
            (mouseout)="resetChapter()" (click)="setChapter(8)">8 Confrontation</a>
        <a [ngClass]="{'active': reset === 'Combat'}" routerLink="chapter/9"
            (mouseout)="resetChapter()" (click)="setChapter(9)">9 Combat</a>
        <a [ngClass]="{'active': reset === 'Equipment'}" routerLink="chapter/10"
            (mouseout)="resetChapter()" (click)="setChapter(10)">10 Equipment</a>
        <a [ngClass]="{'active': reset === 'The Weird'}" routerLink="chapter/11"
            (mouseout)="resetChapter()" (click)="setChapter(11)">11 The Weird</a>
        <a [ngClass]="{'active': reset === 'The Divine'}" routerLink="chapter/12"
            (mouseout)="resetChapter()" (click)="setChapter(12)">12 The Divine</a>
        <a [ngClass]="{'active': reset === 'Character Progression'}" routerLink="chapter/13"
            (mouseout)="resetChapter()" (click)="setChapter(13)">13 Character Progression</a>
        <a [ngClass]="{'active': reset === 'Misc Rules'}" routerLink="chapter/14"
            (mouseout)="resetChapter()" (click)="setChapter(14)">14 Misc Rules</a>
    </div>
</div>

<div class="loadingIcon" *ngIf="loadIcon">
    <img src="../../assets/images/icon.png" alt="loading">
</div>
