<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class="anchor">
        <div id="Carryheader" class="anchorTag"></div>
        <h1>Carry</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='InsteadofeacvHHKNhLUNH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'InsteadofeacvHHKNhLUNH'"></app-bm-chapter-icon>
        <p>Instead of each item having a weight in pounds or ounces, each item is assigned a size that represents, not
          only
          how much it weighs, but also its general bulky and awkwardness. These sizes correspond to the naming
          conventions
          set up in Chapter X: Misc Rules, however, just because something is Medium sized here, doesn’t mean it’s the
          size of a human - again, item sizes are based on their weights, bulkiness, and awkwardness to carry.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='YourCarrymatqqLIdyBGBE' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YourCarrymatqqLIdyBGBE'"></app-bm-chapter-icon>
        <p>Your Carry matches up with that, so if you have 2M as your Carry, you can carry 2 Medium items - or 2M items
          and
          is based on your strength</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='YoucanalsosKtKtREbzMM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanalsosKtKtREbzMM'"></app-bm-chapter-icon>
        <p>You can also swap out 1 for 3 of the size lower. So instead of carrying 2M items, you could carry 1M item and
          3S
          items.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='EachindividuaAMNxaAvrwX' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'EachindividuaAMNxaAvrwX'"></app-bm-chapter-icon>
        <p>Each individual instance of an item counts towards this: carrying two daggers, both S items, would count as
          2S
          for Carry.</p>
      </div>
      <div class="anchor">
        <div id="WearingItemsheader" class="anchorTag"></div>
        <h2>Wearing Items</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='NormallywhatzUkgcKHLhc' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'NormallywhatzUkgcKHLhc'"></app-bm-chapter-icon>
        <p>Normally what is written under the Carry column for each item is its Size. The only exception is clothes,
          armor,
          and personal containers. If worn on your person, not carried or stuffed in a backpack, these become less
          encumbering since their weight is distributed across basically the entire body.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='InthiscasepjAYRNglig' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'InthiscasepjAYRNglig'"></app-bm-chapter-icon>
        <p>In this case, shrink them 1 size for Carry purposes. Small items become negligible. Wearing boots, a Small
          item,
          then makes them effectively weightless, while any Heavy Armor makes them only M.</p>
      </div>
      <div class="anchor">
        <div id="PersonalContaheader" class="anchorTag"></div>
        <h2>Personal Containers</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='PersonalContaZGysBMrDaz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'PersonalContaZGysBMrDaz'"></app-bm-chapter-icon>
        <p>Personal Containers, such as backpacks or sacks, go one step further. Since it is assumed that your Carry
          weight
          is how much you can hold effectively, it does take into account that some things are too awkward to
          effectively
          carry despite being fairly light.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThesecontaineFOFRJOIJwf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesecontaineFOFRJOIJwf'"></app-bm-chapter-icon>
        <p>These containers increase your Carry by the noted amount.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheexceptionsjRAZzSPJfs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheexceptionsjRAZzSPJfs'"></app-bm-chapter-icon>
        <p>The exceptions, sort of, to this are coin purses, which make coins negligible (otherwise they’re 10 = 1S),
          quivers which do the same thing but with arrows, and scabbards and sheaths allow you to wear weapons -
          shrinking
          them 1 size.</p>
      </div>
      <div class="anchor">
        <div id="GoingOverCarheader" class="anchorTag"></div>
        <h2>Going Over Carry</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='YoucangooveXhoakgfpMm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucangooveXhoakgfpMm'"></app-bm-chapter-icon>
        <p>You can go over your Carry, of course, but it will slow you down. Going over your Carry prevents you from
          Sprinting.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='BeyondthaterILvtAbCej' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'BeyondthaterILvtAbCej'"></app-bm-chapter-icon>
        <p>Beyond that, each M of weight over your limit removes the next quickest Movement Category (so, removing
          Running,
          Jogging, Walking, and then Crawling) until your character is unable to move.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='UnlessprovenbXArQxfEpr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'UnlessprovenbXArQxfEpr'"></app-bm-chapter-icon>
        <p>Unless proven otherwise, the GM should assume the characters are carrying their max Carry if they pick up
          something new while out adventuring.</p>
      </div>
      <div class="anchor">
        <div id="Currencyheader" class="anchorTag"></div>
        <h1>Currency</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThedenominatiUHauVxnETV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThedenominatiUHauVxnETV'"></app-bm-chapter-icon>
        <p>The denomination of coinage is fairly simple and is done in divisions of 10.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10cc1silvDdtIpNCSEB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10cc1silvDdtIpNCSEB'"></app-bm-chapter-icon>
        <p>10 cc = 1 silver coin (sc)</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10sc1goldbkczScIRzf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10sc1goldbkczScIRzf'"></app-bm-chapter-icon>
        <p>10 sc = 1 gold coin (gc)</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='10gc1platJGjdPPpegk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10gc1platJGjdPPpegk'"></app-bm-chapter-icon>
        <p>10 gc = 1 platinum coin (pc)</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='So100ccisPTqRMwgoLF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'So100ccisPTqRMwgoLF'"></app-bm-chapter-icon>
        <p>So, 100 cc is equal to 1 gc.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThesilvercoiqBYSszNibm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesilvercoiqBYSszNibm'"></app-bm-chapter-icon>
        <p>The silver coin is the base of the economy and is what most day-to-day interactions use. If a denomination
          isn’t
          noted, it’s assumed to be sc.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='Notethat100kPdqJxqTbm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'Notethat100kPdqJxqTbm'"></app-bm-chapter-icon>
        <p>Note that 100 coins is 1S</p>
      </div>
      <div class="anchor">
        <div id="SuperiorEquipheader" class="anchorTag"></div>
        <h1>Superior Equipment</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='NotallequipmFAFNsEBiyP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'NotallequipmFAFNsEBiyP'"></app-bm-chapter-icon>
        <p>Not all equipment is built the same and, if you have some extra coin, it might benefit you to invest in some
          good
          quality gear.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SuperiorgearUZKSLjyPmO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SuperiorgearUZKSLjyPmO'"></app-bm-chapter-icon>
        <p>Superior gear is always unique and even two +1 longswords can be different. This is done through Traits and
          they're like the Traits that your character has: they're used to describe the gear.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='DuringaConfrasiaIsQPbS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DuringaConfrasiaIsQPbS'"></app-bm-chapter-icon>
        <p>During a Confrontation, Combat, or Challenge, if that Trait applies, you can gain an extra d4! to what is
          going
          on. This is in addition to the normal d6! for gear you get in a Confrontation and the reroll that you would
          normally get in a Skill Challenge.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SoforinstanxLPiQtOokO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SoforinstanxLPiQtOokO'"></app-bm-chapter-icon>
        <p>So, for instance, let's say that you get some better armor. You ask to make it extra padded and that becomes
          its
          Trait: Extra Padded. A little while later, you find yourself in combat and you take a particularly nasty blow
          and decide that you don't want to die, and the Trait applies here so you add a temporary d4! to your armor's
          DR.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThishoweveroYxvQPXhjV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThishoweveroYxvQPXhjV'"></app-bm-chapter-icon>
        <p>This, however, comes at a cost: when used this way in Combat or a Skill Challenge, your gear becomes a little
          more worn, gaining 1 Wear.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='YoucanhaveaUTEsEWXjrj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanhaveaUTEsEWXjrj'"></app-bm-chapter-icon>
        <p>You can have additional Traits on a single weapon and/or increase the dice size of Traits you already have.
          Increasing the power simply increases the size of the bonus dice you get.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='EverytimeyouFByBQYefnL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'EverytimeyouFByBQYefnL'"></app-bm-chapter-icon>
        <p>Every time you do so adds an extra 50% the cost of the item.</p>
      </div>
      <div class="anchor">
        <div id="Wearheader" class="anchorTag"></div>
        <h1>Wear</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='WearrepresentrqUahKETbv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WearrepresentrqUahKETbv'"></app-bm-chapter-icon>
        <p>Wear represents how close your weapon is to breaking.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SimplyputifkQljREjOOU' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SimplyputifkQljREjOOU'"></app-bm-chapter-icon>
        <p>Simply put: if, on a Skill Check, Attack roll (for weapons), or Defense roll (for shields and armor), you
          roll
          equal to or below the Wear of that item on the d20, that item breaks and becomes functionality unusable until
          it’s repaired.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TherearesomeKFDTxZRvMB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TherearesomeKFDTxZRvMB'"></app-bm-chapter-icon>
        <p>There are some specific cases that should be noted:</p>
      </div>
      <ol class='marginBottom'>
        <li>You still maintain any penalties (Fatigue, Defense Modifiers from armor and shields, for example) that item
          gives you unless you discard it.</li>
        <li>In the case of weapons, you can still use the broken weapon - you just half all the damage it does.</li>
        <li>And finally, instead of having the item break, if it’s a Superior quality item, you can instead reduce one
          of
          its Traits by 1 dice size as long as you have at least Trait at a d4!.</li>
      </ol>
      <div class="anchor">
        <div id="Repairingheader" class="anchorTag"></div>
        <h2>Repairing</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SincetheMaineCSyHIzIOh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SincetheMaineCSyHIzIOh'"></app-bm-chapter-icon>
        <p>Since the Maintenance Skill will only get you so far, you might need to remove Wear from your gear through
          blacksmithing. This is done through personally having the applicable Skill (Leather- or Metalworking, for
          example) or through contract work.</p>
      </div>
      <div class="anchor">
        <div id="HIRINGITOUTheader" class="anchorTag"></div>
        <h3>Hiring It Out </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='IfyoujusthanamTeQLNwT' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'IfyoujusthanamTeQLNwT'"></app-bm-chapter-icon>
        <p>If you just hand off your gear to a blacksmith, the price for repairs is 10% the base Source price for the
          item
          (not factoring in the price increase for it being Superior if that's the case) per point of Wear and takes 1
          day
          for every 2 sc the repairs cost.</p>
      </div>
      <div class="anchor">
        <div id="DOINGITYOURSheader" class="anchorTag"></div>
        <h3>Doing It Yourself</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='IfpersonallyNMClkuSqxS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'IfpersonallyNMClkuSqxS'"></app-bm-chapter-icon>
        <p>If personally done through the appropriate Skill, the cost for raw materials is 5% the base Source price for
          the
          item per point of Wear with the base time being 1 day for every 4 sc, however, two things to note:</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThefirstistNIZejtWJHw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThefirstistNIZejtWJHw'"></app-bm-chapter-icon>
        <p>The first is that you need to roll a Check vs d20! + the amount of Wear rounded to the next largest dice size
          (so, 4 Wear becomes a d6!) as the end of that time. Failure results in an amount of leftover Wear that will
          require twice the time and raw materials to fix at which point you'll need to make another Check.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='SoifyoureNWcBIpXfQS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SoifyoureNWcBIpXfQS'"></app-bm-chapter-icon>
        <p>So, if you're repairing a glaive (base cost 49 sc) with 8 Wear on it. The cost per Wear is 2sc 4cc so the
          total
          for all 8 would be 19sc 2cc, which will take just about 5 days. </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AttheendofzdpybbbFrB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AttheendofzdpybbbFrB'"></app-bm-chapter-icon>
        <p>At the end of those 5 days you'd roll a Check vs d20!+d10!. </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='IfyoufailbyIKXasPcaOR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'IfyoufailbyIKXasPcaOR'"></app-bm-chapter-icon>
        <p>If you fail by 10, that means that you were only able to repair 6 Wear, leaving 2 left over. To fix that it
          would
          be an additional 9sc 6cc (since it's 4sc 8cc this time per Wear) and take another 4 days or so. </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='NotethatyouriEykBurHAp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'NotethatyouriEykBurHAp'"></app-bm-chapter-icon>
        <p>Note that your total comes to 28sc 8cc where going to a blacksmith would have cost you 39sc 2cc.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThelastthingpSZEGshmgH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThelastthingpSZEGshmgH'"></app-bm-chapter-icon>
        <p>The last thing to consider is that if you don't have a forge for metalworking, you'll have to rent one, which
          can
          range from 1cc to 1sc per day depending on how busy the forge (good luck trying to rent one at a military
          camp).
        </p>
      </div>
      <div class="anchor">
        <div id="TableHeaderEheader" class="anchorTag"></div>
        <h1>Table Header Explanations</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThefollowingRJbFQokMmV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThefollowingRJbFQokMmV'"></app-bm-chapter-icon>
        <p>The following is a breakdown of how to read the following tables. Note that the prices here are not absolute
          and
          are actually the lowest price you’ll find for a give item based on the area. War, tariffs, what relationship
          the
          buyer has with the seller, and even the political climate can cause these numbers to fluctuate wildly.</p>
      </div>
      <div class="anchor">
        <div id="Nameheader" class="anchorTag"></div>
        <h2>Name </h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisisthecoZzORQDXsZy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisthecoZzORQDXsZy'"></app-bm-chapter-icon>
        <p>This is the common name for the item.</p>
      </div>
      <div class="anchor">
        <div id="Weightheader" class="anchorTag"></div>
        <h2>Weight </h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisistheweAAJnaIZAFR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisistheweAAJnaIZAFR'"></app-bm-chapter-icon>
        <p>This is the weight of the object in pounds.</p>
      </div>
      <div class="anchor">
        <div id="Sourceheader" class="anchorTag"></div>
        <h2>Source </h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisisthewhnisWvYpPFW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisthewhnisWvYpPFW'"></app-bm-chapter-icon>
        <p>This is the wholesale sc cost of producing the item.</p>
      </div>
      <div class="anchor">
        <div id="LocalMarketheader" class="anchorTag"></div>
        <h2>Local Market </h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisisthescEAGUdODfpQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisthescEAGUdODfpQ'"></app-bm-chapter-icon>
        <p>This is the sc price of purchasing this item within a day’s travel of the place where it was manufactured.
        </p>
      </div>
      <div class="anchor">
        <div id="NearbyCityheader" class="anchorTag"></div>
        <h2>Nearby City </h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisisthescLdwCkwIckO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisthescLdwCkwIckO'"></app-bm-chapter-icon>
        <p>This is the sc price of picking up this item within about a week’s travel from where the thing was crafted.
        </p>
      </div>
      <div class="anchor">
        <div id="DistanceCityheader" class="anchorTag"></div>
        <h2>Distance City </h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisistheschAyRsbYeXl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisistheschAyRsbYeXl'"></app-bm-chapter-icon>
        <p>This is the sc price of the item in faraway markets, either across a political border or beyond a month’s
          travel
          away. This price increases the further away the city is, obviously.</p>
      </div>
      <div class="anchor">
        <div id="EquipmentPricheader" class="anchorTag"></div>
        <h1>Equipment Prices</h1>
        <div class="underline"></div>
      </div>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="6">Animals, Livestock & Pets</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.livestock">
            <td>{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="6">Animals, Mounts</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.mounts">
            <td>{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <div class='anchor'>
        <div id='mountstatesffff' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mountstatesffff'"></app-bm-chapter-icon>
        <h2>Mount Stats</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='iklepoeppe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'iklepoeppe'"></app-bm-chapter-icon>
        <p> Each mount is different though they do have ranges based on the breed and this is represented by their
          unique set of stats that are rolled for each mount you look at while shopping. These can usually be discerned
          by a Handle Animal Check that's, of course, appropriate to the type. So, nice try, but Handle Animal (horse)
          won't help you figure out which riding lizard is best.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='thesestatsarethen' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'thesestatsarethen'"></app-bm-chapter-icon>
        <p> These stats are then used to determine the specifics of each mount: how fast can they get up and go? How
          long can they run for? Each of the main stats has a positive effect on some of these derived stats and a
          negative effect on others so figuring out the right balance for what you want out of a mount can be tricky.
          Averages for each breed are found under that breed's profile in the <a target="_blank"
            href="https://bestiary.dragon-slayer.net/">Bonfire Bestiary.</a></p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='youonotinovine' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'youonotinovine'"></app-bm-chapter-icon>
        <p> You’ll note the min roll for each stat at the very top of the table for easy reference.</p>
      </div>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="8">Mount Stats</th>
          </tr>
          <tr class="notSticky">
            <th> </th>
            <th>Turning</th>
            <th>Deceleration</th>
            <th>Acceleration</th>
            <th>Carry</th>
            <th>Vitality</th>
            <th>Endurance</th>
            <th>Bravery</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Min</th>
            <th>3</th>
            <th>3</th>
            <th>3</th>
            <th>0</th>
            <th>none</th>
            <th>none</th>
            <th>none</th>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/257/gm" target="_blank">Camel, Bachrian</a></td>
            <td>5+d4!</td>
            <td>10+d4!</td>
            <td>10+2d4!</td>
            <td>40+3d6!</td>
            <td>4d8+125</td>
            <td>1+2d4!</td>
            <td>-d6!</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/262/gm" target="_blank">Camel, Dromedary</a></td>
            <td>d4!</td>
            <td>10+d4!</td>
            <td>9+2d4!</td>
            <td>20+2d6!</td>
            <td>7d8!+125</td>
            <td>2d4!</td>
            <td>-d4!</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/237/gm" target="_blank">Horse, Courser</a></td>
            <td>10-d4!</td>
            <td>10+2d4!</td>
            <td>10-2d4!</td>
            <td>50+3d6!</td>
            <td>5d8!+100</td>
            <td>d4!-2</td>
            <td>d4!-2</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/238/gm" target="_blank">Horse, Destrier</a></td>
            <td>10+2d4!</td>
            <td>10+2d6!</td>
            <td>10-2d6!</td>
            <td>20+3d6!</td>
            <td>3d8!+100</td>
            <td>d4!</td>
            <td>2d4!-6</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/256/gm" target="_blank">Horse, Palfrey</a></td>
            <td>7+d4!</td>
            <td>10+2d6!</td>
            <td>10+2d4!</td>
            <td>20+3d6!</td>
            <td>9d8!+100</td>
            <td>5+d4!</td>
            <td>2-d4!</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/253/gm" target="_blank">Horse, Rounsey</a></td>
            <td>8+d4!</td>
            <td>8+d4!</td>
            <td>8+d4!</td>
            <td>45+3d8!</td>
            <td>7d8!+100</td>
            <td>d4!+1</td>
            <td>d4!-2</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/254/gm" target="_blank">Horse, Sumpter</a></td>
            <td>2+d4!</td>
            <td>6+d4!</td>
            <td>10+2d6!</td>
            <td>50+3d6!</td>
            <td>7d8!+100</td>
            <td>2d4!+1</td>
            <td>-d4!</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/252/gm" target="_blank">Lizard, Pack</a></td>
            <td>10+2d4!</td>
            <td>6+d4!</td>
            <td>4+d4!</td>
            <td>85+3d10!</td>
            <td>7d8!+75</td>
            <td>d4!</td>
            <td>d4!-2</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/246/gm" target="_blank">Lizard, Riding</a></td>
            <td>15+3d6!</td>
            <td>10+d4!</td>
            <td>4+d4!</td>
            <td>85+3d10!</td>
            <td>11d8!+75</td>
            <td>3d4!</td>
            <td>d4!</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/117/gm" target="_blank">Mule</a></td>
            <td>10+2d4!</td>
            <td>d4!</td>
            <td>10+2d4!</td>
            <td>85+3d10!</td>
            <td>7d8!+100</td>
            <td>8+d4!</td>
            <td>-2d4!</td>
          </tr>
        </tbody>
      </table>

      <div class='marginBottom paragraphShell anchor'>
        <div id='8pjfMNGFJTYh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'8pjfMNGFJTYh'"></app-bm-chapter-icon>
        <p> The details of what these stats mean are expanded on in the Mounted Combat section of <a
            [routerLink]='["/chapter/9"]' [queryParams]="{search: 'mountedcombat'}">Chapter 9: Combat</a> but a lower
          Turning, Deceleration and Acceleration is good, a high Bravery is good, Carry is how many Large items they can
          carry (note that Small Creatures are considered a 3 Large Items, Medium are 9 Large Items, and Large are 23),
          and Endurance and Vitality work the same as they do in humans.</p>
      </div>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="6">Animal, Barding</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.barding">
            <td>{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="8">Animal, Barding Stats</th>
          </tr>
          <tr class="notSticky">
            <th>Name</th>
            <th>Weight</th>
            <th>Dr</th>
            <th>Def</th>
            <th>Turning</th>
            <th>Decel</th>
            <th>Acc</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Padded</td>
            <td>9L</td>
            <td>3</td>
            <td>-2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Leather</td>
            <td>9L</td>
            <td>4</td>
            <td>-1</td>
            <td>0</td>
            <td>0</td>
            <td>+1</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Leathered Plates</td>
            <td>18L</td>
            <td>1/d</td>
            <td>-2</td>
            <td>0</td>
            <td>0</td>
            <td>+1</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Scale</td>
            <td>18L</td>
            <td>2/d</td>
            <td>0</td>
            <td>+1</td>
            <td>-1</td>
            <td>+1</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Lamellar</td>
            <td>18L</td>
            <td>3/d</td>
            <td>-5</td>
            <td>0</td>
            <td>-1</td>
            <td>0</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Brigandine</td>
            <td>18L</td>
            <td>3/d</td>
            <td>-1</td>
            <td>+2</td>
            <td>-2</td>
            <td>+2</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Maile</td>
            <td>26L</td>
            <td>1/d + 2</td>
            <td>-1</td>
            <td>+3</td>
            <td>-3</td>
            <td>+3</td>
            <td>-8</td>
          </tr>
          <tr>
            <td>Plated Maile</td>
            <td>26L</td>
            <td>3/d + 3</td>
            <td>-4</td>
            <td>+4</td>
            <td>-3</td>
            <td>+4</td>
            <td>-6</td>
          </tr>
          <tr>
            <td>Full Plate</td>
            <td>26L</td>
            <td>4/d + 2</td>
            <td>-4</td>
            <td>+4</td>
            <td>-3</td>
            <td>+3</td>
            <td>-8</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="7">Armor</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Size</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.armor">
            <td colspan="2">{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <div class="anchor">
        <div id="SMALLLARGEheader" class="anchorTag"></div>
        <h2>Small & Large Sized Creatures</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ObviouslyasfQQWFeBtHD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ObviouslyasfQQWFeBtHD'"></app-bm-chapter-icon>
        <p>Obviously, a smaller creature requires less material to make a suite of armor while a larger one requires
          more,
          so armor built for Small-sized creatures cost half the price while armor for Large-sized creatures double it.
        </p>
      </div>
      <div class="anchor">
        <div id="ArmorTableHeheader" class="anchorTag"></div>
        <h2>Armor Table Header Explanation</h2>
        <div class="underline-sub"></div>
      </div>
      <div class="anchor">
        <div id="DRheader" class="anchorTag"></div>
        <h3>Dr </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisnumberisHskQvihdvY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisnumberisHskQvihdvY'"></app-bm-chapter-icon>
        <p>This number is subtracted from the damage dealt by a weapon.</p>
      </div>
      <div class="anchor">
        <div id="Defheader" class="anchorTag"></div>
        <h3>Def </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AllarmorweigRUnzlLnPSW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AllarmorweigRUnzlLnPSW'"></app-bm-chapter-icon>
        <p>All armor weighs you down and makes it harder to dodge incoming attacks. This number is added to your Defense
          roll.</p>
      </div>
      <div class="anchor">
        <div id="InitModheader" class="anchorTag"></div>
        <h3>Init Mod </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ArmorisrestrndkIZJZVzu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ArmorisrestrndkIZJZVzu'"></app-bm-chapter-icon>
        <p>Armor is restricting, even at the best of times. This is added to your Initiative roll at the start of
          combat.
        </p>
      </div>
      <div class="anchor">
        <div id="RecModheader" class="anchorTag"></div>
        <h3>Rec Mod </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AgainarmoriXneWFoKawN' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AgainarmoriXneWFoKawN'"></app-bm-chapter-icon>
        <p>Again, armor is restricting. This is added to your weapon’s Recovery.</p>
      </div>
      <div class="anchor">
        <div id="Typeheader" class="anchorTag"></div>
        <h3>Type </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisdonateswRnwAwYFOua' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisdonateswRnwAwYFOua'"></app-bm-chapter-icon>
        <p>This donates what category your armor falls in. You should note that should you purchase Medium or Heavy
          armor,
          this comes with a Gambeson that’s worn underneath for comfort. This is already factored into the other stats
          of
          the armor.</p>
      </div>
      <div class="anchor">
        <div id="Weightheader" class="anchorTag"></div>
        <h3>Weight </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisishowheJDbfIoLHDC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisishowheJDbfIoLHDC'"></app-bm-chapter-icon>
        <p>This is how heavy your armor is for Carry when your armor is carried on your person.</p>
      </div>
      <div class="anchor">
        <div id="Fatigueheader" class="anchorTag"></div>
        <h3>Fatigue </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisdonatesaDTOxWaMwsF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisdonatesaDTOxWaMwsF'"></app-bm-chapter-icon>
        <p>This donates at what Wound Category you become Fatigued. A for Always, H for Hurt, B for Bloodied, and W for
          Wounded.</p>
      </div>
      <div class="anchor">
        <div id="SkillAdjheader" class="anchorTag"></div>
        <h3>Skill Adj </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ArmorregardlKEVfwgroRW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ArmorregardlKEVfwgroRW'"></app-bm-chapter-icon>
        <p>Armor, regardless of how fitted, is restricting and heavy, making it harder to perform certain skills in
          certain
          gear. This is the number applied to physical Skill Checks.</p>
      </div>


      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="8">Armor Stats</th>
          </tr>
          <tr class="notSticky">
            <th>Name</th>
            <th>Dr</th>
            <th>Def</th>
            <th>Init Mod</th>
            <th>Rec Mod</th>
            <th>Type</th>
            <th>Fatigue</th>
            <th>Skill Adj</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pelt</td>
            <td>1</td>
            <td>-1</td>
            <td>0</td>
            <td>0</td>
            <td>Light</td>
            <td>W</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Bone</td>
            <td>2</td>
            <td>-2</td>
            <td>2</td>
            <td>0</td>
            <td>Light</td>
            <td>W</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Buff Coat</td>
            <td>3</td>
            <td>-2</td>
            <td>1</td>
            <td>0</td>
            <td>Light</td>
            <td>W</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Gambeson</td>
            <td>3</td>
            <td>-1</td>
            <td>0</td>
            <td>1</td>
            <td>Light</td>
            <td>W</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Leather</td>
            <td>4</td>
            <td>-1</td>
            <td>1</td>
            <td>1</td>
            <td>Light</td>
            <td>W</td>
            <td>-2</td>
          </tr>
          <tr>
            <td>Coat Of Plates</td>
            <td>1/d</td>
            <td>-2</td>
            <td>0</td>
            <td>0</td>
            <td>Medium</td>
            <td>B</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Scale</td>
            <td>2/d</td>
            <td>0</td>
            <td>3</td>
            <td>1</td>
            <td>Medium</td>
            <td>B</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Lamellar</td>
            <td>3/d</td>
            <td>-5</td>
            <td>1</td>
            <td>2</td>
            <td>Medium</td>
            <td>B</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Brigandine</td>
            <td>3/d</td>
            <td>-1</td>
            <td>0</td>
            <td>4</td>
            <td>Medium</td>
            <td>B</td>
            <td>-4</td>
          </tr>
          <tr>
            <td>Maile</td>
            <td>1/d + 2</td>
            <td>-1</td>
            <td>1</td>
            <td>2</td>
            <td>Heavy</td>
            <td>H</td>
            <td>-8</td>
          </tr>
          <tr>
            <td>Interlocking Maile</td>
            <td>3/d + 1</td>
            <td>-3</td>
            <td>4</td>
            <td>3</td>
            <td>Heavy</td>
            <td>H</td>
            <td>-8</td>
          </tr>
          <tr>
            <td>Plated Maile</td>
            <td>3/d + 3</td>
            <td>-4</td>
            <td>4</td>
            <td>4</td>
            <td>Heavy</td>
            <td>H</td>
            <td>-8</td>
          </tr>
          <tr>
            <td>Full Plate</td>
            <td>4/d + 2</td>
            <td>-4</td>
            <td>4</td>
            <td>5</td>
            <td>Heavy</td>
            <td>H</td>
            <td>-8</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="7">Beverages</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Size</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.beverages">
            <td colspan="2">{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="7">Clothing</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Size</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.clothing">
            <td colspan="2">{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="7">Clothing, Accessories</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Size</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.accessories">
            <td colspan="2">{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="7">Containers, Heavy</th>
          </tr>
          <tr class="notSticky">
            <th colspan="2">Name</th>
            <th>Size</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of tables.heavy">
            <td colspan="2">{{content.name}}</td>
            <td>{{content.size}}</td>
            <td>{{content.price}}</td>
            <td>{{(content.price * (content.size ? multi.local[content.size] : multi.local.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.nearby[content.size] : multi.nearby.M)).toFixed(1)}}</td>
            <td>{{(content.price * (content.size ? multi.distant[content.size] : multi.distant.M)).toFixed(1)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="all-centered first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="7">Containers, Personal</th>
          </tr>
          <tr class="notSticky">
            <th>Name</th>
            <th>Carry Bonus</th>
            <th>Size</th>
            <th>Source</th>
            <th>Local Market</th>
            <th>Nearby Market</th>
            <th>Distant City</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Backpack, Leather, Small</td>
            <td>+M</td>
            <td>S</td>
            <td>9</td>
            <td>13.5</td>
            <td>27</td>
            <td>54</td>
          </tr>
          <tr>
            <td>Backpack, Leather, Medium</td>
            <td>+2M</td>
            <td>S</td>
            <td>10</td>
            <td>15</td>
            <td>30</td>
            <td>60</td>
          </tr>
          <tr>
            <td>Backpack, Leather, Large</td>
            <td>+L</td>
            <td>S</td>
            <td>15</td>
            <td>22.5</td>
            <td>45</td>
            <td>90</td>
          </tr>
          <tr>
            <td>Bag, Buckskin, Small</td>
            <td>+S</td>
            <td>S</td>
            <td>5</td>
            <td>7.5</td>
            <td>15</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Bag, Buckskin, Medium</td>
            <td>+2S</td>
            <td>S</td>
            <td>6.5</td>
            <td>9.75</td>
            <td>19.5</td>
            <td>39</td>
          </tr>
          <tr>
            <td>Canteen, quart</td>
            <td>*</td>
            <td>S</td>
            <td>2</td>
            <td>3</td>
            <td>6</td>
            <td>12</td>
          </tr>
          <tr>
            <td>Coin Purse, 3"x4"</td>
            <td>*</td>
            <td>S</td>
            <td>0.35</td>
            <td>0.53</td>
            <td>1.05</td>
            <td>2.1</td>
          </tr>
          <tr>
            <td>Pouch, Belt, Small</td>
            <td>+S</td>
            <td>S</td>
            <td>0.5</td>
            <td>0.75</td>
            <td>1.5</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Pouch, Belt, Medium</td>
            <td>+2S</td>
            <td>S</td>
            <td>1.2</td>
            <td>1.8</td>
            <td>3.6</td>
            <td>7.2</td>
          </tr>
          <tr>
            <td>Quiver, Leather, 12 Cap</td>
            <td>*</td>
            <td>S</td>
            <td>2.5</td>
            <td>3.75</td>
            <td>7.5</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Scabbard, Leather</td>
            <td>*</td>
            <td>S</td>
            <td>5</td>
            <td>7.5</td>
            <td>15</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Scroll Case, Wood</td>
            <td>*</td>
            <td>S</td>
            <td>6</td>
            <td>9</td>
            <td>18</td>
            <td>36</td>
          </tr>
          <tr>
            <td>Sheathe, Small, Leather</td>
            <td>*</td>
            <td>S</td>
            <td>2.5</td>
            <td>3.75</td>
            <td>7.5</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Waterskin, Gallon</td>
            <td>*</td>
            <td>S</td>
            <td>5</td>
            <td>7.5</td>
            <td>15</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Waterskin, Half Gallon</td>
            <td>*</td>
            <td>S</td>
            <td>3</td>
            <td>4.5</td>
            <td>9</td>
            <td>18</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr class="notSticky">
            <th colspan="2">Hirelings</th>
          </tr>
          <tr class="notSticky">
            <th> </th>
            <th>Cost per Day</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/261/gm" target="_blank">Artisan</a></td>
            <td>Advanced Skill Base Cost</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/260/gm" target="_blank">Mercenary</a></td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="https://bestiary.dragon-slayer.net/beast/258/gm" target="_blank">Unskilled Laborer</a></td>
            <td>1</td>
          </tr>
        </tbody>
      </table>

      <div class="anchor">
        <div id="Hirelingsheader" class="anchorTag"></div>
        <h2>Hirelings</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ArtisansandMjJMoAzafpB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ArtisansandMjJMoAzafpB'"></app-bm-chapter-icon>
        <p>Artisans and Mercenaries starts with 3 points. These points can be spent on skills, training, or equipment.
          The price to increase something = bonus + (current bonus * 2), minimum 1, except equipment which is a number
          of points = Source price/100, rounded up.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='YougettodisoqQDGrkXvB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YougettodisoqQDGrkXvB'"></app-bm-chapter-icon>
        <p>You get to distribute a number of points equal to your Recruiting Rank - the GM gets to spend the rest.</p>
      </div>
      <div class="anchor">
        <div id="BasicFoodLheader" class="anchorTag"></div>
        <h3>Basic Food & Lodgings </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisisnotnoEyWLUwLISe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisnotnoEyWLUwLISe'"></app-bm-chapter-icon>
        <p>This is not normally included. +1 sc/day.</p>
      </div>
      <div class="anchor">
        <div id="HazardPayheader" class="anchorTag"></div>
        <h3>Hazard Pay </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ArtisansandUHqgkZDdVxt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ArtisansandUHqgkZDdVxt'"></app-bm-chapter-icon>
        <p>Artisans and Unskilled Laborers will demand a share of the loot or double pay for anything dangerous.
          Mercenaries normally don't unless the job is more dangerous than you let on when you hired them.</p>
      </div>
      <div class="anchor">
        <div id="MoreSkilledAheader" class="anchorTag"></div>
        <h3>More Skilled Artisan And Mercenaries </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='1extrapointwYIGdwjOim' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'1extrapointwYIGdwjOim'"></app-bm-chapter-icon>
        <p>1 extra point per +1 sc/day they demand.</p>
      </div>
      <div class="anchor">
        <div id="ImprovedMoralheader" class="anchorTag"></div>
        <h3>Improved Morale </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='DoublingthepnnkuBRYhJJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DoublingthepnnkuBRYhJJ'"></app-bm-chapter-icon>
        <p>Doubling the pay per day gives a d4! to morale checks. Each doubling after increases it by 1 dice size.</p>
      </div>
      <div class="anchor">
        <div id="Charismaheader" class="anchorTag"></div>
        <h3>Charisma </h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SubtractChariGrEEeDTuRt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SubtractChariGrEEeDTuRt'"></app-bm-chapter-icon>
        <p>Subtract Charisma in cc from price/day.</p>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]='side'></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Chapter 2.6 Equipment</h1>
  </div>
</div>