<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class="anchor">
        <div id="Introductionheader" class="anchorTag"></div>
        <h1>Introduction</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ClassesrepySejWIuZvL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ClassesrepySejWIuZvL'"></app-bm-chapter-icon>
        <p>Classes represent your character’s background training and starting skills.</p>
      </div>
      <div class="anchor">
        <div id="levelingterminog" class="anchorTag"></div>
        <h1>Leveling Terminology</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='whenasnaiovjieow' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'whenasnaiovjieow'"></app-bm-chapter-icon>
        <p>When an ability says "At first level and every 3rd level after that..." or "at every 3rd level, including the
          first...", it means the ability increases at 1st, 4th, 7th, 10th, etc.
          If an ability says "At every 3rd level", that means 3rd, 6th, 9th, 12th, etc.
        </p>
      </div>
      <div class="anchor marginBottom">
        <div id="GeneralistArcmajorheader" class="anchorTag"></div>
        <h1>Classes</h1>
        <div class="underline"></div>
      </div>
      <div class="anchor">
        <div id="EXPERTheader" class="anchorTag"></div>
        <h2>Expert</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='experteintro' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'experteintro'"></app-bm-chapter-icon>
        <p>Choose this Class if you want to use your wits to defeat your opponent or avoid
          combat altogether.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ExpertsarethdGYTSexOSH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ExpertsarethdGYTSexOSH'"></app-bm-chapter-icon>
        <p>Experts are those that focus on real-world non-combat skills, as opposed to relying
          on the Divines, magic, or
          their sword arm as a source of strength. They tend to rely on Intellect and
          Willpower, primarily, though there are
          Experts that focus on Strength, Dexterity, and Constitution for more physical
          skills.</p>
      </div>
      <div class='anchor'>
        <div id='VitalityDierPyXPizYTO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'VitalityDierPyXPizYTO'"></app-bm-chapter-icon>
        <h3>Vitality & Nerve Dice</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='d8sMiBkUkKLI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'d8sMiBkUkKLI'"></app-bm-chapter-icon>
        <p><strong>Vitality Die</strong> d6</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='d8sMiBkUkKLI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'d8sMiBkUkKLI'"></app-bm-chapter-icon>
        <p><strong>Nerve Die</strong> d6</p>
      </div>
      <div class='anchor'>
        <div id='SkillsMastetNlvQtbuiM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SkillsMastetNlvQtbuiM'"></app-bm-chapter-icon>
        <h3>Skills</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='mainskillexpert' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mainskillexpert'"></app-bm-chapter-icon>
        <p><strong>Main Skill Suites</strong> Two Different non-Combat Suites of your
          Choice</p>
      </div>
      <div class='anchor'>
        <div id='ClassAbilfkUimdhtMh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ClassAbilfkUimdhtMh'"></app-bm-chapter-icon>
        <h3>Class Abilities</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThischaracterBWjwJAjBXb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterBWjwJAjBXb'"></app-bm-chapter-icon>
        <p><strong>Skill Adept </strong>This character has a knack for
          skills. All non-Combat Advanced Skills have their cost reduced by 1 CrP. They also gain a
          10%
          discount to all non-Combat Skill Suites. This stacks with other Skill Adepts.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AtfirstlevelRcOBshnqrk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AtfirstlevelRcOBshnqrk'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Skill Focus (Chosen Skill Suite 1, 5) </strong>At every odd level,
          including the first, Experts receive 5 free skill purchases. These can be distributed between any Advanced
          Skills from the first Skill Suite you chose. These free purchases may not be doubled up on in the same level
          (unless from different skill focuses) but are applied after Skills have been bought by the character.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AtfirstlevelIrCwuvIpck' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AtfirstlevelIrCwuvIpck'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Skill Focus (Chosen Skill Suite 2, 5) </strong>At every odd level,
          including the first, Experts receive 5 free skill purchases. These can be distributed between any Advanced
          Skills from the second Skill Suite you chose. These free purchases may not be doubled up on in the same level
          (unless from different skill focuses) but are applied after Skills have been bought by the character.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ateverthirejoijevw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ateverthirejoijevw'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Skill Focus (Chosen Skill Suite 3, 5) </strong>At every 3rd level,
          including the first, Experts receive 5 free skill purchases. These can be distributed between any Advanced
          Skills from a third, non-Combat Skill Suite you chose that must be different from the first two. These free
          purchases may
          not be doubled up on in the same level
          (unless from different skill focuses) but are applied after Skills have been bought by the character.</p>
      </div>
      <div class='sidebarShell marginBottom'>
        <h5 class='sidebarTitle'>Expert Double Down</h5>
        <div class='anchor'>
          <div id='mainiskiljifewijoie' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'mainiskiljifewijoie'"></app-bm-chapter-icon>
          <h2>Main Skill Suite</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='expoerikocekwiow' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'expoerikocekwiow'"></app-bm-chapter-icon>
          <p>Experts can choose 4 different non-Combat Skill Suites when calculating their starting Ranks, however,
            the fourth Skill Suite chosen doesn't get a Skill Focuses and don't confer any additional bonuses.
          </p>
        </div>
        <div class='anchor'>
          <div id='SKILLADAPTCKKmmkeNkp' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'SKILLADAPTCKKmmkeNkp'"></app-bm-chapter-icon>
          <h2>Skill Adept</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='AllAdvancedSIbCBpleWzu' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'AllAdvancedSIbCBpleWzu'"></app-bm-chapter-icon>
          <p>All non-Combat Advanced Skills are reduced by 3 CrP and you gain a 30% discount to non-Combat Skill
            Suites.
          </p>
        </div>
        <div class='anchor'>
          <div id='SKILLFOCUSESUFhtbDInyi' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'SKILLFOCUSESUFhtbDInyi'"></app-bm-chapter-icon>
          <h2>Skill Focuses</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='ChooseanaddiLpYLHVVWWc' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'ChooseanaddiLpYLHVVWWc'"></app-bm-chapter-icon>
          <p>The first two you get these every level up, instead of every other. The third you get every odd level,
            including the first.</p>
        </div>
      </div>
      <div class="anchor">
        <div id="FIGHTERheader" class="anchorTag"></div>
        <h2>Fighter</h2>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='fighterintro' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'fighterintro'"></app-bm-chapter-icon>
        <p>Choose this Class if you want to kill monsters and worthy foes in mortal combat and like thinking on your
          feet.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WarisaladdeTLthMZLzsG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WarisaladdeTLthMZLzsG'"></app-bm-chapter-icon>
        <p>War is a ladder by which capable people are able to climb the ranks of society.
          Fighters focus on combat and
          battle, either by training and discipline or by out maneuvering their opponent.
          Unsurprisingly, this Class
          focuses on Constitution, but how you approach combat may decide whether you
          favor Strength, Dexterity, or even
          Intellect or Willpower.</p>
      </div>
      <div class='anchor'>
        <div id='VitalityDiekCfXCcIRrq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'VitalityDiekCfXCcIRrq'"></app-bm-chapter-icon>
        <h3>Vitality & Nerve Dice</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='d10kHoWgkLhjb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'d10kHoWgkLhjb'"></app-bm-chapter-icon>
        <p><strong>Vitality Die</strong> d8</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='fighrestrejsio' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'fighrestrejsio'"></app-bm-chapter-icon>
        <p><strong>Nerve Die</strong> d4</p>
      </div>
      <div class='anchor'>
        <div id='SkillsMastepjaBuOWCUK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SkillsMastepjaBuOWCUK'"></app-bm-chapter-icon>
        <h3>Skills</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='mainskillfighter' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mainskillfighter'"></app-bm-chapter-icon>
        <p><strong>Main Skill Suite</strong> Athletics or Strategy</p>
      </div>
      <div class='anchor'>
        <div id='ClassAbilvbogimvndT' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ClassAbilvbogimvndT'"></app-bm-chapter-icon>
        <h3>Class Abilities</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AFighterisadLgnxdbaiI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AFighterisadLgnxdbaiI'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Martial Focus (Chosen Combat Skill Suite 1) </strong>A Fighter
          picks things up as they go, otherwise, they get themselves and their companions killed.
          At first level, the Fighter receives 2 free purchases of the first Combat Skill Suite chosen at 1st level
          and at every odd level,
          not including the first, the Fighter receives an additional free purchase of the first Combat Skill Suites
          chosen at
          1st level. This must be different than your second chosen Combat Skill Suite.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AFighterpickApTZSVQEjD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AFighterpickApTZSVQEjD'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Martial Focus (Chosen Combat Skill Suite 2) </strong>A Fighter
          picks things up as they go, otherwise, they get themselves and their companions killed. At first level and
          every 3rd level after that, the Fighter receives 1 free purchase of the second Combat Skill Suites chosen at
          1st level. This must be different than your first chosen Combat Skill Suite.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AFighterpickzXRjRXkBuI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AFighterpickzXRjRXkBuI'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Martial Focus (Any Combat Advanced Skill, 2) </strong>
          At every odd level, including the first, Fighters receive 2 free skill purchases. These can be distributed
          between
          any Advanced Combat Skills you choose. These free purchases may not be doubled up on in the same level (unless
          from different Martial Focuses) but are applied after Skills have been bought by the character.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='fighgtermairtalijdaep' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AFighterpickzXRjRXkBuI'"></app-bm-chapter-icon>
        <p><strong>Martial Adept </strong>This character has a knack for combat. All Advanced Combat Skills have their
          cost reduced by 1 CrP. They also gain a 10% discount to all Combat Skill Suites. This stacks with other
          Martial Adepts.</p>
      </div>

      <div class='sidebarShell marginBottom'>
        <h5 class='sidebarTitle'>Fighter Double Down</h5>
        <div class='anchor'>
          <div id='IMPROVEDADVANAcQMvJgZMy' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'IMPROVEDADVANAcQMvJgZMy'"></app-bm-chapter-icon>
          <h2>Martial Adept</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='EachTiersdivfeKMRbGbL' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'EachTiersdivfeKMRbGbL'"></app-bm-chapter-icon>
          <p>All Advanced Combat Skills have their cost reduced by 3 CrP. They also gain a 30% discount to all Combat
            Skill Suites.</p>
        </div>
        <div class='anchor'>
          <div id='MARTIALTRAINIxdZvSCAiEV' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'MARTIALTRAINIxdZvSCAiEV'"></app-bm-chapter-icon>
          <h2>Martial Focuses (Chosen Skill Suites 1)</h2>
        </div>
        <div class='paragraphShell marginBottom anchor'>
          <div id='ReceiveanaddIDChhORPiu' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'ReceiveanaddIDChhORPiu'"></app-bm-chapter-icon>
          <p>This increases to 3 free purchases at first level.</p>
        </div>
        <div class='anchor'>
          <div id='mairjoifeowtwio' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'mairjoifeowtwio'"></app-bm-chapter-icon>
          <h2>Martial Focuses (Chosen Skill Suite 2)</h2>
        </div>
        <div class='paragraphShell marginBottom anchor'>
          <div id='amiroejioteijoj' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'amiroejioteijoj'"></app-bm-chapter-icon>
          <p>You gain 2 free purchases at first level and an additional purchase every odd level, not including the
            first.</p>
        </div>
        <div class='anchor'>
          <div id='mareijootrhehe' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'mareijootrhehe'"></app-bm-chapter-icon>
          <h2>Martial Focuses (Any Combat Advanced Skill, 2)</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='jioewaifo' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'jioewaifo'"></app-bm-chapter-icon>
          <p>This increases to every level.</p>
        </div>
      </div>

      <div class="anchor">
        <div id="SERVANTheader" class="anchorTag"></div>
        <h2>Servant</h2>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='servantintro' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'servantintro'"></app-bm-chapter-icon>
        <p>Choose this Class if you want harness powers beyond the mortal realm to alter the
          battlefield and circumstances to your favor.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ServantsreprecvsCxooWVH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsreprecvsCxooWVH'"></app-bm-chapter-icon>
        <p>Servants represent those that have devoted themselves to higher causes, lifting their
          eyes from the Middle Realm
          to a more pure order, whether that’s the Divines, the Ancestral Spirits, or the
          Bones of Ymir. Servants play the
          best with others, often modifying the other Class’s powers with Divine
          assistance.</p>
      </div>
      <div class='anchor'>
        <div id='VitalityDieDhKIlCUgBl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'VitalityDieDhKIlCUgBl'"></app-bm-chapter-icon>
        <h3>Vitality & Nerve Dice</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='d6lRJznmejsc' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'d6lRJznmejsc'"></app-bm-chapter-icon>
        <p><strong>Vitality Die</strong> d6</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='servatnstress' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'servatnstress'"></app-bm-chapter-icon>
        <p><strong>Nerve Die</strong> d4</p>
      </div>
      <div class='anchor'>
        <div id='SkillsMasteImJkLGRYEy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SkillsMasteImJkLGRYEy'"></app-bm-chapter-icon>
        <h3>Skills</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='mainskillservant' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mainskillservant'"></app-bm-chapter-icon>
        <p><strong>Main Skill Suites</strong> Trades and Lore</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ServantsreceiwClhsvubgj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsreceiwClhsvubgj'"></app-bm-chapter-icon>
        <p>Servants get 3 free purchases of the Religion Advanced Skill for free.</p>
      </div>
      <div class='anchor'>
        <div id='ClassAbilrZFVmhkQNB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ClassAbilrZFVmhkQNB'"></app-bm-chapter-icon>
        <h3>Class Abilities</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AServantseekHZDulCnrqz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AServantseekHZDulCnrqz'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Called & Chosen </strong>A Servant seeks to do the will
          of those who sent them, furthering their agendas in the Middle Realm and so they
          are blessed. They add their level * 1.5 (rounded up) to their Max Favor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AServantundepoAMCmzDxH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AServantundepoAMCmzDxH'"></app-bm-chapter-icon>
        <p><strong>Depths Of Devotion </strong>A Servant understand the
          bonds of giving your life to a cause greater than your own and its strengths.
          They gain
          a free Relationship to their Divine, starting at 8. They also start Anointed in
          their cult.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='servantsymobooffaiht' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'servantsymobooffaiht'"></app-bm-chapter-icon>
        <p><strong>Symbol Of Faith </strong>As part of their initiation,
          the Servant receives a holy symbol of their faith.
          This symbol doesn't help channel their holy power but does help them keep the
          faith.
          When brought into a Confrontation that relates to questioning their faith or going
          against their cult's tenets, they receive their Grit dice
          instead of the standard d6!.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='servantbreathiofjiofew' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'servantbreathiofjiofew'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Breath of Knowledge </strong>A Servant is a well-versed
          individual, regardless of their faith. At every level, including the first, Servants get either 2 free
          purchases of
          any Advanced Combat Skill, 4 free purchases of any Advanced non-Combat Skill, or they can increase their
          cult-related Relationships (Relationships related specifically to their god, their congregation, or their cult
          leadership) by 3.</p>
      </div>
      <div class='paragraphShell marginBottom anchor'>
        <div id='serjivoejiofew' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'serjivoejiofew'"></app-bm-chapter-icon>
        <p>Purchases of Skills can’t be doubled up on each other, even if they come from other sources (Skill Focus,
          Martial Focus, or Personality Focus).</p>
      </div>
      <div class='sidebarShell marginBottom'>
        <h5 class='sidebarTitle'>Different Priesthoods for Different Faiths</h5>
        <div class='paragraphShell anchor marginBottom'>
          <div id='thieosjiovejwioe' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'thieosjiovejwioe'"></app-bm-chapter-icon>
          <p>The Servant Class presented here is a generic one and can be applied to a lot of different faiths but your 
            GM will have other Servant Classes based on other types of worship. They'll inform you if any could apply 
          to your character due to their upbringing.</p>
        </div>
      </div>
      <div class="anchor">
        <div id="SOCIALITEheader" class="anchorTag"></div>
        <h2>Socialite</h2>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='socialiteintro' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'socialiteintro'"></app-bm-chapter-icon>
        <p>Choose this Class if you want to talk your way out of problems and inspire others
          to give you your way.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SocialitesarefSvduiFALS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SocialitesarefSvduiFALS'"></app-bm-chapter-icon>
        <p>Socialites are people people. They seem to get a real kick out of interacting with
          others, especially if it ends
          with them getting their way. While others' first weapons are swords, a
          Socialite's first weapon is their charm.
          Unsurprisingly, Socialites tend to rely on Intellect and Presence.</p>
      </div>
      <div class='anchor'>
        <div id='VitalityDieuvWZoCOeOY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'VitalityDieuvWZoCOeOY'"></app-bm-chapter-icon>
        <h3>Vitality & Nerve Dice</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='d4ostRDmYlDb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'d4ostRDmYlDb'"></app-bm-chapter-icon>
        <p><strong>Vitality Die</strong> d4</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='socialitestress' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'socialitestress'"></app-bm-chapter-icon>
        <p><strong>Nerve Die</strong> d6</p>
      </div>
      <div class='anchor'>
        <div id='SkillsMastezNQlzwftyt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SkillsMastezNQlzwftyt'"></app-bm-chapter-icon>
        <h3>Skills</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='mainskillsocialist' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mainskillsocialist'"></app-bm-chapter-icon>
        <p><strong>Main Skill Suites</strong> Streetwise and Trades</p>
      </div>
      <div class='anchor'>
        <div id='ClassAbilXclDBYgyfA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ClassAbilXclDBYgyfA'"></app-bm-chapter-icon>
        <h3>Class Abilities</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='socialitejiofjewio' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'socialitejiofjewio'"></app-bm-chapter-icon>
        <p><strong>Identity Focus (Characteristic 1) </strong>As a Socialite grows, she becomes more confident in who
          she is
          and what
          she wants. At first level, they select 1 of the following: Conviction, Relationship, or Description</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ConvictionatkcQbgbpjcj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ConvictionatkcQbgbpjcj'"></app-bm-chapter-icon>
        <p>Conviction: at every level, including the first, you can increase the Rank of two different Convictions by 1
          or
          gain a new Conviction at Rank 0.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='DevotionatesSQMIFergj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DevotionatesSQMIFergj'"></app-bm-chapter-icon>
        <p>Relationship: at every level, including the first, you can increase the Rank of one Relationship by 2 or save it and
          gain
          a new one at Rank 0 the next time you would gain a Rank.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='DescriptionatfaNqnWasmp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DescriptionatfaNqnWasmp'"></app-bm-chapter-icon>
        <p>Description at every odd level, including the first, you can increase the Rank of one of your Descriptions by
          1
          or save it and gain a new one at Rank 1 the next time you would gain a Rank.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AsaSocialiteCwESAusKJq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AsaSocialiteCwESAusKJq'"></app-bm-chapter-icon>
        <p><strong class='optional'>*</strong><strong>Identity Focus (Characteristic 2) </strong>As a Socialite grows,
          she
          becomes more confident in who she is and what she wants. At first level, they select 1
          of the following: Conviction, Relationship, or Description.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ConvictionatJRecDOIgiL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ConvictionatJRecDOIgiL'"></app-bm-chapter-icon>
        <p>Conviction: at every level, including the first, you can increase the Rank of a Conviction by 1 or save it
          and
          gain a new Conviction at Rank 0 the next time you would gain a Rank.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='DevotionatePbXOhXZiwO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DevotionatePbXOhXZiwO'"></app-bm-chapter-icon>
        <p>Relationship: at every odd level, including the first, you can increase the Rank of one Relationship by 2 or save it
          and
          gain a new one at Rank 0 the next time you would gain a Rank.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='DescriptionEYwlQAJZsDt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DescriptionEYwlQAJZsDt'"></app-bm-chapter-icon>
        <p>Description: Every 3rd level, starting with the first, you can increase the Rank of one of your Descriptions
          by 1
          or save it and gain a new one at Rank 1 the next time you would gain a Rank.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ASocialiteisSahDBWZUYY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ASocialiteisSahDBWZUYY'"></app-bm-chapter-icon>
        <p><strong class='optional'>*</strong><strong>Resilient Spirit </strong>A Socialite is able to withstand even
          the
          most dire of pressures: after all, if one can survive a party, one can
          survive basically anything. At every level, including the first, the Socialite permanently increases their
          Nerve by 2.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ASocialiteknEWbjiRtFnd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ASocialiteknEWbjiRtFnd'"></app-bm-chapter-icon>
        <p><strong>Personality Adept</strong>This character has a knack for person growth. All Characteristics have their
          cost reduced by 2 CrP. This stacks with other Personality Adepts.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThroughthecoKEcCBNglwp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThroughthecoKEcCBNglwp'"></app-bm-chapter-icon>
        <p><strong class='optional'>*</strong><strong>Skill Focus (Intuition, 2) </strong>Through the course of her
          career,
          a Socialite develops a keen ability to read people and situations. They receive
          2 free purchases of the Intuition Advanced Skill at every level, including the first.</p>
      </div>

      <div class='sidebarShell marginBottom'>
        <h5 class='sidebarTitle'>Socialite Double Down</h5>
        <div class="anchor">
          <div id="IdentityFocusheaderpMTHDoGEds" class="anchorTag"></div>
          <h2>Identity Focus (major Characteristic)</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='ConvictionisPSEHRFyOCZ' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'ConvictionisPSEHRFyOCZ'"></app-bm-chapter-icon>
          <p>Conviction is changed to 2 different Convictions by 2 Ranks, gain 2 new Convictions, or 1 Conviction by 2
            Ranks
            and 1 new Conviction.</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='DevotionischomMQwhOQIL' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'DevotionischomMQwhOQIL'"></app-bm-chapter-icon>
          <p>Relationship is changed to 2 Relationships by 2 Ranks, 1 Relationship by 4 Ranks, or 1 new Relationship every level.</p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='DescriptionisDhzqKfiUZQ' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'DescriptionisDhzqKfiUZQ'"></app-bm-chapter-icon>
          <p>Description is changed to every level. Saving gives you a new Description every odd level, not including
            the
            first.</p>
        </div>
        <div class="anchor">
          <div id="IdentityFocusheaderBZpuoEKyVC" class="anchorTag"></div>
          <h2>Identity Focus (minor Characteristic)</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='ConvictionismadhVlpRtZ' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'ConvictionismadhVlpRtZ'"></app-bm-chapter-icon>
          <p>Conviction is changed to 2 different Convictions by 1 Rank, 1 Conviction by 2 Ranks, or 1 new Conviction
            every
            level.</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='DevotionischlWGspAwABC' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'DevotionischlWGspAwABC'"></app-bm-chapter-icon>
          <p>Relationship is changed to every level or a new Relationship every odd level after the first.</p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='DescriptionisouUdLfvicA' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'DescriptionisouUdLfvicA'"></app-bm-chapter-icon>
          <p>Description is changed to every odd level, including the first or a new Description every other odd level
            after
            the first.</p>
        </div>
        <div class="anchor">
          <div id="ResilientSpirheaderGhcjUgAATe" class="anchorTag"></div>
          <h2>Resilient Spirit</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='ThebonusisiaIIEbMpmje' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'ThebonusisiaIIEbMpmje'"></app-bm-chapter-icon>
          <p>The bonus is increased to 4, instead of 2.</p>
        </div>
        <div class="anchor">
          <div id="pewofpkeowpkakioe" class="anchorTag"></div>
          <h2>Personality Adept</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='allchiaorjiojcewoi' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'allchiaorjiojcewoi'"></app-bm-chapter-icon>
          <p>All Characteristics have their cost reduced by 6 CrP.</p>
        </div>
        <div class="anchor">
          <div id="SkillFocusheaderceSGyIycjQ" class="anchorTag"></div>
          <h2>Skill Focus</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='TheSocialiteTOiCtHomtH' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'TheSocialiteTOiCtHomtH'"></app-bm-chapter-icon>
          <p>The Socialite receives 4 purchases each level, instead of 2.</p>
        </div>
      </div>

      <div class="anchor">
        <div id="WeirdAdeptheader" class="anchorTag"></div>
        <h2>Weird-Adept</h2>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='weirdadeptintro' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'weirdadeptintro'"></app-bm-chapter-icon>
        <p>Choose this Class if you want an eclectic set of powers that you can apply to
          most situations in a creative manner but may not be helpful for all problems.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThoughmuchstrDkzqepdhV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThoughmuchstrDkzqepdhV'"></app-bm-chapter-icon>
        <p>Through much study and/or natural talent, Weird-Adepts can channel the Painted World,
          using its power to alter
          reality. Weird-Adepts rely more on clever applications of spells rather than
          outright doing damage and so can
          often subtly shift the playing field in their favor. They rely mainly on
          Intellect and Willpower since they need a
          high Nerve as it is extremely stressful to shape Weird.</p>
      </div>
      <div class='anchor'>
        <div id='VitalityDieQgJsmseJif' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'VitalityDieQgJsmseJif'"></app-bm-chapter-icon>
        <h3>Vitality & Nerve Dice</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='d4ILyDBrraTx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'d4ILyDBrraTx'"></app-bm-chapter-icon>
        <p><strong>Vitality Die</strong> d4</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='weirdadetpstress' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'weirdadetpstress'"></app-bm-chapter-icon>
        <p><strong>Nerve Die</strong> d8</p>
      </div>
      <div class='anchor'>
        <div id='SkillsMastePflEUByseD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SkillsMastePflEUByseD'"></app-bm-chapter-icon>
        <h3>Skills</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='mailskilweirdadepat' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mailskilweirdadepat'"></app-bm-chapter-icon>
        <p><strong>Main Skill Suite</strong> Weirdcraft twice</p>
      </div>
      <div class='anchor'>
        <div id='ClassAbilhZGzwoHlcD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ClassAbilhZGzwoHlcD'"></app-bm-chapter-icon>
        <h3>Class Abilities</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='WhileanyonecyLjHosozjr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhileanyonecyLjHosozjr'"></app-bm-chapter-icon>
        <p><strong>Applied Folkweird </strong>While anyone can shape a
          simple cantrip, the Weird-Adepts knows how to apply those lessons to shape a
          real spell.
          After 10 seconds of concentration (they can move up to a Jog and make Checks, although they do so on a
          d10!, including Attack and Defense Checks) with at least 1 hand free and the ability to speak, the
          Weird-Adept generates a number of Spell
          Points
          equal to their Weirdcraft Skill Suite Rank or the applicable Weirdcraft
          Advanced Skill's Rank which must be immediately spent to shape a spell.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='againthesespmucbeimmed' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'againthesespmucbeimmed'"></app-bm-chapter-icon>
        <p>Any SP remaining after the initial Shaping of a spell becomes fixed within it; these may only be used to
          extend its Interval per the normal rules, and each spell tracks its SP separately.
          The Weird-Adept can begin concentrating to gather more SP immediately after Shaping a spell, but these new SP
          can only be used to Shape a new spell, not added to an existing one.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='shoudlthiejwiojre' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'shoudlthiejwiojre'"></app-bm-chapter-icon>
        <p>Should the Weird-Adept not be able to get enough SP to even get 1 Interval, they can take Stress equal to the
          SP they're missing in Weirdburn to get at least 1 Interval of the spell up and running.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheyreceivetkRFAqkYlRi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheyreceivetkRFAqkYlRi'"></app-bm-chapter-icon>
        <p>Bending reality and shaping primordial force is not an easy thing to do and nature doesn’t like it. When they
          first shape a spell, they take 1 Stress for every 10 Drain (rounded up) the spell has +2.5 for every Category
          above Never that their Fatigue Threshold is at (3 for Critical, 5 for Wounded, 8 for Bloodied, etc.). This
          is a one-time cost so continuing to shape the same spell doesn't further Stress them out (as long as they
          don't suffer weirdburn, of course).</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='RionhuldisaqDzrhFMjhd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'RionhuldisaqDzrhFMjhd'"></app-bm-chapter-icon>
        <p class="italic">Rionhuld is a Weird-Adept/Fighter with a Weirdcraft of 4 and an Animism of 7. He goes to shape
          the
          Weaponsharp
          Spell in preparation for battle. He’s 6 seconds into the 10 second wait time when they’re attacked. He manages
          to dodge the outlaw’s blade, even defending on a d10! and, 4 seconds later, his spell takes form.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='BecauseWeaponTkMANtwBjY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'BecauseWeaponTkMANtwBjY'"></app-bm-chapter-icon>
        <p class="italic">Because Weaponsharp is an Investiture spell, he gets 7 SP to shape with, so he picks the
          Circle and Burst
          Rudiments, giving it a drain of 6.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThespelltakeBqoygHKByj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThespelltakeBqoygHKByj'"></app-bm-chapter-icon>
        <p class="italic">The spell takes effect, he takes 6 Stress from the fallout (since his Fatigue is Wounded) and
          immediately
          begins
          shaping again, this time, he goes for Haste. After 10 seconds, he gets 4 SP because he doesn’t have the
          Animism
          Advanced Skill so uses his Weirdcraft Skill Suite Rank. He goes for Personal and Aura but he doesn’t have the
          SP
          to cover that entirely so Weirdburns for the difference. This gives him 13 Stress (7 from the Weirdburn and 6
          from normal fallout).</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='NotethatRioncXWyEBRdep' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'NotethatRioncXWyEBRdep'"></app-bm-chapter-icon>
        <p class="italic">Note that Rionhuld can’t add those 4 SP to the Weaponsharp already shaped: he needs to put it
          towards a new
          spell.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='WeirdAdeptskxazdrYAaHg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WeirdAdeptskxazdrYAaHg'"></app-bm-chapter-icon>
        <p><strong>Rudimentary Knowledge </strong>Weird-Adepts know the basics of shaping the Weird and so start out
          with 5 random Rudiments. They gain a new one every 3 levels after that.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AtfirstlevelSvQobOpmqD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AtfirstlevelSvQobOpmqD'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Skill Focus (Weirdcraft Skill Suite) </strong>At every even level,
          not including the first, Weird-Adept receives 1 free purchase of the Weirdcraft Skill Suite.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AtfirstlevelSvQobOpmqD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AtfirstlevelSvQobOpmqD'"></app-bm-chapter-icon>
        <p><strong class="optional">*</strong><strong>Skill Focus (Weirdcraft, 2) </strong>At every level, including
          the first, Weird-Adept receives 2 free skill purchases. These can be distributed between any Advanced Skills
          from the Weirdcraft Skill Suite. These free purchases may not be doubled up on in the same level (unless from
          different skill focuses) but are applied after Skills have been bought by the character.</p>
      </div>

      <div class='sidebarShell marginBottom'>
        <h5 class='sidebarTitle'>Weird-Adept Double Down</h5>
        <div class='anchor'>
          <div id='RUDIMENTARYKNgZdALFZAzb' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'RUDIMENTARYKNgZdALFZAzb'"></app-bm-chapter-icon>
          <h2>Rudimentary Knowledge</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='Startwith9RAbDaverUhT' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'Startwith9RAbDaverUhT'"></app-bm-chapter-icon>
          <p>Start with 9 Rudiments, with 2 being your choices and the rest random. Gain a
            new one
            every other level.</p>
        </div>
        <div class='anchor'>
          <div id='APPLIEDFOLKWEuZUQyOvhIg' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'APPLIEDFOLKWEuZUQyOvhIg'"></app-bm-chapter-icon>
          <h2>Applied Folkweird</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='Shapeafter7STFGKxYwEz' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'Shapeafter7STFGKxYwEz'"></app-bm-chapter-icon>
          <p>Shaping only takes 7 seconds, instead of 10.</p>
        </div>
        <div class='anchor'>
          <div id='bothskilfocus' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'bothskilfocus'"></app-bm-chapter-icon>
          <h2>Skill Focus (Weirdcraft Skill Suite)</h2>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='yougethisever' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'yougethisever'"></app-bm-chapter-icon>
          <p>You get these are every level up, not including the first, instead of every other.</p>
        </div>
        <div class='anchor'>
          <div id='bothskilfocus' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'bothskilfocus'"></app-bm-chapter-icon>
          <h2>Skill Focus (Weirdcraft, 2) to (Weirdcraft, 3)</h2>
        </div>
        <div class='paragraphShell anchor'>
          <div id='yougethisever' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'yougethisever'"></app-bm-chapter-icon>
          <p>You get 3 Weirdcraft Advanced Skills instead of 2.</p>
        </div>
      </div>


      <div class='sidebarShell'>
        <h5 class='sidebarTitle'>Acquiring Rudiments</h5>
        <div class='paragraphShell anchor'>
          <div id='At1stlevelalLExnUlsQY' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'At1stlevelalLExnUlsQY'"></app-bm-chapter-icon>
          <p>At 1st level and as dictated by your Classes, you’ll have the opportunity to acquire new Rudiments,
            which
            you
            can then use to shape spells. You’ll do so by picking a Rudiment table and then rolling on it. If you roll a
            Rudiment you already have, you can reroll for free until a new one comes up. For Effects, you roll on the
            Effects Rudiments table and then go to the corresponding sub-table.</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='ononicewjiofkewioefw' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'ononicewjiofkewioefw'"></app-bm-chapter-icon>
          <p>On all tables, you can modify your roll by up to 1 for every 3 Ranks of the Weirdcraft Skill Suite you
            have.
            This does wrap around so, if you have Weirdcraft of 9 and roll a 11 on the Animism Effects Table, you can
            choose
            any Rudiment between 8 and 2.</p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='PlayersthatsAFbcgcYqqG' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'PlayersthatsAFbcgcYqqG'"></app-bm-chapter-icon>
          <p>Players that seek out the knowledge to gain a specific Rudiment during play can forgo this roll and simply
            gain
            that Rudiment.</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='AtfirstlevelSBLprwKlmd' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'AtfirstlevelSBLprwKlmd'"></app-bm-chapter-icon>
          <p>At first level, it is required that you have at least 1 Rudiment from each type (so, 1 Shape Rudiment, 1
            Origin, and at least 1 Effect) but once that’s satisfied, they can go back.</p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='YoucanalsophiZSrpvPBc' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'YoucanalsophiZSrpvPBc'"></app-bm-chapter-icon>
          <p>You can also purchase additional Rudiments for 15 Integrity a pop, although, if that's the case, you get to
            choose
            the Rudiment.</p>
        </div>
        <div class="rudiment-shell">
          <lib-weirdTable *ngIf="weirdTables.shapeTable" [label]="'Shapes'" [weirdTable]="weirdTables.shapeTable">
          </lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.originTable" [label]="'Origins'" [weirdTable]="weirdTables.originTable">
          </lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.traditionTable" [label]="'Traditions'"
            [weirdTable]="weirdTables.traditionTable"></lib-weirdTable>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='RollonthistcQypNKYXXb' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'RollonthistcQypNKYXXb'"></app-bm-chapter-icon>
          <p>Roll on this the Effects Rudiments table to determine which Effects Table to roll on. If you have a Rank in
            a
            Weirdcraft Advanced Skill in a specific Tradition, you can skip the Effects Rudiments table and go straight
            to
            rolling on any table you have training in.</p>
        </div>
        <div class="rudiment-shell">
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Animism Effects'"
            [weirdTable]="weirdTables.effectsTables.Animism"></lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Calling Effects'"
            [weirdTable]="weirdTables.effectsTables.Calling"></lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Charm Effects'"
            [weirdTable]="weirdTables.effectsTables.Charm"></lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Glamour Effects'"
            [weirdTable]="weirdTables.effectsTables.Glamour"></lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Investiture Effects'"
            [weirdTable]="weirdTables.effectsTables.Investiture"></lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Occultism Effects'"
            [weirdTable]="weirdTables.effectsTables.Occultism"></lib-weirdTable>
          <lib-weirdTable *ngIf="weirdTables.effectsTables" [label]="'Sortilege Effects'"
            [weirdTable]="weirdTables.effectsTables.Sortilege"></lib-weirdTable>
        </div>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]='side'></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Chapter 2.4 Classes</h1>
  </div>
</div>