.sidebar-width {
    width: 50%;
}

img {
    max-width: 48%;
}

.sidebarShell img {
    display: none;
}

.characterisiticsShell {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.characterisiticsShell div {
    display: flex;
    justify-content: space-between;
}

.characterisiticsShell div p {
    margin: 0 !important;
}

.characterisiticsShell div p:last-child {
    text-align: right;
}

.characterisiticsShell p {
    text-indent: unset;
}

@media (max-width: 770px) {  
    img {
        display: none;
    }

    .sidebarShell img {
        display: unset;
        float: right;
    }
}
