.levelShell {
    width: 320px;
    display: flex;
    float: left;
    margin: 0 15px 15px 0;
}

.tableValue .LevelingHonorvalue:first-child, .tableValue .xpvalue:nth-child(2) {
    width: 25%;
}

.tableValue .LevelingHonorvalue:nth-child(2), .tableValue .xpvalue:first-child {
    width: 75%;
}

.LevelingHonorTable {
    width: 200px;
    float: left;
    margin-right:15px;
}

.tableTitle {
    height: 25px;
}

.sideBorder {
    border-left: 1px solid #222;
}

@media (max-width: 650px) {
    .LevelingHonorTable {
        float: none;
        margin: 15px auto;
    }

    .levelShell {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .levelShell {
        flex-direction: column;
        width: 50%
    }

    .secondColumn {
        display: none;
    }

    .sideBorder {
        border: none
    }
}