<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class='paragraphShell anchor'>
        <div id='14pabKWYOKQDr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pabKWYOKQDr'"></app-bm-chapter-icon>
        <p> A person who sets off on an adventure doesn’t return the same person as they were when they left. Trials and
          hardships not only hone their skill, but also who they are and what they stand for. </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pKZDkUCAJmi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pKZDkUCAJmi'"></app-bm-chapter-icon>
        <p> In Bonfire, this change is measured by Experience (Ex), which is counted at the end of every session.</p>
      </div>
      <div class="anchor">
        <div id="14hzdDOqjnAgZ" class="anchorTag"></div>
        <h1>GAINING EXPERIENCE</h1>
        <div class="underline"></div>
      </div>
      <div class="levelShell">
        <div>
          <div class='tableOuterShell' [ngStyle]='{width: "160px"}'>
            <h1 class='tableTitle'>Experiance to Level</h1>
            <div class='tableHeaders'>
              <div class='tableRow'>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>Experiance Needed</p>
                  <p class='xpvalue TableIndividual'>Level</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>0</p>
                  <p class='xpvalue TableIndividual'>1</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>50</p>
                  <p class='xpvalue TableIndividual'>2</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>170</p>
                  <p class='xpvalue TableIndividual'>3</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>350</p>
                  <p class='xpvalue TableIndividual'>4</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>590</p>
                  <p class='xpvalue TableIndividual'>5</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>890</p>
                  <p class='xpvalue TableIndividual'>6</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>1250</p>
                  <p class='xpvalue TableIndividual'>7</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>1670</p>
                  <p class='xpvalue TableIndividual'>8</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>2150</p>
                  <p class='xpvalue TableIndividual'>9</p>
                </div>
                <div class='tableValue'>
                  <p class='xpvalue TableIndividual'>2690</p>
                  <p class='xpvalue TableIndividual'>10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='marginBottom'>
          <div class='tableOuterShell' [ngStyle]='{width: "160px"}'>
            <h1 class='tableTitle secondColumn'> </h1>
            <div class='tableHeaders'>
              <div class='tableRow'>
                <div class='tableValue sideBorder secondColumn'>
                  <p class='xpvalue TableIndividual'>Experiance Needed</p>
                  <p class='xpvalue TableIndividual'>Level</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>3290</p>
                  <p class='xpvalue TableIndividual'>11</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>3950</p>
                  <p class='xpvalue TableIndividual'>12</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>4670</p>
                  <p class='xpvalue TableIndividual'>13</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>5450</p>
                  <p class='xpvalue TableIndividual'>14</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>6290</p>
                  <p class='xpvalue TableIndividual'>15</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>7190</p>
                  <p class='xpvalue TableIndividual'>16</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>8150</p>
                  <p class='xpvalue TableIndividual'>17</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>9170</p>
                  <p class='xpvalue TableIndividual'>18</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>10250</p>
                  <p class='xpvalue TableIndividual'>19</p>
                </div>
                <div class='tableValue sideBorder'>
                  <p class='xpvalue TableIndividual'>11390</p>
                  <p class='xpvalue TableIndividual'>20</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pcJBNepoMoz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pcJBNepoMoz'"></app-bm-chapter-icon>
        <p> The only way to gain Experience is to move towards your Goals or help others move towards theirs.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pPrKGhJeRmZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pPrKGhJeRmZ'"></app-bm-chapter-icon>
        <p> At the end of each session, if you've moved towards a Goal, whether your own or another player's, whether
          your character
          knew about it or not, you gain 25 Ex. If you moved towards additional Goals, you get a extra 10 Ex for each
          one you helped with.
          However, they only get the bonus Ex for helping another person if their goals aren't identical to yours.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='soifkasseydancedajignakedonaroof' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'soifkasseydancedajignakedonaroof'"></app-bm-chapter-icon>
        <p> So, let's say that you moved towards one of your Goals and helped another person with their's. You would get
          35 Ex (25 + 10).
          Or let's say that there wasn't enough time to do anything on your Goal, but you managed to help two other
          players; you'd
          still get 35 Ex at the end of the session (25 for the first, 10 for the second).
          Or, or, if you were a real wonderkind, and moved towards your Goal AND helped the two other players, you'd get
          45 Ex (25 + 10 + 10).
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pBqsEoVovAC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pBqsEoVovAC'"></app-bm-chapter-icon>
        <p> There is a bonus of another 25 Ex for each member if everyone in the party has moved towards their Goals that
          session.</p>
      </div>
      <div class="space"></div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14puYMjXpkVpE' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14puYMjXpkVpE'"></app-bm-chapter-icon>
        <p> On top of this, if a party member actually completes one of their Goals, they (and anyone else who helps them) gains an additional 25% of their current Ex and a
          bonus of 25% of your current Fame.</p>
      </div>
      <div class="space"></div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14ptbggbpPcoA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14ptbggbpPcoA'"></app-bm-chapter-icon>
        <p> The GM may award additional Ex for completing plot important points in the story.</p>
      </div>
      <div class="space"></div>
      <div class='paragraphShell anchor'>
        <div id='14pNcoJAgYzJx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pNcoJAgYzJx'"></app-bm-chapter-icon>
        <p> You don’t receive Ex for random things, such as winning a Social Conflict, Combats, or Skill Challenges.
          Those are more about gaining Honor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pZoPbzNHfgY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pZoPbzNHfgY'"></app-bm-chapter-icon>
        <p> You gain Ex for challenging who your character is. If they gain Ex from a Combat it is not from just
          defeating a random foe or just being in Combat. It could be from your character facing their fears or rival,
          killing a person for the first time, or learning to be a leader in a stressful situation.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pIkNBzuBXZd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pIkNBzuBXZd'"></app-bm-chapter-icon>
        <p> Those things are a means to an end, not an end in and of themselves. </p>
      </div>
      <div class="anchor">
        <div id="14hZqkalOSwRr" class="anchorTag"></div>
        <h1>LEVELING UP</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pzlDulSFisv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pzlDulSFisv'"></app-bm-chapter-icon>
        <p> Once a character has received enough Ex to level, they must take a week to think and meditate on what
          they’ve learned.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pqySdAuJRNp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pqySdAuJRNp'"></app-bm-chapter-icon>
        <p> During this week, they reflect on their journey and how they’ve changed. Each day, they complete one of the
          steps of leveling up.</p>
      </div>
      <div class="space"></div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pOdIMAsLrXX' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pOdIMAsLrXX'"></app-bm-chapter-icon>
        <p> This self-reflection takes a large amount of the day. If the character is interrupted by any strenuous
          activity, they’ve lost the day and must pick up their reflection when they can from the same point.</p>
      </div>
      <div class="space"></div>
      <div class='paragraphShell anchor'>
        <div id='14pwxUIyLGmjk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pwxUIyLGmjk'"></app-bm-chapter-icon>
        <p> For example, If Ironfoe is on day 3 of his reflection when his battle brothers decide to do a raid on a
          local village 2 days away, to be able to join in, he must break off his leveling (having gained his CrP and
          increased his Stat Scores but not having assessed how he sees himself).</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pHNuGjTwcSB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pHNuGjTwcSB'"></app-bm-chapter-icon>
        <p> When the raid is over, and he’s returned to his clan stronghold, 4 days later, he can pick up where he left
          off and rethink what he’s doing with his life.</p>
      </div>
      <div class='anchor'>
        <div id='14hghilHrGsooj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hghilHrGsooj'"></app-bm-chapter-icon>
        <h3>DAY 1: RECEIVE CrP</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pTeYBsiJSEf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pTeYBsiJSEf'"></app-bm-chapter-icon>
        <p> At the start of his reflection, a character receives a number of CrP equal to his LvL CrP from his
          Intellect. This behaves exactly like CrP from Character Creation and can be used to buy things at any stage or
          reroll everything but Vitality.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pEJwjyrOCMy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pEJwjyrOCMy'"></app-bm-chapter-icon>
        <p> You can spend these are different points over the level up process but you can also save them up to purchase
          more expensive things if you don’t currently have enough CrP for what you want.</p>
      </div>
      <div class='anchor'>
        <div id='14hgNgyrqXbebx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hgNgyrqXbebx'"></app-bm-chapter-icon>
        <h3>DAY 2: INCREASE STAT SCORES</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pPzHXHtyHoU' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pPzHXHtyHoU'"></app-bm-chapter-icon>
        <p> Today you may spend CrP to improve any of your Scores as per Step 6 of <a
            routerLink='../chapter/1'>Chapter 1: Character Creation.</a> </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pJZvZggDcXt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pJZvZggDcXt'"></app-bm-chapter-icon>
        <p> At 3rd level and every 5 levels after that (8, 13, 18, etc.), you may increase 1 of your Stats by 1</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='14pyrjbfZxICL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pyrjbfZxICL'"></app-bm-chapter-icon>
        <p> And at 5th level and every 5 levels after that (10, 15, 20, etc.), you increase a random Stat by 1. This is rolled on 
          a d6, with 1 being Strength and 6 being Charisma. You may influence with your Honor or spend 15 CrP for a reroll.
        </p>
      </div>
      <div class='anchor'>
        <div id='14hgtAZiWwZJoy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hgtAZiWwZJoy'"></app-bm-chapter-icon>
        <h3>DAY 3: ASSESS PERSONALITY </h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pBsqQlAZonZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pBsqQlAZonZ'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>FLAWS</strong> A character can grow, overcoming things that used to hold her
          down. A character can buy off a mental or behavioral Flaw for its CrP bonus (regardless of how much you got
          for it). If you do so, you gain a 2d6 Trait “Overcame X” with X being the Flaw. Background Flaws that have
          resolved through play can also give you this Trait according to the GM's discretion.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pQejBTGSGYw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pQejBTGSGYw'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>TRAITS</strong> As a character grows, things that used to be important to them
          no longer are and things they never used to identify with become a part of them.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14ptLyyvSXyds' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14ptLyyvSXyds'"></app-bm-chapter-icon>
        <p> A character can switch around their Traits, switching a Strong one for a Medium one, or a Medium one for a
          Weak one. This swaps the number of dice - not the size of those dice. So, swapping a 1d8 trait for 3d10 trait
          makes one 3d8 and the other 1d10.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pjUlBlGtYCV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pjUlBlGtYCV'"></app-bm-chapter-icon>
        <p> They may also swap out a Weak one for an entirely new one.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pVcUufBCQcd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pVcUufBCQcd'"></app-bm-chapter-icon>
        <p> After 3rd level, they may only do this swap once per level, however. Before then, you may swap your Traits around freely: 
          after all, you may still be getting on your feet in terms of the type of character that would best fit in the group and campaign.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14psfktdHFOUa' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14psfktdHFOUa'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>PASSIONS</strong> Passions die out and are relit. A character may increase the
           size of a Passion by decreasing the size of another.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pOlQCEWrHEH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pOlQCEWrHEH'"></app-bm-chapter-icon>
        <p> This can drop the Passion to below 1, allowing the character to develop a new one.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pmYvTJJiVep' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pmYvTJJiVep'"></app-bm-chapter-icon>
        <p> After 3rd level, you may only do this trade once per level. Before that, you may swap around your Passions freely.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pAWCtcVYFzJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pAWCtcVYFzJ'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>GOALS</strong> During this time, the character carefully turns over their aims
          in life and can ask themselves if this is really the path they want to travel down.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pJrYygGOQFX' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pJrYygGOQFX'"></app-bm-chapter-icon>
        <p> Goals may be switched out, dropped or added freely at this stage but can't total more than 3.</p>
      </div>
      <div class='anchor'>
        <div id='14hgePIgBrVjYz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hgePIgBrVjYz'"></app-bm-chapter-icon>
        <h3>DAY 4: INCREASE CLASS ABILITIES</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pTikZPuRFKm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pTikZPuRFKm'"></app-bm-chapter-icon>
        <p> Some Class Abilities grew stronger as you level. Check your selected Archetypes to see if they have any of
          their Abilities that either grow stronger (i.e. the Thug’s Precision Strike), gain additional free Skills
          (i.e. any of the Expert Archetype’s Skill Focuses), or gain something else for free (i.e. the Magical
          Archetypes gaining new spells). </p>
      </div>
      <div class='anchor'>
        <div id='14hgbtjUfRlAsf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hgbtjUfRlAsf'"></app-bm-chapter-icon>
        <h3>DAY 5: TRAIN AND RETRAIN SKILLS & MASTERIES </h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pYKZEjHuaWu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pYKZEjHuaWu'"></app-bm-chapter-icon>
        <p> Now, it’s time to hone in on what you’ve learned and any new skills you’ve acquired or hidden talents you’ve
          discovered during your travels.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pAUJrUgsYNg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pAUJrUgsYNg'"></app-bm-chapter-icon>
        <p> At this stage you may spend your CrP to purchase and improve your Skills and Masteries.</p>
      </div>
      <div class="space"></div>
      <div class='paragraphShell anchor'>
        <div id='14pFklJsiYJRs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pFklJsiYJRs'"></app-bm-chapter-icon>
        <p> A character may also replace old knowledge with new. He may refund one of his Masteries and Skill purchases,
          gaining the CrP he spend on them back to spend on something else.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pTNnlkIILRQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pTNnlkIILRQ'"></app-bm-chapter-icon>
        <p> After 3rd level, he may only do this once per level up for each. Before that point, he may do this freely. He can never refund free Masteries or Skills earned from his Archetypes.</p>
      </div>
      <div class='anchor'>
        <div id='14hgBavRZYfJAF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hgBavRZYfJAF'"></app-bm-chapter-icon>
        <h3>DAY 6: INCREASE VITALITY</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pLXWujVbqQL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pLXWujVbqQL'"></app-bm-chapter-icon>
        <p> Finally, it’s time to reflect on the fact that your travels have made you just a little bit tougher, a
          little bit better at facing what life throws at you.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pLzvuBHWRML' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pLzvuBHWRML'"></app-bm-chapter-icon>
        <p> At every even level, the character gets a free reroll of their Vitality Die from their last level, taking
          the
          higher of the two rolls, however, if both rolls are under their Minimum Vitality from their Constitution, they
          receive that value at least.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pQmJzkGqTFP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pQmJzkGqTFP'"></app-bm-chapter-icon>
        <p> At every odd level, they gain a free roll that’s added to their total Vitality. This is not affected by
          their
          Con’s Min Vitality and is just a straight roll. You’ll need to record it on your character sheet.</p>
      </div>
      <div class="space"></div>
      <div class='paragraphShell anchor'>
        <div id='14pAthoKSWfYJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pAthoKSWfYJ'"></app-bm-chapter-icon>
        <p> If your Class has a “choose the higher of 2” for their Vitality die, your Vitality Dice drops to one of
          those
          dice. So, “the higher of 2d6” becomes a single d6 for subsequent levels.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14plEHDpkVAAs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14plEHDpkVAAs'"></app-bm-chapter-icon>
        <p> Remember to recalculate your Wound Categories</p>
      </div>
      <div class='anchor'>
        <div id='14hgitOLfeiEUO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14hgitOLfeiEUO'"></app-bm-chapter-icon>
        <h3>DAY 7: RECEIVE HONOR</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pHwwgrszsnb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pHwwgrszsnb'"></app-bm-chapter-icon>
        <p> Now the other players will silently judge the character, rating him 1 to 10 in 3 categories: Flaws,
          Teamwork, Respect.</p>
      </div>
      <div class="space"></div>
      <div class='paragraphShell anchor'>
        <div id='14pQFrRIFCrsS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pQFrRIFCrsS'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>FLAWS</strong> How well has this player played their Flaws? Do they only seem to
          be brought up when it’s convenient but then forgotten they need to get away with something?</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pUGQRSpieSd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pUGQRSpieSd'"></app-bm-chapter-icon>
        <p> Does she use her Flaws to further the story and character development or does she use them to annoy others?
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pjUXklecZCS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pjUXklecZCS'"></app-bm-chapter-icon>
        <p> A character that leans more to the former, rather than the latter, deserves a higher score.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pmVptoZnVTo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pmVptoZnVTo'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>TEAMWORK</strong> Does this player work well with others? Do they pull their
          load and put themselves on the line or do they pick fights that derail the session? Are they on top on things
          and help set up or are they late and spend all their time on the phone?</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pUSTzPZNvWs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pUSTzPZNvWs'"></app-bm-chapter-icon>
        <p> Again, a character that leans more to the former, rather than the latter, deserves a higher score.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pkkRqFbWIGF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pkkRqFbWIGF'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>RESPECT</strong> How do you think this character is viewed by those he interacts
          with, by both the party’s character and NPCs? Has he kept his word (or at least, not gotten caught) or does he
          have a habit of backstabbing other?</p>
      </div>
      <div class="space"></div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pLPyDNFiCxn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pLPyDNFiCxn'"></app-bm-chapter-icon>
        <p> The GM should then take the scores and average them across each category and then subtract 5 from each of them. Those three
          modified averages are then totaled: this is how much Honor they gain or lose.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='14pJvygIEIQOv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pJvygIEIQOv'"></app-bm-chapter-icon>
        <p> For example, Claire receives scores of 5, 4, and 6 for her Flaws, 3, 5, 1 for her Teamwork, and 10, 8, 10 for
          Respect, giving her an average of 5 (0 after the -5) for Flaws, 3 (-2) for Teamwork, and 10 (5) for Respect.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pcyhbsKzQTv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pcyhbsKzQTv'"></app-bm-chapter-icon>
        <p> Totaling the modified average, she gains 3 Honor</p>
      </div>
      <div class="space"></div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='14pzGtcFviOlg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'14pzGtcFviOlg'"></app-bm-chapter-icon>
        <p> The individual scores and who gave them should be kept a secret, though the player can know how much they
          scored in each category to help them improve.</p>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]="side"></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Character Progression</h1>
  </div>
</div>