<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class="anchor">
                <div id="1h1" class="anchorTag"></div>
                <h1>1. ROLL STAT SCORES</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p1' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p1'"></app-bm-chapter-icon>
                <p> Your character has 6 attributes that define your character physically and mentally. These are
                    Strength (Str),
                    Dexterity (Dex), Constitution (Con), Intellect (Int), Wisdom (Wis), and Charisma (Cha). More on
                    details are
                    found in <a routerLink='../../chapter/2'>Chapter 2: Stat Scores.</a></p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p2' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p2'"></app-bm-chapter-icon>
                <p> Roll 3d6 for each of these Abilities to generate that score.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p3' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p3'"></app-bm-chapter-icon>
                <p> This should result in something similar to this:</p>
            </div>
            <div class="marginBottom statChart">
                <div class="chartShell">
                    <div>Str</div>
                    <div>13</div>
                </div>
                <div class="chartShell">
                    <div>Dex</div>
                    <div>7</div>
                </div>
                <div class="chartShell">
                    <div>Con</div>
                    <div>10</div>
                </div>
                <div class="chartShell">
                    <div>Int</div>
                    <div>14</div>
                </div>
                <div class="chartShell">
                    <div>Wis</div>
                    <div>11</div>
                </div>
                <div class="chartShell">
                    <div>Cha</div>
                    <div>6</div>
                </div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p4' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p4'"></app-bm-chapter-icon>
                <p> Bonfire is specifically balanced for you to roll 3d6 in order, with 10 being the average result but
                    you’ll have
                    the chance to modify these later so don’t worry too much if you have low scores.</p>
            </div>
            <div class="anchor">
                <div id="1h2" class="anchorTag"></div>
                <h1>2. RECEIVE CrP</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p5' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p5'"></app-bm-chapter-icon>
                <p> Alright, you have your scores. Now it’s time to decide whether or not if you can reroll them. At
                    this point
                    you’re also going to determine how many Creation Points (or CrP, for short) you’ll start with. These
                    CrP will be
                    spent on modifying your character; buying them their skills and increasing their Scores. They may
                    also be spent
                    on rerolls at certain steps.</p>
            </div>
            <div class='sidebarShell marginBottom'>
                <div class='paragraphShell anchor'>
                    <div id='1p6' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p6'"></app-bm-chapter-icon>
                    <p> If you have no score over 13, or 2 under 6, you may choose to reroll for free. Your character
                        just didn’t
                        have it in him to go adventuring.</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p7' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p7'"></app-bm-chapter-icon>
                    <p> If that’s not the case and you still want to reroll your stats, you can but you receive 0 CrPs
                        to work with
                        and you’re stuck with your second set of Scores.</p>
                </div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p8' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p8'"></app-bm-chapter-icon>
                <p> Even still, you may want to switch your stats around. This may be because you have almost the right
                    stats but
                    you have a specific character concept in mind. For instance, using the example stats in Step 1, your
                    party may
                    need a diplomatic character more than a strong character. In this case, it would really help to swap
                    Strength
                    and Charisma.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p9' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p9'"></app-bm-chapter-icon>
                <p> You can freely switch around your stats as need but, in that case, you only receive 25 CrPs.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p10' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p10'"></app-bm-chapter-icon>
                <p> If you switch only 4 of your stats, you receive 50 CrPs.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p11' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p11'"></app-bm-chapter-icon>
                <p> If you switch 2, you receive 75 CrPs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p12' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p12'"></app-bm-chapter-icon>
                <p> And if you keep your stats the way they are, with no changes, you gain 100 CrPs to work with.</p>
            </div>
            <div class="anchor">
                <div id="1h3" class="anchorTag"></div>
                <h1>3. SELECT RACE</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p13' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p13'"></app-bm-chapter-icon>
                <p> Your character’s race will change how they interact with the world and what they’ll be good and bad
                    at so pick
                    carefully.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p14' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p14'"></app-bm-chapter-icon>
                <p> Details are found in <a routerLink='../../chapter/3'>Chapter 3: Races</a> so go there and pick one
                    and
                    come back
                    here when you’re done.</p>
            </div>
            <div class="anchor">
                <div id="1h4" class="anchorTag"></div>
                <h1>4. CHOOSE YOUR ARCHETYPES</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p15' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p15'"></app-bm-chapter-icon>
                <p> Your character’s class is made of two Archetypes combined.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p16' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p16'"></app-bm-chapter-icon>
                <p> You choose a Primary and a Secondary Archetype and pay the price in CrP for both based on your
                    race’s Archetype
                    Cost section. Descriptions of the different Archetypes are found in <a
                        routerLink='../chapter/4'>Chapter 4:
                        Archetypes</a> along with more details on how to combine them.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p17' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p17'"></app-bm-chapter-icon>
                <p> If you’ve chosen to reroll your stats and have no CrPs to work with, congratulations, you’re now in
                    CrP debt and
                    need to make it up by the end of Character Creation.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p18' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p18'"></app-bm-chapter-icon>
                <p> You must select two Archetypes before going further.</p>
            </div>
            <div class="anchor">
                <div id="1h5" class="anchorTag"></div>
                <h1>5. RECORD ARCHETYPE ABILITIES</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p19' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p19'"></app-bm-chapter-icon>
                <p> This is more for Weird-Adept Archetypes, as they’ll head over to <a
                        routerLink='../../chapter/12'>Chapter
                        12: The Weird</a>
                    to roll their starting spells but now is the time to record any free Skills, or Masteries
                    you obtained
                    free from your class choice, as well as Class Abilities</p>
            </div>
            <div class="anchor">
                <div id="1h6" class="anchorTag"></div>
                <h1>6. ROLLS FLAWS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p20' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p20'"></app-bm-chapter-icon>
                <p> All heroes have flaws. That’s what makes them relatable and human (even if they’re an orc).
                    Character Flaws earn
                    you additional CrP, which is great. Flaws can also be used in social situations to further the
                    story.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p21' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p21'"></app-bm-chapter-icon>
                <p> For a list of Flaws flip to <a routerLink='../../chapter/5'>Chapter 5: Flaws.</a></p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p22' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p22'"></app-bm-chapter-icon>
                <p> If you’ve gone into CrP debt and you’re not out of it by the end of this stage, you’ll need to go
                    back and
                    reselect your Archetypes so that you are or go back to you starting set of stats and begin Character
                    Creation
                    all over again with them.</p>
            </div>
            <div class="anchor">
                <div id="1h7" class="anchorTag"></div>
                <h1>7. ADJUST STATS</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p23' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p23'"></app-bm-chapter-icon>
                <p> Now, it is time to do the final adjustments to your stats. While not your final adjustments: you'll have a chance to increase them again level up.</p>
            </div>
            <div class='paragraphShell anchor marginBottom'>
                <div id='1p24' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p24'"></app-bm-chapter-icon>
                <p> The price to increase a Stat is the Stat + 10. So, to get a Stat to 9 from 8, it would cost 18 CrP.</p>
            </div>
            <div class="anchor">
                <div id="1h8" class="anchorTag"></div>
                <h1>8. CALCULATE CHARACTER VITALS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p29' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p29'"></app-bm-chapter-icon>
                <p> Now it’s time to calculate your character’s Honor and Vitality.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p30' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p30'"></app-bm-chapter-icon>
                <p> These 2 things, along with Stress are important parts of the game and serve as the prime mechanics
                    when running
                    a Bonfire game. If you’re not familiar with them head over to <a
                        routerLink='../../chapter/6'>Chapter
                        6: Character
                        Vitals.</a></p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p31' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p31'"></app-bm-chapter-icon>
                <p> This chapter will also give you an overview of the character sheet that you’ll get more acquainted
                    with later.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p32' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p32'"></app-bm-chapter-icon>
                <p> If you’ve already played Bonfire before, here’s a cheat sheet for calculating those things:</p>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Honor: This is determined by your “Starting Honor” listed under your Charisma</p>
                </div>
            </div>
            <div class="bulletListShell marginBottom">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Vitality: This is Con score + Primary Archetype’s Vitality Die + Vitality Size Modifier from race,
                        divided into 4
                        Categories.</p>
                </div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1ppWZojjNxMP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1ppWZojjNxMP'"></app-bm-chapter-icon>
                <p> Don't forget that you get a bonus to your CrP from the Honor of your last character. If this is your
                    first
                    character, you instead get 25 CrP. Enjoy.</p>
            </div>
            <div class="anchor">
                <div id="1h9" class="anchorTag"></div>
                <h1>9. MASTERIES & SKILLS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p33' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p33'"></app-bm-chapter-icon>
                <p> Masteries and Skills are additional areas of expertise that your character has obtained
                    above his or
                    her race and class.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p34' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p34'"></app-bm-chapter-icon>
                <p> All three cost CrP. Prices and descriptions can be found in <a routerLink='../../chapter/7'>Chapter
                        7:
                        Masteries</a> and <a routerLink='../../chapter/8'>Chapter 8: Skills.</a></p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class="sidebarTitle">Out of Order Character Creation</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p35' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p35'"></app-bm-chapter-icon>
                    <p> If you’re a little bit more familiar with Bonfire Character creation, these last steps (step 9,
                        10, and 11)
                        can be taken in any order you’d like, even skipping back and forth between them.</p>
                </div>
            </div>
            <div class="anchor">
                <div id="1h10" class="anchorTag"></div>
                <h1>10. DEFINE SOCIAL CHARACTERISTICS</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p36' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p36'"></app-bm-chapter-icon>
                <p> Your character is more than just raw stats, skills, and abilities. At this step, you’re going to
                    define more
                    about who they see themselves as and how others perceive them by defining their Traits, Passions,
                    Goals, and
                    Devotions. Jump to <a routerLink='../../chapter/9'>Chapter 9: Social.</a></p>
            </div>
            <div class="anchor">
                <div id="1h11" class="anchorTag"></div>
                <h1>11. BUY EQUIPMENT</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='1p37' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p37'"></app-bm-chapter-icon>
                <p> Every character starts with a kit of gear, which has a list of per purchased starting gear as well
                    as an extra
                    bit of starting cash they you can spend on additional things. Proceed to <a
                        routerLink='../chapter/11'>Chapter
                        11: Equipment</a> for a full list of available kits and gear you can pick up.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p38' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p38'"></app-bm-chapter-icon>
                <p> You may also cash in any left-over CrP for sp at 1 CrP for 10 sc, but you don’t have to. You can
                    save your CrP
                    to spend later at your level up.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p39' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p39'"></app-bm-chapter-icon>
                <p> After purchasing your equipment, adjust your Encumbrance.
                    Don’t forget
                    that armor and shields will also modify this.</p>
            </div>
            <div class="anchor">
                <div id="1h12" class="anchorTag"></div>
                <h1>12. TRANSFER TO CHARACTER SHEET</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='1p40' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'1p40'"></app-bm-chapter-icon>
                <p> Congratulations: you’re on the home stretch! Finish your character off by transferring your notes to
                    a fresh
                    character sheet, an example of which, with a break down, is found in <a
                        routerLink='../chapter/6'>Chapter 6:
                        Character Vitals.</a> You can also find a download for the <a
                        href="https://drive.google.com/file/d/1L8hQ38ZjLbn9E_CDqVb6_rKG-uG_5yGX/view">character sheet
                        here.</a></p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class="sidebarTitle">Exploding Dice</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p41' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p41'"></app-bm-chapter-icon>
                    <p> You’ll notice a exclamation mark (!) behind a lot of dice notations. This marks the dice as
                        exploding, which
                        means that should the maximum of that dice is rolled, you get to roll it again, this time with a
                        - 1, and
                        add what you rolled to the total.</p>
                </div>

                <div class='paragraphShell anchor'>
                    <div id='1p42' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p42'"></app-bm-chapter-icon>
                    <p> This continues for as long as you roll the maximum dice, however, the - 1 always stays a -1 one.
                    </p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p43' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p43'"></app-bm-chapter-icon>
                    <p> So, if you roll a 3d8! for damage, you get a 5, 8, 8. Since you rolled the maximum value on two
                        of your
                        dice, you roll those dice again, and roll an 8, and 5, giving you a subtotal of 32 ( 5 + 8 + 8 +
                        8 - 1 + 5 -
                        1 ) but since you rolled another 8, you get to roll that dice again, and you get a 1, netting
                        you a 0 ( 1 -
                        1 ).</p>
                </div>

                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p44' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p44'"></app-bm-chapter-icon>
                    <p> There are two things you should be aware of: 1d100! explode to a 1d20!, while 1d20! explode to a
                        d6!.</p>
                </div>

                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p45' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p45'"></app-bm-chapter-icon>
                    <p> The second thing is that explosion dice don’t add additional dice to the number. So, in the
                        example above,
                        all that damage is only counted as having been done with 3 dice (instead of the 5 that were
                        actually
                        rolled).</p>
                </div>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class="sidebarTitle">Dice Size Hierarchy</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p46' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p46'"></app-bm-chapter-icon>
                    <p> Bonfire plays around a lot with dice sizes, so it’s important to know what dice to grab in those
                        cases.</p>
                </div>

                <div class='paragraphShell anchor'>
                    <div id='1p47' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p47'"></app-bm-chapter-icon>
                    <p> Dice sizes go as follows:</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p48' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p48'"></app-bm-chapter-icon>
                    <p> d2 → d3 → d4 → d6 → d8 → d10 → d12 → d20</p>
                </div>

                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p49' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p49'"></app-bm-chapter-icon>
                    <p> If a d4 is exploding and drops to a d3 or lower, it stops exploding.</p>
                </div>

                <div class='paragraphShell anchor'>
                    <div id='1p50' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p50'"></app-bm-chapter-icon>
                    <p> If the dice size increases past a d20, you’ll add an extra dice starting at a d4. Further dice
                        sizes will
                        increase this smaller dice. This can continue ad nauseum, but no matter how many dice there are,
                        they’re
                        always considered to be rolled on 1 dice.</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='1p51' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'1p51'"></app-bm-chapter-icon>
                    <p> So, 3d20! + d10! is still considered 1 dice.</p>
                </div>
            </div>
        </div>
        <div class="sideShell">
            <app-quick-nav [side]='side'></app-quick-nav>
        </div>

        <h1 class="chapterTitle">Character Creation</h1>
    </div>
</div>