.raceSidebar {
    width: 300px;
    float: left;
    margin-right: 15px;
}

.headerTop {
    background: #222;
    color: whitesmoke;
    width: 100%;
}

.headerSide {
    position: absolute;
    color: whitesmoke;
}

.RacialPreferencesvalue {
    width: 79px;
}

.tableValue {
    padding: 0;
}

.tableValue .RacialPreferencesvalue:first-child {
    background: #222; 
    width: 50px;
    height: 24px;
    margin-bottom: 0;
}

.preferenceTable {
    margin: 0 auto 25px;
    width: 395px;
}

@media (max-width: 500px) {
    .raceSidebar {
        width: 100%;
        float: none;
    }

    .preferenceTable {
        margin: 0 auto 25px;
        width: 100%;
    }
}