<div class="outerShellSide">
  <div class="quickNavShellSide">
    <div *ngFor="let piece of side.side">
      <h1 *ngIf='piece.linkid === "h"' (click)="scrollToElement(piece.jump)">{{piece.body}}</h1>
      <h1 *ngIf='piece.linkid === "hnu"' class="hnu" (click)="scrollToElement(piece.jump)">{{piece.body}}</h1>
      <p *ngIf='piece.linkid === "hg"' (click)="scrollToElement(piece.jump)">{{piece.body}}</p>
    </div>
  </div>
  <div class="imageShellSide" [ngStyle]="side.height">
    <img src="https://thumbnails-photos.amazon.com/v1/thumbnail/6YzUfYVCRsyJ9jpW_gPJEA?viewBox=378%2C806&ownerId=A3TBELKKNOSLNI&groupShareToken=8iYu1olEQsy5hZ8FCTwqyg.4qQh2KDQujfOLwyD1vps5n" alt="banner of the Empire" class="imageBannerSide" [ngStyle]="bannerStyle">
  </div>
  
  <button class="toTopButton" (click)="scrollToTop()">🜂 To Top</button>
</div>