.outerShellSide {
  height: 100%;
  position: relative;
}

.quickNavShellSide {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

.quickNavBox {
  background: rgba(245, 245, 245, 0.9);
  padding: 10px 5px;
  border-top: 5px solid #b45f06;
  border-bottom: 5px solid #b45f06;
  overflow-y: auto;
  max-height: 445px;
}

.imageBannerSide {
  height: 640px;
  width: 300px;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

h1 {
  color: #990000;
  font-weight: 700;
  font-size: 14pt;
  border-bottom: 2px #222 solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.hnu {
  border: none;
}

h1:hover {
  color: #b45f06;
}

p {
  font-family: "Vollkorn SC";
  font-size: 14px;
  color: #434343;
  font-weight: 800;
  padding: 5px 25px;
  text-indent: 0;
}

p:hover {
  color: #b45f06;
}

.toTopButton {
  position: unset;
  margin: 5px 0;
  width: 100%;
  border-radius: 0;
}

.toTopButton:hover {
  background: #b45f06;
  color: whitesmoke;
}

.quickNavShellSide div:last-child h1{
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b45f06; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b45f06; 
}

/* ======================================================= */

@media (max-width: 770px) {
  .outerShellSide {
    background: transparent;
    border-top: none;
    border-bottom: none;
  }

  .quickNavBox {
    background: none;
    padding: 0;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .imageShellSide {
    display: none;
  }

  .toTopButton {
    display: none;
  }

  .quickNavShellSide {
    background: none;
    border: none;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    background: lightgrey;
    padding: 5px;
  }

  p {
    font-size: 16px;
    min-height: 32px;
    max-width: 250px;
    margin: 0 auto;
  }

  h1 {
    font-size: 20px;
    max-width: 250px;
    margin: 0 auto;
  }
}
