<div class="outerShellSide">
  <div class="quickNavShellSide">
    <div class="quickNavBox">
      <div *ngFor="let piece of side; let i = index">
        <h1 *ngIf='piece.linkid === "h" && side[i+1 >= side.length ? i : i+1].linkid !== "h"' (click)="scrollToElement(piece.jump)">{{piece.body}}</h1>
        <h1 *ngIf='piece.linkid === "h" && side[i+1 >= side.length ? i : i+1].linkid === "h"' class="hnu" (click)="scrollToElement(piece.jump)">{{piece.body}}</h1>
        <p *ngIf='piece.linkid === "hg"' (click)="scrollToElement(piece.jump)">{{piece.body}}</p>
      </div>
    </div>

    <button class="toTopButton" (click)="scrollToTop()">🜂 To Top</button>
  </div>
</div>