.outerShellSide {
  height: 100%;
}

.quickNavShellSide {
  position: sticky;
  position: -webkit-sticky;
  top: 114px;
}

.quickNavBox {
  background: rgba(245, 245, 245, 0.9);
  padding: 10px 5px;
  border-top: 5px solid #b45f06;
  border-bottom: 5px solid #b45f06;
  overflow-y: auto;
  max-height: 75vh;
}

.imageBannerSide {
  height: 640px;
  width: 300px;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

h1 {
  color: #990000;
  font-weight: 700;
  font-size: 11pt;
  font-family: "hamlet";
  border-bottom: 2px #222 solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.hnu {
  border: none;
}

h1:hover {
  color: #b45f06;
}

p {
  font-family: "ancient";
  font-size: 14px;
  color: #434343;
  font-weight: 800;
  padding: 5px 25px;
  text-indent: 0;
}

p:hover {
  color: #b45f06;
}

.toTopButton {
  position: unset;
  margin: 5px 0;
  width: 100%;
  border-radius: 0;
  font-family: "ancient";
}

.toTopButton:hover {
  background: #b45f06;
  color: whitesmoke;
}

.quickNavShellSide div:last-child h1{
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b45f06; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b45f06; 
}

.mobile-quick-nav-shell {
  display: none;
  position: absolute;
}

.mobile-quick-nav-button {
  background: #222;
  bottom: -75px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: .6s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.bottomPositionShown {
  bottom: 15px;
}

.mobile-quick-nav-button:hover {
  background: #b45f06;
}

.fa-arrow-up {
  color: white;
  font-size: 35px;
}

/* ======================================================= */

@media (max-width: 770px) {
  .outerShellSide {
    background: transparent;
    border-top: none;
    border-bottom: none;
  }

  .quickNavBox {
    background: none;
    padding: 0;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .imageShellSide {
    display: none;
  }

  .toTopButton {
    display: none;
  }

  .quickNavShellSide {
    background: none;
    border: none;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    background: lightgrey;
    padding: 5px;
  }

  p {
    font-size: 16px;
    min-height: 32px;
    max-width: 250px;
    margin: 0 auto;
  }

  h1 {
    max-width: 250px;
    margin: 0 auto;
    font-family: "hamlet";
  }

  .mobile-quick-nav-shell {
    display: unset;
  }
}
