<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Mastery Limitations</h2>
                <div class='paragraphShell anchor'>
                    <div id='7pjGXpmkMBay' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'7pjGXpmkMBay'"></app-bm-chapter-icon>
                    <p> Masteries are sometimes natural gifts that either have been around since the character’s
                        childhood or emerge during their adventuring career, or they’re specific area that your
                        character has trained to develop.</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='7poYNSeXIbCj' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'7poYNSeXIbCj'"></app-bm-chapter-icon>
                    <p> In any case, unless stated otherwise, you may only take a Mastery once.</p>
                </div>
            </div>


            <div class="anchor">
                <div id="gernealmaster" class="anchorTag"></div>
                <h1>General Masteries</h1>
                <div class="underline"></div>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="anotichabovethe" class="anchorTag"></div>
                <h3>A NOTCH ABOVE the REST</h3>
                <h3> CrP: 30</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='eventainociothek' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'eventainociothek'"></app-bm-chapter-icon>
                <p> Even in a crowd of kings, this person would stick out. They often carry themselves with the perfect
                    blend of confidence and humility. Those with this Mastery max out their Honor at 30, instead of 25,
                    however, they gain the additional Honor Dice once they reach 25 and then again at 30, though going
                    above 25 doesn’t increase the size (in case you were wondering).</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcxafsXNGPfv" class="anchorTag"></div>
                <h3>ANTI-MAGICAL BLANK</h3>
                <h3> CrP: 30</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pHkAuCvCAGr' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pHkAuCvCAGr'"></app-bm-chapter-icon>
                <p> There’s just something about this character that refuses to give when spells are slung around her.
                    She increases the Drain of any spell that affects her by 3. Weird-Adept Archetypes are barred from taking
                    this Mastery.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7rmMviXyIOc" class="anchorTag"></div>
                <h3>BELOVED</h3>
                <h3> CrP: 20</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7gDlCbIxRCu' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7gDlCbIxRCu'"></app-bm-chapter-icon>
                <p> Some are just favored by the Divines, the teacher's pets of the celestial world. Increase your Max
                    Favor by 1.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcnulDTqgcfN" class="anchorTag"></div>
                <h3>ELDRITCH ADEPT</h3>
                <h3> CrP: 10</h3>
            </div>
            <div class='paragraphShell marginBottom anchor'>
                <div id='7pbOvJQVKUQx' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pbOvJQVKUQx'"></app-bm-chapter-icon>
                <p> While they don’t exactly revel in it, a person can adjust to the sickening waves that result from
                    spells. With this Mastery, this character gains 1 less Stress from weirdburn around them. Weird-Adepts
                    may also pick up this Mastery as well.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcxFmwhIONNG" class="anchorTag"></div>
                <h3>THAUMATURGE</h3>
                <h3> CrP: 20</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pVDvfyXyfmy' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pVDvfyXyfmy'"></app-bm-chapter-icon>
                <p> This character finds that certain Miracles are just easier to invoke than others. When you purchase
                    this Mastery, select a specific Miracle. Increase your Honor Dice one size when invoking that
                    specific Miracle. It still needs to follow the normal restrictions (so be sure to check with the GM
                    to make sure the Miracle falls within your Covenant).</p>
            </div>









            <div class="anchor">
                <div id="combatmaster" class="anchorTag"></div>
                <h1>Combat Masteries</h1>
                <div class="underline"></div>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcyfynvpUuuf" class="anchorTag"></div>
                <h3>ACUTE ALERTNESS</h3>
                <h3> CrP: 25</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pTyybYxwWuv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pTyybYxwWuv'"></app-bm-chapter-icon>
                <p> This a character can sometimes start acting before they even consciously know that something is
                    wrong, either through a natural survival instinct or years of training. This Mastery lowers the
                    Initiative Die of the character by 1 size.</p>
            </div>
            
            
            <div class="chartShell pairedShell anchor">
                <div id="7pcPsAibddGlZ" class="anchorTag"></div>
                <h3>BLIND FIGHTING</h3>
                <h3> CrP: 30</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pwrICHxKmpR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pwrICHxKmpR'"></app-bm-chapter-icon>
                <p> By relying on other senses, a character can somewhat make up for the loss of their sight. They
                    increase their attack and defense die by 1 size when in dim or dark lightning conditions. </p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcbMDtuWVXCH" class="anchorTag"></div>
                <h3>DASHER</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pATiJgHpkvG' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pATiJgHpkvG'"></app-bm-chapter-icon>
                <p> One might describe this character as having a certain spring in their step and they use it to get up
                    and going quicker than those around them. A person with this Mastery can increase their speed
                    category by 2, allowing them to move from a Walk to a Run in a single second, for example.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="deadeyetriat" class="anchorTag"></div>
                <h3>DEADEYE</h3>
                <h3> CrP: 25</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='deadeyejyoucan' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'deadeyejyoucan'"></app-bm-chapter-icon>
                <p> You can see the whites of your enemy’s eyes; you can also get a good sense of where their vital
                    organs are. When at -4 range or lower, add a d4! to your damage.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcrrvLJCYMzS" class="anchorTag"></div>
                <h3>DEADLY FLANKER</h3>
                <h3> CrP: 30</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pdPpYcFZbqQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pdPpYcFZbqQ'"></app-bm-chapter-icon>
                <p> You’ve trained yourself to seize openings when they flash by, jumping on every lapse in your
                    opponent’s judgement. When flanking from the side, you lower your target’s defense die by 1,
                    including the dice of those using shields (though they still get a chance to Parry). This
                    doesn’t, however, give you any benefit for attacking from directly behind.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcGmekfdgGBQ" class="anchorTag"></div>
                <h3>DECEITFUL MEASURE</h3>
                <h3> CrP: 20</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pdgcOqrmOed' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pdgcOqrmOed'"></app-bm-chapter-icon>
                <p> Carefully positioning and moving offline can give you the edge to strike first or keep your opponent
                    at bay. This Mastery increases the Measure of any weapon you wield by a 1/2 foot for determining who
                    hits first but not for whether a person can Engage or get In Your Guard.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pclWkFbeZGLd" class="anchorTag"></div>
                <h3>MARATHONER</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pVTCjbYIXjo' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pVTCjbYIXjo'"></app-bm-chapter-icon>
                <p> Through training and breathing techniques, this character can fight and sprint longer than others.
                    They receive a -1 to their Encumbrance.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='youcanbutythima' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'youcanbutythima'"></app-bm-chapter-icon>
                <p> You can buy this Mastery multiple times, but the price increases by 2 each time. So, the second
                    time, you gain a -2 for 17 CrP, the third -3 for 19, and so on.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pclhHDobLJuR" class="anchorTag"></div>
                <h3>FLEET FOOTED</h3>
                <h3> CrP: 25</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7puEpMLVxXSS' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7puEpMLVxXSS'"></app-bm-chapter-icon>
                <p> A fleet-footed character tends to win foot races as he just goes flat out faster than those around
                    him. His Running speed is increased by 2.5 feet / second and his Sprinting speed is increased by 5
                    feet / second.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pczitbLjimVo" class="anchorTag"></div>
                <h3>HEALTHY</h3>
                <h3> CrP: 20</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pXdBqLxDHuI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pXdBqLxDHuI'"></app-bm-chapter-icon>
                <p> Nothing can stop this juggernaut, especially not weapons. This Mastery gives the character a one
                    time, but permanent +1d8 to their Vitality. This dice is affected by the Min Vitality of that
                    character's Con.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcIzeuGZLrtu" class="anchorTag"></div>
                <h3>IMPROVED DEFENSE</h3>
                <h3> CrP: 25</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pKkQHrYTplj' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pKkQHrYTplj'"></app-bm-chapter-icon>
                <p> Through muscle training or by simply having a talent for placing their shield in the right place at
                    the right time, the character is able to move effectively parry blows that would otherwise land.
                    Each purchase of this Mastery allows the character to increase their defense dice by 1 size verses
                    one attacker up to their standard defense die. Each additional purchase doubles the cost of this
                    Mastery.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcItXtgCEHku" class="anchorTag"></div>
                <h3>IRON SIDES</h3>
                <h3> CrP: 35</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pXOlyNcSnKD' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pXOlyNcSnKD'"></app-bm-chapter-icon>
                <p> This is a nickname often given to these characters. Whether through ritual scarification or just
                    simply having thick skin, this character has a natural +1 DR.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcRgosWZtjCi" class="anchorTag"></div>
                <h3>QUICK HEALING</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pzdHEoxajxs' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pzdHEoxajxs'"></app-bm-chapter-icon>
                <p> Some people just bounce back from wounds that would have put others down for months. With this
                    Mastery, a character heals 1 day quicker for each level of wound severity. So, a 5 Severity Wound
                    would heal in 10 days ( 4 + 3 + 2 + 1 + 0) instead of 15 ( 5 + 4 + 3 + 2 + 1).</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="sharpshooter" class="anchorTag"></div>
                <h3>SHARPSHOOTER</h3>
                <h3> CrP: 35</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='carefulaimcangetyous' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'carefulaimcangetyous'"></app-bm-chapter-icon>
                <p> Careful aim can get you so far; sometimes, some people are just born with an eye for distance. The
                    penalties for long-ranged shots are lowered from 16 to 12, and from 32 to 24.</p>
            </div>
            
            <div class="anchor">
                <div id="skillmaster" class="anchorTag"></div>
                <h1>Skill Masteries</h1>
                <div class="underline"></div>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="diligentreseharhicoe" class="anchorTag"></div>
                <h3>DILIGENT RESEARCHER</h3>
                <h3> CrP: 10</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='thosethathiahvethrainedhite' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'thosethathiahvethrainedhite'"></app-bm-chapter-icon>
                <p> Those that have trained themselves to study, listen, and watch, can make more out of resources as
                    their fingers than others. When using an Asset, those with this Mastery half the Time Investment.
                </p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="easyoipoepr" class="anchorTag"></div>
                <h3>EASY OPERATOR</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='paragraphShell anchor marginBottom'>
                <div id='somepeopelcomeb' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'somepeopelcomeb'"></app-bm-chapter-icon>
                <p>There’s no need to worry when your character is around because they know what they’re doing. Gain a point of Relaxation for every point of Stress you buy down when you make a Skill Check.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7cdtRSZmJzJc" class="anchorTag"></div>
                <h3>GRACE UNDER PRESSURE</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='paragraphShell marginBottom anchor'>
                <div id='7pCgWLpDPNKr' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pCgWLpDPNKr'"></app-bm-chapter-icon>
                <p>Like turning coal into diamonds, some people can turn stress into grace. When making a Skill Check, if you don’t buy down any of the Stress you take, you gain 3 Honor.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcDzhSsNLZFA" class="anchorTag"></div>
                <h3>GROUNDED MIND</h3>
                <h3> CrP: 30</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pPvhcqlyivn' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pPvhcqlyivn'"></app-bm-chapter-icon>
                <p> Hobbies keep you grounded and can keep you from snapping annoying people’s necks when the pressure
                    is on. When recovering Stress through hobbies, this Mastery increases the amount they recover by 1.
                </p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcVjVtKqEPyA" class="anchorTag"></div>
                <h3>KNACK</h3>
                <h3> CrP: 10</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='7plGsvFfZTvO' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7plGsvFfZTvO'"></app-bm-chapter-icon>
                <p> Sometimes people have a gift for certain things. When buying this Mastery, the character selects a
                    Skill Suite. They get one free reroll per session for this Skill Suite or any of its Advanced
                    Skills. This can be for a Skill Check or it can be for any Leverage you brought in because of that
                    Skill.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pApbLUfeoJe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pApbLUfeoJe'"></app-bm-chapter-icon>
                <p> They can buy Knack multiple times, selecting the same or different Skill Suite, however each
                    purchase
                    costs 10 CrP more each time.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="multitaksergjiof" class="anchorTag"></div>
                <h3>MULTITASKER</h3>
                <h3> CrP: 25</h3>
            </div>
            <div class='paragraphShell marginBottom anchor'>
                <div id='somepeoplecankeepethier' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'somepeoplecankeepethier'"></app-bm-chapter-icon>
                <p> Some people can keep their minds in two places. When Multitasking, those with this Mastery gain an
                    extra d4! to one of their Skill Checks.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="oldfirenddjio" class="anchorTag"></div>
                <h3>OLD FRIEND</h3>
                <h3> CrP: 15*</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='youcharacjioter' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'youcharacjioter'"></app-bm-chapter-icon>
                <p> Your character didn’t start in a vacuum and he’s got resources he can draw on when he needs a
                    helping hand. When you purchase this Mastery, you gain an Asset; it can actually be a friend but it
                    can also be a membership to a club, a parent with a library, or whatever else you can think of. The
                    Time Investment starts at 2 Hours and their Rank in a Skill of your choosing starts at 5.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='plajicojifoejwiiofe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'plajicojifoejwiiofe'"></app-bm-chapter-icon>
                <p> Players subtract their Charisma from the price and don’t have to redeem it right away, however, once
                    redeemed (and defined), however, it can’t be changed.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='thismastejrjiocan' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'thismastejrjiocan'"></app-bm-chapter-icon>
                <p> This Mastery can be bought multiple times, each time gaining a new Asset they can use, but each
                    purchase adds 5 to the price.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcGuTJxjIlrq" class="anchorTag"></div>
                <h3>POLYGLOT</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pLJVkEYaIQv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pLJVkEYaIQv'"></app-bm-chapter-icon>
                <p> This character has the gift of gab and can pick up on other languages quicker than most, learning
                    the nuances of phrases and meanings. Any language that the polyglot gains Rank 4 or above in is
                    considered a native tongue for her.</p>
            </div>

            <div class="chartShell pairedShell anchor">
                <div id="realhelepermaster" class="anchorTag"></div>
                <h3>REAL HELPER</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='whentimesgettought' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'whentimesgettought'"></app-bm-chapter-icon>
                <p> When times get tough, sometimes the tough get helping. Those with this Mastery give others an
                    additional +3 when someone else uses Preparation that they made. This is in addition to the other
                    benefits of Preparation.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="shortsleppoerijojfe" class="anchorTag"></div>
                <h3>SHORT SLEEPER</h3>
                <h3> CrP: 35</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='someweirdodontneend' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'someweirdodontneend'"></app-bm-chapter-icon>
                <p> Some weirdos don’t need to sleep as much as the rest of us. What they do with that time will forever
                    remain a mystery but we can assume it’s nothing good. That’s people with this Mastery, who half
                    each threshold when it comes to Long-Term Exhaustion from sleep.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="survilajtraila" class="anchorTag"></div>
                <h3>SURVIVAL TRAINING</h3>
                <h3> CrP: 20</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='whileiotheirohesio' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'whileiotheirohesio'"></app-bm-chapter-icon>
                <p> While others suffer from lack of sleep or water, this character keeps going. When you buy this
                    Mastery you must select Food, or Water. For Long-Term Exhaustion, you half each threshold, allowing
                    you to survive (and indulge) yourself on less.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='soifyouselecfjioef' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'soifyouselecfjioef'"></app-bm-chapter-icon>
                <p> So, if you selected Food, you can Indulge on 2.5 lbs of food, go on Maintenance on 1.5 lbs, and
                    suffer from Deprivation under .5 lb.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='youcanbutithiosmaster' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'youcanbutithiosmaster'"></app-bm-chapter-icon>
                <p> You can buy this Mastery twice, the first for the base price, the second time for 35 CrP. The second
                    time you purchase it, you get the other option so you can’t pick the same thing the second time,
                    sorry.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="7pcHJneVkjOHK" class="anchorTag"></div>
                <h3>THIEVES CANT</h3>
                <h3> CrP: 35</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='7pxGUDgDXPaR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pxGUDgDXPaR'"></app-bm-chapter-icon>
                <p> Much like Eardstapa, Thieves Cant is an ad hoc language used for members of the many trades, but
                    instead of marks, they use clothing and turns of phrase to communicate their intentions to others.
                    Thieves Cant gives the ability to say things without saying them.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pOizcxNJjOQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pOizcxNJjOQ'"></app-bm-chapter-icon>
                <p> Thieves Cant is based on call and response, with confirmation and steps. The examples below are
                    taken from the I Duchi Selvaggi version of the Cant, which is the most common and from which other
                    Cants draw their lineage from.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pIaZSeIhqAU' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pIaZSeIhqAU'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>LAY OF THE LAND</strong> This is before contact is made. The agent is
                    looking for an initial contact. He’s look specifically for two of something; two rings, two scarves,
                    two knives, etc.. The place the twins are in signifies what line of work the person is in. </p>
            </div>
            <div class="chartShell">
                <div>Left Ear</div>
                <div>Counterfeiting</div>
            </div>
            <div class="chartShell">
                <div>Right Ear</div>
                <div>Con Artist</div>
            </div>
            <div class="chartShell">
                <div>Neck</div>
                <div>Assassination</div>
            </div>
            <div class="chartShell">
                <div>Right Bicep</div>
                <div>Smuggling</div>
            </div>
            <div class="chartShell">
                <div>Right Wrist</div>
                <div>Intimidation</div>
            </div>
            <div class="chartShell">
                <div>Left Wrist</div>
                <div>Fence</div>
            </div>
            <div class="chartShell">
                <div>Stocking</div>
                <div>Espionage</div>
            </div>
            <div class="chartShell">
                <div>Left Thumb & Pink</div>
                <div>Interrogation</div>
            </div>
            <div class="chartShell">
                <div>Left Index</div>
                <div>Trapfinding</div>
            </div>
            <div class="chartShell">
                <div>Left Middle Finger</div>
                <div>Security</div>
            </div>
            <div class="chartShell">
                <div>Left Pinky</div>
                <div>Kidnapping</div>
            </div>
            <div class="chartShell">
                <div>Right Index</div>
                <div>Theft</div>
            </div>
            <div class="chartShell">
                <div>Right Middle</div>
                <div>Forgery</div>
            </div>
            <div class="chartShell">
                <div>Right Ring Finger</div>
                <div>Recon</div>
            </div>
            <div class="marginBottom chartShell">
                <div>Right Index & Pink</div>
                <div>Burglary</div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='7pEhEnuXRuQB' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pEhEnuXRuQB'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>APPROACH & CONFIRMATION</strong> Now, because it’s entirely possible
                    that someone wears two necklaces or two rings on their right index finger, the agent has to do an
                    approach. This is usually a code phrase disguised as an innocuous sentence followed by an innocuous
                    reply.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pOYtmpjshHY' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pOYtmpjshHY'"></app-bm-chapter-icon>
                <p> The key here is that often the two professionals don’t know who the other is, so an overtly familiar
                    greeting from a strange is usually a giveaway they’re a master of the many trades.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='7pUyHgbAtJkO' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pUyHgbAtJkO'"></app-bm-chapter-icon>
                <p> The most common use of Thieves Cant is gathering information. In this case, after the confirmation
                    they ask if you’d like to play cards.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='7pITUDhQRzPa' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pITUDhQRzPa'"></app-bm-chapter-icon>
                <p> The new thief then pays money into the pot for each card played, paying for the information he’s
                    getting, as he asked about the other’s estates, friends, and family.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='7pXOYizLuCwL' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pXOYizLuCwL'"></app-bm-chapter-icon>
                <p> Hearts is safe, meaning he’s a friend and can be trusted, Diamond means you asked about a good mark,
                    Clubs is heavily guard, and Spades means the person in question is looking for work.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pGItoqCvzXC' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pGItoqCvzXC'"></app-bm-chapter-icon>
                <p> The dealer may also talk about people, places, or things; the card he deals when he brings them up
                    applying to them.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pFlYcwjIVHR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pFlYcwjIVHR'"></app-bm-chapter-icon>
                <p> Here’s some common Cant phrases:</p>
            </div>
            <div class="chartShell">
                <div>"You settled down yet?"</div>
                <div>Are you working with a guild or are you solo?</div>
            </div>
            <div class="chartShell">
                <div>"How's your mother's health?"</div>
                <div>How difficult is the job?</div>
            </div>
            <div class="chartShell">
                <div>"I think that tower's at least 14 spans high"</div>
                <div>You'll give me 14 sc for the job</div>
            </div>
            <div class="chartShell">
                <div>"No, you're crazy, I'm sure it's only 10"</div>
                <div>No, I won't. You'll get 10</div>
            </div>
            <div class="chartShell">
                <div>"Aren't you a sight for sore eyes"</div>
                <div>Hide me</div>
            </div>
            <div class="marginBottom chartShell">
                <div>"Haven't seen you in a while"</div>
                <div>Lay low</div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='7pHPISppnwgm' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'7pHPISppnwgm'"></app-bm-chapter-icon>
                <p> This should be roleplayed out, with the player with Thieves Cant getting a Wisdom check to clarify
                    anything that didn’t quite come through.</p>
            </div>




            <div class="anchor">
                <div id="ocialmaster" class="anchorTag"></div>
                <h1>Social Masteries</h1>
                <div class="underline"></div>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="animalmagnatisitmheader" class="anchorTag"></div>
                <h3>ANIMAL MAGNETISM</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='somepeopellhavethatinner' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'somepeopellhavethatinner'"></app-bm-chapter-icon>
                <p> Some people have that inner force that comes with total confidence, allowing them to quickly put
                    others on the back foot. In a Conflict, if you have higher Honor than your opponent, you
                    automatically gain a point.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="cronymasteryheader" class="anchorTag"></div>
                <h3>CRONY</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='somepeopledontlike' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'somepeopledontlike'"></app-bm-chapter-icon>
                <p> Some people don't like the spotlight and are happy to help others. During a Conflict, if you rolled
                    the least amount of dice in a round and your side still won the Appeal, you gain 1 Honor.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="goalorientedmasteryheader" class="anchorTag"></div>
                <h3>GOAL ORIENTED</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='Whereothersaredirecetinybe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'Whereothersaredirecetinybe'"></app-bm-chapter-icon>
                <p> Where others are directed by their goals, this person directs them. If they have a Goal that relates
                    to the Conflict, you gain 1 point for each Goal.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="goalsynergymasteryheader" class="anchorTag"></div>
                <h3>GOAL SYNERGY</h3>
                <h3> CrP: 15</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='goalsworkingtogetherisabea' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'goalsworkingtogetherisabea'"></app-bm-chapter-icon>
                <p> Goals working together is a beautiful thing and makes you more sure of your path. Reduce the
                    Repercussion dice by 1 size per Goal that applies to the Conflict. If it would reduce it below a
                    d3!, you’re automatically considered to have rolled a 1 on your Repercussions though this effect
                    doesn’t stack.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="idoitnewfjiofew" class="anchorTag"></div>
                <h3>IDIOSYNCRATIC</h3>
                <h3> CrP: 20</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='someppeopledontisee' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'someppeopledontisee'"></app-bm-chapter-icon>
                <p> Some people don’t see the point of going against what they see as their true nature. A person with
                    this Mastery gains an automatic +5 to their roll whenever they make an Appeal with a Flaw.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="never mindforgetit" class="anchorTag"></div>
                <h3>NEVER MIND, FORGET IT</h3>
                <h3> CrP: 30</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='somethinogyouknowyourebeatin' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'somethinogyouknowyourebeatin'"></app-bm-chapter-icon>
                <p> Sometimes you know you’re beaten and the only solution is to get out of there with at least some of
                    your dignity intact. When you lose a Conflict, either by Folding or just simply backing out, you
                    only lose half the Honor (rounded down) or gain half the Stress you otherwise would have.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="renaissancemanheader" class="anchorTag"></div>
                <h3>RENAISSANCE MAN</h3>
                <h3> CrP: 10</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='atruerenanismanisamnaor' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'atruerenanismanisamnaor'"></app-bm-chapter-icon>
                <p> A true Renaissance man is a man (or woman) of many and powerful interests and they know how to use
                    them to charm others. When you purchase this Mastery, designate a Passion; you can use it twice in a
                    Conflict.</p>
            </div>
            <div class="chartShell pairedShell anchor">
                <div id="strongopenerioj" class="anchorTag"></div>
                <h3>STRONG OPENER</h3>
                <h3> CrP: 25</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='agoodopeningsalvore' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'agoodopeningsalvore'"></app-bm-chapter-icon>
                <p> A good opening salvo can really put you ahead and this character has a sense for it. If you beat
                    (but not tie) your opponent in the first round, you gain 2 points.</p>
            </div>
            <!-- Start Here -->
        </div>

        <div class="sideShell">
            <app-quick-nav [side]='side'></app-quick-nav>
        </div>

        <h1 class="chapterTitle">Masteries</h1>
    </div>
</div>