.thievesCant {
    width: 100%;
}

.thievesCant:last-child {
    text-align: right;
}

.rankexamplevalue {
    margin: 5px 0;
    width: 50px
  }
  
  .rankexampleTable {
    width: 250px;
    margin: 0px 10px 10px 0;
    float: left
  }
  
  .tierpricevalue {
    margin: 5px 0;
    width: 75px
  }
  
  .tierpriceTable {
    width: 225px;
    margin: 0px 10px 10px 0;
    float: left
  }
  
  .armorMarginBottom {
    margin-bottom: 15px;
  }

  .rangedbreakdownvalue {
    min-width: 85px;
  }
  
  .tableValue {
    padding: 0;
  }
  
  .tableValue .rangedbreakdownvalue:first-child {
    background: #222;
    min-width: 75px;
    height: 24px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .sideheading {
    color: whitesmoke;
  }
  
  @media (max-width: 580px) {
    .rankexampleTable, .tierpriceTable{
        float: none;
        margin: 5px auto 0 auto;
    }
}