<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='marginBottom paragraphShell anchor'>
                <div id='6p1' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6p1'"></app-bm-chapter-icon>
                <p> The purpose of this chapter is to condense all the rules for calculating things about your character so that it
                    can keep the other chapters to just rules you’ll need at the spur of the moment during gameplay. To this end,
                    these rules are missing why they’re important and what you’ll actually use them for but they do reference the
                    chapter where more is to be found. </p>
            </div>
            <div class="anchor">
                <div id="6hPwGysmEcvV" class="anchorTag"></div>
                <h1>HONOR</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pjTNSGlUSYV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pjTNSGlUSYV'"></app-bm-chapter-icon>
                <p> Honor is a measure how not only how a person measures their own integrity but also how other people see them.
                    Honor isn’t about doing the common sense thing; it’s about doing the heroic thing. People who run from a fight,
                    even when outnumbered, lose Honor. People who let others talk bad about them and don’t get even lose Honor.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pSHkyiIfErh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pSHkyiIfErh'"></app-bm-chapter-icon>
                <p> The question of Honor isn’t a question of good and evil; many evil men have been honorable. It’s more about
                    living up to the ideals of your culture and being true to your inner self.</p>
            </div>
            <div class='anchor'>
                <div id='6hgNCVSVWFXeu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgNCVSVWFXeu'"></app-bm-chapter-icon>
                <h3>BONUS CrP</h3>
            </div>
            <div class='tableOverflowWindow BonusHonorTable'>
                <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
                    <h1 class='tableTitle'>Bonus Honor</h1>
                    <div class='tableHeaders'>
                        <div class='tableRow'>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Honor Of Last Character</p>
                                <p class='BonusHonorvalue TableIndividual'>Bonus Crp</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Too Much Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>25</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Great Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>50</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>High Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>35</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Average Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>25</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Low Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>10</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Dishonor</p>
                                <p class='BonusHonorvalue TableIndividual'>0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pdDlGDRHfFK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pdDlGDRHfFK'"></app-bm-chapter-icon>
                <p> If this is your first Bonfire character in a campaign, you receive a bonus 25 CrPs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6poYyseSgUGi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6poYyseSgUGi'"></app-bm-chapter-icon>
                <p> If you’re here because you’ve had a character die, this bonus CrP is based on the Honor category your character
                    was in when they died.</p>
            </div>
            <div class='anchor'>
                <div id='6hgbvTTNJDlHZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgbvTTNJDlHZ'"></app-bm-chapter-icon>
                <h3>STARTING HONOR</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pDVhsfqrIzj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pDVhsfqrIzj'"></app-bm-chapter-icon>
                <p> The Honor category in which you start is determined by your “Start Honor”, listed under your Charisma.</p>
            </div>
            <div class='anchor'>
                <div id='6hgeBtcDTzFiL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgeBtcDTzFiL'"></app-bm-chapter-icon>
                <h3>CHANGING HONOR CATEGORY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pIISXUQszBo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pIISXUQszBo'"></app-bm-chapter-icon>
                <p> At the end of each session, each player awards or docks points, with the approval of the GM to each other player
                    for their character based on the following categories. If a character’s total is higher than their current
                    level, they move up one category. If their total is negative at all, they move down one.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pAclykzlbDv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pAclykzlbDv'"></app-bm-chapter-icon>
                <p> The GM also reserves the right to drop you additional Honor categories at the end of session if she feels like
                    that you’re abusing the Honor system. For instance, knowing that you’re already going to drop an Honor
                    Categories so you decided to go ahead with Plan G: Genocide the peaceful elf village.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pdYOaLnmflx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pdYOaLnmflx'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>MASTERY</strong> A character who can hold their own and be creative in a tight spot
                    is an honorable one. Leveraging others and their knowledge in a unique way gains the esteem of their colleges.
                    Honor earned this way must be from a creative use of a skill and not the roll itself. Simply succeeding a check
                    is no indication of mastery but reapplying a skill to work is.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pCkCZgWGFnG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pCkCZgWGFnG'"></app-bm-chapter-icon>
                <p> A character can gain Honor for mastery of a skill but using it in a way that makes sense but it’s covered or
                    even hinted at by the rules.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6piofquRUZIH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6piofquRUZIH'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>COURAGE</strong> When the chips are down, does this character run? Courage is a
                    universally applauded trait. Characters who put their lives at risk and take the dare gain Honor. Those that
                    back down are docked Honor.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6plPfrXVCzrO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6plPfrXVCzrO'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>STRENGTH</strong> This category is unique and should be considered from the
                    perspective of the culture that that the character is in. The Oedinkin respect cunning and being able to outwit
                    your opponent, where the men of Iberese respect displays of wealth and generosity.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pPQCkIBdYkV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pPQCkIBdYkV'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>GOALS</strong> Completing Goals give a character standing as they become known as
                    someone that can get stuff done. You gain 1 Honor for each benchmark you complete or help complete during the
                    session, with an additional bonus of 5 for the completion of a Short Term Goal, 10 for a Medium Term Goal, and
                    jumping to the bottom of the next highest Honor Category for the completion of a Long Term Goal.</p>
            </div>
            <div class='anchor'>
                <div id='6hgDyUyoZBWAw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgDyUyoZBWAw'"></app-bm-chapter-icon>
                <h3>HONOR CATEGORIES & BONUSES</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pRWOgYhgTDR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pRWOgYhgTDR'"></app-bm-chapter-icon>
                <p> Honor has its benefits. Confidence allows you to push yourself a little bit more than you otherwise would.
                    Compare your character’s Honor against the following chart to determine which category they fall under and what
                    bonuses they receive.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pGbnzhMVOcQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pGbnzhMVOcQ'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>DISHONOR</strong> The lowest category, this person is unsure that they have what it
                    takes to be a hero and so every decision is laced with hesitation and uncertainty.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pVcWCmfjnet' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pVcWCmfjnet'"></app-bm-chapter-icon>
                <p> A character in this category takes a -1 penalty to each dice he rolls.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pgQiyAXwugP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pgQiyAXwugP'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>LOW HONOR</strong> This character hasn’t really proved anything, one way or another.
                    Others and herself are waiting for her to make her mark on the world.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pcugPFXBrAs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pcugPFXBrAs'"></app-bm-chapter-icon>
                <p> Being in Low Honor gives you a d4! Honor Dice.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pDdqBJMgSwI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pDdqBJMgSwI'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>AVERAGE HONOR</strong> Having reached this category, the character has shown that
                    they have potential and some follow through.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pakcasDtBzu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pakcasDtBzu'"></app-bm-chapter-icon>
                <p> Being in Average Honor gives you a d8! Honor Dice and 1 free reroll.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pgmnhsnueEq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pgmnhsnueEq'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>HIGH HONOR</strong> She has now separated herself from the common rabble and can
                    stand a head above the crowd.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pbgzXXsajUQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pbgzXXsajUQ'"></app-bm-chapter-icon>
                <p> Being in High Honor gives you a d12! Honor Dice and 2 free reroll.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pWrqtvQtkMG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pWrqtvQtkMG'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>GREAT HONOR</strong> This rare sliver represents those who can perfectly balance
                    being ahead of others but not so much so that they invoke the ire of those below them as well as being confident
                    while not being cocky.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pscnINiVPqn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pscnINiVPqn'"></app-bm-chapter-icon>
                <p> A character in this category gains a +1 to every dice roll they make for the rest of the session. Additionally,
                    they gain a d20! + d4! for their Honor Dice and 3 free rerolls.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pPyssHsnfai' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pPyssHsnfai'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>TOO MUCH HONOR</strong> There’s a certain point where people get too big for their
                    britches. When this happen, people tend to go out of their way to take a chunk out of them. They’re labelled
                    smart asses or show offs. This people also tend to be overconfident and get themselves into bad situations
                    because of it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pPXSfAiHAeH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pPXSfAiHAeH'"></app-bm-chapter-icon>
                <p> Being Too Much Honor gives you a d20! Honor Dice and 1 free reroll.</p>
            </div>
            <div class='anchor'>
                <div id='6hgmskMjEXzPU' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgmskMjEXzPU'"></app-bm-chapter-icon>
                <h3>REDEEMING YOUR BONUSES</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvMzaIjpZoF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pvMzaIjpZoF'"></app-bm-chapter-icon>
                <p> There are 3 bonuses you gain from having Honor:</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6plLsenmOihJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6plLsenmOihJ'"></app-bm-chapter-icon>
                <p> The first is your <strong class='orangeHeader'>Honor Dice</strong> . When redeemed, a roll of the Honor Dice can
                    be added (or subtracted) at anytime to another roll (such as damage, or attack), temporarily to a static stat
                    (such as Health or DR), or a dice pool (such as a Conflict). Adding it to a ‘nat 1’ on a defense, negates a
                    fumble. </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pKUJYFqdmyG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pKUJYFqdmyG'"></app-bm-chapter-icon>
                <p> While Honor Dice can only be used once per session, you can also split it up. So, if you have a d10! Honor Dice,
                    you can instead roll a d2 and have a d8! left over, which you can later roll as a d8! or a d2 and a d6! or a d3!
                    and a d4!, or any combination, as long as the total sides adds up to less than the highest side of the original
                    Dice. </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pjeFfTWMzYC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pjeFfTWMzYC'"></app-bm-chapter-icon>
                <p> The second is your <strong class='orangeHeader'>free reroll</strong> , the number of which is determined by your
                    Honor category. You may use a reroll after you’ve made the roll and done your totals but not after you hear the
                    result of the total. So, a character can reroll their defense, after realizing it only totalled to 5, but not
                    after he hears that his attack actually misses because of that total. Additionally, rerolls can be used for
                    rolls the GM has made, however they can’t be used to reroll Honor Dice.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pXASXDrcnzP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pXASXDrcnzP'"></app-bm-chapter-icon>
                <p> The last is a <strong class='orangeHeader'>Divine Intervention</strong> . The Divines look favorably on the
                    Honorable and are willing to alter fate to save a favorite. You can redeem this bonus to half or quarter the
                    amount of damage you take from a single blow.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pJZQPylpsaL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pJZQPylpsaL'"></app-bm-chapter-icon>
                <p> Redeeming your Honor Dice and free reroll(s) can be done at anytime but using Divine Intervention drops you 1
                    category for halving the damage or 2 for quartering it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pGSYhXBLKTc' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pGSYhXBLKTc'"></app-bm-chapter-icon>
                <p> If you run out of rerolls and are in a bad way, you may drop an Honor Category for an additional one, down to
                    the Dishonorable Category.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pKAJnqFWnAO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pKAJnqFWnAO'"></app-bm-chapter-icon>
                <p> The bonus/penalty afforded by Great Honor or Dishonor is automatically redeemed at the beginning of the session
                    and doesn’t drop you a category at all.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pPgfFUPBnVp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pPgfFUPBnVp'"></app-bm-chapter-icon>
                <p> However, if you’re not in Dishonor and you take its penalty onto you willingly at the beginning of the session,
                    you double all Honor gained at the end.</p>
            </div>
            <div class='anchor'>
                <div id='6hgoGqxwxcBtQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgoGqxwxcBtQ'"></app-bm-chapter-icon>
                <h3>GAINING & LOSING FAME</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6ptNsnMJZhUO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6ptNsnMJZhUO'"></app-bm-chapter-icon>
                <p> You gain Fame by doing things. This is primarily from completing Goals and Benchmarks but it can be from
                    completing quests and simply bragging about your exploits in the local tavern.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pJbidDiCcgI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pJbidDiCcgI'"></app-bm-chapter-icon>
                <p> The reason that Goals gain you more Fame than if you were just running around doing random fetch quests is
                    because completing Goals creates a story that people want to talk about. Sure, they can talk about you slaying
                    that dragon, but if it’s also the dragon that kidnapped your sister, that’s much more compelling and worth
                    gossiping about at the local watering hole.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pwIHbWZDUbA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pwIHbWZDUbA'"></app-bm-chapter-icon>
                <p> You lose Fame by not doing things. Every month your character doesn’t do anything new, people talk about her
                    less and less. They lose 1 point of Fame for every month they don’t complete at least 1 Benchmark.</p>
            </div>
            <div class='anchor'>
                <div id='6hgkLmpnpLtOJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgkLmpnpLtOJ'"></app-bm-chapter-icon>
                <h3>FAME & HONOR</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pnHGANPLuOb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pnHGANPLuOb'"></app-bm-chapter-icon>
                <p> Honor and Fame have a close tie as the more people talk about you, the more your reputation, whether good or
                    ill, gets around.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pukdTjcjvrv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pukdTjcjvrv'"></app-bm-chapter-icon>
                <p> At the end of each session, for every 10 points of Fame a character has, they gain an additional Honor point,
                    but this is only added at the end of the session if they don’t end with a negative Honor pool. So, a character
                    with 70 Fame that ends with -3 Honor, drops an Honor Category at the end of the session. </p>
            </div>
            <div class="anchor">
                <div id="6hVaMVlhABdG" class="anchorTag"></div>
                <h1>FATIGUE</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pohNemqfzBG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pohNemqfzBG'"></app-bm-chapter-icon>
                <p> Doing things is tiring, obviously. Fatigue represents a character slowly running out of energy. Things become
                    harder and jobs are done sloppier.</p>
            </div>
            <div class='anchor'>
                <div id='6hgkSZjeqqlKc' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgkSZjeqqlKc'"></app-bm-chapter-icon>
                <h3>CALCULATING FATIGUE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6plNEfiwMLVu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6plNEfiwMLVu'"></app-bm-chapter-icon>
                <p> For your base Fatigue, add the Fatigue Adjustment from your Con and Wis. Later, Encumbrance and your choice in
                    shield and armor will also modify your base Fatigue so keep an eye for that. If you’re not wearing armor or
                    using a shield, you instead gain a -2 for each one of those you’re missing. This is your Starting Fatigue.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pzIzmeQFrkO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pzIzmeQFrkO'"></app-bm-chapter-icon>
                <p> A lower score is good.</p>
            </div>
            <div class='anchor'>
                <div id='6hgKLFDcitTVx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgKLFDcitTVx'"></app-bm-chapter-icon>
                <h3>EFFECTS of FATIGUE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pWKTyurdixF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pWKTyurdixF'"></app-bm-chapter-icon>
                <p> As you do things, you’ll gain more Fatigue. Every time you roll under your Fatigue on Fatigue checks (like those
                    made while running or trying to stay up late) or on any Defense roll, your Fatigue increase by 1. You receive a
                    penalty to Attack, Damage, and the Difficulties of your Skill Checks for physical Skills (those with Str, Dex,
                    or Con as Abilities) or a flat penalty to your Skill roll for academic skills (those with Int, Wis, or Cha as
                    Abilities) equal to your Fatigue and an increase in your Channeling time if you're a Wizard or Mage, though you
                    never gain a bonus from having a negative score - you just don't get winded as quickly. </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pZfwcTvGDJy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pZfwcTvGDJy'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>NEGATIVE FATIGUE</strong> A character with a negative Fatigue always gains Fatigue
                    on a roll of a natural 1 on their defense and Fatigue checks. </p>
            </div>
            <div class='anchor'>
                <div id='6hgOSwjEeMsCm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgOSwjEeMsCm'"></app-bm-chapter-icon>
                <h3>RECOVERING FATIGUE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6ptLcemYeUQK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6ptLcemYeUQK'"></app-bm-chapter-icon>
                <p> After separating himself from the situation that caused him to Fatigue, a character halfs his Fatigue Level if
                    given an hour of rest, however, that’s as far down as he can drop it that day. If he gains Fatigue later that
                    day and then rests, that rest only gets rid of half the Fatigue he gains since his previous rest.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pSKCOPqLXcg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pSKCOPqLXcg'"></app-bm-chapter-icon>
                <p> Rest doesn’t lower Fatigue caused by Wounds, only healing helps with that.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvCScrIUQSn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pvCScrIUQSn'"></app-bm-chapter-icon>
                <p> So, a character with -2 Starting Fatigue who gains 8 Fatigue in combat from just running around and 2 from
                    Wounds has a total of 8 Fatigue. He then gets a rest, which drops his Fatigue to 5 ( (6 / 2) + 2 ). If he then
                    gets into a race and gains another 3 Fatigue, resting after will drop him to 7 from 8 ( 5 from his Wounds and
                    previous Fatigue + ( 3 / 2 ) ) Fatigue. </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pCaYgixVapi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pCaYgixVapi'"></app-bm-chapter-icon>
                <p> Assuming he’s gotten an adequate amount of sleep, he’ll return to his Starting Fatigue plus any Wounds he has
                    left to heal. Taking from the above example, our character, after a good night sleep (assuming the day's healing
                    hasn't dropped him a Wound Category) will have a Fatigue of 0, giving him no penalties, but not returning him to
                    his Starting Fatigue of 0. </p>
            </div>
            <div class="anchor">
                <div id="6hscFsXKKFIO" class="anchorTag"></div>
                <h1>HEALTH</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pQGSHRNSNgR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pQGSHRNSNgR'"></app-bm-chapter-icon>
                <p> Where Fatigue is a measure of how tired you are, your character’s Health is a measure of how close to dying they
                    are.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pOqKqhmCieM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pOqKqhmCieM'"></app-bm-chapter-icon>
                <p> Health is divided into 5 categories, representing what percentage of damage a character has taken to their
                    Health:</p>
            </div>
            <div class="chartShell">
                <div>UNHARMED</div>
                <div>0%</div>
            </div>
            <div class="chartShell">
                <div>HURT</div>
                <div>>1%</div>
            </div>
            <div class="chartShell">
                <div>BLOODY</div>
                <div>>25%</div>
            </div>
            <div class="chartShell">
                <div>WOUNDED</div>
                <div>>50%</div>
            </div>
            <div class="chartShell">
                <div>DYING</div>
                <div>>75%</div>
            </div>
            <div class="marginBottom chartShell">
                <div>BLEEDING OUT</div>
                <div>>100%</div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pOVgxDBAgfs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pOVgxDBAgfs'"></app-bm-chapter-icon>
                <p> To calculate how much Health you have for each category, add a roll of your Primary Archetype’s Health Die to
                    your Constitution + their Health Size Modifier. That’s your total. Divide that by 4. If you have a remainder,
                    alternate between rounding down on every category except the Dying category.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6poPxLRgfLiR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6poPxLRgfLiR'"></app-bm-chapter-icon>
                <p> So, if you’re a Human with and your Health Die is a d10 and you roll a 7 with a Constitution of 12, you have 29
                    Health. You’re Hurt at 28, Bloody at 22, Wounded at 15, and Dying 8.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pswjBIysyzh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pswjBIysyzh'"></app-bm-chapter-icon>
                <p> Record your Health Die roll on your character sheet. </p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Wound Category Exception</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='6pUFCPPaSyOC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pUFCPPaSyOC'"></app-bm-chapter-icon>
                    <p> Just as an aside - going from Unharmed to Bloody doesn’t count as changing a Wound Category for purposes of
                        triggering a Trauma check.</p>
                </div>
            </div>
            <div class='anchor'>
                <div id='6hgsDsSgINrBx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6hgsDsSgINrBx'"></app-bm-chapter-icon>
                <h3>HEALING</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pdwYXwsGUSb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pdwYXwsGUSb'"></app-bm-chapter-icon>
                <p> Combat is dangerous. Even if you survive, you could end up with wounds that you carry with you for months on
                    end.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvQVijcSdBv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pvQVijcSdBv'"></app-bm-chapter-icon>
                <p> Each time damage is done, it is tracked in a new wound.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pKEjpuVqKnE' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pKEjpuVqKnE'"></app-bm-chapter-icon>
                <p> Wounds heals at a slow rate. Each point takes a number of days equal to the damage done to heal it 1 point.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pXHMxILRMJe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pXHMxILRMJe'"></app-bm-chapter-icon>
                <p> So, a 5 point wound takes 5 days to become a 4 point wound, which takes 4 days to becomes a 3 point wound, and
                    so on. That means it takes 15 days to completely heal ( 5 + 4 + 3 + 2 + 1).</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pLtrdwlzdtP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pLtrdwlzdtP'"></app-bm-chapter-icon>
                <p> Thankfully, each wound heals simultaneously. So, if you have 3 separate 4 point wounds, you’ll be completely
                    healed by day 10.</p>
            </div>
            <div class="anchor">
                <div id="6heEYhImWZRu" class="anchorTag"></div>
                <h1>STRESS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pAzNIWhSleC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pAzNIWhSleC'"></app-bm-chapter-icon>
                <p> Working under pressure can get to you. When your crew mates are relying on you to pull out a win, it can mess
                    with your head. Your character can become stressed under these circumstances and stress can later manifest in
                    odd behaviors.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6poqRHoMbPiY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6poqRHoMbPiY'"></app-bm-chapter-icon>
                <p> Characters can gain Stress in two ways: the first is by suppressing their nature. Stress is given out when
                    players don’t roleplay their Flaws, especially when not playing them gives them a huge benefit.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pNPabKAbwwp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pNPabKAbwwp'"></app-bm-chapter-icon>
                <p> The second way is to take Stress on upon yourself. Why would you do this? Because by forcing your character to
                    hyper-focus on what he’s doing, he can pull out a win, but the Stress will get to him.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pSJaUXQzaby' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pSJaUXQzaby'"></app-bm-chapter-icon>
                <p> Characters who stress about a skill check automatically succeed, however, they take 1 point of Stress for every
                    point they would have otherwise failed by. Even if they do succeed, they still gain at least 1 Stress.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pHfoXlQVUSl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pHfoXlQVUSl'"></app-bm-chapter-icon>
                <p> However, it gets a bit trickier when it comes to opposed checks. In this case, it becomes a bit like gamble.
                    Each player may add an additional die to their Skill Check up to the size of the skill difficulty dice they're rolling.
                    Regardless of whether or not they beat their opponent, you gain Stress equal to the bonus die's result.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pbuqlmDMzsp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pbuqlmDMzsp'"></app-bm-chapter-icon>
                <p> For example, you're sneaking by a guard. You've prepared so you get to roll a d10 vs the guard's d8 to see if you can slip past him.
                    It's a pretty important roll so you decided to Stress about it. You could add up to a d10 but you're pretty confident in yourself so 
                    you decided to just go with a d6. You get a 2 on the d10 and a 4 on the d6. The guard rolls a 7, meaning he spots you and you gain 4 Stress from the encounter.
                </p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pkMcIiwuLQo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pkMcIiwuLQo'"></app-bm-chapter-icon>
                <p> Rolling over 20 - 1 for every 10 full points of Stress you have on any skill check gives you a temporary Flaw,
                    as your character starts to crack. This can happen whether or not the skill check succeeds or fails.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6poPxElbesDC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6poPxElbesDC'"></app-bm-chapter-icon>
                <p> When this happens, you roll on the Mental or Behavioral Flaws table. You can modify this roll by adding an
                    amount of Stress equal to up to half your current Stress level. Any Stress spent this way is subtracted from
                    your total.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6paJumKzSVdH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6paJumKzSVdH'"></app-bm-chapter-icon>
                <p> You can then choose either the Flaw you rolled, one that is lower, or one that is higher but if you don’t choose
                    the one your rolled, it has to be one that your character has had before (as old habits resurface).</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6paqBvuOYClp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6paqBvuOYClp'"></app-bm-chapter-icon>
                <p> If you choose one lower than what you rolled, that Flaw becomes permanent and must be paid off but for half
                    cost.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6ppnnZMAXbHd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6ppnnZMAXbHd'"></app-bm-chapter-icon>
                <p> If you choose the one you rolled or one higher up on the list, it’s only temporary and lasts until all your
                    Stress is healed.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6piwImiyGIXZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6piwImiyGIXZ'"></app-bm-chapter-icon>
                <p> It’s still pretty risky, however. Should your character drop below 0 Healths, the near-death experience makes
                    one temporary Flaw permanent. You never gain CrP from Flaws gotten this way.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pOlaKDlhgRi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pOlaKDlhgRi'"></app-bm-chapter-icon>
                <p> Stress also affects three things: Morale, lowering the character's Morale Threshold by 1 per 1 Stress, and
                    healing.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pWJghjqDSmM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pWJghjqDSmM'"></app-bm-chapter-icon>
                <p> For every 10 points of Stress a character has, he adds 1 day of healing time to every wound at every level. So,
                    a character with 5 severity wound would normally heal completely in 15 days, however if he was dealing with 23
                    points of Stress, he’d only heal completely after 25 days.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pKkRuqISbWH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pKkRuqISbWH'"></app-bm-chapter-icon>
                <p> Additionally, every 10 points add 1 to the character’s Fatigue Score as well.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pCyTNtPrwml' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pCyTNtPrwml'"></app-bm-chapter-icon>
                <p> Stress heals slowly and the more you have, the slower it heals. Stress heals in a compound fashion, with 1
                    Stress healing after a number of days equal to the total Stress. So, 5 points of Stress takes 5 days to drop to
                    4 Stress, and a total of 15 days to heal completely. All Stress is added to the same total.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pDpjrwUnRgT' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pDpjrwUnRgT'"></app-bm-chapter-icon>
                <p> There is two ways for a character to decompress and speed up healing Stress.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvpSjZesCVW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pvpSjZesCVW'"></app-bm-chapter-icon>
                <p> The first is to give into his nature. By role playing his Flaws in a detrimental way, a character can relieve 1
                    or more Stress (GM’s option).</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pzmbdCQDkgY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'6pzmbdCQDkgY'"></app-bm-chapter-icon>
                <p> The second way is through hobbies. After spending leisure time, your character can check against the relevant
                    social attribute (Traits/Passions/Devotions) that the hobby reflects. On a 4 or above on any dice, your
                    character heals 1 Stress. Once you’ve failed on a check, you may not try that attribute again till you’ve moved
                    through all your characteristics, but each try requires more down time spent.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell'>
                <p> Regardless of how you try, you can't heal Stress on days you've gained Stress, naturally or thorugh hobbies, though the Divine may be able to help out.</p>
            </div>
            <!-- Start Here -->
        </div>

        <div *ngIf=navDisplay class="tableShell" (click)="displayTables()">
            <p>Hide Quick Nav</p>
        </div>

        <div class="sideShell">
            <app-quick-nav *ngIf=navDisplay [side]='side'></app-quick-nav>
        </div>

        <div class="tableShell" (click)="displayTables()">
            <p>Show Quick Nav</p>
        </div>

        <h1 class="chapterTitle">Character Vitals</h1>
    </div>
</div>