<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='marginBottom paragraphShell anchor'>
                <div id='6p1' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6p1'"></app-bm-chapter-icon>
                <p> The purpose of this chapter is to condense all the rules for calculating things about your character
                    so that it
                    can keep the other chapters to just rules you’ll need at the spur of the moment during gameplay. To
                    this end,
                    these rules are missing why they’re important and what you’ll actually use them for but they do
                    reference the
                    chapter where more is to be found. </p>
            </div>
            <div class="anchor">
                <div id="6heEYhImWZRu" class="anchorTag"></div>
                <h1>STRESS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pAzNIWhSleC' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pAzNIWhSleC'"></app-bm-chapter-icon>
                <p> Working under pressure can get to you. When your crew mates are relying on you to pull out a win, it
                    can mess
                    with your head. Your character can become stressed under these circumstances and stress can later
                    manifest in
                    odd behaviors.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6poqRHoMbPiY' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6poqRHoMbPiY'"></app-bm-chapter-icon>
                <p> Characters can gain Stress in two ways in a lot of ways and those are discussed in their various
                    sections - taking damage, stressing on checks, etc. - the only one we’ll go over here is Stress can
                    be gained (and healed) from acting out your character’s social Characteristics, especially when not
                    playing them would be a huge benefit.</p>
            </div>
            <div class='anchor'>
                <div id='6pxXlsMGLnB' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pxXlsMGLnB'"></app-bm-chapter-icon>
                <h3>STRESS PENALTIES</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6DdVgcshyCc' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6DdVgcshyCc'"></app-bm-chapter-icon>
                <p> Stress affects almost everything you do, making your life harder and your character becomes
                    emotionally pent up.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6qTvefvsSba' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6qTvefvsSba'"></app-bm-chapter-icon>
                <p> Every 10 points of Stress gives you a penalty of 1 to Defense, Skill Check difficulties,
                    Running and Sprinting time.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6nndRWQploR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6nndRWQploR'"></app-bm-chapter-icon>
                <p> Stress affects Morale, lowering the character's Morale Threshold Category by 1 per 10 Stress.</p>
            </div>

            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Honor Through Accountability </h2>
                <div class='paragraphShell anchor'>
                    <div id='intheheaofhtemoment' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'intheheaofhtemoment'"></app-bm-chapter-icon>
                    <p> In the heat of the moment, it’s hard to keep track of all the bonuses and penalties that apply to situations, especially the penalties and especially Stress penalties, which change during the fight.</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='becauseofthisitisnt' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'becauseofthisitisnt'"></app-bm-chapter-icon>
                    <p> Because of this, it isn’t required that you apply Stress penalties. However, if you do, you gain 1 Honor and the other side also applies their Stress penalty without that extra Honor.</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='ifthegmremindsyou' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'ifthegmremindsyou'"></app-bm-chapter-icon>
                    <p> If the GM reminds you that you need to apply your Stress, you don’t get anything but the penalty.</p>
                </div>
            </div>

            <div class='anchor'>
                <div id='6dVqqGeiPhR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6dVqqGeiPhR'"></app-bm-chapter-icon>
                <h3>HEALING STRESS</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6MQEwgDfxyx' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6MQEwgDfxyx'"></app-bm-chapter-icon>
                <p> Stress heals slowly over time but there are things you can do to speed it up.
                    You have to actively go out and do things that relax your character. There are several things you
                    can do.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6XchGIkUfzr' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6XchGIkUfzr'"></app-bm-chapter-icon>
                <p> The first is to give into his nature. By role playing his Flaws in a detrimental way, a character
                    can relieve 1 or more Stress (GM’s option). This means that when a character sees a situtation where
                    his
                    Stress could give him a disadvantage, he can bring it up the GM. If approved, the character heals
                    Stress. The GM may
                    also suggest this option as well if she things the situation warrents it.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6tnMNnQnOQb' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6tnMNnQnOQb'"></app-bm-chapter-icon>
                <p> The second way is through hobbies. Hobbies are based off your character's Social Characteristics,
                    but besides that, they can be anything,
                    from whoring it up to spending time with the family or working in their shop.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='youhealonestressperhobby' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'youhealonestressperhobby'"></app-bm-chapter-icon>
                <p> You heal 1 Stress for each hour spent on a hobby, though you can only spend up to the number of dice
                    that Characteristic has in hours per day.
                </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='finallyyoucanindinguleintcreature' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'finallyyoucanindinguleintcreature'"></app-bm-chapter-icon>
                <p> Finally, you can indulge in creature comforts. This can be done by by buying a nice bedroll or even
                    hiring
                    someone to set up your camp for you so you can relax at the end of the day. The rule of thumb is
                    that each applicable Trait the equipment has
                    heals you an additional Stress when applicable. So, an extra soft, double padded, and tailored
                    bedroll will always do you good but a waterproof tent will really
                    only give you a bonus in inclement weather.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6FTwHBJCOeX' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6FTwHBJCOeX'"></app-bm-chapter-icon>
                <p> Also, as an aside here; the Musician and Cooking/Baking Advanced Skills also help heal Stress, so
                    you can look into those.</p>
            </div>
            <div class='anchor'>
                <div id="8cvTzNxbyhv" class='anchorTag'></div>
                <app-bm-chapter-icon [id]='"8cvTzNxbyhv"'></app-bm-chapter-icon>
                <h3>MENTAL BREAKDOWNS</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='8rzSczrFdiV' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'8rzSczrFdiV'"></app-bm-chapter-icon>
                <p> When your Stress hits twice your Vitality, you've gotten to the point that you just can't take it
                    anymore.
                    This results in a Mental Breakdown for your character.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='8kYqEaZzHXz' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'8kYqEaZzHXz'"></app-bm-chapter-icon>
                <p> When this happens they do eveything in their power to separate themselves from the stressor as
                    quickly as possible.
                    If they're in a scenario that directly threatens their life (like combat or dangling from a cliff),
                    they'll separate
                    themselves as quickly as possible but will pay little attention to their companion's safety. At this
                    point, they're
                    so overwhelmed, they don't really care.
                </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='8UHEkcvTNRK' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'8UHEkcvTNRK'"></app-bm-chapter-icon>
                <p> Until that Stress is all healed, any further Stress will not only give the usual penalties, but also
                    deals 1 damage per point inflicted. This damage is all on one wound and is unhealed while the
                    character is having a Mental Breakdown.
                </p>
            </div>
            <div class='paragraphShell marginBottom anchor'>
                <div id='8YjeFPANhse' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'8YjeFPANhse'"></app-bm-chapter-icon>
                <p> Should the character start to bleed out, they suffer a heartattack and die.</p>
            </div>
            <div class="anchor">
                <div id="6hscFsXKKFIO" class="anchorTag"></div>
                <h1>VITALITY</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pQGSHRNSNgR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pQGSHRNSNgR'"></app-bm-chapter-icon>
                <p> Vitality represents how close you are to passing out and dying. It is both your health and fatigue.
                    As you take damage, you will get closer to death and gain more penalties.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pOqKqhmCieM' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pOqKqhmCieM'"></app-bm-chapter-icon>
                <p> Vitality is divided into 5 categories, representing what percentage of damage a character has taken:
                </p>
            </div>
            <div class="chartShell">
                <div>FRESH</div>
                <div>0%</div>
            </div>
            <div class="chartShell">
                <div>TIRED</div>
                <div>>1%</div>
            </div>
            <div class="chartShell">
                <div>HURT</div>
                <div>>25%</div>
            </div>
            <div class="chartShell">
                <div>BLOODIED</div>
                <div>>50%</div>
            </div>
            <div class="chartShell">
                <div>WOUNDED</div>
                <div>>75%</div>
            </div>
            <div class="marginBottom chartShell">
                <div>BLEEDING OUT</div>
                <div>>100%</div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pOVgxDBAgfs' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pOVgxDBAgfs'"></app-bm-chapter-icon>
                <p> To calculate how much Vitality you have for each category, add a roll of your Primary Archetype’s
                    Vitality Die to
                    your Constitution + their Vitality Size Modifier. That’s your total. Divide that by 4. If you have a
                    remainder,
                    alternate between rounding down on every category except the Wounded category.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6poPxLRgfLiR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6poPxLRgfLiR'"></app-bm-chapter-icon>
                <p> So, if you’re a Human with and your Vitality Die is a d10 and you roll a 7 with a Constitution of
                    12,
                    you have 29
                    Vitality. You’re Tired at 28, Hurt at 22, Bloodied at 15, and Wounded 8.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pswjBIysyzh' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pswjBIysyzh'"></app-bm-chapter-icon>
                <p> Record your Vitality Die roll on your character sheet. </p>
            </div>
            <div class='anchor'>
                <div id='6TgtqEMxhsi' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6TgtqEMxhsi'"></app-bm-chapter-icon>
                <h3>DROPPING A VITALITY CATEGORY & ENCUMBRANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6BZuHpwkSdB' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6BZuHpwkSdB'"></app-bm-chapter-icon>
                <p> As stated, the more damage you take, the harder the fight becomes. When you drop a Vitality
                    Category, you gain an amount of Stress equal to your Encumbrance.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6auTTAAHqJX' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6auTTAAHqJX'"></app-bm-chapter-icon>
                <p> Your Encumbrance is equal to your Con Encumb. + Wis Encumb.. + Encumb.. from armor and shields
                    + however many times you’re over your carry limit.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='changingencumrbancewhilewounded' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'changingencumrbancewhilewounded'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>CHANGING ENCUMBRANCE WHILE WOUNDED</strong> The Stress you gain from
                    wounds isn't healed by normal means;
                    it's only healed when either your Encumbrance is lowered or when your wounds heal enough to move you
                    up a category.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='thatmeansifyoutooktenstress' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'thatmeansifyoutooktenstress'"></app-bm-chapter-icon>
                <p> That means, if you took 10 Stress dropping from a Vitality Category, taking a spa day wouldn't help.
                    Instead, you should see a surgeon or a doctor.
                    Now, what you could do is not carry so much gear around.
                </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='soforexampelletssaythat' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'soforexampelletssaythat'"></app-bm-chapter-icon>
                <p> So, for example, let's say that you have a base Encumbrance of 10 from your Abilities but you're
                    carrying around only a Light Shield, so your actual
                    Encumbrance is 16. You drop from Fresh to Hurt, and you gain 32 Stress because of it. You're in the
                    middle of combat, so you can't Take a Breather, so you
                    drop your shield, your Encumbrance drops to 10 and you heal 12 Stress, which isn't bad. After the
                    battle, you take a moment to catch your breathe and so
                    you're now only Tired. Since your Encumbrance is now 10 so you heal 10 Stress.
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='noewthefipsideofthisisif' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'noewthefipsideofthisisif'"></app-bm-chapter-icon>
                <p> Now, the flip side of this is that if you become MORE Encumbered while wounded, you gain that amount
                    of Stress instantly. So, continuing the above example, if you were
                    to then pick up your Light Shield again, your Encumbrance would raise by 6 and you'd gain 6 Stress.
                </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='passingoutoutallcharacters' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'passingoutoutallcharacters'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>PASSING OUT</strong> All characters pass out when they start Bleeding
                    Out, but it is possible that they'll pass out before then.
                    If your remaining Vitality is greater than or equal to your Stress Penalty, your character
                    collapses, helpless but not actively bleeding out. In a sense, he's forced to Take a Breather. or
                    remain helpless.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='passingoutoutallcharacters' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'passingoutoutallcharacters'"></app-bm-chapter-icon>
                <p>So, if you've got 30 Stress and 29 Vitality, when you've taken 25 damage, you're character collapses,
                    forced to Take a Breather.</p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Wound Category Exception</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='6pUFCPPaSyOC' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'6pUFCPPaSyOC'"></app-bm-chapter-icon>
                    <p> Just as an aside - going from Fresh to Tired doesn’t count as changing a Wound Category for
                        purposes of
                        triggering a Trauma check.</p>
                </div>
            </div>
            <div class='anchor'>
                <div id='6fBkkDHLbRn' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6fBkkDHLbRn'"></app-bm-chapter-icon>
                <h3>TAKING A BREATHER</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='pausingandnotdonginanythingbutmove' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'pausingandnotdonginanythingbutmove'"></app-bm-chapter-icon>
                <p> Pausing and not doing anything but move at a Stroll while not Threatened for 20 Seconds - Con,
                    minimum 3 Seconds, heals you half the damage (rounded down) that you've take since the last time
                    you've Taken a Breather. Damage healed this way is taken from the smallest non-long term
                    fatigue wound.<p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6LtPrKOxEqM' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6LtPrKOxEqM'"></app-bm-chapter-icon>
                <p> If you become Threatened while taking a breather but continue to try and catch your breath, you take
                    1 Stress for every second you remain so.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6DfhIjjIztD' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6DfhIjjIztD'"></app-bm-chapter-icon>
                <p> If you’re attacked and still definitely rest, you reduce your defense dice by 1 size. If they miss,
                    you’re breather is unaffected, though in either case, the attacker loses an Honor.</p>
            </div>
            <div class='anchor'>
                <div id='6hgsDsSgINrBx' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgsDsSgINrBx'"></app-bm-chapter-icon>
                <h3>HEALING</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pdwYXwsGUSb' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pdwYXwsGUSb'"></app-bm-chapter-icon>
                <p> Combat is dangerous. Even if you survive, you could end up with wounds that you carry with you for
                    months on
                    end.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvQVijcSdBv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pvQVijcSdBv'"></app-bm-chapter-icon>
                <p> Each time damage is done, it is tracked in a new wound.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pKEjpuVqKnE' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pKEjpuVqKnE'"></app-bm-chapter-icon>
                <p> Wounds heals at a slow rate. Each point takes a number of days equal to the damage done to heal it 1
                    point.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pXHMxILRMJe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pXHMxILRMJe'"></app-bm-chapter-icon>
                <p> So, a 5 point wound takes 5 days to become a 4 point wound, which takes 4 days to becomes a 3 point
                    wound, and
                    so on. That means it takes 15 days to completely heal ( 5 + 4 + 3 + 2 + 1).</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pLtrdwlzdtP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pLtrdwlzdtP'"></app-bm-chapter-icon>
                <p> Thankfully, each wound heals simultaneously. So, if you have 3 separate 4 point wounds, you’ll be
                    completely
                    healed by day 10.</p>
            </div>
            <div class="anchor">
                <div id="6hPwGysmEcvV" class="anchorTag"></div>
                <h1>HONOR</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pjTNSGlUSYV' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pjTNSGlUSYV'"></app-bm-chapter-icon>
                <p> Honor is a measure how not only how a person measures their own integrity but also how other people
                    see them.
                    Honor isn’t about doing the common sense thing; it’s about doing the heroic thing. People who run
                    from a fight,
                    even when outnumbered, lose Honor. People who let others talk bad about them and don’t get even lose
                    Honor.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pSHkyiIfErh' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pSHkyiIfErh'"></app-bm-chapter-icon>
                <p> The question of Honor isn’t a question of good and evil; many evil men have been honorable. It’s
                    more about
                    living up to the ideals of your culture and being true to your inner self.</p>
            </div>
            <div class='anchor'>
                <div id='6hgNCVSVWFXeu' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgNCVSVWFXeu'"></app-bm-chapter-icon>
                <h3>BONUS CrP</h3>
            </div>
            <div class='tableOverflowWindow BonusHonorTable'>
                <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
                    <h1 class='tableTitle'>Bonus Honor</h1>
                    <div class='tableHeaders'>
                        <div class='tableRow'>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Honor Of Last Character</p>
                                <p class='BonusHonorvalue TableIndividual'>Bonus Crp</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Great Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>50</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>High Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>35</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Average Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>25</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Low Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>10</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Dishonor</p>
                                <p class='BonusHonorvalue TableIndividual'>0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pdDlGDRHfFK' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pdDlGDRHfFK'"></app-bm-chapter-icon>
                <p> If this is your first Bonfire character in a campaign, you receive a bonus 25 CrPs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6poYyseSgUGi' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6poYyseSgUGi'"></app-bm-chapter-icon>
                <p> If you’re here because you’ve had a character die, this bonus CrP is based on the Honor category
                    your character
                    was in when they died.</p>
            </div>
            <div class='anchor'>
                <div id='6hgbvTTNJDlHZ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgbvTTNJDlHZ'"></app-bm-chapter-icon>
                <h3>STARTING HONOR</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pDVhsfqrIzj' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pDVhsfqrIzj'"></app-bm-chapter-icon>
                <p> The Honor category in which you start is determined by your “Start Honor”, listed under your
                    Charisma. You start at the bottom of the corresponding category.</p>
            </div>
            <div class='anchor'>
                <div id='6hgDyUyoZBWAw' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgDyUyoZBWAw'"></app-bm-chapter-icon>
                <h3>HONOR CATEGORIES & BONUSES</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pRWOgYhgTDR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pRWOgYhgTDR'"></app-bm-chapter-icon>
                <p>Honor has its benefits. Confidence allows you to push yourself a little bit more than you otherwise
                    would. During the game, you can spend your Honor points to influence anything, rolls or static
                    metrics, whenever you want on a 1 to 1 basis. Doing so lowers your Honor but might save your
                    character’s life. So, if you roll a 13 and your opponent rolls a 14, you could spend 3 Honor to beat
                    their total. Likewise, if an enemy deals 8 damage to you and you have 6 Honor, you could spend all
                    of it and only take 2 damage.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='additionalllyeachcategorygains' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'additionalllyeachcategorygains'"></app-bm-chapter-icon>
                <p>Additionally, each category gains an Honor Dice, which can be rolled to add or subtract like Honor.
                    These are typically rewarded through your Racial Temperament. Once used, they go away but they stay
                    with your character as long as they live. Certain Archetype abilities may also give you them
                    temporarily, in which case, the Archetype will note for how long you have them.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='honorcannotgoabovetwenty' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'honorcannotgoabovetwenty'"></app-bm-chapter-icon>
                <p>Honor cannot go above 25 or below 0. The size of the Honor Die is also determined at the beginning of
                    session and doesn’t change during play even if the category does.</p>
            </div>

            <div class='paragraphShell anchor'>
                <div id='6pGbnzhMVOcQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pGbnzhMVOcQ'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>DISHONOR (0 - 5 Honor, No Honor Die)</strong> The lowest category, this
                    person is unsure that they
                    have what it
                    takes to be a hero and so every decision is laced with hesitation and uncertainty.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pgQiyAXwugP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pgQiyAXwugP'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>LOW HONOR (6 - 10 Honor, d4!)</strong> This character hasn’t really
                    proved anything, one way
                    or another.
                    Others and herself are waiting for her to make her mark on the world.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pDdqBJMgSwI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pDdqBJMgSwI'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>AVERAGE HONOR (11 - 15 Honor, d6!)</strong> Having reached this
                    category, the character has
                    shown that
                    they have potential and some follow through.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pgmnhsnueEq' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pgmnhsnueEq'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>HIGH HONOR (16 - 20 Honor, d8!)</strong> She has now separated herself
                    from the common rabble
                    and can
                    stand a head above the crowd.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pWrqtvQtkMG' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pWrqtvQtkMG'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>GREAT HONOR (20 - 25 Honor, d10!)</strong> This rare sliver represents
                    those who can perfectly
                    balance
                    being ahead of others but not so much so that they invoke the ire of those below them as well as
                    being confident
                    while not being cocky.</p>
            </div>
            <div class='paragraphShell anchor marginBottom'>
                <div id='whenacheathioc' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'whenacheathioc'"></app-bm-chapter-icon>
                <p>When a character reaches 25 Honor, they also gain another use of their Honor Dice.</p>
            </div>
            <div class='anchor'>
                <div id='6hgmskMjEXzPU' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgmskMjEXzPU'"></app-bm-chapter-icon>
                <h3>END OF SESSION HONOR AWARDS</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6plLsenmOihJ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6plLsenmOihJ'"></app-bm-chapter-icon>
                <p> At the end of each session, the players will elect each other’s characters for things they think
                    that character deserved Honor for. It is generally poor form to elect yourself but is also
                    reasonable.</p>
            </div>
            <div class='paragraphShell anchor marginBottom'>
                <div id='6pKUJYFqdmyG' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pKUJYFqdmyG'"></app-bm-chapter-icon>
                <p> These elections need to fit into one of these three categories:</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pjeFfTWMzYC' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pjeFfTWMzYC'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>STRENGTH</strong> This character demonstrated strength based on how
                    their character’s culture defines strength, which could be physical prowess but could also be
                    cunning or grifting.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pXASXDrcnzP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pXASXDrcnzP'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>MASTERY</strong> This is given when a character solves a tricky problem
                    or came up with a creative solution. Note, this shouldn't be given for good rolls unless the players
                    want to lose Honor for bad rolls; this is about out of the box thinking.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='youmayalsousethisone' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'youmayalsousethisone'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>COURAGE</strong> When the chips were down, did your character give up
                    the fight or did they really show what it means to be a hero and stare down death?</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pGSYhXBLKTc' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pGSYhXBLKTc'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>ROLEPLAYING</strong> Did the player really role play his character?
                    Where his decisions about what he thought gave him the best chance to win or was it about what his
                    character thought would be a good idea? Note, that since players are electing each other, jackasses
                    who use “that’s just what my character would do” to dick over the party won’t get rewarded for this
                    much.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pKAJnqFWnAO' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pKAJnqFWnAO'"></app-bm-chapter-icon>
                <p>For each of these categories, the GM can also dock Honor from a character. Did they run away or did
                    they conveniently forget any Characteristics that would have screwed them over?</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pPgfFUPBnVp' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pPgfFUPBnVp'"></app-bm-chapter-icon>
                <p>That and spending Honor are the two main ways of losing Honor.</p>
            </div>
            <div class='anchor'>
                <div id='6hgoGqxwxcBtQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgoGqxwxcBtQ'"></app-bm-chapter-icon>
                <h3>GAINING & LOSING FAME</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6ptNsnMJZhUO' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6ptNsnMJZhUO'"></app-bm-chapter-icon>
                <p> You gain Fame by doing things. This is primarily from completing Goals and Benchmarks but it can be
                    from
                    completing quests and simply bragging about your exploits in the local tavern.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pJbidDiCcgI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pJbidDiCcgI'"></app-bm-chapter-icon>
                <p> The reason that Goals gain you more Fame than if you were just running around doing random fetch
                    quests is
                    because completing Goals creates a story that people want to talk about. Sure, they can talk about
                    you slaying
                    that dragon, but if it’s also the dragon that kidnapped your sister, that’s much more compelling and
                    worth
                    gossiping about at the local watering hole.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pwIHbWZDUbA' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pwIHbWZDUbA'"></app-bm-chapter-icon>
                <p> You lose Fame by not doing things. Every month your character doesn’t do anything new, people talk
                    about her
                    less and less. They lose 1 point of Fame for every month they don’t complete at least 1 Benchmark.
                </p>
            </div>
            <div class='anchor'>
                <div id='6hgkLmpnpLtOJ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgkLmpnpLtOJ'"></app-bm-chapter-icon>
                <h3>FAME & HONOR</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pnHGANPLuOb' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pnHGANPLuOb'"></app-bm-chapter-icon>
                <p> Honor and Fame have a close tie as the more people talk about you, the more your reputation, whether
                    good or
                    ill, gets around.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pukdTjcjvrv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pukdTjcjvrv'"></app-bm-chapter-icon>
                <p> At the end of each session, for every 10 points of Fame a character has, they gain an additional
                    Honor point,
                    but this is only added at the end of the session if they don’t end with a negative Honor pool. So, a
                    character
                    with 70 Fame that ends with -3 Honor, drops an Honor Category at the end of the session. </p>
            </div>
            <!-- Start Here -->
        </div>

        <div class="sideShell">
            <app-quick-nav [side]='side'></app-quick-nav>
        </div>

        <h1 class="chapterTitle">Character Vitals</h1>
    </div>
</div>