<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='marginBottom paragraphShell anchor'>
                <div id='6p1' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6p1'"></app-bm-chapter-icon>
                <p> The purpose of this chapter is to condense all the rules for calculating things about your character
                    so that it
                    can keep the other chapters to just rules you’ll need at the spur of the moment during gameplay. To
                    this end,
                    these rules are missing why they’re important and what you’ll actually use them for but they do
                    reference the
                    chapter where more is to be found. </p>
            </div>
            <div class="anchor">
                <div id="6heEYhImWZRu" class="anchorTag"></div>
                <h1>STRESS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pAzNIWhSleC' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pAzNIWhSleC'"></app-bm-chapter-icon>
                <p> Working under pressure can get to you. When your crew mates are relying on you to pull out a win, it
                    can mess
                    with your head. Your character can become stressed under these circumstances and stress can later
                    manifest in
                    odd behaviors.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6poqRHoMbPiY' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6poqRHoMbPiY'"></app-bm-chapter-icon>
                <p> Characters can gain Stress in two ways in a lot of ways and those are discussed in their various
                    sections - taking damage, stressing on checks, etc. - the only one we’ll go over here is Stress can
                    be gained (and healed) from acting out your character’s social Characteristics, especially when not
                    playing them would be a huge benefit.</p>
            </div>
            <div class='anchor'>
                <div id='stresspenalityhiofewjiof' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'stresspenalityhiofewjiof'"></app-bm-chapter-icon>
                <h3>STRESS PENALTIES</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='stressaddfjiofjewiojci' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'stressaddfjiofjewiojci'"></app-bm-chapter-icon>
                <p> Stress affects almost everything you do, making your life harder and your character becomes
                    emotionally pent up.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='everjiotjiofewjcjieojwq' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'everjiotjiofewjcjieojwq'"></app-bm-chapter-icon>
                <p> Every 10 points of Stress gives you a penalty of 1 to Attack, Defense, Skill Check difficulties,
                    Running and Sprinting time.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='affectsmoraleloweringthe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'affectsmoraleloweringthe'"></app-bm-chapter-icon>
                <p> Stress affects Morale, lowering the character's Morale Threshold by 1 per 1 Stress.</p>
            </div>
            <div class='anchor'>
                <div id='healingstrejiosss' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'healingstrejiosss'"></app-bm-chapter-icon>
                <h3>HEALING STRESS</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='stresshealinsslowerly' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'stresshealinsslowerly'"></app-bm-chapter-icon>
                <p> Stress heals slowly and the more you have, the slower it heals. Stress heals in a compound fashion,
                    with 1 Stress healing after a number of days equal to the total Stress. So, 5 points of Stress takes
                    5 days to drop to 4 Stress, and a total of 15 days to heal completely. All Stress is added to the
                    same total.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='therearetwowaysforacharacter' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'therearetwowaysforacharacter'"></app-bm-chapter-icon>
                <p> There are two ways for a character to decompress and speed up healing Stress.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='thefirstistogivingethinsot' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'thefirstistogivingethinsot'"></app-bm-chapter-icon>
                <p> The first is to give into his nature. By role playing his Flaws in a detrimental way, a character
                    can relieve 1 or more Stress (GM’s option).</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='thesecondwaysitrhoughhobbies' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'thesecondwaysitrhoughhobbies'"></app-bm-chapter-icon>
                <p> The second way is through hobbies. After spending leisure time, your character can check against the
                    relevant social attribute (Traits/Passions/Devotions) that the hobby reflects. On a 4 or above on
                    any dice, your character heals 1 Stress. Once you’ve failed on a check, you may not try that
                    attribute again till you’ve moved through all your characteristics, but each try requires more down
                    time spent.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='regardlessofhowyoutryyou' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'regardlessofhowyoutryyou'"></app-bm-chapter-icon>
                <p> Regardless of how you try, you can't heal Stress on days you've gained Stress, naturally or through
                    hobbies, though the Divine may be able to help out.</p>
            </div>
            <div class="anchor">
                <div id="6hscFsXKKFIO" class="anchorTag"></div>
                <h1>VITALITY</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pQGSHRNSNgR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pQGSHRNSNgR'"></app-bm-chapter-icon>
                <p> Vitality represents how close you are to passing out and dying. It is both your health and fatigue.
                    As you take damage, you will get closer to death and gain more penalties.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pOqKqhmCieM' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pOqKqhmCieM'"></app-bm-chapter-icon>
                <p> Vitality is divided into 5 categories, representing what percentage of damage a character has taken:
                </p>
            </div>
            <div class="chartShell">
                <div>FRESH</div>
                <div>0%</div>
            </div>
            <div class="chartShell">
                <div>TIRED</div>
                <div>>1%</div>
            </div>
            <div class="chartShell">
                <div>HURT</div>
                <div>>25%</div>
            </div>
            <div class="chartShell">
                <div>BLOODIED</div>
                <div>>50%</div>
            </div>
            <div class="chartShell">
                <div>WOUNDED</div>
                <div>>75%</div>
            </div>
            <div class="marginBottom chartShell">
                <div>BLEEDING OUT</div>
                <div>>100%</div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pOVgxDBAgfs' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pOVgxDBAgfs'"></app-bm-chapter-icon>
                <p> To calculate how much Vitality you have for each category, add a roll of your Primary Archetype’s
                    Vitality Die to
                    your Constitution + their Vitality Size Modifier. That’s your total. Divide that by 4. If you have a
                    remainder,
                    alternate between rounding down on every category except the Wounded category.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6poPxLRgfLiR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6poPxLRgfLiR'"></app-bm-chapter-icon>
                <p> So, if you’re a Human with and your Vitality Die is a d10 and you roll a 7 with a Constitution of
                    12,
                    you have 29
                    Vitality. You’re Tired at 28, Hurt at 22, Bloodied at 15, and Wounded 8.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pswjBIysyzh' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pswjBIysyzh'"></app-bm-chapter-icon>
                <p> Record your Vitality Die roll on your character sheet. </p>
            </div>
            <div class='anchor'>
                <div id='droppingavitalityc' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'droppingavitalityc'"></app-bm-chapter-icon>
                <h3>DROPPING A VITALITY CATEGORY & ENCUMBRANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='assatatedthemoredamageyou' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'assatatedthemoredamageyou'"></app-bm-chapter-icon>
                <p> As stated, the more damage you take, the harder the fight becomes. When you drop a Vitality
                    Category, you gain an amount of Stress equal to your Encumbrance.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='yourencumbranceisequalto' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'yourencumbranceisequalto'"></app-bm-chapter-icon>
                <p> Your Encumbrance is equal to your Con Fati. Adj + Wis Fati. Adj. + Fati. Adj. from armor and shields
                    + however many times you’re over your carry limit.</p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Wound Category Exception</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='6pUFCPPaSyOC' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'6pUFCPPaSyOC'"></app-bm-chapter-icon>
                    <p> Just as an aside - going from Fresh to Tired doesn’t count as changing a Wound Category for
                        purposes of
                        triggering a Trauma check.</p>
                </div>
            </div>
            <div class='anchor'>
                <div id='takeabreatherfjiojioxsa' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'takeabreatherfjiojioxsa'"></app-bm-chapter-icon>
                <h3>TAKING A BREATHER</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='pausingandnotdonginanythingbutmove' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'pausingandnotdonginanythingbutmove'"></app-bm-chapter-icon>
                <p> Pausing and not doing anything but move at a Stroll while not Threatened for 20 Seconds - Con,
                    minimum 3 Seconds, heals you up to the bottom of the previous category and the amount of Stress you
                    took the last time you dropped. Damage healed this way is taken from the smallest non-long term
                    fatigue wound. You can’t take another breather until you drop another category.<p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='ifyoubecomethreathwhiletakeingabreather' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'ifyoubecomethreathwhiletakeingabreather'"></app-bm-chapter-icon>
                <p> If you become Threatened while taking a breather but continue to try and catch your breath, you take
                    1 Stress for every second you remain so.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='ifyoureattackestilldefinietyle' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'ifyoureattackestilldefinietyle'"></app-bm-chapter-icon>
                <p> If you’re attacked and still definitely rest, you reduce your defense dice by 1 size. If they miss,
                    you’re breather is unaffected, though in either case, the attacker loses an Honor.</p>
            </div>
            <div class='anchor'>
                <div id='6hgsDsSgINrBx' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgsDsSgINrBx'"></app-bm-chapter-icon>
                <h3>HEALING</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pdwYXwsGUSb' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pdwYXwsGUSb'"></app-bm-chapter-icon>
                <p> Combat is dangerous. Even if you survive, you could end up with wounds that you carry with you for
                    months on
                    end.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvQVijcSdBv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pvQVijcSdBv'"></app-bm-chapter-icon>
                <p> Each time damage is done, it is tracked in a new wound.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pKEjpuVqKnE' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pKEjpuVqKnE'"></app-bm-chapter-icon>
                <p> Wounds heals at a slow rate. Each point takes a number of days equal to the damage done to heal it 1
                    point.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pXHMxILRMJe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pXHMxILRMJe'"></app-bm-chapter-icon>
                <p> So, a 5 point wound takes 5 days to become a 4 point wound, which takes 4 days to becomes a 3 point
                    wound, and
                    so on. That means it takes 15 days to completely heal ( 5 + 4 + 3 + 2 + 1).</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pLtrdwlzdtP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pLtrdwlzdtP'"></app-bm-chapter-icon>
                <p> Thankfully, each wound heals simultaneously. So, if you have 3 separate 4 point wounds, you’ll be
                    completely
                    healed by day 10.</p>
            </div>
            <div class="anchor">
                <div id="6hPwGysmEcvV" class="anchorTag"></div>
                <h1>HONOR</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pjTNSGlUSYV' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pjTNSGlUSYV'"></app-bm-chapter-icon>
                <p> Honor is a measure how not only how a person measures their own integrity but also how other people
                    see them.
                    Honor isn’t about doing the common sense thing; it’s about doing the heroic thing. People who run
                    from a fight,
                    even when outnumbered, lose Honor. People who let others talk bad about them and don’t get even lose
                    Honor.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pSHkyiIfErh' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pSHkyiIfErh'"></app-bm-chapter-icon>
                <p> The question of Honor isn’t a question of good and evil; many evil men have been honorable. It’s
                    more about
                    living up to the ideals of your culture and being true to your inner self.</p>
            </div>
            <div class='anchor'>
                <div id='6hgNCVSVWFXeu' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgNCVSVWFXeu'"></app-bm-chapter-icon>
                <h3>BONUS CrP</h3>
            </div>
            <div class='tableOverflowWindow BonusHonorTable'>
                <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
                    <h1 class='tableTitle'>Bonus Honor</h1>
                    <div class='tableHeaders'>
                        <div class='tableRow'>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Honor Of Last Character</p>
                                <p class='BonusHonorvalue TableIndividual'>Bonus Crp</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Too Much Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>25</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Great Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>50</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>High Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>35</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Average Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>25</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Low Honor</p>
                                <p class='BonusHonorvalue TableIndividual'>10</p>
                            </div>
                            <div class='tableValue'>
                                <p class='BonusHonorvalue TableIndividual'>Dishonor</p>
                                <p class='BonusHonorvalue TableIndividual'>0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pdDlGDRHfFK' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pdDlGDRHfFK'"></app-bm-chapter-icon>
                <p> If this is your first Bonfire character in a campaign, you receive a bonus 25 CrPs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6poYyseSgUGi' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6poYyseSgUGi'"></app-bm-chapter-icon>
                <p> If you’re here because you’ve had a character die, this bonus CrP is based on the Honor category
                    your character
                    was in when they died.</p>
            </div>
            <div class='anchor'>
                <div id='6hgbvTTNJDlHZ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgbvTTNJDlHZ'"></app-bm-chapter-icon>
                <h3>STARTING HONOR</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pDVhsfqrIzj' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pDVhsfqrIzj'"></app-bm-chapter-icon>
                <p> The Honor category in which you start is determined by your “Start Honor”, listed under your
                    Charisma.</p>
            </div>
            <div class='anchor'>
                <div id='6hgeBtcDTzFiL' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgeBtcDTzFiL'"></app-bm-chapter-icon>
                <h3>CHANGING HONOR CATEGORY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pAclykzlbDv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pAclykzlbDv'"></app-bm-chapter-icon>
                <p> The GM rewards or docks Honor points during the session based on a character's action: how true are
                    they to their Social Characteristics? Was the player true to the stated core of their character or
                    did they do something simply based on its expedency? If the infraction was particularly grievious,
                    the GM may opt to just drop the player an Honor Categroy immediately, though the player should get a
                    warning if that's the case.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6CrmxNxjxmY' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6CrmxNxjxmY'"></app-bm-chapter-icon>
                <p> But primarily, players should gain and lose Honor from Conflicts and completing Goals. Completing
                    Goals give a character standing as they become
                    known as
                    someone that can get stuff done. You gain 1 Honor for each benchmark you complete or help complete
                    during the
                    session, with an additional bonus of 5 for the completion of a Short Term Goal, 10 for a Medium Term
                    Goal, and
                    jumping to the bottom of the next highest Honor Category for the completion of a Long Term Goal. If
                    they abandon a Goal, they lose 1 Honor, regardless of the circumstances because, unfortunantely,
                    context is the first thing that gets forgotten.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pIISXUQszBo' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pIISXUQszBo'"></app-bm-chapter-icon>
                <p> At the end of each session, each player totals the amount of Honor points they gained or lost during
                    that session. If a character’s total is higher than their current
                    level, they move up one category. If their total is negative at all, they move down one.</p>
            </div>
            <div class="space"></div>
            <div class='anchor'>
                <div id='6hgDyUyoZBWAw' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgDyUyoZBWAw'"></app-bm-chapter-icon>
                <h3>HONOR CATEGORIES & BONUSES</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pRWOgYhgTDR' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pRWOgYhgTDR'"></app-bm-chapter-icon>
                <p> Honor has its benefits. Confidence allows you to push yourself a little bit more than you otherwise
                    would.
                    Compare your character’s Honor against the following chart to determine which category they fall
                    under and what
                    bonuses they receive.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pGbnzhMVOcQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pGbnzhMVOcQ'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>DISHONOR</strong> The lowest category, this person is unsure that they
                    have what it
                    takes to be a hero and so every decision is laced with hesitation and uncertainty.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pVcWCmfjnet' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pVcWCmfjnet'"></app-bm-chapter-icon>
                <p> A character in this category takes a -1 penalty to each dice he rolls.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pgQiyAXwugP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pgQiyAXwugP'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>LOW HONOR</strong> This character hasn’t really proved anything, one way
                    or another.
                    Others and herself are waiting for her to make her mark on the world.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pcugPFXBrAs' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pcugPFXBrAs'"></app-bm-chapter-icon>
                <p> Being in Low Honor gives you a d4! Honor Dice.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pDdqBJMgSwI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pDdqBJMgSwI'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>AVERAGE HONOR</strong> Having reached this category, the character has
                    shown that
                    they have potential and some follow through.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pakcasDtBzu' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pakcasDtBzu'"></app-bm-chapter-icon>
                <p> Being in Average Honor gives you a d8! Honor Dice and 1 free reroll.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pgmnhsnueEq' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pgmnhsnueEq'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>HIGH HONOR</strong> She has now separated herself from the common rabble
                    and can
                    stand a head above the crowd.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pbgzXXsajUQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pbgzXXsajUQ'"></app-bm-chapter-icon>
                <p> Being in High Honor gives you a d12! Honor Dice and 2 free reroll.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pWrqtvQtkMG' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pWrqtvQtkMG'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>GREAT HONOR</strong> This rare sliver represents those who can perfectly
                    balance
                    being ahead of others but not so much so that they invoke the ire of those below them as well as
                    being confident
                    while not being cocky.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pscnINiVPqn' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pscnINiVPqn'"></app-bm-chapter-icon>
                <p> A character in this category gains a +1 to every dice roll they make for the rest of the session.
                    Additionally,
                    they gain a d20! + d4! for their Honor Dice and 3 free rerolls.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pPyssHsnfai' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pPyssHsnfai'"></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>TOO MUCH HONOR</strong> There’s a certain point where people get too big
                    for their
                    britches. When this happen, people tend to go out of their way to take a chunk out of them. They’re
                    labelled
                    smart asses or show offs. This people also tend to be overconfident and get themselves into bad
                    situations
                    because of it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pPXSfAiHAeH' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pPXSfAiHAeH'"></app-bm-chapter-icon>
                <p> Being Too Much Honor gives you a d20! Honor Dice and 1 free reroll.</p>
            </div>
            <div class='anchor'>
                <div id='6hgmskMjEXzPU' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgmskMjEXzPU'"></app-bm-chapter-icon>
                <h3>REDEEMING YOUR BONUSES</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pvMzaIjpZoF' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pvMzaIjpZoF'"></app-bm-chapter-icon>
                <p> There are 3 bonuses you gain from having Honor:</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6plLsenmOihJ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6plLsenmOihJ'"></app-bm-chapter-icon>
                <p> The first is your <strong class='orangeHeader'>Honor Dice</strong> . When redeemed, a roll of the
                    Honor Dice can
                    be added (or subtracted) at anytime to another roll (such as damage, or attack), temporarily to a
                    static stat
                    (such as Vitality or DR), or a dice pool (such as a Conflict). Adding it to a ‘nat 1’ on a defense,
                    negates a
                    fumble. </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pKUJYFqdmyG' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pKUJYFqdmyG'"></app-bm-chapter-icon>
                <p> While Honor Dice can only be used once per session, you can also split it up. So, if you have a d10!
                    Honor Dice,
                    you can instead roll a d2 and have a d8! left over, which you can later roll as a d8! or a d2 and a
                    d6! or a d3!
                    and a d4!, or any combination, as long as the total sides adds up to less than the highest side of
                    the original
                    Dice. </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pjeFfTWMzYC' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pjeFfTWMzYC'"></app-bm-chapter-icon>
                <p> The second is your <strong class='orangeHeader'>free reroll</strong> , the number of which is
                    determined by your
                    Honor category. You may use a reroll after you’ve made the roll and done your totals but not after
                    you hear the
                    result of the total. So, a character can reroll their defense, after realizing it only totalled to
                    5, but not
                    after he hears that his attack actually misses because of that total. Additionally, rerolls can be
                    used for
                    rolls the GM has made, however they can’t be used to reroll Honor Dice.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pXASXDrcnzP' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pXASXDrcnzP'"></app-bm-chapter-icon>
                <p> The last is a <strong class='orangeHeader'>Divine Intervention</strong> . The Divines look favorably
                    on the
                    Honorable and are willing to alter fate to save a favorite. You can redeem this bonus to half or
                    quarter the
                    amount of damage you take from a single blow.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pJZQPylpsaL' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pJZQPylpsaL'"></app-bm-chapter-icon>
                <p> Redeeming your Honor Dice and free reroll(s) can be done at anytime but using Divine Intervention
                    drops you 1
                    category for halving the damage or 2 for quartering it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pGSYhXBLKTc' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pGSYhXBLKTc'"></app-bm-chapter-icon>
                <p> If you run out of rerolls and are in a bad way, you may drop an Honor Category for an additional
                    one, down to
                    the Dishonorable Category.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='6pKAJnqFWnAO' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pKAJnqFWnAO'"></app-bm-chapter-icon>
                <p> The bonus/penalty afforded by Great Honor or Dishonor is automatically redeemed at the beginning of
                    the session
                    and doesn’t drop you a category at all.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pPgfFUPBnVp' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pPgfFUPBnVp'"></app-bm-chapter-icon>
                <p> However, if you’re not in Dishonor and you take its penalty onto you willingly at the beginning of
                    the session,
                    you double all Honor gained at the end.</p>
            </div>
            <div class='anchor'>
                <div id='6hgoGqxwxcBtQ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgoGqxwxcBtQ'"></app-bm-chapter-icon>
                <h3>GAINING & LOSING FAME</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6ptNsnMJZhUO' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6ptNsnMJZhUO'"></app-bm-chapter-icon>
                <p> You gain Fame by doing things. This is primarily from completing Goals and Benchmarks but it can be
                    from
                    completing quests and simply bragging about your exploits in the local tavern.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pJbidDiCcgI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pJbidDiCcgI'"></app-bm-chapter-icon>
                <p> The reason that Goals gain you more Fame than if you were just running around doing random fetch
                    quests is
                    because completing Goals creates a story that people want to talk about. Sure, they can talk about
                    you slaying
                    that dragon, but if it’s also the dragon that kidnapped your sister, that’s much more compelling and
                    worth
                    gossiping about at the local watering hole.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pwIHbWZDUbA' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pwIHbWZDUbA'"></app-bm-chapter-icon>
                <p> You lose Fame by not doing things. Every month your character doesn’t do anything new, people talk
                    about her
                    less and less. They lose 1 point of Fame for every month they don’t complete at least 1 Benchmark.
                </p>
            </div>
            <div class='anchor'>
                <div id='6hgkLmpnpLtOJ' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6hgkLmpnpLtOJ'"></app-bm-chapter-icon>
                <h3>FAME & HONOR</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='6pnHGANPLuOb' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pnHGANPLuOb'"></app-bm-chapter-icon>
                <p> Honor and Fame have a close tie as the more people talk about you, the more your reputation, whether
                    good or
                    ill, gets around.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='6pukdTjcjvrv' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'6pukdTjcjvrv'"></app-bm-chapter-icon>
                <p> At the end of each session, for every 10 points of Fame a character has, they gain an additional
                    Honor point,
                    but this is only added at the end of the session if they don’t end with a negative Honor pool. So, a
                    character
                    with 70 Fame that ends with -3 Honor, drops an Honor Category at the end of the session. </p>
            </div>
            <!-- Start Here -->
        </div>

        <div *ngIf=navDisplay class="tableShell" (click)="displayTables()">
            <p>Hide Quick Nav</p>
        </div>

        <div class="sideShell">
            <app-quick-nav *ngIf=navDisplay [side]='side'></app-quick-nav>
        </div>

        <div class="tableShell" (click)="displayTables()">
            <p>Show Quick Nav</p>
        </div>

        <h1 class="chapterTitle">Character Vitals</h1>
    </div>
</div>