<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class="anchor">
        <div id="Flawsheader" class="anchorTag"></div>
        <h1>Flaws</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='EverypersonhBXeyRZuUxV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'EverypersonhBXeyRZuUxV'"></app-bm-chapter-icon>
        <p>Every person has flaws; little quirks of their personality or odd behaviors. These flaws are often a way of
          dealing with troubles in their life, letting off Stress or rationalizing their behavior to others. Other times
          they’re artifacts of a hard life, like a soldier whose missing an arm.</p>
      </div>
      <div class="anchor">
        <div id="FlawSeverityheader" class="anchorTag"></div>
        <h2>Flaw Severity</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AllFlawshaveLPuWuiwOQd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AllFlawshaveLPuWuiwOQd'"></app-bm-chapter-icon>
        <p>Flaws have a Rank but unlike other Characteristics, this Rank is represented as a die that gets added to any
          Check they apply to. This die starts at a d4!.</p>
      </div>
      <div class="anchor">
        <div id="roleplayingoutflaws" class="anchorTag"></div>
        <h2>Roleplaying Out Flaws</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='flawsnevergiveyoupersmiions' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'flawsnevergiveyoupersmiions'"></app-bm-chapter-icon>
        <p>Flaws never give you permission to cross lines or make people uncomfortable, whatever side of the screen
          you're on.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='onthieflcipsidhe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'onthieflcipsidhe'"></app-bm-chapter-icon>
        <p>On the flip side, don't take Flaws that you would be, on some level, uncomfortable roleplaying out. If you
          have any doubt, discuss with your GM and other players before the game starts and, if you're still unsure,
          spend the CrP to reroll.</p>
      </div>
      <div class="anchor">
        <div id="StartingFlawsheader" class="anchorTag"></div>
        <h1>Starting Flaws</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TherearetwogulrJIGhMV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TherearetwogulrJIGhMV'"></app-bm-chapter-icon>
        <p>There are two ways to select Flaws: Rolling and Cherry Picking. Rolling gives you more CrP per Flaw but
          Cherry
          Picking gives you more control.</p>
      </div>
      <div class="anchor">
        <div id="RollingFlawsheader" class="anchorTag"></div>
        <h2>Rolling Flaws</h2>
        <div class="underline-sub"></div>
      </div>
      <table class="float all-center first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="2">Flaw Table Table</th>
          </tr>
          <tr class="notSticky">
            <th>Roll (d100)</th>
            <th>Table</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 - 25</td>
            <td>Background</td>
          </tr>
          <tr>
            <td>26 - 50</td>
            <td>Behavioral</td>
          </tr>
          <tr>
            <td>51 - 75</td>
            <td>Mental</td>
          </tr>
          <tr>
            <td>76 - 100</td>
            <td>Physical</td>
          </tr>
        </tbody>
      </table>

      <div class='paragraphShell anchor marginBottom'>
        <div id='RollonthefiesdHclRqbV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'RollonthefiesdHclRqbV'"></app-bm-chapter-icon>
        <p>Roll on the first table below and then roll on the corresponding table.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='YoucanspendFvuQcYtpyz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanspendFvuQcYtpyz'"></app-bm-chapter-icon>
        <p>You can spend 1 CrP to reroll at any time but once you’ve committed to a table, you have to roll on that
          table.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='EachFlawaftedLYDlBEIPR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'EachFlawaftedLYDlBEIPR'"></app-bm-chapter-icon>
        <p>Each Flaw after the first loses 5 CrP of its value per previous Flaw to a minimum of 0 CrP received. So, the
          3rd
          Flaw you roll will be at a -10 CrP.</p>
      </div>
      <br>
      <div class="multiple-tables-shell">
        <table class="float all-center first-left" id="backgroundTable">
          <thead>
            <tr class="notSticky">
              <th colspan="3">Background Flaws</th>
            </tr>
            <tr>
              <th>Roll (d100!)</th>
              <th>Name</th>
              <th>CrP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 11</td>
              <td>Mule</td>
              <td>10</td>
            </tr>
            <tr>
              <td>12 - 21</td>
              <td>Orphan</td>
              <td>10</td>
            </tr>
            <tr>
              <td>22 - 31</td>
              <td>Cult Upbringing</td>
              <td>10</td>
            </tr>
            <tr>
              <td>32 - 41</td>
              <td>Inbred</td>
              <td>15</td>
            </tr>
            <tr>
              <td>42 - 50</td>
              <td>Dark Secret</td>
              <td>15</td>
            </tr>
            <tr>
              <td>51 - 59</td>
              <td>Clubfooted</td>
              <td>15</td>
            </tr>
            <tr>
              <td>60 - 68</td>
              <td>Secret Identity</td>
              <td>15</td>
            </tr>
            <tr>
              <td>69 - 71</td>
              <td>Refugee</td>
              <td>15</td>
            </tr>
            <tr>
              <td>72 - 77</td>
              <td>Feral</td>
              <td>20</td>
            </tr>
            <tr>
              <td>78 - 85</td>
              <td>Hayseed</td>
              <td>20</td>
            </tr>
            <tr>
              <td>86 - 91</td>
              <td>Eunuch</td>
              <td>20</td>
            </tr>
            <tr>
              <td>92 - 96</td>
              <td>Poor</td>
              <td>25</td>
            </tr>
            <tr>
              <td>97 - 100</td>
              <td>Bastard</td>
              <td>25</td>
            </tr>
            <tr>
              <td>101 - 104</td>
              <td>Atheist</td>
              <td>30</td>
            </tr>
            <tr>
              <td>105 - 107</td>
              <td>Debtor</td>
              <td>30</td>
            </tr>
            <tr>
              <td>108 - 110</td>
              <td>Thrall</td>
              <td>35</td>
            </tr>
            <tr>
              <td>111 - 112</td>
              <td>Excommunicated</td>
              <td>35</td>
            </tr>
            <tr>
              <td>113 - 114</td>
              <td>Haunted</td>
              <td>60</td>
            </tr>
            <tr>
              <td>115 - 116</td>
              <td>Idiot Savant</td>
              <td>60</td>
            </tr>
            <tr>
              <td>117 - 118</td>
              <td>Fated</td>
              <td>100</td>
            </tr>
            <tr>
              <td>119 - 120</td>
              <td>Half-Life</td>
              <td>150</td>
            </tr>
          </tbody>
        </table>

        <table class="float all-center first-left" id="behaviorTable">
          <thead>
            <tr class="notSticky">
              <th colspan="3">Behavioral Flaws</th>
            </tr>
            <tr>
              <th>Roll (d100)</th>
              <th>Name</th>
              <th>CrP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 4</td>
              <td>Dishonest</td>
              <td>10</td>
            </tr>
            <tr>
              <td>5 - 8</td>
              <td>Flirty</td>
              <td>10</td>
            </tr>
            <tr>
              <td>9 - 12</td>
              <td>Callous</td>
              <td>10</td>
            </tr>
            <tr>
              <td>13 - 16</td>
              <td>Immature</td>
              <td>10</td>
            </tr>
            <tr>
              <td>17 - 20</td>
              <td>Manipulative</td>
              <td>10</td>
            </tr>
            <tr>
              <td>21 - 24</td>
              <td>Talker</td>
              <td>10</td>
            </tr>
            <tr>
              <td>25 - 27</td>
              <td>Abusive</td>
              <td>15</td>
            </tr>
            <tr>
              <td>28 - 30</td>
              <td>Addict</td>
              <td>15</td>
            </tr>
            <tr>
              <td>31 - 33</td>
              <td>Appeaser</td>
              <td>15</td>
            </tr>
            <tr>
              <td>34 - 36</td>
              <td>Arrogant</td>
              <td>15</td>
            </tr>
            <tr>
              <td>37 - 39</td>
              <td>Codependent</td>
              <td>15</td>
            </tr>
            <tr>
              <td>40 - 42</td>
              <td>Glutton</td>
              <td>15</td>
            </tr>
            <tr>
              <td>43 - 45</td>
              <td>Greedy</td>
              <td>15</td>
            </tr>
            <tr>
              <td>46 - 48</td>
              <td>Impish</td>
              <td>15</td>
            </tr>
            <tr>
              <td>49 - 51</td>
              <td>Masochist</td>
              <td>15</td>
            </tr>
            <tr>
              <td>52 - 54</td>
              <td>Opusphobia</td>
              <td>15</td>
            </tr>
            <tr>
              <td>55 - 57</td>
              <td>Sadist</td>
              <td>15</td>
            </tr>
            <tr>
              <td>58 - 60</td>
              <td>Self-Martyr</td>
              <td>15</td>
            </tr>
            <tr>
              <td>61 - 63</td>
              <td>Spiteless</td>
              <td>15</td>
            </tr>
            <tr>
              <td>64 - 66</td>
              <td>Theatrical</td>
              <td>15</td>
            </tr>
            <tr>
              <td>67 - 69</td>
              <td>Vain</td>
              <td>15</td>
            </tr>
            <tr>
              <td>70 - 72</td>
              <td>Audacious</td>
              <td>20</td>
            </tr>
            <tr>
              <td>73 - 75</td>
              <td>Bigot</td>
              <td>20</td>
            </tr>
            <tr>
              <td>76 - 78</td>
              <td>Decadent</td>
              <td>20</td>
            </tr>
            <tr>
              <td>79 - 81</td>
              <td>Disloyal</td>
              <td>20</td>
            </tr>
            <tr>
              <td>82 - 84</td>
              <td>Liar</td>
              <td>20</td>
            </tr>
            <tr>
              <td>85 - 86</td>
              <td>Monotheist</td>
              <td>20</td>
            </tr>
            <tr>
              <td>87 - 88</td>
              <td>Shallow</td>
              <td>20</td>
            </tr>
            <tr>
              <td>89 - 90</td>
              <td>Smart Ass</td>
              <td>20</td>
            </tr>
            <tr>
              <td>91 - 92</td>
              <td>Impious</td>
              <td>25</td>
            </tr>
            <tr>
              <td>93 - 94</td>
              <td>Self-Righteous</td>
              <td>25</td>
            </tr>
            <tr>
              <td>95 - 96</td>
              <td>Intolerant</td>
              <td>30</td>
            </tr>
            <tr>
              <td>97</td>
              <td>Nationalist</td>
              <td>30</td>
            </tr>
            <tr>
              <td>98</td>
              <td>Stubborn</td>
              <td>35</td>
            </tr>
            <tr>
              <td>99</td>
              <td>Vow of Poverty</td>
              <td>40</td>
            </tr>
            <tr>
              <td>100</td>
              <td>Pacifist</td>
              <td>45</td>
            </tr>
          </tbody>
        </table>

        <table class="float all-center first-left" id="mentalTable">
          <thead>
            <tr class="notSticky">
              <th colspan="3">Mental Flaws</th>
            </tr>
            <tr>
              <th>Roll (d100)</th>
              <th>Name</th>
              <th>CrP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 5</td>
              <td>Cruel</td>
              <td>10</td>
            </tr>
            <tr>
              <td>6 - 10</td>
              <td>Absent-Minded</td>
              <td>10</td>
            </tr>
            <tr>
              <td>11 - 15</td>
              <td>Egotistical</td>
              <td>10</td>
            </tr>
            <tr>
              <td>16 - 20</td>
              <td>Fear of Heights</td>
              <td>10</td>
            </tr>
            <tr>
              <td>21 - 25</td>
              <td>Humorless</td>
              <td>10</td>
            </tr>
            <tr>
              <td>26 - 30</td>
              <td>Loud</td>
              <td>10</td>
            </tr>
            <tr>
              <td>31 - 35</td>
              <td>Obsessive</td>
              <td>10</td>
            </tr>
            <tr>
              <td>36 - 39</td>
              <td>Envious</td>
              <td>15</td>
            </tr>
            <tr>
              <td>40 - 43</td>
              <td>Finicky</td>
              <td>15</td>
            </tr>
            <tr>
              <td>44 - 47</td>
              <td>Impatient</td>
              <td>15</td>
            </tr>
            <tr>
              <td>48 - 51</td>
              <td>Lazy</td>
              <td>15</td>
            </tr>
            <tr>
              <td>52 - 55</td>
              <td>Megalomaniac</td>
              <td>15</td>
            </tr>
            <tr>
              <td>56 - 59</td>
              <td>Remorseless</td>
              <td>15</td>
            </tr>
            <tr>
              <td>60 - 63</td>
              <td>Slow Witted</td>
              <td>15</td>
            </tr>
            <tr>
              <td>64 - 67</td>
              <td>Superstitious</td>
              <td>15</td>
            </tr>
            <tr>
              <td>68 - 70</td>
              <td>Agoraphobic</td>
              <td>20</td>
            </tr>
            <tr>
              <td>71 - 73</td>
              <td>Claustrophobic</td>
              <td>20</td>
            </tr>
            <tr>
              <td>74 - 76</td>
              <td>Overconfident</td>
              <td>20</td>
            </tr>
            <tr>
              <td>77 - 79</td>
              <td>Perfectionist</td>
              <td>20</td>
            </tr>
            <tr>
              <td>80 - 82</td>
              <td>Phobic</td>
              <td>20</td>
            </tr>
            <tr>
              <td>83 - 85</td>
              <td>Proud</td>
              <td>20</td>
            </tr>
            <tr>
              <td>86 - 88</td>
              <td>Timid</td>
              <td>20</td>
            </tr>
            <tr>
              <td>89 - 91</td>
              <td>Withdrawn</td>
              <td>20</td>
            </tr>
            <tr>
              <td>92 - 93</td>
              <td>Distrusting</td>
              <td>25</td>
            </tr>
            <tr>
              <td>94</td>
              <td>Passionless</td>
              <td>25</td>
            </tr>
            <tr>
              <td>95</td>
              <td>Deathwish</td>
              <td>30</td>
            </tr>
            <tr>
              <td>96</td>
              <td>Klutz</td>
              <td>30</td>
            </tr>
            <tr>
              <td>97</td>
              <td>Paranoid</td>
              <td>30</td>
            </tr>
            <tr>
              <td>98</td>
              <td>Nervous</td>
              <td>40</td>
            </tr>
            <tr>
              <td>99</td>
              <td>Squeamish</td>
              <td>40</td>
            </tr>
            <tr>
              <td>100</td>
              <td>Deranged</td>
              <td>80</td>
            </tr>
          </tbody>
        </table>

        <table class="float all-center first-left" id="physicalTable">
          <thead>
            <tr class="notSticky">
              <th colspan="3">Physical Flaws</th>
            </tr>
            <tr>
              <th>Roll (d100!)</th>
              <th>Name</th>
              <th>CrP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 9</td>
              <td>Ageusia</td>
              <td>10</td>
            </tr>
            <tr>
              <td>10 - 16</td>
              <td>Missing Digit(s)</td>
              <td>10</td>
            </tr>
            <tr>
              <td>17 - 25</td>
              <td>Boar Faced</td>
              <td>15</td>
            </tr>
            <tr>
              <td>26 - 34</td>
              <td>Missing Ear(s)</td>
              <td>15</td>
            </tr>
            <tr>
              <td>35 - 42</td>
              <td>Sensitive Hearing</td>
              <td>15</td>
            </tr>
            <tr>
              <td>42 - 50</td>
              <td>Sensitive</td>
              <td>15</td>
            </tr>
            <tr>
              <td>51 - 56</td>
              <td>Epileptic</td>
              <td>20</td>
            </tr>
            <tr>
              <td>57 - 62</td>
              <td>Hyperopia</td>
              <td>20</td>
            </tr>
            <tr>
              <td>63 - 68</td>
              <td>Impotent</td>
              <td>20</td>
            </tr>
            <tr>
              <td>69 - 74</td>
              <td>Myopia</td>
              <td>20</td>
            </tr>
            <tr>
              <td>75 - 80</td>
              <td>Limp</td>
              <td>25</td>
            </tr>
            <tr>
              <td>81 - 86</td>
              <td>Missing Eye(s)</td>
              <td>25</td>
            </tr>
            <tr>
              <td>87 - 90</td>
              <td>No Depth Perception</td>
              <td>25</td>
            </tr>
            <tr>
              <td>91 - 94</td>
              <td>Shaky Hands</td>
              <td>25</td>
            </tr>
            <tr>
              <td>95 - 97</td>
              <td>Stutter</td>
              <td>25</td>
            </tr>
            <tr>
              <td>98 - 100</td>
              <td>Deaf</td>
              <td>30</td>
            </tr>
            <tr>
              <td>101 - 103</td>
              <td>Missing Arm(s)</td>
              <td>30</td>
            </tr>
            <tr>
              <td>104 - 106</td>
              <td>Weak</td>
              <td>30</td>
            </tr>
            <tr>
              <td>107 - 109</td>
              <td>Asthmatic</td>
              <td>35</td>
            </tr>
            <tr>
              <td>110 - 112</td>
              <td>Blind, Partial</td>
              <td>40</td>
            </tr>
            <tr>
              <td>113 - 115</td>
              <td>Mute</td>
              <td>40</td>
            </tr>
            <tr>
              <td>116</td>
              <td>Infirm</td>
              <td>40</td>
            </tr>
            <tr>
              <td>117</td>
              <td>Insomniac</td>
              <td>30</td>
            </tr>
            <tr>
              <td>118</td>
              <td>Blind, Total</td>
              <td>60</td>
            </tr>
            <tr>
              <td>119</td>
              <td>Craven</td>
              <td>60</td>
            </tr>
            <tr>
              <td>120</td>
              <td>Hemophiliac</td>
              <td>60</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="anchor">
        <div id="CherryPickingheader" class="anchorTag"></div>
        <h2>Cherry Picking Flaws</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='FortheroleplNzSAiBgzpz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'FortheroleplNzSAiBgzpz'"></app-bm-chapter-icon>
        <p>For the roleplayers among us with a specific character idea in mind, you may Cherry Pick your Flaws.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='EachFlawafteBqgxtNEWqs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'EachFlawafteBqgxtNEWqs'"></app-bm-chapter-icon>
        <p>Each Flaw after the first loses 10 CrP of its value per Flaw to a minimum of 0 CrP received. So, the 3rd Flaw
          you
          pick will be at a -20 CrP.</p>
      </div>
      <div class="anchor">
        <div id="FlawDescriptiheader" class="anchorTag"></div>
        <h1>Flaw Descriptions</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WhilemostFlaqQlsWTekTz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhilemostFlaqQlsWTekTz'"></app-bm-chapter-icon>
        <p>While most Flaws can be reasonably looked up, some might need some clarification which is why they're listed
          below or additional penalties. We've also provided some handy tables you might find useful for figuring out
          the
          details of that Flaw.</p>
      </div>
      <div class="anchor">
        <div id="ADDICTheader" class="anchorTag"></div>
        <h2>Addict</h2>
        <div class="underline-sub"></div>
      </div>
      <table class="float all-center first-left">
        <thead>
          <tr class="notSticky">
            <th colspan="2">Addictions</th>
          </tr>
          <tr class="notSticky">
            <th>Roll (d20)</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 - 5</td>
            <td>Drugs</td>
          </tr>
          <tr>
            <td>6 - 10</td>
            <td>Sex</td>
          </tr>
          <tr>
            <td>11 - 15</td>
            <td>Gambling</td>
          </tr>
          <tr>
            <td>16 - 20</td>
            <td>Alcohol</td>
          </tr>
        </tbody>
      </table>
      <div class='paragraphShell anchor marginBottom'>
        <div id='YoucanofcoyhmrmejtpZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanofcoyhmrmejtpZ'"></app-bm-chapter-icon>
        <p>You can, of course, choose whatever addiction you feel fits your character, but we’ve provided a table you
          can
          use to generate one for you.</p>
      </div>
      <div class="anchor">
        <div id="ATHEISTheader" class="anchorTag"></div>
        <h2>Atheist</h2>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThewayoftheaQfPVfOstZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThewayoftheaQfPVfOstZ'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p>The way of the divine is a mysterious path, and someone mistake it for no path at all. Some refuse to believe
          that intelligent higher powers exist and so forfeit some of the blessings while others find worshipping such
          beings laughable, like giving reverence to the biggest bully on the block.</p>
      </div>
      <div class="anchor">
        <div id="BLINDTOTALheader" class="anchorTag"></div>
        <h2>Blind, Total</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThischaracterbgblCUjOpQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterbgblCUjOpQ'"></app-bm-chapter-icon>
        <p>This character has completely lost his sight. He sees only pure white or pure black, unable to sense any
          movement
          around him.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='InmeleecombagUaLCfXIsk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'InmeleecombagUaLCfXIsk'"></app-bm-chapter-icon>
        <p>In melee combat, they defend and attack with a 1d6! And ranged combat is right out, however, if you insist,
          you’ll be attacking and defending with a 1d4, so enjoy your fumbles, you stubborn bastard.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AdditionallyZUcZDgJWmp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AdditionallyZUcZDgJWmp'"></app-bm-chapter-icon>
        <p>Additionally, any Skill Challenges involving sight halves the person’s Skill Rank.</p>
      </div>
      <div class="anchor">
        <div id="BOARFACEDheader" class="anchorTag"></div>
        <h2>Boar Faced</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisisthepoCiPWBsVHms' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisthepoCiPWBsVHms'"></app-bm-chapter-icon>
        <p>This is the polite way of say that someone is ugly as sin. This could be the result of parentage or a bad
          accident, either way, people don’t like being around them or dealing with them. As mean as it might be, people
          judge books by their covers.</p>
      </div>
      <div class="anchor">
        <div id="DARKSECRETheader" class="anchorTag"></div>
        <h2>Dark Secret</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheressomethWdPLiCzVxM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheressomethWdPLiCzVxM'"></app-bm-chapter-icon>
        <p>There’s something that this character is hiding and she’s worried that she’ll be found out. She’ll jealously
          guard every aspect of her life if she can for fear of being found out.</p>
      </div>
      <div class="anchor">
        <div id="DEBTORheader" class="anchorTag"></div>
        <h2>Debtor</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterOqzEQtZPkz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterOqzEQtZPkz'"></app-bm-chapter-icon>
        <p>This character has gotten into trouble financially. This character starts with 5d20 + 150 sc of debt instead
          of
          gaining a like amount to start off with. All their equipment much then be purchased on a credit of 50 sc that
          is
          also taken out of their debt. If they don’t make payments on it, they may find themselves on the bad end of
          the
          law or the loan shark they borrowed from.</p>
      </div>
      <div class="anchor">
        <div id="DERANGEDheader" class="anchorTag"></div>
        <h2>Deranged</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThereareholejZLmYYusFy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThereareholejZLmYYusFy'"></app-bm-chapter-icon>
        <p>There are holes in this character’s brains and he’s starting to slip into madness. The nature of this
          neurosis is
          up to the character.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThecharactervjMAyQoiKi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThecharactervjMAyQoiKi'"></app-bm-chapter-icon>
        <p>The character doesn’t suffer the effects of Stress until it matches his Willpower score, at that point, he
          has
          an
          episode and doubles his total Stress. Once, he’s recovered (dropped his Stress back down below his Willpower),
          he
          suffers a permanent reduction 1 to both his Intellect and Willpower.</p>
      </div>
      <div class="anchor">
        <div id="EPILEPTICheader" class="anchorTag"></div>
        <h2>Epileptic</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='SomethingisnjUMdqUponp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SomethingisnjUMdqUponp'"></app-bm-chapter-icon>
        <p>Something is not wired up just right in this character’s brain and that causes them to have little
          short-outs.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WhensomethingrEmFrmUptz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhensomethingrEmFrmUptz'"></app-bm-chapter-icon>
        <p>When something triggers a Trauma check for the character, or their Stress reaches above their Int score,
          there is
          a 1 in 8 chance of the character having a seizure, in which they’re completely helpless for the next 1d3
          minutes.</p>
      </div>
      <div class="anchor">
        <div id="EXCOMMUNICATEDheader" class="anchorTag"></div>
        <h2>Excommunicated</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThischaractercVGDsBRAJo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaractercVGDsBRAJo'"></app-bm-chapter-icon>
        <p>This character has invoked the wrath of an angry god, calling down divide judgement on his head. This is more
          commonly a member of the faithful who's fallen away or lost his way or willfully defies the cult’s teachings,
          but less commonly, it’s an outsider whose been declared an enemy of the faith.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ExcommunicatedTwTUXJgJzg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ExcommunicatedTwTUXJgJzg'"></app-bm-chapter-icon>
        <p>Excommunicated members cannot gain the blessings of any miracles related to a single Covenant. Additionally,
          baleful invocations from priests of the deity that excommunicated them half their threshold.</p>
      </div>
      <div class="anchor">
        <div id="FATEDheader" class="anchorTag"></div>
        <h2>Fated</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='CertaincharacZrtnzMEPMt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'CertaincharacZrtnzMEPMt'"></app-bm-chapter-icon>
        <p>Certain character’s bear a strange sign on them that marks them for doom. The cruel strings of fate weave
          together to form a noose for them.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AtcreationtDCFloOTqoA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AtcreationtDCFloOTqoA'"></app-bm-chapter-icon>
        <p>At creation, the GM rolls 1d8!. This is the number of sessions the character has before Fate begins to
          sharpen
          her shears. After that point, the character takes extra damage each time they're hit equal to how many
          sessions
          have passed since then.</p>
      </div>
      <div class="anchor">
        <div id="FERALheader" class="anchorTag"></div>
        <h2>Feral</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThewildandumjrUMURoww' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThewildandumjrUMURoww'"></app-bm-chapter-icon>
        <p>The wild and untamed lands are home to frontier men and families. Occasionally, children escape and are
          raised
          only by the wild, occasionally wolves.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='FeralcharacteQSHkmEzlPG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'FeralcharacteQSHkmEzlPG'"></app-bm-chapter-icon>
        <p>Feral characters still receive any free skills from their Archetype but any additional skills they try to
          pick up
          can only be from the Atheletics and Survival Skill Suites.</p>
      </div>
      <div class="anchor">
        <div id="HALFLIFEheader" class="anchorTag"></div>
        <h2>Half-life</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterfhXslLAUhy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterfhXslLAUhy'"></app-bm-chapter-icon>
        <p>This character has died and forced back to life, maybe against his will. This character is affected by the
          Force
          Bind Spirit spell, though the Duration is set to 1d4! - 2 (minimum 1) years and a day. Why he came back is up
          to
          you. Perhaps he had some unfinished business or perhaps he was targeted accidently. In any case, now he lives
          a
          half-life.</p>
      </div>
      <div class="anchor">
        <div id="HAUNTEDheader" class="anchorTag"></div>
        <h2>Haunted</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='MostlycommonlVEhfaCZpJZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'MostlycommonlVEhfaCZpJZ'"></app-bm-chapter-icon>
        <p>Mostly commonly, this character has done something to dishonor his clan and has been since been haunted by
          one of
          their ancestors, displeased by their actions.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThespirittaklPMEGDHVhQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThespirittaklPMEGDHVhQ'"></app-bm-chapter-icon>
        <p>The spirit takes the corporeal form of a rotting corpse wearing its death mask, bothering the possessed at
          all
          hours to restore his family’s honor and stop being such a failure. The ancestor will do nothing to protect
          their
          descendant and often make life harder for them when they can.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='UnfortunatelyUiWATykXKD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'UnfortunatelyUiWATykXKD'"></app-bm-chapter-icon>
        <p>Unfortunately, decades, if not centuries, in the grave have made the ancestor more than a bit senile. Even if
          the
          character is to obtain Great Honor, the ancestor doesn’t care; what it really wants is for the character to
          sacrifice themselves in a heroic way or perform suicide.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracteraiHePtDokL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracteraiHePtDokL'"></app-bm-chapter-icon>
        <p>This character heals half the Stress from taking a Breather and gains half the Relaxation that others would and loses 1 Honor at the end of every session.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisFlawmaycVfskTqvEA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisFlawmaycVfskTqvEA'"></app-bm-chapter-icon>
        <p>This Flaw may be paid off for half cost if the character has lasted 2 sessions in Great Honor, however it
          goes
          back up to full price if they slip out of Great Honor later.</p>
      </div>
      <div class='sidebarShell marginBottom'>
        <h5 class='sidebarTitle'>Playing the Honored Dead</h5>
        <div class='paragraphShell anchor marginBottom'>
          <div id='hjojiojfeiwojfew' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'hjojiojfeiwojfew'"></app-bm-chapter-icon>
          <p>The Honored Dead may have been a person once but they're no longer their full personalities but merely
            shards of what they once were: their strongest characteristics shine
            through but the subtlety of the once living person is often lost.</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='qhwawazs' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'qhwawazs'"></app-bm-chapter-icon>
          <p>So, Honored Dead will often only have 2 Characteristics. Often this is just their
            2 Strongest Traits but it can also be their Devotions, Flaws,
            Temperament, or even Goals, or some combination, that are used to inform how they interact with their kin.</p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
          <div id='oplpokop' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'oplpokop'"></app-bm-chapter-icon>
          <p>Players should be encouraged to fill this out and
            know at least something about the person that's currently haunting them, although the GM gets the final approval.</p>
        </div>
      </div>
      <div class="anchor">
        <div id="HEMOPHILICheader" class="anchorTag"></div>
        <h2>Hemophilic</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheseguyslovhMEyJPVfmD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheseguyslovhMEyJPVfmD'"></app-bm-chapter-icon>
        <p>These guys love to bleed. Well, they may not love it but they certainly do it a lot more than the rest of us.
          They take an additional d4 points of damage every time they're wounded.</p>
      </div>
      <div class="anchor">
        <div id="IDIOTSAVANTheader" class="anchorTag"></div>
        <h2>Idiot Savant</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterzRQJUSdZng' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterzRQJUSdZng'"></app-bm-chapter-icon>
        <p>This character was born gifted. Or in other words, they were born with the ability to understand something
          but
          nothing else. This character picks an Advanced Skill; all other Skills cost double.
          The chosen Skill now costs half.</p>
      </div>
      <div class="anchor">
        <div id="IMPISHheader" class="anchorTag"></div>
        <h2>Impish</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterjeJMWFLsBQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterjeJMWFLsBQ'"></app-bm-chapter-icon>
        <p>This character loves getting into trouble, mostly through pranks of all kinds. While she’s not inherently
          malicious, her pranks tend to be unwelcome.</p>
      </div>
      <div class="anchor">
        <div id="IMPOTENTheader" class="anchorTag"></div>
        <h2>Impotent</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='IfthischaracwLYvkglnlG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'IfthischaracwLYvkglnlG'"></app-bm-chapter-icon>
        <p>If this character was a tree, he’d have particularly softwood, if you know what I mean. His lack of
          confidence in
          his abilities in the bedroom, tend to affect the other parts of his life, often snowballing; he loses an
          additional Honor for every 10 lost.</p>
      </div>
      <div class="anchor">
        <div id="INBREDheader" class="anchorTag"></div>
        <h2>Inbred</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='OftenacurseehsIkveMMN' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'OftenacurseehsIkveMMN'"></app-bm-chapter-icon>
        <p>Often a curse of the nobility that get too close to their cousins, inbreeding can stunt the mental capacity
          of
          their offspring. Typically, this is pretty mild for the most part, but it means that increasing this
          character’s
          Intellect score costs double.</p>
      </div>
      <div class="anchor">
        <div id="LIMPheader" class="anchorTag"></div>
        <h2>Limp</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SomethingisnbTtVckYchN' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SomethingisnbTtVckYchN'"></app-bm-chapter-icon>
        <p>Something isn’t working just right, whether from a birth defect or a war wound, causing this character to
          hobble
          along at a slower pace. Characters with a limp move at half their speed at all times.</p>
      </div>
      <div class="anchor">
        <div id="MISSINGARMheader" class="anchorTag"></div>
        <h2>Missing Arm</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='MostlikelythtzxSupgjfW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'MostlikelythtzxSupgjfW'"></app-bm-chapter-icon>
        <p>Most likely this is the result of some terrible accident or horrific war wound, though some people are born
          with
          an arm missing.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AcharacterwiSMokzVkMLs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AcharacterwiSMokzVkMLs'"></app-bm-chapter-icon>
        <p>A character with this Flaw is unable to wield two handed weapons, employ bows or crossbows, or anything else
          that
          needs two hands.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThisFlawmayQVZYwPeMxb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisFlawmayQVZYwPeMxb'"></app-bm-chapter-icon>
        <p>This Flaw may be rolled multiple times, with the second time you take this flaw making it worth 60 CrP (in addition to the CrPs from the first time you picked this Flaw up)., as it
          prevents the character from using any weapons, and makes them unable to cast spells with Somatic components
        </p>
      </div>
      <div class="anchor">
        <div id="MISSINGEARheader" class="anchorTag"></div>
        <h2>Missing Ear</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WhileitwontmrpFecdfGo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhileitwontmrpFecdfGo'"></app-bm-chapter-icon>
        <p>While it won’t limit your ability to hear entirely, the shape of the ear does make it easier to hear things.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThefirsttimefyZIQpBFez' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThefirsttimefyZIQpBFez'"></app-bm-chapter-icon>
        <p>The first time you roll this Flaw, all Listening Checks take a penalty of -3.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThesecondtimVsUBaMIPeg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesecondtimVsUBaMIPeg'"></app-bm-chapter-icon>
        <p>The second time, all Listening checks are 3 Difficulties harder and your initiative dice becomes one worse.
          You gain 25 CrPs instead of 20 (in addition to the CrPs from the first time you picked this Flaw up).</p>
      </div>
      <div class="anchor">
        <div id="MISSINGEYEheader" class="anchorTag"></div>
        <h2>Missing Eye</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='YoucanimagingbyFPgUmdN' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanimagingbyFPgUmdN'"></app-bm-chapter-icon>
        <p>You can imagine that a character with one eye gone would have an issue with his depth perception. You’d be
          correct.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThefirsttimekrdjkZxIva' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThefirsttimekrdjkZxIva'"></app-bm-chapter-icon>
        <p>The first time a character gains this Flaw, he automatically attacks second when engaging in melee, even if
          his
          weapon has the greater reach and everything is counted as two range categories further for ranged weaponry.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThesecondtimPZPfrnRUSC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesecondtimPZPfrnRUSC'"></app-bm-chapter-icon>
        <p>The second time this Flaw is rolled, the penalties are replaced by those of the Blind, Total Flaw and he
          gains an
          additional 25 CrP.</p>
      </div>
      <div class="anchor">
        <div id="MONOTHEISTheader" class="anchorTag"></div>
        <h2>Monotheist</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ForthischaraPNaWnYlnUb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ForthischaraPNaWnYlnUb'"></app-bm-chapter-icon>
        <p>For this character, there is only one true god, and all other divines are false deities or the work of
          devils.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='HewillrefusebKWObwjxaj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'HewillrefusebKWObwjxaj'"></app-bm-chapter-icon>
        <p>He will refuse help from pagan clerics and is bound to only miracles within his chosen Covenant.</p>
      </div>
      <div class="anchor">
        <div id="MULEheader" class="anchorTag"></div>
        <h2>Mule</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WhiletheymayyJiveuWQmu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhiletheymayyJiveuWQmu'"></app-bm-chapter-icon>
        <p>While they may not show it, this character is the result of mixed ancestry and something about their
          unnatural
          genesis makes them sterile, unable to promulgate. While this will definitely make creating a dynasty an issue,
          certain carousers may hardly consider this a Flaw.</p>
      </div>
      <div class="anchor">
        <div id="NODEPTHPERCEheader" class="anchorTag"></div>
        <h2>No Depth Perception</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterBVAyUpoQXU' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterBVAyUpoQXU'"></app-bm-chapter-icon>
        <p>This character has a hard time reading distances making it so that he automatically attacks second when
          engaging
          in melee combat, even if his weapon has the greater reach and everything is counted as two range categories
          further for ranged weaponry.</p>
      </div>
      <div class="anchor">
        <div id="OPUSPHOBIAheader" class="anchorTag"></div>
        <h2>Opusphobia</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='OpusphobiaisHqLvGNzcEd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'OpusphobiaisHqLvGNzcEd'"></app-bm-chapter-icon>
        <p>Opusphobia is defined by a fear or repulsion of a certain career choice. Someone with this Flaw may dislike
          horse
          merchants because he sees them all at crooks or innkeepers because he’s afraid they’re working with the
          Thieves
          Guilds.</p>
      </div>
      <div class="anchor">
        <div id="PASSIONLESSheader" class="anchorTag"></div>
        <h2>Passionless</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WhetherbecausajJImKXpZQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhetherbecausajJImKXpZQ'"></app-bm-chapter-icon>
        <p>Whether because of imbalance in their brain or they haven’t really found that thing that calls to them, a
          Passionless character has problems really being interested in any given subject they try to engage in. Any
          situation die they gain from their Skills are always one smaller.</p>
      </div>
      <div class="anchor">
        <div id="POORheader" class="anchorTag"></div>
        <h2>Poor</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SomecharacterdJXCJuLsdh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SomecharacterdJXCJuLsdh'"></app-bm-chapter-icon>
        <p>Some characters don’t have the financial leg up that others have. These characters must choose the following
          Equipment Kit during Step 11 of Character Creation.</p>
      </div>
      <table class="marginBottom all-centered first-left table-center">
        <thead>
          <tr class="notSticky">
            <th colspan="3">Pauper's Kit</th>
          </tr>
          <tr class="notSticky">
            <th>Item</th>
            <th>Size</th>
            <th>Sell Back</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 S Weapon</td>
            <td>S</td>
            <td>15 sc</td>
          </tr>
          <tr>
            <td>Breeches, Linen*</td>
            <td>n/a</td>
            <td>12 sc</td>
          </tr>
          <tr>
            <td>Shirt, Wool*</td>
            <td>n/a</td>
            <td>13 sc</td>
          </tr>
          <tr>
            <td>Sandles, Leather*</td>
            <td>n/a</td>
            <td>4 sc</td>
          </tr>
          <tr>
            <td>Rations, Person, Day x3</td>
            <td>3S</td>
            <td>7.5 sc</td>
          </tr>
          <tr>
            <th>Weight: 1M 1S</th>
            <th colspan="2">Extra Cash: d10! cc</th>
          </tr>
        </tbody>
      </table>
      <div class="anchor">
        <div id="PHOBICheader" class="anchorTag"></div>
        <h2>Phobic</h2>
        <div class="underline-sub"></div>
      </div>
      <table class="marginBottom all-centered first-left float">
        <thead>
          <tr class="notSticky">
            <th colspan="2">Phobias</th>
          </tr>
          <tr class="notSticky">
            <th>Roll (d10)</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Animals</td>
          </tr>
          <tr>
            <td>2</td>
            <td>being Restrained</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Combat</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Commitment</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Confrontations</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Magic</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Religion</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Sickness</td>
          </tr>
          <tr>
            <td>9</td>
            <td>The Dead</td>
          </tr>
          <tr>
            <td>10</td>
            <td>The Opposite Gender</td>
          </tr>
        </tbody>
      </table>
      <div class='paragraphShell anchor marginBottom'>
        <div id='YoucanofcoMhOGxdkXjb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanofcoMhOGxdkXjb'"></app-bm-chapter-icon>
        <p>You can, of course, choose whatever fear you feel fits your character, but we’ve provided a table you can use
          to
          generate one for you.</p>
      </div>
      <div class="anchor">
        <div id="REFUGEEheader" class="anchorTag"></div>
        <h2>Refugee</h2>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='FleeingfromtOrJyECJjhC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'FleeingfromtOrJyECJjhC'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p>Fleeing from their homeland for either economic, religious, or conflict reasons, this character finds
          themselves
          in a foreign land. Their flight has forced them to leave much of their belongings behind, halving their
          starting
          cash and they tend to be unfamiliar with the language and customs. Their native language is not the main one
          for
          this area and the Language and Law of the country they’re fleeing to costs double as they had to learn it
          under
          stressful circumstances</p>
      </div>
      <div class="anchor">
        <div id="SECRETIDENTITheader" class="anchorTag"></div>
        <h2>Secret Identity</h2>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ForwhateverrZDQiQgfmVm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ForwhateverrZDQiQgfmVm'"></app-bm-chapter-icon>
        <div class="underline-sub"></div>
        <p>For whatever reason, whether they’re hiding from enemies, or they want to put their old life behind them,
          this
          character is trying to keep their past a secret. When this flaw is rolls, this character selects one of their
          Archetypes to be the remnant of their past. Any mention of the Archetypes abilities nets this character 1
          Stress.</p>
      </div>
      <div class="anchor">
        <div id="SELFMARTYRheader" class="anchorTag"></div>
        <h2>Self Martyr</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='LifedoesntfCOhQwAixkQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'LifedoesntfCOhQwAixkQ'"></app-bm-chapter-icon>
        <p>Life doesn’t feel complete if people don’t know how much you’re sacrificing for them.</p>
      </div>
      <div class="anchor">
        <div id="SENSITIVEheader" class="anchorTag"></div>
        <h2>Sensitive</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterWAgoDdYZjg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterWAgoDdYZjg'"></app-bm-chapter-icon>
        <p>This character has superb senses compared to others; however it makes it challenging for them to function
          sometimes as they can just get overloaded.</p>
      </div>
      <div class="anchor">
        <div id="SENSITIVEHEARheader" class="anchorTag"></div>
        <h2>Sensitive Hearing</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThischaracterRpieoGRhyk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThischaracterRpieoGRhyk'"></app-bm-chapter-icon>
        <p>This character is incredibly prone to noise. Other’s normal talking voice sound to them like they’re yelling.
          You’ll think this would help them suss out noise more effectively but instead it makes it harder to hear
          because
          there’s too much sensory input.</p>
      </div>
      <div class="anchor">
        <div id="TALKERheader" class="anchorTag"></div>
        <h2>Talker</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='WhetheraroundpyCQkQrMlb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhetheraroundpyCQkQrMlb'"></app-bm-chapter-icon>
        <p>Whether around the campfire or in stressful situation, this person can’t keep their mouth shut. They’ll just
          talk
          and talk, only stopping to take necessary breathes.</p>
      </div>
      <div class="anchor">
        <div id="THRALLheader" class="anchorTag"></div>
        <h2>Thrall</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThrallsarethwstrCyVDby' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThrallsarethwstrCyVDby'"></app-bm-chapter-icon>
        <p>Thralls are those taken in raids or the children of slaves. Technically, they’re ‘free’ but they have a
          social
          stigma that follow them. Thralls gain no extra starting cash and half the amount of equipment the kit normally
          starts with and starting a Confrontation with someone of high status automatically gives you 3 points.</p>
      </div>
      <div class="anchor">
        <div id="VOWofPOVERTYheader" class="anchorTag"></div>
        <h2>Vow Of Poverty</h2>
        <div class="underline-sub"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheMiddleReafLbTclbaUh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheMiddleReafLbTclbaUh'"></app-bm-chapter-icon>
        <p>The Middle Realm corrupts and those that wish to come closer to the Gods’ Realm sometimes eschew worldly
          possessions. This character only keeps enough wealth on them to buy basic food to sustain them for that day,
          all
          other wealth is donated to any local cults. They give their goods to the needy, not fellow adventurers. Their
          Max Favor is increased by 1.</p>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]='side'></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Chapter 2.4 Flaws</h1>
  </div>
</div>