.limp-tables-shell {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    float: right;
    width: 40%;
}

.result-shell {
    display: flex;
    justify-content: space-evenly;
}

.result-shell p {
    text-indent: 0;
}

.result-shell i {
    color: #b45f06;
    font-size: 13px;
    transition: .6s;
}

.result-shell i:hover {
    color: #222
}


.resultHolder {
    margin: 10px auto;
    width: 45%;
    text-align: center;
}

.resultHolder+.jump-icon {
    width: 10%;
}

.jump-icon {
    display: flex;
    align-items: center;
}

.jump-icon div {
    height: 35px;
    width: 35px;
    background-color: #b45f06;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
}

.jump-icon div i {
    color: whitesmoke;
    font-size: 25px;
}

.jump-icon div:hover {
    background-color: #222;
}

.generateButton {
    background: #b45f06;
    color: whitesmoke;
    width: 200px;
    position: inherit;
    border-radius: 25px;
    transition: .6s;
}

.generateButton:hover {
    background: #222;
}

@media (max-width: 770px) { 
    .limp-tables-shell {
        float: unset;
        width: 100%;
    }
}

@media (max-width: 426px) {
    .result-shell {
        flex-direction: column;
    }
}
