  
  .DemonSummonedTable {
    width: 350px;
    float: left;
    margin: 0 15px 0 0;
  }
  
  .headerTop {
    background: #222;
    color: whitesmoke;
    width: 100%;
  }
  
  .headerSide {
    position: absolute;
    color: whitesmoke;
    top: 89px;
    left: -15px;
  }
  
  .magicteachingTable {
    margin: 0 auto 25px;
    width: 490px;
    overflow: auto;
  }
  
  .magicteachingvalue {
    min-width: 83px;
  }
  
  .tableValue {
    padding: 0;
    height: 24px;
  }
  
  .tableValue .magicteachingvalue:first-child {
    background: #222;
    min-width: 50px;
    margin-bottom: 0;
    min-height: 24px;
  }

  .DemonSummonedvalue {
    width: 30%;
    text-align: left;
  }
  
  .tableValue .DemonSummonedvalue:first-child {
    width: 25%;
    text-align: center;
  }

  .tableValue .DemonSummonedvalue:last-child {
    width: 45%;
  }
  
.multitableShell {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

  @media (max-width: 650px) {
    .DemonSummonedTable {
      float: none;
      margin: 10px auto;
    }

    .magicteachingTable[_ngcontent-c5] {
      margin: 0 auto 5px;
      float: none;
      width: 100%;
    }
  }
  