<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class="anchor">
        <div id="15hbYNKwyrdVf" class="anchorTag"></div>
        <h1>STAT SCORE DAMAGE</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pmEMfrIMWen' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pmEMfrIMWen'"></app-bm-chapter-icon>
        <p> Stat Score damage occurs in several places and it’s fairly straightforward. Then why have this section,
          you ask? As a quick aside to keep the game moving.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pdjzvbJxAad' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pdjzvbJxAad'"></app-bm-chapter-icon>
        <p> The sudden change in ability is incredibly unnerving, meaning that until the person can stop, take a breath
          and re-adjust to their new reality (meaning the player can adjust the stats on his character sheet without
          breaking off Combat, a Conflict, a Challenge or any narrative tension the GM has built up), he gets a penalty
          of 1 for each point lost to anything that Stat Score influences. So, a -3 to Dexterity would net a
          temporary -3 to Attack, and Defense, +3 to Initiative, all while reducing the Social Die by 3 sizes, if
          applicable.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='15pLFCuaeUnTp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pLFCuaeUnTp'"></app-bm-chapter-icon>
        <p> If the amount drained is more than the score, the person becomes appropriately incapacitated, but not dead,
          until the Stat Score damage is healed.</p>
      </div>
      <div class="anchor">
        <div id="15hOfPmmhELBY" class="anchorTag"></div>
        <h1>FALLING DAMAGE</h1>
        <div class="underline"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='15pAYkdDHxaUr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pAYkdDHxaUr'"></app-bm-chapter-icon>
        <p> When your character falls, they take damage based on how far that surpasses their DR from armor, however,
          they can do somethings to help their decent.</p>
      </div>
      <div class='tableOverflowWindow anchor FallingDamageTable'>
        <div id='15t1' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15t1'"></app-bm-chapter-icon>
        <div class='tableOuterShell' [ngStyle]='{width: "175px"}'>
          <h1 class='tableTitle'>Falling Damage</h1>
          <div class='tableHeaders'>
            <div class='tableRow'>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Distance (ft)</p>
                <p class='FallingDamagevalue TableIndividual'>Damage</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>
                  <5< /p>
                    <p class='FallingDamagevalue TableIndividual'>0
                    </p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>10</p>
                <p class='FallingDamagevalue TableIndividual'>1d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>20</p>
                <p class='FallingDamagevalue TableIndividual'>2d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>40</p>
                <p class='FallingDamagevalue TableIndividual'>3d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>60</p>
                <p class='FallingDamagevalue TableIndividual'>4d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>70</p>
                <p class='FallingDamagevalue TableIndividual'>5d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>75</p>
                <p class='FallingDamagevalue TableIndividual'>6d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>80</p>
                <p class='FallingDamagevalue TableIndividual'>7d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>82</p>
                <p class='FallingDamagevalue TableIndividual'>8d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>85</p>
                <p class='FallingDamagevalue TableIndividual'>9d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>87</p>
                <p class='FallingDamagevalue TableIndividual'>10d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>90</p>
                <p class='FallingDamagevalue TableIndividual'>11d12!</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>+1 Ft</p>
                <p class='FallingDamagevalue TableIndividual'> +1d12!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='tableOverflowWindow anchor FallingModifiersTable'>
        <div id='15t2' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15t2'"></app-bm-chapter-icon>
        <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
          <h1 class='tableTitle'>Falling Modifiers</h1>
          <div class='tableHeaders'>
            <div class='tableRow'>
              <div class='tableValue'>
                <p class='FallingModifiersvalue TableIndividual'>Distance</p>
                <p class='FallingModifiersvalue TableIndividual'>Action</p>
              </div>
              <div class='tableValue'>
                <p class='FallingModifiersvalue TableIndividual'>-5 Ft</p>
                <p class='FallingModifiersvalue TableIndividual'>Expecting The Fall</p>
              </div>
              <div class='tableValue'>
                <p class='FallingModifiersvalue TableIndividual'>- Height</p>
                <p class='FallingModifiersvalue TableIndividual'>Lowering Yourself First</p>
              </div>
              <div class='tableValue'>
                <p class='FallingModifiersvalue TableIndividual'>-5 Ft</p>
                <p class='FallingModifiersvalue TableIndividual'>Soft Landing</p>
              </div>
              <div class='tableValue'>
                <p class='FallingModifiersvalue TableIndividual'>-15 Ft</p>
                <p class='FallingModifiersvalue TableIndividual'>Water Landing</p>
              </div>
              <div class='tableValue'>
                <p class='FallingModifiersvalue TableIndividual'>See Skill</p>
                <p class='FallingModifiersvalue TableIndividual'>Acrobatics Check</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="anchor fallingMargin">
        <div id="15hLzcrnSHGfR" class="anchorTag"></div>
        <h1>ILLUMINATION</h1>
        <div class="underline"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='15plWgtjeFHUU' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15plWgtjeFHUU'"></app-bm-chapter-icon>
        <p> For sake of simplicity, there’s five categorizations of how much light there is in an area:</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15KhJmVtGSZa' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15KhJmVtGSZa'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>BLINDING</strong> This is like staring into the sun. It's very painful and not
          very pleasant.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15cAyfqeBStd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15cAyfqeBStd'"></app-bm-chapter-icon>
        <p> Assuming that you cover your eyes, you'll be acting as if you're blind. Even then, a moment's exposure even
          temporarily results in a d10! second delay as you try to recover. If you continue to expose yourself to this
          level of illumination, you'll be unable to act at all and will do blind in a number of seconds equal to your
          Con.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15dyOqSgYsAb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15dyOqSgYsAb'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>BRIGHT</strong> This is the leve of light of starting into a fire or just
          having your eyes near it. It sucks but it probably won't do permanent damage.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15MOmmKzVETP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15MOmmKzVETP'"></app-bm-chapter-icon>
        <p> This doesn't really affect your aim or anything like that but it does make it difficult to focus on things,
          delaying any action by 1d4! seconds as you try and squint and see what you're doing.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pgRMGFLEoU' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pgRMGFLEoU'"></app-bm-chapter-icon>
        <p> It also lowers any Skill Checks that require sight by 2.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15poasvkbMjJc' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15poasvkbMjJc'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>NORMAL</strong> This is normal daylight and occurs no operating penalties.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15piXLscZEzyh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15piXLscZEzyh'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>DIM-LIGHTING</strong> This the equivalent of a dark room or nighttime. There’s
          some visibility; the character can make out shapes and shadows but no fine details.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pOuMJNhowgm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pOuMJNhowgm'"></app-bm-chapter-icon>
        <p> In melee combat, those in dim-lighting defend and attack with a 1d12! and using ranged weapons is even more
          of challenge. However, if you insist, you’ll be attacking with a 1d6!.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15punZkQpsape' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15punZkQpsape'"></app-bm-chapter-icon>
        <p> Any Skill Challenges that require sight have their difficulties increased by 2.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pEtfBFIIuRh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pEtfBFIIuRh'"></app-bm-chapter-icon>
        <p> Additionally, Sprinting is impossible without acquiring a Stress per second moved.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pxjdRjNnWsm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pxjdRjNnWsm'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>DARK</strong> This is pitch black with the character not even being able to see
          their hands in front of their faces. This is a dungeon after the torch goes out.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pGuTGJmTpWT' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pGuTGJmTpWT'"></app-bm-chapter-icon>
        <p> Combat becomes difficult as anyone in darkness defends and attacks with a 1d6! And ranged combat is right
          out, but, if you insist, you’ll be attacking with a 1d4.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pBubiiLvVcf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pBubiiLvVcf'"></app-bm-chapter-icon>
        <p> Any Skill Challenges that require sight have their Rank halved.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='15pyfxfIboxFI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pyfxfIboxFI'"></app-bm-chapter-icon>
        <p> And moving above Strolling speed is extremely nerve racking, netting a Stress per Speed Category per second.
          So, moving at a Run for 3 seconds gives you 9 Stress (3 for the Run for 3 seconds).</p>
      </div>
      <div class="anchor marginBottom miscImage">
        <div id="15iNYOvpggKYU" class="anchorTag"></div>
        <img src="../../../assets/images/lights.png" alt="the different areas of light">
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='15pSOXerpTpXq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pSOXerpTpXq'"></app-bm-chapter-icon>
        <p> There are currently three sources of light. How they shed their light is noted on the left:</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='15prNQhpLNtTJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15prNQhpLNtTJ'"></app-bm-chapter-icon>
        <p> The white is considered Normal, the light grey is Dimly Lit and the beyond that is Dark, assuming no other
          light sources are provided.</p>
      </div>
      <div class="anchor imageMargin">
        <div id="sizingandsizecharts" class="anchorTag"></div>
        <h1>SIZING & SIZE CHARTS</h1>
        <div class="underline"></div>
      </div>
      <div class='tableOverflowWindow anchor sizeTable'>
        <div id='sizetable' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'sizetable'"></app-bm-chapter-icon>
        <div class='tableOuterShell' [ngStyle]='{width: "225px"}'>
          <h1 class='tableTitle'>Sizing</h1>
          <div class='tableHeaders'>
            <div class='tableRow'>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Size</p>
                <p class='FallingDamagevalue TableIndividual'>Size Equivalent</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Fine (F)</p>
                <p class='FallingDamagevalue TableIndividual'>An Insect</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Diminutive (D)</p>
                <p class='FallingDamagevalue TableIndividual'>A Bird</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Tiny (T)</p>
                <p class='FallingDamagevalue TableIndividual'>An Adult Cat</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Small (S)</p>
                <p class='FallingDamagevalue TableIndividual'>A Large FallingDamaged Dog</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Medium (M)</p>
                <p class='FallingDamagevalue TableIndividual'>A Human</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Large (L)</p>
                <p class='FallingDamagevalue TableIndividual'>A Horse</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Huge (H)</p>
                <p class='FallingDamagevalue TableIndividual'>A Four Wheeled Cart</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Giant (G)</p>
                <p class='FallingDamagevalue TableIndividual'>A Covered Wagon</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Enormous (E)</p>
                <p class='FallingDamagevalue TableIndividual'>A House</p>
              </div>
              <div class='tableValue'>
                <p class='FallingDamagevalue TableIndividual'>Colossal (C)</p>
                <p class='FallingDamagevalue TableIndividual'>A Dragon</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='rpgsgivethingssomewhat' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'rpgsgivethingssomewhat'"></app-bm-chapter-icon>
        <p> RPGs give things somewhat arbitrary sizes because things affect you different when your different sizes.
          Here’s a handy chart to allow you to ballpark the size category something would be in if it every comes up.
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='motofostheitmiethis' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'motofostheitmiethis'"></app-bm-chapter-icon>
        <p> Most of the time this refers to area, but you can also size by weight, if its applicable. </p>
      </div>
      <div class="anchor sizeMargin">
        <div id="15hfrDRlgsYQh" class="anchorTag"></div>
        <h1>LONG-TERM EXHAUSTION</h1>
        <div class="underline"></div>
      </div>
      <div class='tableOverflowWindow anchor longtermexhaustionTable'>
        <div id='longtermexhaustiontable' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'longtermexhaustiontable'"></app-bm-chapter-icon>
        <div class='tableOuterShell' [ngStyle]='{width: "250px"}'>
          <h1 class='tableTitle'>Long-Term Exhaustion</h1>
          <div class='tableHeaders'>
            <div class='tableRow'>
              <div class='tableValue'>
                <p class='longtermexhaustionvalue TableIndividual'>Need</p>
                <p class='longtermexhaustionvalue TableIndividual'>Deprivation</p>
                <p class='longtermexhaustionvalue TableIndividual'>Maintenance</p>
                <p class='longtermexhaustionvalue TableIndividual'>Indulgence</p>
              </div>
              <div class='tableValue'>
                <p class='longtermexhaustionvalue TableIndividual'>Food</p>
                <p class='longtermexhaustionvalue TableIndividual'>1 lb</p>
                <p class='longtermexhaustionvalue TableIndividual'>3 lb</p>
                <p class='longtermexhaustionvalue TableIndividual'>5 lb</p>
              </div>
              <div class='tableValue'>
                <p class='longtermexhaustionvalue TableIndividual'>Water</p>
                <p class='longtermexhaustionvalue TableIndividual'>1/4 gallon</p>
                <p class='longtermexhaustionvalue TableIndividual'>1/2 gallon</p>
                <p class='longtermexhaustionvalue TableIndividual'>n/a</p>
              </div>
              <div class='tableValue'>
                <p class='longtermexhaustionvalue TableIndividual'>Sleep</p>
                <p class='longtermexhaustionvalue TableIndividual'>4 hours</p>
                <p class='longtermexhaustionvalue TableIndividual'>6 hours</p>
                <p class='longtermexhaustionvalue TableIndividual'>8 hours</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='marginBottom paragraphShell anchor'>
        <div id='15pgLmIdPreGz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pgLmIdPreGz'"></app-bm-chapter-icon>
        <p> Your character isn’t immortal, or at least, they didn’t start out that way, and so still needs to fulfil
          their basic needs of food, drink, and sleep. Without those basic requirements, he may find himself a bit more
          lethargic or, worse case scenario, dead.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pMFKhdzPgEf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pMFKhdzPgEf'"></app-bm-chapter-icon>
        <p>There are three things your character needs to take care of, as mentioned above: food, water, and sleep, and
          three levels at which they either gain penalties or bonuses: Deprivation, Maintenance, and Indulgence. These
          bonuses and penalties stack.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pOcOKPCiNAn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pOcOKPCiNAn'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>DEPRIVATION</strong> is when your character starts to die of starvation,
          dehydration, and/or sleep deprivation. You take 1 point of damage per day for each time you’re below this
          threshold. This damage is on 1 Wound doesn’t heal until you bring that thing above Maintenance again.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='eastingdrinkingornotsleeping' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'eastingdrinkingornotsleep'"></app-bm-chapter-icon>
        <p>Eating, drinking, or not sleeping deals 2 points of damage a day so something is better than nothing. Also,
          when doing a strenuous activity (Combat, Conflicts, or Skill Challenges, for example) you gain 2 Stress for
          each thing you're deprived off.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='mainenanceiswhenyourcharactern' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'mainenanceiswhenyourcharactern'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>MAINTENANCE</strong> is when your character is getting enough to survive and
          that’s it. Being below this threshold but above Deprivation offers no bonuses or penalties.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='infulgenceiseatingandsleepmore' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'infulgenceiseatingandsleepmore'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>INDULGENCE</strong> is eating and sleeping more than you need to but not
          overeating or over sleeping. Being below this threshold but above Maintenance means that you gain an
          additional Relaxation that day. This stacks as well, though no additional bonuses for over-indulging.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15phsOBUYZFwb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15phsOBUYZFwb'"></app-bm-chapter-icon>
        <p>For example, while out in the wilderness, Olbrecht discovers that he is almost out of food and water.
          Luckily, he knows a river is two days way and he’s able to scavenge on the way there, but that still means
          that he’s drinking less then 1/4 a gallon and only eating 3/4 lbs of food.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='15pEaholPOCiD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'15pEaholPOCiD'"></app-bm-chapter-icon>
        <p> Over his two days of travel, therefore, he takes 4 points of damage on 2 Wounds but he does make it the
          river. Now, he’s down to 1/4 lbs of food per day but he’s able to drink as much water as he likes, so over the
          two days getting back to civilization, he takes an additional 2 Wounds from starvation but heals 1 from being
          able to drink freely again.</p>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]="side"></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Miscellaneous Rules</h1>
  </div>
</div>