.miscImage {
    float: left;
    margin-right: 15px;
}

.imageMargin {
    margin-top: 110px;
}

.tableValue .FallingDamagevalue {
    width: 50%;
}

.FallingDamageTable {
    width: 175px;
    float: left;
    margin-right: 15px;
}

.sizeTable {
    width: 225px;
    float: left;
    margin-right: 15px;
}

.sizeMargin {
    margin-top: 175px;
}

.FallingModifiersTable {
    width: 300px;
}

.fallingMargin {
    margin-top: 205px;
}

.FallingModifiersvalue:first-child {
    width: 100px
}

.FallingModifiersvalue:nth-child(2) {
    text-align: left;
    width: 200px
}

.longtermexhaustionvalue {
    width: 60px;
}

.longtermexhaustionvalue:first-child {
    text-align: left;
    padding-left: 10px;
}

.longtermexhaustionTable {
    float: left;
    margin-right: 15px;
    width: 250px;
}

@media (max-width: 650px) {
    .fallingMargin, .sizeMargin, .imageMargin {
        margin-top: 0;
    }

    .FallingDamageTable, .FallingModifiersTable, .miscImage, .sizeTable {
        float: none;
        width: 75%;
        margin: 5px auto;
    }

    .miscImage {
        width: 100%;
    }

    .longtermexhaustionTable {
        float: none;
        margin: 0 auto;
    }
}