.sidebarMargin {
    margin-bottom: 15px;
  }
  
  .TraitDicevalue {
    min-width: 50px;
  }
  
  .TraitDicevalue:first-child {
    min-width: 65px;
  }
  
  .TraitDiceTable {
    max-width: 350px;
    float: left;
    margin-right: 15px;
  }
  
  .crptraitvalue {
    min-width: 65px;
  }
  
  .crptraitTable {
    max-width: 350px;
    float: left;
    margin-right: 15px;
  }
  
  .crpcosttablemargin {
    margin-bottom: 20px;
  }
  
  .resultHolder {
    margin: 10px auto;
    width: 85%;
    text-align: center;
  }
  
  .generateButton {
    background: #b45f06;
    color: whitesmoke;
    width: 100px;
    position: inherit;
    border-radius: 25px; 
    transition: .6s;  
  }
  
  .generateButton:hover {
    background: #222;
  }
  
  .indent-one {
    text-indent: 100px;
  }
  
  .indent-two {
    text-indent: 150px;
  }
  
.MoraleTable {
  width: 175px;
  float: left;
  margin: 0 15px 0 0;
}

.Moralevalue {
  width: 100px;
}
  
  @media (max-width: 630px) {
    .TraitDiceTable {
      float: none;
      margin: 0 auto 15px auto;
    }

    .crptraitTable {
      float: none;
      margin-right: 0;
    }
  }