<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='paragraphShell anchor'>
                <div id='9pmBFesQQlZV' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Your character is a multi-faceted representation of a fictional persona. She has her hopes and her
                    dreams, her strengths and her weakness. All of these add up to hopefully make someone that has a
                    compelling story of victory over her flaws, or defeat from the same. </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9plJvQPzGLKi' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> In game play terms, these are represented by 4 characteristics:</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9paDkgrTcWNv' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>GOALS</strong> represent what your character is trying to achieve.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pFYUZDGMolc' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>TRAITS</strong> represent what sets your character apart from other
                    characters.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9piHYjOSKGhL' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>PASSIONS</strong> represent interests and things that get your
                    character’s blood pumping.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9prluiUVOUCP' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>DEVOTIONS</strong> represent their relationships, either with people,
                    organizations, or otherworldly powers.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pcKGXQsZEIx' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> These characteristics will be provided dice that will be used in social conflicts addressed below
                    and represents how strong it is, with the bigger the dice, the better it is.</p>
            </div>
            <div class="anchor">
                <div id="9hXrEuwuawsw" class="anchorTag"></div>
                <h1>GOALS</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9phhXfkZiJbH' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Characters start out with 6 Goals; 3 Short term, 2 Medium, and 1 Long. They receive Experience and
                    Honor as well as increasing the other 3 social characteristics as you progress along the path to
                    completing them.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pVTrxqJwFYD' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> What does you character want? Why can’t they get it? These are the two fundamental questions that
                    should be answered for each Goal. </p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Overlapping Characteristics</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='9pjjEEfskJtv' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> You may think you’re pretty smart by having a Trait and Passion both be the same thing so that
                        you always get to roll them at the same time. However, consider that you’re putting your eggs in
                        one basket and it would be worth it to vary it a little to cover more bases, allowing you to use
                        them more often and perhaps leveraging characteristics to bring in others.</p>
                </div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pqZFFaozPmY' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Ideally, they should include other party members and the overarching plot of the campaign. </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pVQHoAFIQLI' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> These goals can be anything from the incorporeal (“I want to find a home” or “I want to deal with
                    this anger inside me”) to the very concrete (“I want to find my father’s sword” or “I want to stop
                    this invasion”). Generally, abstract goals should be the Medium to Long term ones.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9pDfnAAGjWeI' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The best goals are those with clear benchmarks for your character. At the beginning of every
                    session, you’ll select a benchmark to work for.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pwkmYiBFOpW' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> For example, a character with the Goal of “Get Married” decides that his benchmark is to talk to a
                    member of the opposite sex.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9plCGdLXJKNd' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> You may not select the exact same benchmark twice, however, you may choose a modified version of it
                    to be more specific or more difficult.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pRVGiNiNpyq' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Following the previous example, that character may not select “talk to a member of the opposite sex”
                    again, however, they can set a benchmark to “talk to a member of the opposite sex my character is
                    attracted to” or “flirt with a member of the opposite sex”.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pgwurgWQyhi' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Characters receive a d8 for each Goal that is related to any Social Conflicts they find themselves
                    in.</p>
            </div>
            <div class='sidebarShell sidebarMargin'>
                <h2 class='sidebarTitle'>Starting Characteristics</h2>
                <div class='paragraphShell anchor'>
                    <div id='9pQNAwpxewGH' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> If you’re bringing in a new character to a new campaign, it’s highly probable that you won’t
                        know what the game is going to be about, especially if the GM wants to keep it a secret.</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='9pdAtxeDnXRr' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> It’s perfectly acceptable to leave your Goals, Traits, Passions, and/or Devotions blank until
                        you’ve got your feet under you but you should have at least a few Medium term goals and your
                        strongest Trait filled out relating to your character’s personal arch. </p>
                </div>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Handy Advice</h2>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='9pfpzyMPkXSv' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> If this is your first character, it may be a bit overwhelming having to fill out your Traits,
                        Passions, and Devotions, but it becomes much easier once you have a vision of who your character
                        is and what drives them so I suggest you take a few minutes to think about that before
                        continuing.</p>
                </div>
            </div>
            <div class="anchor">
                <div id="9hABmHwzkjiK" class="anchorTag"></div>
                <h1>TRAITS</h1>
                <div class="underline"></div>
            </div>
            <div class="traitpassionshell">
                <div class='tableOverflowWindow TraitDiceTable'>
                    <div class='tableOuterShell' [ngStyle]='{width: "250px"}'>
                      <h1 class='tableTitle'>Trait Dice</h1>
                      <div class='tableHeaders'>
                        <div class='tableRow'>
                          <div class='tableValue'>
                            <p class='TraitDicevalue TableIndividual'>Charisma</p>
                            <p class='TraitDicevalue TableIndividual'>Dice</p>
                          </div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>1 - 5</p><p class='TraitDicevalue TableIndividual'>3 d4s, 2 3d4s 1 4d4</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>6 - 7</p><p class='TraitDicevalue TableIndividual'>3 d4s, 2 3d4s 1 4d6</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>8 - 9</p><p class='TraitDicevalue TableIndividual'>3 d4s, 2 3d4s 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>10 - 11</p> <p class='TraitDicevalue TableIndividual'>3 d4s, 3d4s, 3d6s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>12</p> <p class='TraitDicevalue TableIndividual'>3 d4s, 2 3d6s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>13</p> <p class='TraitDicevalue TableIndividual'>3 d4s, 3d6, 3d8, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>14</p> <p class='TraitDicevalue TableIndividual'>3 d4s, 2 3d8s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>15</p> <p class='TraitDicevalue TableIndividual'>2 d4s, 1 d6, 2 3d8s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>16</p> <p class='TraitDicevalue TableIndividual'>2 d4s, 1 d8, 2 3d8s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>17</p> <p class='TraitDicevalue TableIndividual'>d4s, 1 d6, 1 d8, 2 3d8s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>18</p> <p class='TraitDicevalue TableIndividual'>d4s, 1 d8, 1 d8, 2 3d8s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>19</p> <p class='TraitDicevalue TableIndividual'>1 d6s, 2 d8s, 2 3d8s, 1 4d8</p></div>
                            <div class='tableValue'><p class='TraitDicevalue TableIndividual'>20</p> <p class='TraitDicevalue TableIndividual'>3 d8s, 2 3d8s, 1 4d8</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='tableOverflowWindow PassionDiceTable'>
                    <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
                      <h1 class='tableTitle'>Passion Dice</h1>
                      <div class='tableHeaders'>
                        <div class='tableRow'>
                          <div class='tableValue'>
                            <p class='PassionDicevalue TableIndividual'>Intellect</p>
                            <p class='PassionDicevalue TableIndividual'>Dice</p>
                          </div>
                          <div class='tableValue'><p class='PassionDicevalue TableIndividual'>1 - 11</p><p class='PassionDicevalue TableIndividual'>None</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>12 - 13</p><p class='PassionDicevalue TableIndividual'>d4</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>14</p><p class='PassionDicevalue TableIndividual'>2 d4s</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>15</p><p class='PassionDicevalue TableIndividual'>d4, d6</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>16</p><p class='PassionDicevalue TableIndividual'>3 d4s</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>17</p><p class='PassionDicevalue TableIndividual'>2 d4s, d6</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>18</p><p class='PassionDicevalue TableIndividual'>d4, 2 d6s</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>19</p><p class='PassionDicevalue TableIndividual'>3 d6s</p></div>
            <div class='tableValue'><p class='PassionDicevalue TableIndividual'>20</p><p class='PassionDicevalue TableIndividual'>2 d4s, 2 d6s</p></div>
                          </div>
                      </div>
                    </div>
                  </div>        
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pOkttvrkDzU' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Traits are things that stick out about your character. Things that people tend to notice about them
                    or that the character defines his identity by. These can be something specific (“I have blonde
                    hair”) or something general (“I have an intimidating demeanor”) or somewhere in between (“I’m an
                    orc”).</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9prRZNOCmIRu' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Traits don’t have to be physical in nature. It could be how your character views himself (“I’m
                    confident” or “I’m good at math”). They can also be something about your character that he just
                    can’t explain (“I’ve always been good with dogs” or “I can read people easily”).</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pORlhXjrGLI' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The sky's the limit when it comes to Traits, so go wild.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9pkGEenVzkMP' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> You start off with 6 Traits of varying levels: 3 weak, 2 average, and 1 strong. These are represented by dice of varying size. How strong these Traits are depends on your Charisma. So, if you have a 13 Charisma, you gain 6 Traits - three at d4, one 3d6, one 3d8, and one at 4d8</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pnrYvxMbmTc' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> While naturally Charismatic characters come out of the gate with strong personalities, as you
                    adventure, your character will also grow and change, gaining and strengthening their Traits.</p>
            </div>
            <div class="anchor">
                <div id="9hsjmKniFwet" class="anchorTag"></div>
                <h1>PASSIONS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9puIgUmGlxly' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> What does your character do in their downtime? What’re their hobbies and what do they spend their
                    time thinking about? These are their Passions.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pJHSSLraoqB' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Your number of Passions and their strength is based on your character's Intellect.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell marginBottom anchor'>
                <div id='9poiLiggbjwd' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If your character selects a Passion related to one of their Adv Skills, bump up the dice size by 1 for ever 4 Ranks you have in that Skill (rounded up).</p>
            </div>
            <div class="anchor">
                <div id="9hNSnSqzNZCw" class="anchorTag"></div>
                <h1>DEVOTIONS</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pJPenhcvddY' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The final aspect are the Devotions that your character has. What relationships does he have? What
                    organizations does your character associate with? Is he religious and, if so, is his loyalty more to
                    his cult or to his god?</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9phSoHAbeWyc' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Relationships between individuals don’t need to be reciprocal or even contemporary. A young fighter
                    may be inspired by a girl who doesn't love him back or by a long dead king he greatly admires. These
                    are still viable candidates for his Devotion.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9prnCwBHySCG' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Everyone receives two free Devotions: one to their character’s clan/family and another of their
                    choice.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pVSbjITZxBw' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Servant Archetypes gain an additional Devotion which is to their god or cult.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pQldvSaABYR' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> All Devotions start at 1d6 but you can increase the dice size by 1 for 5 CrP. These dice can be
                    increased up to a d12. You may also purchase additional Devotions for 10 CrP.</p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Facing the Powers that Be</h2>
                <div class='paragraphShell anchor'>
                    <div id='9pHipnokWBcy' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> There may come a time when you’re facing someone that’s related to your Devotions. This may be
                        the leader of your family, a higher up in your cult, or the person that your Devotion is
                        centered around trying to get you to do something.</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='9pbfStBsYtAy' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> In these case, your Devotion makes you more likely to follow them without question and so they
                        can add your Devotion die to their social dice pool when in conflict with them.</p>
                </div>
            </div>
            <div class="anchor">
                <div id="9hMasFAjKGNj" class="anchorTag"></div>
                <h1>WHEN TO USE THESE RULES</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pUrbBNQrlUv' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> These rules may not be appropriate to break out everytime two people talk to each other, or even
                    disagree on something. If you think your character can make a compelling argument that would
                    convince an NPC to change his ways or give him a discount, don’t bother getting your dice out.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9puXdhqeUqmp' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Additionally, if the GM thinks that what the player is asking isn’t probable, they can turn them
                    away at the door. Sure, it’s possible that the blacksmith with give you that sword for free, but is
                    it probable? Absolutely not.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pbQqTfJiVZv' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> However, it is probable that he’s at least willing to give you a discount. The other person must
                    also see a possible benefit to engaging with you.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pSmkihxTzQZ' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> For the blacksmith giving away his sword, there really isn’t one. However, if you Conflict over a
                    discount, that gives him a window to upsell you if you lose the Conflict. That might be worth it to
                    him.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pwWhBCUpdpN' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> And so setting the stage for a Conflict is often helping the NPC see what they could possibly get
                    from you should they win.</p>
            </div>
            <div class='sidebarShell marginBottom'>
                <h2 class='sidebarTitle'>Other Reasons to Start a Conflict</h2>
                <div class='paragraphShell anchor'>
                    <div id='9pHglpbUOQIJ' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> There may be other reasons why you feel a Conflict is appropriate. This may be the case of a
                        demon who forces his will on another’s demon or, in a more mundane case, in the case of someone
                        who wants to tell the player a secret but also may not trust them entirely or doubt the wisdom
                        of doing so.</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='9pCUovxzZlFN' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                    <p> There may also be certain circumstances where one person is forced into a Conflict, most often
                        through magical means, but this is most often done as part of a plot point. More information is
                        found in the Conflict as a Plot Point in Bonfire Advanced.</p>
                </div>
            </div>
            <div class="anchor">
                <div id="9houGdbEWDtK" class="anchorTag"></div>
                <h1>STARTING the CONFLICT</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pvTWpgIrSlm' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The characters have to decide what’s at stake; this is what they’re butting heads about and why
                    they’re willing to put themselves on the line. More importantly, each side has to define what they
                    want to happen to the stakes. If the stakes are high, this might change how much each side to
                    willing to fight to get what they want or what tactic they’ll use to get it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pJfcnHadYEY' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> So, for instance, a blacksmith and a fighter want to get in a conflict over the price of a sword.
                    That’s what’s at stake. The fighter wants its a discount, the blacksmith wants to make a bigger
                    profit.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9pQlpkRPffds' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Then each player rolls a single Trait’s worth of dice, representing their starting tactic, and any
                    additional Situational Dice that are applicable. This is the dice pool that you’ll be working from
                    to begin with, these rolls will be used later. These are primarily from their Goals, Passions, and
                    Devotions but can also be from their Flaws, Honor, equipment, or anything else the character might
                    feel is applicable. Characters can know how many dice the other side is rolling but not the results
                    of the role.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pblouchRSPl' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The player who initiated the conflict goes first, putting forward two dice and giving their total.
                </p>
            </div>
            <div class='anchor'>
                <div id=9hgaknurtyPbT class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <h3>SITUATIONAL MODIFIERS </h3>
                <h4>🜂 Advanced Rule</h4>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pAdDfsBqLxs' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> These are dice you may or may not roll depending on the circumstances. This is not a comprehensive
                    list. If you feel like something might influence the Conflict, feel free to petition the GM to add
                    an extra die.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9pERHWbFPuHJ' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>FLAWS</strong> A character’s flaws might have an effect on the Conflict.
                    Add a d4 for each one that’s relevant.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pbTXQWjDAXR' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>HONOR</strong> Your standing can carry you through the day, even if your
                    arguments are weak. The character with the highest Honor gets a base d6, upgraded one size for each
                    category higher she is. So, a character in Great Honor having an argument with a character in
                    Average Honor gains a d10.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pUQhEEtuNak' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>FAME</strong> The sad truth is that the more famous you are, the more
                    people assume you know what you’re talking about. If your Fame is greater than your opponents by 25,
                    add a d4. Increase this die one size for every additional 25 points you have above them.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9puHcMzUhsdC' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>EQUIPMENT</strong> It may be the case that equipment can sway an
                    argument. Often this is through imitation or torture, but gold can also persuade a hesitant
                    sellsword or the right equipment might convince a thief to take on a risky job. A badge of authority
                    may also win you some influence.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pnCUPBjSnvZ' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Equipment used for this purpose gains the character a base d6. Exceptional equipment (a really
                    terrifying sword, or lots of gold) can net the player up to a d12. Equipment that’s substandard or
                    that’s being re-purposed from its original use (a knotted rope used to whip a victim or a broken
                    glass bottle used to threaten someone) only nets a d4.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pzXilihsTMl' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>ABILITY SOCIAL DIE</strong> Having an exceptionally high Strength or
                    Dexterity might be relevant to the situation. If that’s the case, add that Abilities Social Die to
                    your pool.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pRVUxpfzLEY' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p><strong class='orangeHeader'>APPLICABLE SKILLS</strong> You may roll an additional die for any
                    applicable Advanced skill based on that Skill’s Rank. This chart is also used to determine the base
                    size of the Passion dice for that Skill. Take the Rank of that Skill and round up to the nearest
                    dice size. So a Rank 5 Skill would net a d6 dice while a Rank 14 Skill would net a d20.</p>
            </div>
            <div class="anchor">
                <div id="9hxovYMMmdHK" class="anchorTag"></div>
                <h1>PLAYING OUT the CONFLICT</h1>
                <div class="underline"></div>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pVFLIWtweep' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Each character goes back and forth, ponying up two die from their pre-rolled dice pool and
                    roleplaying their arguments based on the die they use. The two dice’s rolled sum has to either match
                    or exceed the rolled sum of the last dice put forward. </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pLewkFNMFsj' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> These dice represent their arguments and counterarguments and are coupled with roleplaying it out.
                    What is said in-character should be reflective of the social characteristic that brought the dice
                    in.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pLUmKbdqpLr' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If the character can only match with two dice, he also puts 1 Honor Point on the table. His argument
                    was weak and didn’t have the force behind it that it should have, and others noticed.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pkANRWBLcHV' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If a character can’t exceed the sum with just two dice, he can either pass (ending the conflict) or
                    he has to put in additional dice forward to raise his total above his opponent’s. Once totalled, the
                    number of extra dice that were needed are put aside for later.</p>
            </div>
            <div class='anchor'>
                <div id=9hgchWyCteYlT class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <h3>ESCALATING A CONFLICT</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pswDjPLhNWz' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If you have no more dice left in your pool, you may escalate by trying a different tack. This allows
                    you to roll another Trait’s worth of dice and add any more Situational Dice that you think have
                    become applicable. You don’t have to put up another Trait if you don’t have any left that’re
                    applicable, so your escalation could be just Situational Dice, like in the example below.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pgdEbuwlqcG' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> So, if you’re in a battle of wits and you’re losing, you may choose to intimidate your foe by
                    unsheathing your sword. In this case you’d get an extra d6 for the sword, a d6 for strength, and
                    maybe an additional d6 for your mastery in it.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pbLoXhMVXuW' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> You also put 1 Honor Point on the table to escalate, however this amount doubles for each time that
                    person has already escalated in this conflict.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pnUocKfTWDa' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> From here you return to playing out the Conflict.</p>
            </div>
            <div class='anchor'>
                <div id=9hgFaQSwEnthA class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <h3>ASSISTING IN A CONFLICT</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pQylJirSklW' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Other characters may also help (if applicable) by putting one of their own dice in. The amount is
                    added to the total but these bonus dice aren’t put aside for later. They can bring in any
                    Characteristics or Situational Dice they think are applicable. If they run out of dice, they may
                    also escalate to bring in more, but they also put 1 Honor Point in the pot.</p>
            </div>
            <div class='anchor'>
                <div id=9hgxxKUCnUPps class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <h3>ENDING A CONFLICT</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='9pepEPsSHGFp' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The conflict ends when either one side has no more dice and doesn’t escalate, when one side passes,
                    one side walks away, or one side hits the other (i.e., initiates combat). The other ‘wins’ the
                    conflict.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pEXfXirONlb' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> In the case of a tie, the Conflict is unresolved, with no side gaining what they want. They can only
                    re-engage in another Conflict with the same stakes if something changes.</p>
            </div>
            <div class="anchor">
                <div id="9hGHmLfzEumM" class="anchorTag"></div>
                <h1>REPERCUSSIONS of a CONFLICT</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pymyBWaLOmY' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> A few things happen at the end of a conflict. The first is that the winner gets to decide what
                    happens with the stakes. Going back to the original example of the blacksmith and the fighter
                    haggling over the price of the sword; If the fighter wins that Conflict, then he receives the
                    discount he’s looking for and if the blacksmith wins the Conflict, he sells it at the increased
                    price.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pOxVBXsFYWA' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> The winner receives an amount of Honor equal to the difference between what he put on the table and
                    his opponent put on the table. This can end up being a negative sum. The loser deducts all the Honor
                    they put on the table from his total. More on this is found in <a routerLink='../chapter/6'>Chapter
                        6: Character Vitals</a> under the Changing Honor Category section.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pZMNWUzsxSq' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Those that have assisted in the Conflict get back any Honor they put into the pool and that’s it.
                    The winner of the Conflict, however, may give them some of the credit, bestowing on them a portion
                    of the Honor he won.</p>
            </div>
            <div class="space"></div>
            <div class='paragraphShell anchor'>
                <div id='9pqtNVeWyusY' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> Anyone with dice set aside now rolls a d6! for each one. Total the two highest dice.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pktkbTrXVoZ' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If the total is less than or equal to 8 - your current Level of Fatigue, the character suffers only
                    a short term effect and takes that total in Stress from the encounter.</p>
            </div>
            <div class="space"></div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pLndRPVwBCp' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If the total is greater than that, the character gains that total in Stress and suffers a long term
                    effect. Choose one of the following:</p>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Reduce the dice size of one of their Traits, Passions, Devotions by 1</p>
                </div>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Lose a dice from one of their Traits</p>
                </div>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Lose a Trait, Passion, or Devotion</p>
                </div>
            </div>
            <div class="bulletListShell marginBottom">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Change a Goal</p>
                </div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='9pwZCVyywnvH' class='anchorTag'></div>
        <app-bm-chapter-icon></app-bm-chapter-icon>
                <p> If you rolled any 1s, the character is also changed for the better. It doesn’t matter how many 1s
                    you roll, you only choose one of the following:</p>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Gain a Passion, Devotion, or Trait at d4</p>
                </div>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Change a Goal</p>
                </div>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Increase the dice size of one of their Traits, Passions, or Devotions by 1. This can increase a
                        Characteristic beyond a d12.</p>
                </div>
            </div>
            <div class="bulletListShell">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Add a dice to one of their Traits</p>
                </div>
            </div>
            <div class="bulletListShell marginBottom">
                <h4 class="bulletTriangle">🜂</h4>
                <div>
                    <p>Receive a temporary d8 to your next conflict</p>
                </div>
            </div>
            
        </div>
        <div *ngIf=navDisplay class="tableShell" (click)="displayTables()">
            <p>Hide Quick Nav</p>
        </div>
        <div class="sideShell">
            <app-quick-nav *ngIf=navDisplay [side]="side"></app-quick-nav>
        </div>
        <div class="tableShell" (click)="displayTables()">
            <p>Show Quick Nav</p>
        </div>
        <h1 class="chapterTitle">Social</h1>
    </div>
</div>