.shellOuter {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.navBar {
    max-width: 1250px;
    min-width: 74.5%;
    margin: 15px 0;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}