.shellOuter {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.navBar {
    height: 95vh;
    margin: 15px 0;
    width: 180px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}