<div class="shellOuter">
    <div>
        <div class="navHolder">
            <app-navbar></app-navbar>
        </div>
        
        <div class="routerDiv">
            <div [@fadeInAnimation]="o.isActivated ? o.activatedRoute : ''">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
    </div>

    <div class="footHolder">
        <a routerLink="privacypolicy">Legal</a>
        <a href="https://dragon-slayer.net/">Dragon Slayer RPGs</a>
        <a href="https://discord.gg/G8GVTME">Discord</a>
    </div>
</div>


<div *ngIf="notRedux.background">
    <video autoplay muted oncanplay="this.muted=true" id="video-background" plays-inline (ended)="checkIfLoop()">
        <source src="../assets/images/bg-2.mp4" type="video/mp4">
    </video>
</div>

<div class="edge-banner">
    <p>Early Access</p>
</div>