<div class="shellOuter">
    <div>
        <div class="navHolder">
            <app-navbar></app-navbar>
        </div>
        
        <div class="routerDiv">
            <div [@fadeInAnimation]="o.isActivated ? o.activatedRoute : ''">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
    </div>

    <div class="footHolder">
        <a routerLink="privacypolicy">Legal</a>
        <a href="https://stone-fish.com/">Stone Fish Games</a>
        <a href="https://discord.gg/G8GVTME">Discord</a>
    </div>
</div>


<div *ngIf="notRedux.background">
    <video autoplay muted oncanplay="this.muted=true" id="video-background" plays-inline (ended)="checkIfLoop()">
        <source src="../assets/images/bg-2.mp4" type="video/mp4">
    </video>
</div>

<div class="edge-banner">
    <p>Early Access</p>
</div>

<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd-tIT0R6Ce-Q8cPte7GI1KnAMMcrSy2IhrVrc1StSXfk9psA/viewform?usp=sf_link">
    <div class="comment-bubble">
        <img src="../assets/images/feedback.svg" />
    </div>
</a>