.shellOuter {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    height: 450px;
    margin: 0 auto;
}

.navHolder {
    position: fixed;
    max-width: 950px;
    width: 100%;
    z-index: 1;
}

.routerDiv {
    min-height: 100vh;
}

.footHolder {
    max-width: 950px;
    width: 100%;
    background: #222;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footHolder a {
    color: whitesmoke;
    font-family: "umbria";
    font-weight: unset;
}

.footHolder a:hover {
    color: #b45f06;
}

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}

.edge-banner {
    position: absolute;
    top: 23px;
    right: -59px;
    width: 250px;
    height: 25px;
    background: red;
    transform: rotate(45deg);
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edge-banner p {
    color: whitesmoke;
    font-family: "umbria";
    margin: 0;
}

.comment-bubble {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #222;
    border-radius: 50px;
    transition: .6s;
}

.comment-bubble:hover {
    background-color: #b45f06;
}

@media (max-width: 768px) {
    .edge-banner {
        display: none;
    }
}

@media (max-width: 650px) { 
    .footHolder a {
        font-size: 13px;
    }
}