h2 {
    position: unset;
    color: #222;
    padding: 5px 15px 5px 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-family: "umbria";
    letter-spacing: 1px;
}

h3 {
    color: #b45f06;
    padding: 5px 15px 0px 15px;
    font-size: 17px;
    letter-spacing: 2px;
}

.sidebarShell h5 {
    font-family: "umbria";
    color: #b45f06;
    padding: 0 0 10px;
    font-size: 15px;
}

.sidebarShell h2 {
    font-family: "ancient";
    font-size: 17px;
}

.sidebarShell h3 {
    font-size: 15px;
}

strong {
    font-family: "ancient";
    color: #222;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}

body {
    margin: 0;
    padding: 2rem;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    font-size: 13px;
}

.racial-preferences-overflow {
    margin-left: 36px
}

.all-centered {
    text-align: center;
}

.all-centered thead tr:nth-child(1) th {
    text-align: left;
}

thead tr:nth-child(2) th, tbody tr th {
    background-color: #222;
    font-size: 13px;
    top: 75px
}

tbody tr th {
    background-color: rgb(87, 87, 87);
    color: whitesmoke;
}

tbody tr:nth-child(even) {
    background-color: lightgrey;
}

th, td {
    padding: 4px 7px;
}

th {
    background: #990000;
    color: white;
    position: sticky;
    top: 100px;
    font-family: "ancient";
    letter-spacing: 2px;
}

.first-left tr td:first-child, .first-left tr th:first-child {
    text-align: left;
}

.fourth-left tr td:nth-child(4) {
    text-align: left;
}

.notSticky th {
    position: unset;
}

.with-side-header {
    top: 15px !important;
    position: absolute !important;
    width: 100%;
}

.side-header {
    display: flex;
}

.float {
    float: left;
    margin: 0 10px 10px 0;
}

ol {
    padding-left: 67px;
}

.pairs {
    width: 75%;
}

.pair {
    display: flex;
    justify-content: space-between;
    font-family: "ancient";
    letter-spacing: 2px;
}

.table-overflow {
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.orangeHeader {
    color: #b45f06
}

.table-center {
    margin: 0 auto;
}

ul {
    padding-left: 50px;
}

li {
    padding: 5px 0
}
