.SpendingFavorTable, .MiracleAreaOfEffectTable,.MiracleDistancetable,
.MiracleDelieveryTable, .MiracleLongevityTable {
    width: 180px;
    float: left;
    margin: 15px 15px 0 0;
}

.MaximumFavorTable {
    width: 200px;
    float: left;
    margin: 15px 15px 0 0;
}

.MaximumFavorvalue, .SpendingFavorvalue, .MiracleAreaOfEffectvalue, .MiracleDistancevalue,
.MiracleDelieveryvalue, .MiracleLongevityvalue {
    width: 50%;
}

.SingleIndividual {
    width: 100%;
    text-indent: 0;
}

.favorMargin {
    margin-top: 30px;
}

.miracleModShell {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.mainpoint {
    text-indent: 0;
    margin-left: 50px
}

.subpoint {
    text-indent: 0;
    margin-left: 75px;
}

@media (max-width: 650px) {
    .MaximumFavorTable, .SpendingFavorTable {
        float: none;
        margin: 15px auto;
    }

    .favorMargin {
        margin: 0;
    }
}