.tableOuter {
  display: flex;
  flex-direction: column;
}

.tableInner {
  margin-bottom: 15px;
  width: 300px;
}

@media (max-width: 640px) {
  .tableOuter {
    margin-top: 25px
  }

  .tableInner {
    margin: 0px auto 15px auto;
  }
}