.Diffic {
    background: #e6b8af;
}

.Ave {
    background: #f9cb9c;
}

.Easy {
    background: #b6d7a8;
}

.Trivial {
    background: #93c47d;
}

.Auto {
    background: #6aa84f;
}

.Hard {
    background: #dd7e6b;
}

.Challen {
    background: #cc4125;
    color: white
}

.Impos {
    background: #a61c00;
    color: white
}