.d {
    background: #e6b8af;
}

.av {
    background: #f9cb9c;
}

.e {
    background: #b6d7a8;
}

.t {
    background: #93c47d;
}

.au {
    background: #6aa84f;
}

.h {
    background: #dd7e6b;
}

.c {
    background: #cc4125;
    color: white
}

.i {
    background: #a61c00;
    color: white
}