.AbilityScoreModifiersTable {
  width: 220px;
  float: left;
  margin: 0 15px 0;
}

.AbilityScoreModifiersvalue {
  width: 110px;
}

.RankDiceTable {
  width: 150px;
  float: left;
  margin: 0 15px 0;
}

.RankDicevalue {
  width: 75px;
}

.RankDiceMargin {
  margin-top: 60px;
}

.SkillMatrixTable {
  width: 600px;
  margin: 15px auto;
}

.SkillMatrixvalue {
  width: 50px;
}

.headerTop {
  background: #222;
  color: whitesmoke;
  width: 100%;
}

.headerSide {
  position: absolute;
  color: whitesmoke;
}

.matrixSide {
  width: 250px;
  top: 134px;
  left: -100px;
  z-index: 1;
}

.skillValueMatrix {
  padding: 0;
}

.tableRow {
  position: relative;
}

.tableValue .SkillMatrixvalue:first-child {
  position: relative;
  background: #222;
  width: 50px;
  height: 24px;
  margin-bottom: 0;
}

.SkillDifficultyTable {
  width: 180px;
  float: left;
  margin: 15px 15px 0 0;
}

.SkillDescriptionsTable {
  width: 300px;
}

.SkillDifficultyvalue {
  width: 90px;
}

.descriptionShell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.SkillDescriptionsvalue:first-child {
  width: 175px;
  text-align: left;
  padding-left: 5px;
}

.SkillDescriptionsvalue:nth-child(2) {
  width: 50px;
}

.SkillDescriptionsvalue:nth-child(3) {
  width: 60px;
}
.SkillDescriptionsvalue:nth-child(4) {
  width: 50px;
}

.SkillDescriptionTitle {
  background: rgb(151, 23, 21) !important;
}

.SkillDescriptionSubtitle {
  color: whitesmoke;
  background: #222 !important;
}

.CheckToNotSlowDownTable {
  width: 220px;
  float: left;
  margin: 0 15px 0;
}

.CheckToNotSlowDownvalue {
  width: 160px;
}

.CheckToReduceFallTable {
  width: 220px;
}

.CheckToReduceFallvalue {
  width: 160px;
}

.acrobaticsShell {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.StealthSpeedTable {
  width: 200px;
  float: left;
  margin: 0 15px 0;
}

.StealthSpeedvalue {
  width: 130px;
}

.DeceptionCheckTable {
  width: 225px;
  float: left;
  margin: 0 15px 0 0;
}

.DeceptionCheckvalue {
  width: 165px;
}

.LockPickingTable {
  width: 300px;
  float: left;
  margin: 0 15px 0 0;
}

.LockPickingvalue {
  width: 100px;
}

.lockPickingMargin {
  margin-top: 80px;
}

.TrackingCheckTable {
  width: 250px;
  float: left;
  margin: 0 15px 0 0;
}

.TrackingCheckvalue:first-child {
  width: 75px;
}

.TrackingCheckvalue {
  width: 175px;
}

.DistractionCheckTable {
  width: 200px;
  float: left;
  margin: 0 15px 0 0;
}

.DistractionCheckvalue {
  width: 100px;
}

.RecruitingCheckTable {
  width: 250px;
  float: left;
  margin: 0 15px 0 0;
}

.RecruitingCheckvalue:first-child {
  width: 50px;
}

.RecruitingCheckvalue {
  width: 200px;
}

.PersuasionCheckTable {
  width: 500px;
  margin: 0 auto;
}

.PersuasionCheckvalue:first-child {
  width: 100px;
}

.PersuasionCheckvalue {
  width: 350px;
}

@media (max-width: 630px) {
  .AbilityScoreModifiersTable,
  .RankDiceTable,
  .StealthSpeedTable,
  .SkillDifficultyTable,
  .LockPickingTable,
  .TrackingCheckTable,
  .DistractionCheckTable,
  .RecruitingCheckTable,
  .DeceptionCheckTable {
    float: none;
    margin: 0 auto;
  }

  .RankDiceMargin,
  .lockPickingMargin {
      margin-top: 0;
  }

  .SkillMatrixTable {
    width: 100%;
    margin: 0;
  }

  .SkillDescriptionsTable {
    margin: 0 auto;
  }

  .acrobaticsShell {
    flex-direction: column;
    align-items: center;
  }

  .DeceptionCheckTable {
    width: 100%;
    float: none;
  }

  .PersuasionCheckTable {
    width: 100%;
  }
}

