.sidebarMargin {
  margin-bottom: 15px;
}

.TraitDicevalue {
  min-width: 50px;
}

.TraitDicevalue:first-child {
  min-width: 65px;
}

.TraitDiceTable {
  max-width: 410px;
  float: left;
  margin-right: 15px;
}

.resultHolder {
  margin: 10px auto;
  width: 85%;
  text-align: center;
}

.generateButton {
  background: #b45f06;
  color: whitesmoke;
  width: 100px;
  position: inherit;
  border-radius: 25px; 
  transition: .6s;  
}

.generateButton:hover {
  background: #222;
}

@media (max-width: 630px) {
  .TraitDiceTable {
    float: none;
    margin: 0 auto 15px auto;
  }
}