<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='anchor'>
                <div id='3hg1' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg1'"></app-bm-chapter-icon>
                <h3>A BRIEF OVERVIEW OF THE HISTORY OF THE MIDDLE REALM</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p10' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p10'"></app-bm-chapter-icon>
                <p> In the beginning, the Divines created the Painted World, in which they placed their first children.
                    The Painted
                    World was mutable and the source of all magic and there the First Children lived happily, beautiful,
                    skilled, and
                    perfect in everyway.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p11' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p11'"></app-bm-chapter-icon>
                <p> They were the delight of all the Divines, save one: the trickster Divine, Rostam. Rostam quickly
                    grew bored of
                    the First Children and the constant fawning they received from the Divines.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p12' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p12'"></app-bm-chapter-icon>
                <p> And so, under the guise of creating servants for the Divines, he created the Dwarves. He made the
                    opposite of
                    the First Children - crude, mean, ugly, and incorrigible in the extreme. They caused such an uproar
                    in the
                    Higher Realm that the Divines banished them to the Nothing beyond the Gate of Heaven, where certain
                    death
                    awaited them in the embrace of non-existent nothing.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p13' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p13'"></app-bm-chapter-icon>
                <p> The Father of the Dwarves took his people and before passing through the Gate of Heaven, slew the
                    giant Ymir,
                    who stood guard there and tossed his body into the Nothing. The All-Father and his sons jumped from
                    the Gate and
                    onto Ymir and from his bones they made the Middle Realm; the giant’s blood, the oceans and his
                    muscles, the
                    earth.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p14' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p14'"></app-bm-chapter-icon>
                <p> There they lived a profane life, in defiance of the Divines. With the protection of the Bones of
                    Ymir, the
                    dwarves were able to avoid the direct displeasure of the Divines and so the Divines needed to think
                    of different
                    ways to reach them in their holds.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p15' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p15'"></app-bm-chapter-icon>
                <p> They created the Bonfire, links to the Higher Realm, through which they sent the unthinking evils of
                    the world
                    through but the dwarves repulsed them.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p16' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p16'"></app-bm-chapter-icon>
                <p> And so they created their Second Children, avenging angels robed in flesh, to travel through the
                    Bonfires and
                    war with the dwarves.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p17' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p17'"></app-bm-chapter-icon>
                <p> But after centuries of war, the Second Children changed: they became obsessed with the total
                    destruction of the
                    dwarves and so they chained themselves to the Bonfires, harnessing the Divine against its wills.
                    They became the
                    orcs.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p18' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p18'"></app-bm-chapter-icon>
                <p> Appalled at what their Children had become, the Divines sent their First Children to bring the orcs
                    back into
                    the fold, but the orcs rebelled, sacrificing the some of the First Children on the Bonfires and thus was born
                    the human
                    race.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p19' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p19'"></app-bm-chapter-icon>
                <p> Centuries have passed and the Middle Realm changes those that walk there. The First Children
                    eventually called
                    it home and became the elves.</p>
            </div>
            <div class='anchor'>
                <div id='3ibTsjRfDjl' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3ibTsjRfDjl'"></app-bm-chapter-icon>
                <h1>WHICH RACE SHOULD I CHOOSE?</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3xvmHgvOCJI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3xvmHgvOCJI'"></app-bm-chapter-icon>
                <p> Your race effects character creation in 3 ways: Ability Score Modifiers, Gameplay Rewards, and Archetype Costs. If you're new to RPGs in generally, go for a race that interests you based on the flavor.</p>
            </div>
            <div class='anchor'>
                <div id='3kOpuEvckQq' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3kOpuEvckQq'"></app-bm-chapter-icon>
                <h3>ABILITY SCORE MODIFIERS</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3NRWeiscuJi' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3NRWeiscuJi'"></app-bm-chapter-icon>
                <p> These modify the base stats that you roll. You can use it to balance out your character's weak spots or you can use it to maximize what your character is already good it. We recommend the latter as Bonfire is a game built around teamwork: you'll have friends who will be good at things your character isn't.</p>
            </div>
            <div class='anchor'>
                <div id='3FtaYQizyom' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3FtaYQizyom'"></app-bm-chapter-icon>
                <h3>GAMEPLAY REWARDS</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3zrqShuDWpY' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3zrqShuDWpY'"></app-bm-chapter-icon>
                <p> Each race is meant to encourage a certain type of play. For instance, orcs gain bonuses for starting things, like combats or social conflicts, so they reward players who are aggressive, while elves get rewarded for being careful with how they engage with others. These are noted under the Racial Temperament section in their summary.</p>
            </div>
            <div class='anchor'>
                <div id='3NLyIsVRDgl' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3NLyIsVRDgl'"></app-bm-chapter-icon>
                <h3>ARCHETYPE COSTS</h3>
            </div>
            <div class=' paragraphShell anchor'>
                <div id='3zHPAsQZMCS' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3zHPAsQZMCS'"></app-bm-chapter-icon>
                <p> Some races can spend less time mastering things than others, freeing up time (CrP) to focus on other pursuits or becoming true masters of their vocation. This is reflected in the Archetype Costs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3hnTRkUbTFN' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hnTRkUbTFN'"></app-bm-chapter-icon>
                <p> You'll notice that some races will have Archetype Exceptions: these are based on the lore of that race for the Middle Realm, the official campaign setting of Bonfire. GMs should feel free to modify these prices. Actually, GMs should modify any prices to fit their setting.</p>
            </div>
            <div class="anchor">
                <div id="3h1" class="anchorTag"></div>
                <h1>ELVES</h1>
                <div class="underline"></div>
            </div>

            <div class='sidebarShell raceSidebar'>
                <h2 class='sidebarTitle'>Elf Summary</h2>
                <div class='anchor'>
                    <div id='3hg2' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg2'"></app-bm-chapter-icon>
                    <h3>ABILITY MODIFIERS</h3>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p1' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p1'"></app-bm-chapter-icon>
                    <p> -2 Str</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p2' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p2'"></app-bm-chapter-icon>
                    <p> -4 Con</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p3' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p3'"></app-bm-chapter-icon>
                    <p> +4 Int</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='3p4' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p4'"></app-bm-chapter-icon>
                    <p> +2 Cha</p>
                </div>
                <div class='anchor'>
                    <div id='3MmaZUBRPGW' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3MmaZUBRPGW'"></app-bm-chapter-icon>
                    <h3>RACIAL TEMPERAMENT</h3>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Medium Sized</p>
                    </div>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Health Size Modifier is 10</p>
                    </div>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Gain another use of your Honor Die when you win a Conflict without escalating</p>
                    </div>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Gain another use of your Honor Die when you win a Combat without taking damage</p>
                    </div>
                </div>
                <div class="marginBottom bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Gain another use of your Honor Die when you win a Skill Challenge without Stressing</p>
                    </div>
                </div>
                <div class='anchor'>
                    <div id='3hg5' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg5'"></app-bm-chapter-icon>
                    <h3>ARCHETYPE COSTS</h3>
                </div>
                <div class="chartShell">
                    <div>Warrior: 20</div>
                    <div>Expert: 15</div>
                </div>
                <div class="marginBottom chartShell">
                    <div>Servant: 35</div>
                    <div>Magical: 10</div>
                </div>
            </div>

            <div class='marginBottom paragraphShell anchor'>
                <div id='3p20' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p20'"></app-bm-chapter-icon>
                <p> The Elves are the first born of the Divines. Originally, the inhabitants of the Painted World,
                    the source of all
                    magic, they now inhabit the Middle Realm as mentally ethereal beings.</p>
            </div>
            <div class='anchor'>
                <div id='3hg15' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg15'"></app-bm-chapter-icon>
                <h3>HISTORY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p21' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p21'"></app-bm-chapter-icon>
                <p> After the corruption of the Orcs, the Divines sought another means of assailing the Dwarves in
                    their holds. They
                    turned to the First Children, the Elves.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p22' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p22'"></app-bm-chapter-icon>
                <p> So, they marshaled the elven forces and invaded the Middle Realm.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p23' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p23'"></app-bm-chapter-icon>
                <p> The invasion proved more fruitful than the first one. The Elves’ ethereal nature allowed them to
                    interact with
                    the Middle Realm without being corrupted by it and their corporeal bodies allowed them to wage
                    war on the
                    Dwarves on their own terms.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p24' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p24'"></app-bm-chapter-icon>
                <p> But there were side effects of their new environment. The Elves, who used to be nearest to the
                    Divines, found that
                    they were now less connected to their creators. With all that reality in the way, their prayers had
                    a harder time of
                    reaching the Divines.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p25' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p25'"></app-bm-chapter-icon>
                <p> After generations, the Elves have become dispersed, their common cause mostly forgotten and
                    their heritage lost
                    to the mists of time. Some continue the war, but most of them have integrated into the societies of
                    the Middle Realm
                    as artisans, scholars, and wizards.</p>
            </div>
            <div class='anchor'>
                <div id='3hg16' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg16'"></app-bm-chapter-icon>
                <h3>APPEARANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p26' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p26'"></app-bm-chapter-icon>
                <p> Elves are slender beings that are widely considered classically beautiful, though many find
                    their features alien
                    and off putting. They uniformly have long ears that taper to a point at the end.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p27' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p27'"></app-bm-chapter-icon>
                <p> Their eyes are pure white, with no iris or pupil visible, this matched with their sharp teeth,
                    can give them a
                    feline turn to their face.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p28' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p28'"></app-bm-chapter-icon>
                <p> Elves naturally survive off the ebb and flow of magic that drifts through the air of the Painted
                    World. While
                    still present in the Middle Realm, these winds are a sliver of their natural magnitude and so
                    Elves need to find
                    other sources; the main one being through the magic inherent in all living creatures. While
                    vegetables do have
                    magic in them, an Elf would have to consume 100s of pounds of lettuce each day to not die of
                    starvation. The
                    only realistic way of getting enough magic to survive is through the consumption of raw meat.
                </p>
            </div>
            <div class='anchor'>
                <div id='3hg17' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg17'"></app-bm-chapter-icon>
                <h3>PERSONALITY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p29' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p29'"></app-bm-chapter-icon>
                <p> To describe an Elf as “unattached” would be a huge understatement. They walk among battlefields,
                    with arrows
                    flying about them, completely unaffected. While the Orcs slaughter their companions, they will
                    calmly continue
                    picking that lock.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p30' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p30'"></app-bm-chapter-icon>
                <p> It’s not that they don’t logically understand the dangers, but they’re rather disconnected from
                    the realities of
                    the situation.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p31' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p31'"></app-bm-chapter-icon>
                <p> However, once settled in, Stress is hard for them to adapt to. Stress is not a native feeling
                    for an Elf and so
                    when it starts to affect them they don’t have the tools to effectively deal with it, meaning
                    that reality
                    weights heavy on them.</p>
            </div>
            <div class="anchor">
                <div id="3h2" class="anchorTag"></div>
                <h1>HUMANS</h1>
                <div class="underline"></div>
            </div>

            <div class='sidebarShell raceSidebar'>
                <h2 class='sidebarTitle'>Human Summary</h2>
                <div class='anchor'>
                    <div id='3hg6' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg6'"></app-bm-chapter-icon>
                    <h3>ABILITY MODIFIERS</h3>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='3p5' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p5'"></app-bm-chapter-icon>
                    <p> None</p>
                </div>
                <div class='anchor'>
                    <div id='3yeKAKxlQaZ' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3yeKAKxlQaZ'"></app-bm-chapter-icon>
                    <h3>RACIAL TEMPERAMENT</h3>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Medium Sized</p>
                    </div>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Health Size Modifier is 15</p>
                    </div>
                </div>
                <div class="marginBottom bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Gain another use of your Honor Die when someone else helped you complete a goal or benchmark. This lasts until the end of the next session and stacks if multiple people help you complete your benchmark or goals</p>
                    </div>
                </div>
                <div class='anchor'>
                    <div id='3hg9' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg9'"></app-bm-chapter-icon>
                    <h3>ARCHETYPE COSTS</h3>
                </div>
                <div class="chartShell">
                    <div>Warrior: 10</div>
                    <div>Expert: 10</div>
                </div>
                <div class="marginBottom chartShell">
                    <div>Servant: 10</div>
                    <div>Magical: 10</div>
                </div>
            </div>

            <div class='marginBottom paragraphShell anchor'>
                <div id='3p32' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p32'"></app-bm-chapter-icon>
                <p> Humans are the first natives of the Middle Realm. They are creatures born from strife, who’ve
                    carved for
                    themselves a place in the world through fire, steel, and grit.</p>
            </div>
            <div class='anchor'>
                <div id='3hg18' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg18'"></app-bm-chapter-icon>
                <h3>HISTORY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p33' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p33'"></app-bm-chapter-icon>
                <p> The first Humans were born from the embers and ash of the Bonfires during the Elf-Orc Wars. Orc
                    warlords
                    discovered they could strengthen and corrupt the Bonfires by burning Elves alive in the its
                    flame.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p34' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p34'"></app-bm-chapter-icon>
                <p> But out of the remains rose new life: a creature of both heaven and earth.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p35' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p35'"></app-bm-chapter-icon>
                <p> These children of the Middle Realm survived by forming clans in the hills and mountains, away
                    from the fighting,
                    and there they began to thrive.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p36' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p36'"></app-bm-chapter-icon>
                <p> The turning point in their civilization was when the Divines discovered their unique connection
                    with the Humans.
                    Each Human carried a Bonfire inside them, making them perfect vessels for the favor of the gods.
                    The Divines
                    began focusing their attention on them and bestowing their gifts on their adopted children.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p37' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p37'"></app-bm-chapter-icon>
                <p> Humans have now become the preeminent race in the Middle Realm, with kingdoms and empires across
                    the world.</p>
            </div>
            <div class='anchor'>
                <div id='3hg19' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg19'"></app-bm-chapter-icon>
                <h3>APPEARANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p38' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p38'"></app-bm-chapter-icon>
                <p> The Humans of the Middle Realm look like you and me. Their skin, eye, and hair color range
                    widely, adapted to
                    the region of that Human’s origin, with darker skins more common towards the equator.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p39' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p39'"></app-bm-chapter-icon>
                <p> If you don’t know what a Human looks like, I don’t know what to tell you.</p>
            </div>
            <div class='anchor'>
                <div id='3hg20' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg20'"></app-bm-chapter-icon>
                <h3>PERSONALITY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p40' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p40'"></app-bm-chapter-icon>
                <p> The truth is Humans are odd and quirky individuals that seem to have the defining trait of their
                    curiosity and
                    ambition.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p41' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p41'"></app-bm-chapter-icon>
                <p> Truthfully, you probably have your own opinion about how humans behave and why they behave the
                    way they do and
                    nothing I write in this little blurb is going to convince you otherwise.</p>
            </div>
            <div class="anchor">
                <div id="3h3" class="anchorTag"></div>
                <h1>ORCS</h1>
                <div class="underline"></div>
            </div>

            <div class='sidebarShell raceSidebar'>
                <h2 class='sidebarTitle'>Orc Summary</h2>
                <div class='anchor'>
                    <div id='3hg10' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg10'"></app-bm-chapter-icon>
                    <h3>ABILITY MODIFIERS</h3>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p6' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p6'"></app-bm-chapter-icon>
                    <p> +4 Str</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p7' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p7'"></app-bm-chapter-icon>
                    <p> +3 Con</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p8' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p8'"></app-bm-chapter-icon>
                    <p> -3 Int</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='3p9' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p9'"></app-bm-chapter-icon>
                    <p> -4 Cha</p>
                </div>
                <div class='anchor'>
                    <div id='3lCygNUAsrN' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3lCygNUAsrN'"></app-bm-chapter-icon>
                    <h3>RACIAL TEMPERAMENT</h3>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Medium Sized</p>
                    </div>
                </div>
                <div class="bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Health Size Modifier is 15</p>
                    </div>
                </div>
                <div class="marginBottom bulletListShell">
                    <h4 class="bulletTriangle">🜂</h4>
                    <div>
                        <p>Gain an additional use of your Honor Die for the length of a Combat, Conflict or opposed Skill Challenge that you start</p>
                    </div>
                </div>
                <div class='anchor'>
                    <div id='3hg13' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg13'"></app-bm-chapter-icon>
                    <h3>ARCHETYPE COSTS</h3>
                </div>
                <div class="chartShell">
                    <div>Warrior: 10</div>
                    <div>Expert: 20</div>
                </div>
                <div class="marginBottom chartShell">
                    <div>Servant: 25</div>
                    <div>Magical: 20</div>
                </div>
                <div class='anchor'>
                    <div id='3hg14' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg14'"></app-bm-chapter-icon>
                    <h3>Archetype Exceptions</h3>
                </div>
                <div class="marginBottom chartShell">
                    <div>Priest: n/a</div>
                    <div>Shaman: 20</div>
                </div>
            </div>

            <div class='marginBottom paragraphShell anchor'>
                <div id='3p42' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p42'"></app-bm-chapter-icon>
                <p> Avenging angels who know how to make war like others know how to breathe. The Orcs have been
                    corrupted by the
                    Middle Realm, now forging their destiny with their own hands.</p>
            </div>
            <div class='anchor'>
                <div id='3hg21' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg21'"></app-bm-chapter-icon>
                <h3>HISTORY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p43' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p43'"></app-bm-chapter-icon>
                <p> Confounded by the Dwarves, who used the corpse of Ymir to form the Middle Realm and shield
                    themselves from the
                    power of the Divines, the Divines began to formulate an invasion to massacre the Stone Folk.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p44' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p44'"></app-bm-chapter-icon>
                <p> They crafted corporeal angels to wage war in the Middle Realm and they created the Bonfires as
                    heavenly invasion
                    points.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p45' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p45'"></app-bm-chapter-icon>
                <p> Centuries passed and the Orcs changed. Ages of violence transformed them and they became narrow
                    minded in their
                    pursuit of the total destruction of the dwarvish race.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p46' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p46'"></app-bm-chapter-icon>
                <p> It was discovered that Orcish warlords could link themselves to the Bonfires, wresting power
                    from the Divines
                    against their will, and so the gods turned their backs on their wayward children.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p47' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p47'"></app-bm-chapter-icon>
                <p> But the wars continued and the Orcs used the link to elevate their own ancestors to a faux deity
                    state,
                    replacing the Divines.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p48' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p48'"></app-bm-chapter-icon>
                <p> The Orcs, since blinded by war, have been crushed and dispersed, their descendants found as
                    mercenaries and
                    bandits across the Middle Realm, with a few Orcish Warlords still offering resistance from their
                    ancient
                    citadels.</p>
            </div>
            <div class='anchor'>
                <div id='3hg22' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg22'"></app-bm-chapter-icon>
                <h3>APPEARANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p49' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p49'"></app-bm-chapter-icon>
                <p> Orcs have dark green or grey skin with porcine nose and tusks that jut up from their lower jaw.
                    They tend to be
                    stocky, with thick muscles and hunched shoulders.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p50' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p50'"></app-bm-chapter-icon>
                <p> Their hair is wiry, closer to steel wool than anything else and their eyes are completely
                    black, with no
                    pupils or irises, giving them an indescribable inhumanness to it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p51' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p51'"></app-bm-chapter-icon>
                <p> Naturally, Orcs are scavengers, able to survive on practically anything, no matter how rotten or
                    foul.</p>
            </div>
            <div class='anchor'>
                <div id='3hg23' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg23'"></app-bm-chapter-icon>
                <h3>PERSONALITY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p52' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p52'"></app-bm-chapter-icon>
                <p> An Orc’s whole life revolves around conflict and they tend to view the world in that way. If it
                    doesn’t allow
                    them to get a leg up on their enemy, why bother with it?</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p53' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p53'"></app-bm-chapter-icon>
                <p> The issue is that they don’t really have common sense: if it doesn’t directly relate to warfare,
                    they don’t see
                    the benefit.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p54' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p54'"></app-bm-chapter-icon>
                <p> So, weapons and armor, sure, but growing food? I don’t see how it gives me the leg up. Let
                    others do it and I’ll
                    just raid them for theirs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p55' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p55'"></app-bm-chapter-icon>
                <p> Orcs aren’t that much dumber than the average person but their brains tend to overheat when
                    thinking about
                    complex topics.</p>
            </div>
            <!-- Start Here -->
        </div>

        <div *ngIf=navDisplay class="tableShell" (click)="displayTables()">
            <p>Hide Quick Nav</p>
        </div>

        <div class="sideShell">
            <app-quick-nav *ngIf=navDisplay [side]='side'></app-quick-nav>
        </div>

        <div class="tableShell" (click)="displayTables()">
            <p>Show Quick Nav</p>
        </div>

        <h1 class="chapterTitle">Races</h1>
    </div>
</div>