<div class="outerShell">
    <div class="innerShell">
        <div class="backTexture"></div>
        <div class="backColor"></div>
        <div class="chapterShell">
            <div class='anchor'>
                <div id='3ibTsjRfDjl' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3ibTsjRfDjl'"></app-bm-chapter-icon>
                <h1>WHICH RACE SHOULD I CHOOSE?</h1>
                <div class="underline"></div>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3xvmHgvOCJI' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3xvmHgvOCJI'"></app-bm-chapter-icon>
                <p> Your race effects character creation in 3 ways: Stat Score Modifiers, Gameplay Rewards, and Archetype Costs. If you're new to RPGs in generally, go for a race that interests you based on the flavor.</p>
            </div>
            <div class='anchor'>
                <div id='3kOpuEvckQq' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3kOpuEvckQq'"></app-bm-chapter-icon>
                <h3>STAT SCORE MODIFIERS</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3NRWeiscuJi' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3NRWeiscuJi'"></app-bm-chapter-icon>
                <p> These modify the base stats that you roll. You can use it to balance out your character's weak spots or you can use it to maximize what your character is already good it. We recommend the latter as Bonfire is a game built around teamwork: you'll have friends who will be good at things your character isn't.</p>
            </div>
            <div class='anchor'>
                <div id='3FtaYQizyom' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3FtaYQizyom'"></app-bm-chapter-icon>
                <h3>GAMEPLAY REWARDS</h3>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3zrqShuDWpY' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3zrqShuDWpY'"></app-bm-chapter-icon>
                <p> Each race is meant to encourage a certain type of play. For instance, orcs gain bonuses for starting things, like combats or social conflicts, so they reward players who are aggressive, while elves get rewarded for being careful with how they engage with others. These are noted under the Racial Temperament section in their summary. </p>
            </div>
            <div class='anchor'>
                <div id='3NLyIsVRDgl' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3NLyIsVRDgl'"></app-bm-chapter-icon>
                <h3>ARCHETYPE COSTS</h3>
            </div>
            <div class=' paragraphShell anchor marginBottom'>
                <div id='3zHPAsQZMCS' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3zHPAsQZMCS'"></app-bm-chapter-icon>
                <p> Some races can spend less time mastering things than others, freeing up time (CrP) to focus on other pursuits or becoming true masters of their vocation. This is reflected in the Archetype Costs.</p>
            </div>
            <!-- <div class='marginBottom paragraphShell anchor'>
                <div id='3hnTRkUbTFN' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hnTRkUbTFN'"></app-bm-chapter-icon>
                <p> You'll notice that some races will have Archetype Exceptions: these are based on the lore of that race for the Middle Realm, the official campaign setting of Bonfire. GMs should feel free to modify these prices. Actually, GMs should modify any prices to fit their setting.</p>
            </div> -->
            <div class="anchor">
                <div id="3h1" class="anchorTag"></div>
                <h1>ELVES</h1>
                <div class="underline"></div>
            </div>

            <div class='sidebarShell raceSidebar'>
                <h2 class='sidebarTitle'>Elf Summary</h2>
                <div class='anchor'>
                    <div id='3hg2' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg2'"></app-bm-chapter-icon>
                    <h3>MODIFIERS</h3>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p1' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p1'"></app-bm-chapter-icon>
                    <p> -2 Str</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p2' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p2'"></app-bm-chapter-icon>
                    <p> -4 Con</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p3' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p3'"></app-bm-chapter-icon>
                    <p> +4 Int</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='3p4' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p4'"></app-bm-chapter-icon>
                    <p> +2 Cha</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='elvemediusizzed' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'elvemediusizzed'"></app-bm-chapter-icon>
                    <p>Medium Sized</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='elvfvistlaity' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'elvfvistlaity'"></app-bm-chapter-icon>
                    <p>Vitality Size Modifier is 10</p>
                </div>
                <div class='anchor'>
                    <div id='3MmaZUBRPGW' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3MmaZUBRPGW'"></app-bm-chapter-icon>
                    <h3>RACIAL TEMPERAMENT</h3>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='elvfitemprate' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'elvfitemprate'"></app-bm-chapter-icon>
                    <p>Patient</p>
                </div>
                <div class='anchor'>
                    <div id='3hg5' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg5'"></app-bm-chapter-icon>
                    <h3>ARCHETYPE COSTS</h3>
                </div>
                <div class="chartShell">
                    <div>Expert: 5</div>
                    <div>Servant: 5</div>
                </div>
                <div class="chartShell">
                    <div>Weird-Adept: 0</div>
                    <div>Socialite: 0</div>
                </div>
                <div class="marginBottom chartShell">
                    <div>Fighter: 10</div>
                </div>
            </div>
            
            <div class='marginBottom paragraphShell anchor'>
                <div id='wewhoweretarpacie' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'wewhoweretarpacie'"></app-bm-chapter-icon>
                <p class="italic">We who were trapped in prisons of flesh look to our forebears. For as the Alwealda ascended to return to the Divines, we, their children, will also ascend when we too have perfected ourselves in their sight.</p>
            </div>

            <div class='marginBottom paragraphShell anchor'>
                <div id='3p20' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p20'"></app-bm-chapter-icon>
                <p> The Elves are the first born of the Divines. Originally, the inhabitants of the Painted World,
                    the source of all
                    magic, they now inhabit the Middle Realm as mentally ethereal beings.</p>
            </div>
            <div class='anchor'>
                <div id='3hg16' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg16'"></app-bm-chapter-icon>
                <h3>APPEARANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p26' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p26'"></app-bm-chapter-icon>
                <p> Elves are slender beings that are widely considered classically beautiful, though many find
                    their features alien
                    and off putting. They uniformly have long ears that taper to a point at the end.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p27' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p27'"></app-bm-chapter-icon>
                <p> Their eyes are pure white, with no iris or pupil visible, this matched with their sharp teeth,
                    can give them a
                    feline turn to their face.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p28' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p28'"></app-bm-chapter-icon>
                <p> Elves naturally survive off the ebb and flow of magic that drifts through the air of the Painted
                    World. While
                    still present in the Middle Realm, these winds are a sliver of their natural magnitude and so
                    Elves need to find
                    other sources; the main one being through the magic inherent in all living creatures. While
                    vegetables do have
                    magic in them, an Elf would have to consume 100s of pounds of lettuce each day to not die of
                    starvation. The
                    only realistic way of getting enough magic to survive is through the consumption of raw meat.
                </p>
            </div>
            <div class='anchor'>
                <div id='3hg17' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg17'"></app-bm-chapter-icon>
                <h3>PERSONALITY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p29' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p29'"></app-bm-chapter-icon>
                <p> To describe an Elf as “careful” would be a huge understatement. They tend to live longer than other races, 
                    not because some supernaturally long lifespan, but because they're always careful about their actions. They see
                    other races as brash and impetuous while they're in turn seen as slow and cowardly.
                </p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p30' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p30'"></app-bm-chapter-icon>
                <p> It's not they're incapable of great emotion or quick action but elves seem to understand that with every action 
                    comes a consequence, whether that action was well meaning or not, and that this karmic force is more powerful than 
                    any other law or power. 
                </p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p31' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p31'"></app-bm-chapter-icon>
                <p> However, once set on a course, it is hard to dissuade an elf, for they do nothing lightly.</p>
            </div>
            <div class="anchor">
                <div id="3h2" class="anchorTag"></div>
                <h1>HUMANS</h1>
                <div class="underline"></div>
            </div>

            <div class='sidebarShell raceSidebar'>
                <h2 class='sidebarTitle'>Human Summary</h2>
                <div class='anchor'>
                    <div id='3hg6' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg6'"></app-bm-chapter-icon>
                    <h3>MODIFIERS</h3>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p5' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p5'"></app-bm-chapter-icon>
                    <p>Medium Sized</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='humanvialitiy' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'humanvialitiy'"></app-bm-chapter-icon>
                    <p>Vitality Size Modifier is 15</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='honordiceincrease' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'honordiceincrease'"></app-bm-chapter-icon>
                    <p>Increase your Honor Dice by 1 size</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='yourstrongmeidumeiot' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'yourstrongmeidumeiot'"></app-bm-chapter-icon>
                    <p>Your Strong and Medium Traits start out with 1 extra dice</p>
                </div>
                <div class='anchor'>
                    <div id='3yeKAKxlQaZ' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3yeKAKxlQaZ'"></app-bm-chapter-icon>
                    <h3>RACIAL TEMPERAMENT</h3>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='humanreacialtempiar' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'humanreacialtempiar'"></app-bm-chapter-icon>
                    <p>We all have our theories on what personality traits that are shared by the human race
                        and I'm not interested in wading in on that debate so instead of having a Racial Temperament,
                        they get special modifiers.
                    </p>
                </div>
                <div class='anchor'>
                    <div id='3hg9' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg9'"></app-bm-chapter-icon>
                    <h3>ARCHETYPE COSTS</h3>
                </div>
                <div class="chartShell">
                    <div>Expert: 0</div>
                    <div>Servant: 0</div>
                </div>
                <div class="chartShell">
                    <div>Weird-Adept: 0</div>
                    <div>Socialite: 0</div>
                </div>
                <div class="marginBottom chartShell">
                    <div>Fighter: 0</div>
                </div>
            </div>

            <div class='marginBottom paragraphShell anchor'>
                <div id='inthefdaysofoyour' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'inthefdaysofoyour'"></app-bm-chapter-icon>
                <p class="italic">In the days of yore, the Divines and the Giants fought in a war unending. And from their struggles fell their blood and sweat to the earth. From that mixture arose the first man and women, born of blood, sweat, and earth; the prices we must pay for all things.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p32' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p32'"></app-bm-chapter-icon>
                <p> Humans are the first natives of the Middle Realm. They are creatures born from strife, who’ve
                    carved for
                    themselves a place in the world through fire, steel, and grit.</p>
            </div>
            <div class='anchor'>
                <div id='3hg19' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg19'"></app-bm-chapter-icon>
                <h3>APPEARANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p38' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p38'"></app-bm-chapter-icon>
                <p> The Humans of the Middle Realm look like you and me. Their skin, eye, and hair color range
                    widely, adapted to
                    the region of that Human’s origin, with darker skins more common towards the equator.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p39' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p39'"></app-bm-chapter-icon>
                <p> If you don’t know what a Human looks like, I don’t know what to tell you.</p>
            </div>
            <div class='anchor'>
                <div id='3hg20' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg20'"></app-bm-chapter-icon>
                <h3>PERSONALITY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p40' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p40'"></app-bm-chapter-icon>
                <p> The truth is Humans are odd and quirky individuals that seem to have the defining trait of their
                    curiosity and
                    ambition.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p41' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p41'"></app-bm-chapter-icon>
                <p> Truthfully, you probably have your own opinion about how humans behave and why they behave the
                    way they do and
                    nothing I write in this little blurb is going to convince you otherwise.</p>
            </div>
            <div class="anchor">
                <div id="3h3" class="anchorTag"></div>
                <h1>ORCS</h1>
                <div class="underline"></div>
            </div>

            <div class='sidebarShell raceSidebar'>
                <h2 class='sidebarTitle'>Orc Summary</h2>
                <div class='anchor'>
                    <div id='3hg10' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg10'"></app-bm-chapter-icon>
                    <h3>MODIFIERS</h3>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p6' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p6'"></app-bm-chapter-icon>
                    <p> +4 Str</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p7' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p7'"></app-bm-chapter-icon>
                    <p> +3 Con</p>
                </div>
                <div class='paragraphShell anchor'>
                    <div id='3p8' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p8'"></app-bm-chapter-icon>
                    <p> -4 Int</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='3p9' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3p9'"></app-bm-chapter-icon>
                    <p> -4 Cha</p>
                </div>
                
                <div class='paragraphShell anchor'>
                    <div id='orcmediusdif' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'orcmediusdif'"></app-bm-chapter-icon>
                    <p>Medium Sized</p>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='orcviality' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'orcviality'"></app-bm-chapter-icon>
                    <p>Vitality Size Modifier is 15</p>
                </div>
                <div class='anchor'>
                    <div id='3lCygNUAsrN' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3lCygNUAsrN'"></app-bm-chapter-icon>
                    <h3>RACIAL TEMPERAMENT</h3>
                </div>
                <div class='marginBottom paragraphShell anchor'>
                    <div id='orcviality' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'orcviality'"></app-bm-chapter-icon>
                    <p>Aggressive</p>
                </div>
                <div class='anchor'>
                    <div id='3hg13' class='anchorTag'></div>
                    <app-bm-chapter-icon [id]="'3hg13'"></app-bm-chapter-icon>
                    <h3>ARCHETYPE COSTS</h3>
                </div>
                <div class="chartShell">
                    <div>Expert: 10</div>
                    <div>Servant: 15</div>
                </div>
                <div class="chartShell">
                    <div>Weird-Adept: 10</div>
                    <div>Socialite: 20</div>
                </div>
                <div class="marginBottom chartShell">
                    <div>Fighter: 0</div>
                </div>
            </div>

            <div class='marginBottom paragraphShell anchor'>
                <div id='daysofhashenightioefe' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'daysofhashenightioefe'"></app-bm-chapter-icon>
                <p class="italic">Days of ashes and nights of fire; we were great warriors then. But our swords and shields were stolen from us and now we, the nomads, search for things that no hand can hold. Where must we go? We who search the wasteland for our better selves?</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p42' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p42'"></app-bm-chapter-icon>
                <p> Avenging angels who know how to make war like others know how to breathe. The Orcs have been
                    corrupted by the
                    Middle Realm, now forging their destiny with their own hands.</p>
            </div>
            <div class='anchor'>
                <div id='3hg22' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg22'"></app-bm-chapter-icon>
                <h3>APPEARANCE</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p49' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p49'"></app-bm-chapter-icon>
                <p> Orcs have dark green or grey skin with porcine nose and tusks that jut up from their lower jaw.
                    They tend to be
                    stocky, with thick muscles and hunched shoulders.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p50' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p50'"></app-bm-chapter-icon>
                <p> Their hair is wiry, closer to steel wool than anything else and their eyes are completely
                    black, with no
                    pupils or irises, giving them an indescribable inhumanness to it.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p51' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p51'"></app-bm-chapter-icon>
                <p> Naturally, Orcs are scavengers, able to survive on practically anything, no matter how rotten or
                    foul.</p>
            </div>
            <div class='anchor'>
                <div id='3hg23' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3hg23'"></app-bm-chapter-icon>
                <h3>PERSONALITY</h3>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p52' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p52'"></app-bm-chapter-icon>
                <p> An Orc’s whole life revolves around conflict and they tend to view the world in that way. If it
                    doesn’t allow
                    them to get a leg up on their enemy, why bother with it?</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p53' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p53'"></app-bm-chapter-icon>
                <p> The issue is that they don’t really have common sense: if it doesn’t directly relate to warfare,
                    they don’t see
                    the benefit.</p>
            </div>
            <div class='paragraphShell anchor'>
                <div id='3p54' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p54'"></app-bm-chapter-icon>
                <p> So, weapons and armor, sure, but growing food? I don’t see how it gives me the leg up. Let
                    others do it and I’ll
                    just raid them for theirs.</p>
            </div>
            <div class='marginBottom paragraphShell anchor'>
                <div id='3p55' class='anchorTag'></div>
                <app-bm-chapter-icon [id]="'3p55'"></app-bm-chapter-icon>
                <p> Orcs aren’t that much dumber than the average person but their brains tend to overheat when
                    thinking about
                    complex topics.</p>
            </div>
            <!-- Start Here -->
        </div>

        <div class="sideShell">
            <app-quick-nav [side]='side'></app-quick-nav>
        </div>
        
        <h1 class="chapterTitle">Races</h1>
    </div>
</div>