<table class="float all-center first-left" id="backgroundTable">
  <thead>
    <tr class="notSticky">
      <th colspan="5">{{label}}</th>
    </tr>
    <tr>
      <th>Roll (d100)</th>
      <th>Name</th>
      <th>CrP Base</th>
      <th>Per Rank</th>
      <th>Rank Cap</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ib of ibTable">
      <td>{{ib.weight > 1 ? (ib.currentTotal + 1) + ' - ' + (ib.currentTotal + ib.weight) :
        ib.currentTotal + 1}}</td>
      <td>{{ib.ib}}</td>
      <td>{{ib.bonus}}</td>
      <td>{{ib.severity}}</td>
      <td>{{ib.cap}}</td>
    </tr>
  </tbody>
</table>