.optional {
    font-size: 20px;
    color: #b45f06;
}

.rudiment-shell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.rudiment-shell table {
    margin-bottom: 15px;
}