@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC");

.overflowWindow {
    max-width: 950px;
    width: 100%;
    overflow-x: auto;
}

.outerShell {
    font-family: "Vollkorn SC", serif;
    background: whitesmoke;
    position: relative;
}

.equipShell {
    margin-bottom: 10px;
}

.tableTitle {
    background: #990000;
    padding: 5px;
    font-size: 15px;
    color: whitesmoke;
}

.tableHeaders {
    text-align: center;
}

.tableRow {
    display: flex;
}

.tableValue {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 12px;
}

.tableRow:nth-child(odd){
    background: lightgrey;
}

.tableRow:first-child {
    background: #222;
    color: whitesmoke;
    padding: 7px 0;
}

h2 {
    position: absolute;
    color: whitesmoke;
}

.headerSpace {
    height: 25px;
    width: 100%;
    background: #222;
}

.headerHeaders {
    text-align: center;
}

.headerValue:first-child {
    background: #222;
    padding: 7px 0;
}

.headerValue:nth-child(2) {
    background: grey;
    padding: 7px 0;
}

.headerRow:nth-child(odd){
    background: lightgrey;
}


.headerRow {
    display: flex;
}

.headerRow:nth-child(4) {
    background: grey;
}

.headerValue {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 12px;
}

.headerSide {
    transform: rotate(270deg);
    top: 81px;
    width: 85px;
}

.exception {
    top: 144px;
    left: -50px;
    width: 150px;
}

.headerTop {
    left: 85px;
    top: 29px;
}

.farLeft {
    width: 225px;
    text-align: left;
    padding: 0 10px;
}

.farLeftExplaination {
    text-align: left;
    padding: 0 10px;
    width: 70px;
}

.normalCell {
    min-width: 75px;
    padding: 0 5px;
}

.normalCellExplaination {
    min-width: 65px;
    padding: 0 5px;
}

.subheader {
    background: rgb(58, 58, 58);
    color: whitesmoke;
    text-align: left;
    padding: 5px 10px;
    font-size: 12px;
}

.damageCell {
    width: 80px;
    padding: 0 5px;
}

.anchor {
    position: relative;
}

.anchorTag {
    position: absolute; 
    top: -110px; 
    left: 0
}

@media (max-width: 640px) {
    .anchorTag {
        position: absolute; 
        top: -75px; 
        left: 0
    }
  }