<div class="overflowWindow">
  <div *ngIf="!table.headers && !table.equipment && !table.explaination" class="outerShell" [ngStyle]="size">
    <h1 class="tableTitle">{{table.name | addSpace |uppercase}}</h1>
    <div class="tableHeaders">
      <div *ngFor="let item of table.body" class="tableRow">
        <div *ngFor="let value of item" class="tableValue">
          <p *ngIf="value !== 'N/A' && value !== 'n/a'" [ngStyle]="count">{{value | addSpace | titlecase}}</p>
          <p *ngIf="value === 'N/A' || value === 'n/a'" [ngStyle]="count">{{value | lowercase}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="table.headers && !table.equipment && !table.explaination" class="outerShell" [ngStyle]="size">
    <h1 class="tableTitle">{{table.name | addSpace |uppercase}}</h1>
    <div class="headerHeaders">
      <h2 class="headerTop">{{headerTop}}</h2>
      <h2 [ngClass]="headerSide === 'Number of Rolls' ? 'headerSide exception' : 'headerSide'">{{headerSide}}</h2>
      <div class="headerSpace"></div>
      <div *ngFor="let item of table.body" class="headerRow">
        <div *ngFor="let value of item" class="headerValue">
          <p *ngIf="value !== 'N/A' && value !== 'n/a'" [ngStyle]="count">{{value | addSpace | titlecase}}</p>
          <p *ngIf="value === 'N/A' || value === 'n/a'" [ngStyle]="count">{{value | lowercase}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="table.equipment" class="outerShell anchor equipShell" [ngStyle]="size">
    <div id="{{table.name | removeSpace}}" class="anchorTag"></div>
    <h1 class="tableTitle">{{table.name | addSpace |uppercase}}</h1>
    <div class="tableHeaders">
      <div *ngFor="let item of table.body" class="tableRow">
        <div *ngFor="let value of item; let i = index" class="tableValue">
          <p [ngClass]="i === 0 ? 'farLeft' : 'normalCell'">{{value | addSpace | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="table.explaination" class="outerShell anchor equipShell" [ngStyle]="size">
    <div id="{{table.name | removeSpace}}" class="anchorTag"></div>
    <h1 class="tableTitle">{{table.name | addSpace |uppercase}}</h1>
    <div class="tableHeaders">
      <div *ngFor="let item of table.body" class="tableRow">
        <div *ngIf="item.length === 1">
          <p class="subheader" [ngStyle]="size">{{item[0] | addSpace | titlecase}}</p>
        </div>
        <div *ngIf="item.length > 1" class="tableValue">
          <div *ngFor="let value of item; let i = index">
            <p [ngClass]="i === 0 ? 'farLeftExplaination' : i === 2 ? 'damageCell': 'normalCellExplaination'">{{value | addSpace | titlecase}}</p>
          </div>
        </div>
      </div>
    </div>