@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC");

.outerShell {
  margin: 137px 0 25px;
  height: 100%;
}

input {
  width: 100%;
  font-family: "ancient", serif;
  padding-left: 10px;
}

.inputShell {
  display: flex;
  background: white;
  padding: 25px;
}

input {
  border: 0;
  border-bottom: 1px solid;
}

.searchIcon {
  width: 21px;
  height: 21px;
  position: relative;
  margin: 5px;
}

.iconOuter {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #222;
}

.iconInner {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: white;
  top: 3px;
  left: 3px;
}

.iconHandle {
  position: absolute;
  width: 9px;
  height: 4px;
  background: #222;
  bottom: 4px;
  right: 0px;
  transform: rotate(45deg);
}

.searchTitle {
  margin-top: 15px;
  font-size: 13px;
  font-family: "ancient", serif;
}

.searchShell {
  background: white;
  margin-top: 15px;
}

.searchResult {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.searchResult:nth-child(even) {
  background: lightgrey;
}

.searchResult:hover {
  background: #b45f06;
}

.searchTitle {
  font-weight: 700
}

.searchName {
  margin-top: 10px;
  text-indent: 5%;
}

@media (max-width: 770px) {
  .outerShell {
    margin-top: 85px;
  }
}