.MovementBasicTable {
  width: 200px;
  float: left;
  margin: 0 15px 0 0;
}

.MovementBasicvalue {
  width: 100px;
  padding: 7px 0;
}

.MoraleTable {
  width: 175px;
  float: left;
  margin: 0 15px 0 0;
}

.Moralevalue {
  width: 100px;
  padding: 4px 0;
}

.headerTop {
  background: #222;
  color: whitesmoke;
  width: 100%;
}

.headerSide {
  position: absolute;
  color: whitesmoke;
  top: 80px;
  left: 15px;
}

.movementvalue {
  min-width: 90px;
}

.tableValue {
  padding: 0;
}

.tableValue .movementvalue:first-child {
  background: #222;
  width: 50px;
  height: 24px;
  margin-bottom: 0;
}

.movementTable {
  margin: 0 auto 25px;
  width: 605px;
  overflow: auto;
}

.terrainvalue {
  padding: 7px;
  text-align: center;
  width: 50px;
}

.terrainvalue:first-child {
  min-width: 150px;
  text-align: left;
}

.terrainvalue:last-child {
  text-align: left;
  width: 330px
}

.shootOnTheRunFirst {
  width: 105px;
}

.shootOnTheRunSecond {
  width: 0;
  padding: 0;
}

.MountedTable {
  width: 250px;
  float: left;
  margin: 10px 15px 0 0;
}


@media (max-width: 450px) {
    .MovementBasicTable {
        float: none;
        margin: 0 auto;
      }

      .movementTable {
        float: none;
        margin: 0 auto;
        width: 100%;
      }

      .MoraleTable {
        float: none;
        margin: 0 auto 0 auto;
      }
}