<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class="anchor">
        <div id="10hakRpaRqrND" class="anchorTag"></div>
        <h1>STARTING a COMBAT</h1>
        <div class="underline"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pQKXQbdsyHW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pQKXQbdsyHW'"></app-bm-chapter-icon>
        <p> Combat engages as soon as both sides are within eyesight and both know they the other intends harm.</p>
      </div>
      <div class='anchor'>
        <div id='10hgkMivUIHorL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgkMivUIHorL'"></app-bm-chapter-icon>
        <h3>The CLOCK</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10popItOwUXpl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10popItOwUXpl'"></app-bm-chapter-icon>
        <p> The Clock begins at 1, and then progresses to 2, 3, 4 etc, ad infinitum. When the Clock matches a
          character’s Initiative, they go. Each of these numbers represent 1 second of time passing. What second a
          character's next action is referred to as their initiative (or "where they are on the Clock") </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10jRHhvSQlrd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10jRHhvSQlrd'"></app-bm-chapter-icon>
        <p> This can be a difficult when you first start so we recommend that you start with only running a two or three
          enemies until you get the hang off it. We've also provided a tool that can help you keep track of the Clock
          and enemies easier. You can find it <a href="https://combatcounter.dragon-slayer.net/">here</a>.</p>
      </div>
      <div class='anchor'>
        <div id='10hgxuNhMIIbra' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgxuNhMIIbra'"></app-bm-chapter-icon>
        <h3>STARTING INITIATIVE & SURPRISE</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10potRPpPHuDo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10potRPpPHuDo'"></app-bm-chapter-icon>
        <p> Each side rolls an initiative die. The lower the die, the more prepared they are for the attack, though
          typically the instigator goes on second 1. Those that know the battle is about to start (like being warned by
          a predetermined sign) use a d4, and the completely surprised receive a d20, while everyone else typically
          falls on a dice between that. </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='thosewhoeinitiative' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'thosewhoeinitiative'"></app-bm-chapter-icon>
        <p> Those whose initiative hasn’t come up are surprised and continue to do what they were doing as if nothing is
          wrong. They can take no other actions: they’re completely unaware of what’s going on.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='shouldsomeoneattackthem' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'shouldsomeoneattackthem'"></app-bm-chapter-icon>
        <p> Should someone attack them during this time, they are completely helpless, defending on a d8!.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='ifthesurprisedishint' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ifthesurprisedishint'"></app-bm-chapter-icon>
        <p> If the surprised person is hit, the pain quickly brings them into the reality of the situation and they may
          act 2 seconds later (or before that if their initiative was the next second). </p>
      </div>
      <div class='anchor'>
        <div id='10hgSUsZSWLDmm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgSUsZSWLDmm'"></app-bm-chapter-icon>
        <h3>ACTIONS</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pXNXMHnWyEs' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pXNXMHnWyEs'"></app-bm-chapter-icon>
        <p> Every action takes a certain amount of time. On a character’s Initiative, they declare their action and are
          told how long that action will take. After that time, the action is complete.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pbJXYhjEAze' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pbJXYhjEAze'"></app-bm-chapter-icon>
        <p> So, if a character wants to walk across a room, which will take 8 seconds, and his Initiative is 5, once the
          Clock reaches 5, he starts walking and once it reaches 14, he’s gotten the other side of the room. </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pVLtimeLjlY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pVLtimeLjlY'"></app-bm-chapter-icon>
        <p> At any point, you may choose to forfeit your action and change your course. If, when half way across the
          room (at second 9), the character sees that his buddy is in trouble, he can immediately decide that, no, he’d
          rather be there, his character stops walking across the room and instead heads over to help his friend. </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10qLGxavjWOg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10qLGxavjWOg'"></app-bm-chapter-icon>
        <p> Keeping track of this can be tricky for new players unused to the system. To help players make the shift,
          we've created the <a target="_blank"
            href="https://drive.google.com/file/d/1SdyiHUEmgYOpuB6sl5ahDY_KcYbvDl8-/view?usp=sharing">Basic Combat Cheat
            Sheet</a> that has a strip where you can keep track of when your next action is going to happen. It also
          includes handy references to other rules found in this chapter as well.</p>
      </div>
      <div class='tableOverflowWindow MovementBasicTable'>
        <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
          <h1 class='tableTitle'>Movement</h1>
          <div class='tableHeaders'>
            <div class='tableRow'>
              <div class='tableValue'>
                <p class='MovementBasicvalue TableIndividual'>Category</p>
                <p class='MovementBasicvalue TableIndividual'>Speed</p>
              </div>
              <div class='tableValue'>
                <p class='MovementBasicvalue TableIndividual'>Crawl/Stroll</p>
                <p class='MovementBasicvalue TableIndividual'>2.5 Ft/sec</p>
              </div>
              <div class='tableValue'>
                <p class='MovementBasicvalue TableIndividual'>Walk</p>
                <p class='MovementBasicvalue TableIndividual'>5 Ft/sec</p>
              </div>
              <div class='tableValue'>
                <p class='MovementBasicvalue TableIndividual'>Jog</p>
                <p class='MovementBasicvalue TableIndividual'>10 Ft/sec</p>
              </div>
              <div class='tableValue'>
                <p class='MovementBasicvalue TableIndividual'>Run</p>
                <p class='MovementBasicvalue TableIndividual'>15 Ft/sec</p>
              </div>
              <div class='tableValue'>
                <p class='MovementBasicvalue TableIndividual'>Sprint</p>
                <p class='MovementBasicvalue TableIndividual'>20 Ft/sec</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pyOpaLjDflp' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pyOpaLjDflp'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>MOVEMENT</strong> While, for the most part, you’ll be using your commonsense to
          determine how long things will take, to unify at least one thing, movement rates are given below.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pdoZkHbODEA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pdoZkHbODEA'"></app-bm-chapter-icon>
        <p> A person may move up 1 movement category or down 2 in a second.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pJTYGSapvfb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pJTYGSapvfb'"></app-bm-chapter-icon>
        <p> Running can be kept up for 5 Seconds + Endurance Rank. If you continue to Run after that you take d4 damage
          at the beginning of every 5 Seconds + Endurance Rank period..</p>
      </div>
      <div class='paragraphShell'>
        <p> Sprinting can be kept up for Endurance Rank - Stress Penalty in Seconds. If continue to Sprint you take d4!
          damage at the beginning of every Endurance Rank - Stress Penalty period.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pNMJylJCTzA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pNMJylJCTzA'"></app-bm-chapter-icon>
        <p> If you take damage from Running or Sprinting, you can’t Run or Sprint again until you take a breather.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pnyZWNpgvIV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pnyZWNpgvIV'"></app-bm-chapter-icon>
        <p> Also, moving from a Run to Sprint, or vice versa, doesn’t reset that count, so don’t think you can skip
          taking damage by moving from a Sprint to a Run, you cheeky devil.</p>
      </div>
      <div class='marginBottom paragraphShell'>
        <p> While Running or Sprinting, you're unable to attack or defend yourself</p>
      </div>
      
      <div class='sidebarShell marginBottom'>
        <h2 class='sidebarTitle'>Tracking Initiative</h2>
        <div class='paragraphShell anchor'>
            <div id='untilyougethteioghandi' class='anchorTag'></div>
            <app-bm-chapter-icon [id]="'untilyougethteioghandi'"></app-bm-chapter-icon>
            <p>Until you get the hang out it, it might be difficult to keep track of when exactly things are happening, which is why we've provided the 
              combat strip on the <a target="_blank"
              href="https://drive.google.com/file/d/1SdyiHUEmgYOpuB6sl5ahDY_KcYbvDl8-/view?usp=sharing">Basic Combat Cheat
              Sheet</a>, which is that numbered line on the left hand side going 1 to 20.
            </p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
            <div id='touseitiotakekme' class='anchorTag'></div>
            <app-bm-chapter-icon [id]="'touseitiotakekme'"></app-bm-chapter-icon>
            <p>To use it, take a marker (dice or a penny works just fine) and place it on your initiative. When that number comes up on the 
              Clock, you do your action and then add the seconds until your next action, looping back around to 0, if needed.
            </p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
            <div id='soifyouocakcto' class='anchorTag'></div>
            <app-bm-chapter-icon [id]="'soifyouocakcto'"></app-bm-chapter-icon>
            <p>So, if you attack on second 17 with a weapon with a recovery of 8, place a marker on 17.
              When the Clock gets to second 17, you attack, and then move the marker to 3 ( since 17 + 8 is 
              above 20, you subtract 20 from it). 
            </p>
        </div>
        <div class='paragraphShell anchor marginBottom'>
            <div id='youmakyfindiosflaio' class='anchorTag'></div>
            <app-bm-chapter-icon [id]="'youmakyfindiosflaio'"></app-bm-chapter-icon>
            <p>You may also find it useful to place markers for another things you want to track, like movement and 
              shooting for ranged fighters or when spells will go off or end. 
            </p>
        </div>
    </div>
      <div class="anchor">
        <div id="10hPpsSnSfLDT" class="anchorTag"></div>
        <h1>The COMBAT</h1>
        <div class="underline"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pdqTRtlmXbA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pdqTRtlmXbA'"></app-bm-chapter-icon>
        <p> It is inevitable that if you get into combat, you’ll end up engaged in a melee with your enemy.</p>
      </div>
      <div class='anchor'>
        <div id='10hgsDSfKSfEAw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgsDSfKSfEAw'"></app-bm-chapter-icon>
        <h3>ZONES of ENGAGEMENT: MEASURING YOUR OPPONENT</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pVnEthMpTwl' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pVnEthMpTwl'"></app-bm-chapter-icon>
        <p> There are 3 positions that you can have relative to your enemy. These positions aren’t reciprocal by nature:
          you can be threatened by someone and not have them be threatened by you.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pqhYYtcqrgV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pqhYYtcqrgV'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>NOT ENGAGED</strong> This is basically the default. You are too far away for
          them to reasonable do anything.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10peYTinACpCC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10peYTinACpCC'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>THREATENED</strong> This means that you’re within 5 feet + your opponent’s
          weapon’s measure. From here, if you move faster than a Jog and if they’re within half their weapon Recovery,
          they
          can attack you. </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pqUrRKJDFqC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pqUrRKJDFqC'"></app-bm-chapter-icon>
        <p> If you go from Engaged to Threatened, your weapon initiative doesn't reset, so if you become Engaged again
          for any reason before your weapon's Recovery, you may not attack. </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pCgTkMAcMsf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pCgTkMAcMsf'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>ENGAGED</strong> You’ve closed the distance and can actually make an attack.
          The person with the highest weapon measure attacks first. If both weapons are exactly the same measure, the
          attacks happen simultaneously.</p>
      </div>
      <div class='anchor'>
        <div id='10hgrAqUBiMqtw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgrAqUBiMqtw'"></app-bm-chapter-icon>
        <h3>MELEE ATTACK & DEFENSE</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10ptpGSVsGXny' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10ptpGSVsGXny'"></app-bm-chapter-icon>
        <p> Basic melee attacks always roll a base d20! + any attack modifiers, while defenders either rolls a d20! +
          any defense modifiers</p>
      </div>
      <div class='anchor'>
        <div id='10hgWhFVCaqHCC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgWhFVCaqHCC'"></app-bm-chapter-icon>
        <h3>RANGED ATTACK & DEFENSE</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pZhcIfKpWEK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pZhcIfKpWEK'"></app-bm-chapter-icon>
        <p> Ranged attacks and defenses function identical to melee attacks and defenses (including Flanking), only get a few additional bonuses and penalties.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pQxWVHhRVDS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pQxWVHhRVDS'"></app-bm-chapter-icon>
        <p> The first is that range (of course) and the second is movement. When defending against a ranged attack, you get a +2 for 
          each Movement Category above standing still. So, if you're getting shot at, get the lead out.
        </p>
      </div>
      <div class='anchor'>
        <div id='10hgdzzBggxyzb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgdzzBggxyzb'"></app-bm-chapter-icon>
        <h3>DEALING DAMAGE</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pqIUTkjDrBi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pqIUTkjDrBi'"></app-bm-chapter-icon>
        <p> Once both sides have rolled and added all modifiers, compare the totals against each other.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pazAnWBEunD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pazAnWBEunD'"></app-bm-chapter-icon>
        <p> If the defender’s is equal to or greater than the attacker, the attack misses.</p>
      </div>

      <div class='paragraphShell anchor'>
        <div id='10puoBeenjWnP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10puoBeenjWnP'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>PARRYING</strong> If a melee attack roll is within the Parry Threshold of the
          defender’s total, the defender may choose to deflect some of the incoming attack.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pOtgkPYEHit' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pOtgkPYEHit'"></app-bm-chapter-icon>
        <p> The attacker rolls their damage and subtracts the shield or weapon’s DR and then their armor’s DR. Any left
          over is still done to the defender. For piercing weapons, the /d DR of the shield or weapon is tripled.
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pomWYbybVdb' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pomWYbybVdb'"></app-bm-chapter-icon>
        <p> So, a defender with a Parry Threshold of 4, and a total of 10 for their defense roll vs an attack roll of
          14,
          could choose to parry the blow, taking less damage.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10prdIUzAktjr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10prdIUzAktjr'"></app-bm-chapter-icon>
        <p> However, if it’s not, the attack lands and the attacker rolls his weapon’s damage die and adds any
          appropriate damage modifiers. The defender than subtracts their Damage Reduction and the remaining total is
          subtracted from their Vitality and added to their list of wounds.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='damagerduceiontio' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'damagerduceiontio'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>DAMAGE REDUCTION</strong> Armor and one Mastery allows you to reduce the amount
          of damage taken. This
          is often times shorted to DR. There
          are
          two types: Static, noted by just a number, and Per Die, noted by a number /D.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='11pLenZokpoSD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'11pLenZokpoSD'"></app-bm-chapter-icon>
        <p> Static simply subtracts that number from the damage and is done.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='11pJeIHUVfZwj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'11pJeIHUVfZwj'"></app-bm-chapter-icon>
        <p> /D subtracts that number multiplied by the number of dice the attack is using. So, if someone is attacking
          you with a slashing weapon (2d6!), and you have armor that gives you 4/D, you’d subtract 8 from the damage.
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pMnvdebWVFP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pMnvdebWVFP'"></app-bm-chapter-icon>
        <p> Either way, if the attacker chooses to remain in engaged, he then adds his weapon’s Recovery to the current
          second on the Clock. Once the Clock reaches that new number, he may attack again. </p>
      </div>
      <div class='anchor'>
        <div id='10DSTACCyEqI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10DSTACCyEqI'"></app-bm-chapter-icon>
        <h3>KNOCK-BACKS</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='10pKiQYyhqLY' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pKiQYyhqLY'"></app-bm-chapter-icon>
        <p>If the pre-DR damage is higher than your enemy’s Vitality Size Modifier + 3 for every level of Encumbrance
          you
          have, the attack also moves them back 5 feet. If it’s twice the damage needed, they get knocked back 10 feet,
          and so on.</p>
      </div>
      <div class='anchor'>
        <div id='10hgGvtwrnIOmt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgGvtwrnIOmt'"></app-bm-chapter-icon>
        <h3>VITALITY & DAMAGE</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pdNPKkcslCS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pdNPKkcslCS'"></app-bm-chapter-icon>
        <p> Remember that if you drop a Vitality Category you gain Stress equal to your Encumbrance</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pBgpzKyMwJo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pBgpzKyMwJo'"></app-bm-chapter-icon>
        <p> At each wound category above Unharmed, a character automatically receives 1 level of Fatigue. So a character
          whose Wounded is fighting with a penalty of 4 to his Recovery, Defense, Damage, Attack, Fatigue Score and
          Skill
          Checks (assuming he isn’t Fatigued from doing anything else in the fight).</p>
      </div>
      <div class='anchor'>
        <div id='10hgxhgLSKeBpK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgxhgLSKeBpK'"></app-bm-chapter-icon>
        <h3>TRAUMA</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pnJLKKdZDMg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pnJLKKdZDMg'"></app-bm-chapter-icon>
        <p> If someone does enough damage in one hit for you to skip a Wound Category (25% of their Vitality), you’ll
          have
          to roll a Trauma check, which is a Con check.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10ptDaOMTLdfD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10ptDaOMTLdfD'"></app-bm-chapter-icon>
        <p> Failure means that your character has been overcome with pain to the point that he’s unable to act, leaving
          him completely defenseless for a number of seconds equal to how much he failed by times 3.</p>
      </div>
      <div class='anchor'>
        <div id='10hgkhtuHpUcPh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgkhtuHpUcPh'"></app-bm-chapter-icon>
        <h3>GRIT</h3>
        <h4>🜂 Advanced Rule</h4>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pIfaUdXWANx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pIfaUdXWANx'"></app-bm-chapter-icon>
        <p> There are times when you have to reach deep down inside and find the hero within. Pushing through the pain
          to line up that perfect shot. This is what it means to have Grit.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pmaKTmEtNSf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pmaKTmEtNSf'"></app-bm-chapter-icon>
        <p> You may spend Vitality to increase or decrease any dice roll on a 1 for 1 with it all going on 1 wound. The
          following are exceptions:</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pCLLNIliqLy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pCLLNIliqLy'"></app-bm-chapter-icon>
        <p> The first Vitality spent also zero outs any Stress Penalties, so spending 1 Vitality while Bloodied, gives
          you a net +1.
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10uOddiLQALr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10uOddiLQALr'"></app-bm-chapter-icon>
        <p> Only one person may use Grit at a time. If two people declare they’re using Grit, it goes to the person in
          the Vitality Category closest to Bleeding Out. Ties go to the person who declared first.
        </p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10dseCEHfiUa' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10dseCEHfiUa'"></app-bm-chapter-icon>
        <p> You may declare your use of Grit after you know the totals of the rolls but before the next roll is made.
        </p>
      </div>
      <div class='anchor'>
        <div id='10hgWcYkvVsIPr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgWcYkvVsIPr'"></app-bm-chapter-icon>
        <h3>COUP de GRACE</h3>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pIzuMTCdfZg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pIzuMTCdfZg'"></app-bm-chapter-icon>
        <p> A helpless enemy is one completely at your mercy. If a character is completely helpless, either from failing
          a Trauma check, being bound, or deep asleep, a character can kill the target instantly. This move takes 10
          seconds to complete as it takes a bit of positioning to pull off. The character’s who throat is being slit
          gives out a cry of pain as they expire.</p>
      </div>
      <div class='anchor'>
        <div id='10hgUnxGAkHaoZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgUnxGAkHaoZ'"></app-bm-chapter-icon>
        <h3>FACING & FIGHTING MULTIPLE PEOPLE</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pCsGXzuNUFG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pCsGXzuNUFG'"></app-bm-chapter-icon>
        <p> The likelihood is that at some point you’ll want to be flanking or someone with want to flank you, to try
          and gain an advantage.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pdLQIuVXinJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pdLQIuVXinJ'"></app-bm-chapter-icon>
        <p> Defending right in front of you is pretty easy and so brooks no penalties, however, every 45 degree off that
          the defender lowers their Defense dice by 1 size, with those being attacked from directly behind defend
          on a d8! since they take advantage of a huge blind spot.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pASeEWywJbx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pASeEWywJbx'"></app-bm-chapter-icon>
        <p>This penalty can be mitigated through the use of shields. Small shields allow you to defend against an
          additional assailant, depriving them of that bonus, while Medium and Large ones allow you to defend against an
          extra 2 and 3, respectively.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pmXXnJfBHlG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pmXXnJfBHlG'"></app-bm-chapter-icon>
        <p> A maximum of 8 people at a time can effectively attack person at once, assuming that they’re out in the
          open. After that, every assailant’s attack die is lowered by 1 size per extra person.</p>
      </div>
      <div class='anchor'>
        <div id='10hgKuowiuYcTE' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgKuowiuYcTE'"></app-bm-chapter-icon>
        <h3>TACTICS</h3>
        <h4>🜂 Advanced Rule</h4>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pcjGEeSfxwC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pcjGEeSfxwC'"></app-bm-chapter-icon>
        <p> These rules add another layer of strategy to combat and should be implemented as soon as you have the basics
          down.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pCXszfTFbaD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pCXszfTFbaD'"></app-bm-chapter-icon>
        <p> A combatant utilizing these moves can only commit to one at a time, unless otherwise stated and can only
          switch on their attack unless it says otherwise.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pNxFYFHKBbJ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pNxFYFHKBbJ'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>ACTIVE DODGING</strong> This move relays on actively focusing on dodging against
          incoming attacks.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pCPWHGfSWZj' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pCPWHGfSWZj'"></app-bm-chapter-icon>
        <p> A defender commits to how much he wants to focus on dodging incoming attacks, both melee and ranged,
          choosing from a bonus to his
          defense in the range of +1 to +5, but netting an equal penalty to his attacks (-1 to -5).</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pybxERnWaTB' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pybxERnWaTB'"></app-bm-chapter-icon>
        <p> Additionally, this lowers the range for Near Perfect Defenses by 1, so you score them on a base natural 18 -
          19. This tactic needs to be committed to for at least your full weapon Recovery. After that you may continue
          using it and change tactics at any point.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='butfocusiongionde' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'butfocusiongionde'"></app-bm-chapter-icon>
        <p> But focusing on defense does slow you down, since you're zigzagging and trying to juke out your enemy, so 
          your movement is considered 1 Category lower for how far you move. So, if you're Medium sized and Active Dodging while at a 
          Run, you would move at 10 ft / sec, instead of 15. You would still be subject to the damage, however, since you're 
          still technically running.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pzSrSvOJoba' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pzSrSvOJoba'"></app-bm-chapter-icon>
        <p> Active Dodging can be combined with Retreat and Step Back, adding only the attack penalties but gaining all
          auxiliary benefits from each (so no, the defenses don't stack).</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='braceyourselftactic' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'braceyourselftactic'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>BRACE YOURSELF</strong> Maybe you look at your opponent and say "No, you move".
          You root your stance and ready yourself, sacrificing some maneuverability to hold the line and get a
          better chance of striking first.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='whitleusingthistactisachtacter' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'whitleusingthistactisachtacter'"></app-bm-chapter-icon>
        <p> While using this Tactic, a character adds +15 to their Knock-Back Threshold and gains a +1 to their Measure,
          however, they defend on a d12!.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pNRQBQaKKHa' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pNRQBQaKKHa'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>CHOKING UP ON YOUR WEAPON</strong> When you’ve choked up on your weapon, your
          weapon’s Measure is halved, and you add that number, rounded down to its Recovery. Your halved Measure is
          considered your
          new Measure for determining who attacks first and what Tactics can be employed on you as well.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pQJofMLfjZy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pQJofMLfjZy'"></app-bm-chapter-icon>
        <p> However, if an opponent is In Your Guard and you choke up on your weapon, you defend with a standard 1d20!
          and deal full weapon damage.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10poNFeStKzDW' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10poNFeStKzDW'"></app-bm-chapter-icon>
        <p> You’re unable to employ this tactic twice if someone again gets within your guard.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pDTgJWpJYDu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pDTgJWpJYDu'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>FEINT</strong> When performing this move, you (hopefully) get your enemy to
          commit his guard to a different location than you plan on hitting. </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pszTyGrCtuA' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pszTyGrCtuA'"></app-bm-chapter-icon>
        <p> Before you roll, if you declare a Feint, you receive a +5 to that Attack but receive a -3 to Defense until
          your next attack. </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10JCnocIFROh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10JCnocIFROh'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>FEND OFF</strong> If your weapon's measure is at least 1 foot greater than your
          opponent's,
          you can try and fend them off. This means that you may attack them freely, while they can't do the same to
          you.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10WZRRfHohFX' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10WZRRfHohFX'"></app-bm-chapter-icon>
        <p> You may only use this Tactic as someone is going from Threatened to Engaged, in which case they're
          automatically considered to be Fended Off.
          To full becoming engaged with you, they'll have to knock your weapon aside with a regular attack that deals no
          damage. Should they hit, they become
          fully engaged and can attack freely again.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10VArjPhRqOR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10VArjPhRqOR'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>IN THEIR GUARD</strong> If you're engaged with a person and have a weapon that
          is at least 1 foot shorter
          than your opponent, you may attempt to get in their guard. On a successful attack that deals no damage, the
          shorter weapon fighter has successfully
          knocked his foe's weapon aside and is no fighting at extreme close range, cause them huge penalties.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pPuxveLbUxn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pPuxveLbUxn'"></app-bm-chapter-icon>
        <p> The longer weapon may only defend with a d12!. All damage dice is also
          reduced by one size (3d4! → 3d3!). They may, in turn, employ the Choke Up On Your Weapon Tactic.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10prXImsSruPH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10prXImsSruPH'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>LONG GUARD</strong> By placing your weapon further out in front of you and
          trying to line the body of the weapon with the defender’s eye line, this may allow a person with a short
          weapon the first strike.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pleayrXOFfV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pleayrXOFfV'"></app-bm-chapter-icon>
        <p> While using this tactic, you increase your weapon’s measure by 1/2 ft but you reduce your damage’s largest
          die by 1 size.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pdbgkAUpmxq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pdbgkAUpmxq'"></app-bm-chapter-icon>
        <p> Crushing weapons are unable to employ this tactic.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pWUlileFpWg' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pWUlileFpWg'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>POWER ATTACK</strong> This is the fighting equivalent of baseball batting your
          enemy, swinging with all your might.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10puMeXwVJlzG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10puMeXwVJlzG'"></app-bm-chapter-icon>
        <p> With this attack, you receive a -3 to your Attack and next defense but your damage increases</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10phulDFNYlEZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10phulDFNYlEZ'"></app-bm-chapter-icon>
        <p> Piercing weapons increase 1 die by 1 size. Slashing weapons increase all dice by 1 size and crushing weapons
          increase its highest die by 2 sizes.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10puqFpIclXtS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10puqFpIclXtS'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>RETREAT</strong> This is a defensive tactic that involves moving directly back
          at jog
          or at a 45 degree angle from your opponent’s blows at a walk.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pHAkXGOUADw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pHAkXGOUADw'"></app-bm-chapter-icon>
        <p> After your defense roll, if you declare a Retreat, you receive a +5 to your next Defense roll but also a -5
          to your next Attack and must continue to move back until your next attack, either at a jog, if moving directly
          back, or at a walk, if started to move at a 45 degree angle.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pwwtfLgYsBn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pwwtfLgYsBn'"></app-bm-chapter-icon>
        <p> If your opponent is using the Flurry of Blows, Feint, or the Power Attack tactic, if they do hit, you only
          receive half damage</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10peALrCCPVQe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10peALrCCPVQe'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>SHIFT</strong> You move at your walking speed to either side of your opponent,
          but suffer a -1 to your next Attack and Defense for every 5 ft you travel before your next Attack or Defense.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pKHrpcMcwNK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pKHrpcMcwNK'"></app-bm-chapter-icon>
        <p> However, if you Shift with another tactic, you don’t receive this penalty and gain a +2 that can be either
          used to increase a bonus or decrease a penalty from that tactic. You may do this freely with any tactic except
          Retreat and Step Back.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pXwAsMvDDNM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pXwAsMvDDNM'"></app-bm-chapter-icon>
        <p>Shifting is also used to change Facings so if you’re engaged with an enemy and you Shift. And don’t forget
          that you get those tasty bonuses from flanking your enemy if they don’t also Shift to face you.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pzIeitmfMbw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pzIeitmfMbw'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>STEP BACK</strong> This is a defensive tactic that involves moving directly back
          from your opponent’s blows at your walking speed.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='10pgTLNeNYfGf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pgTLNeNYfGf'"></app-bm-chapter-icon>
        <p> Before your defense roll, if you declare a Step Back, you receive a +5 to your next Defense roll but on your
          next attack roll shrink the damage of your dice based on its type and must continue to move back at a Walking
          speed until your next attack.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='piercingweaponslower' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'piercingweaponslower'"></app-bm-chapter-icon>
        <p> Piercing weapons lower 1 of their dice by 1 size. Slashing lower all dice by 1 size and crushing lowers
          their highest die by 2 sizes.</p>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pKdccEvYftR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pKdccEvYftR'"></app-bm-chapter-icon>
        <p> If your opponent is using the Flurry of Blows, Faint, or the Power Attack tactic, if they do hit, you only
          receive half damage.</p>
      </div>
      <div class='sidebarShell marginBottom'>
        <h2 class='sidebarTitle'>Retreat v. Step Back</h2>
        <div class='marginBottom paragraphShell anchor'>
          <div id='10pocvEGvmpxa' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'10pocvEGvmpxa'"></app-bm-chapter-icon>
          <p> While they may seem similar on the surface, these two different tactics have some key differences I
            thought I’d point out so that you can utilize each better.</p>
        </div>
        <div class="space"></div>
        <div class='paragraphShell anchor'>
          <div id='10pMRcLBoGJvM' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'10pMRcLBoGJvM'"></app-bm-chapter-icon>
          <p> 1. Step Back must be declared before you roll your defense while Retreat can be declared after, meaning
            that if you see you rolled low before employing them.</p>
        </div>
        <div class='paragraphShell anchor'>
          <div id='10paxujFHSFOm' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'10paxujFHSFOm'"></app-bm-chapter-icon>
          <p> 2. Step Back moves your character straight back, while Retreat allows you to move up to 45° to the left
            and right, meaning that if you’re going to be backed against a wall, it’s an option to try and skirt your
            opponent.</p>
        </div>
        <div class='marginBottom paragraphShell anchor'>
          <div id='10pgIsvykQikq' class='anchorTag'></div>
          <app-bm-chapter-icon [id]="'10pgIsvykQikq'"></app-bm-chapter-icon>
          <p> 3. Retreat may be done at a jogging speed, while Step Back is always at a walk.</p>
        </div>
      </div>
      <div class='anchor'>
        <div id='10hgdPALGCCSTw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10hgdPALGCCSTw'"></app-bm-chapter-icon>
        <h3>BLEEDING OUT & DYING</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='AcharacterfaPoFeHYOTeP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AcharacterfaPoFeHYOTeP'"></app-bm-chapter-icon>
        <p>A character falls into the Bleeding Out Wound Category is unconscious and is in danger of dying. This is
          played
          out like a Social Conflict, with the person fighting against Death for survival, Appealing to him to let him
          live.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='HoweverthisOBbiveTvbt' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'HoweverthisOBbiveTvbt'"></app-bm-chapter-icon>
        <p>However, this has a few changes from a standard Conflict, the first is that each round happens every 5
          seconds
          that the character is in this state. </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThesecondisvwDJQPkZdu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesecondisvwDJQPkZdu'"></app-bm-chapter-icon>
        <p>The second is that you won’t be counting points: it’ll only matter if you win or lose the round. Every time
          you
          lose, you bleed out more and take an additional point of damage; every time you win, you get closer to
          stabilizing.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='GettingtohalaPLLzEzmpd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'GettingtohalaPLLzEzmpd'"></app-bm-chapter-icon>
        <p>Getting to half your Constitution in the negative (either from bleeding out or from additional wounds)
          results in
          the character's death but getting 10 points means that that stabilize, losing no more Vitality but still
          remaining unconscious until they're brought back up to Wounded.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheConflictiMdMrtiAAqu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheConflictiMdMrtiAAqu'"></app-bm-chapter-icon>
        <p>The Conflict is mainly going to be Appeals, with Death rolling 5d4! to start with. Each successive round the
          player wins, Death increases the size of his dice. When the player fails a round, Death's dice drop back down
          to
          5d4! again.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='OthercharacteQZIEqXjYmV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'OthercharacteQZIEqXjYmV'"></app-bm-chapter-icon>
        <p>Other characters can add their Medicine Skill as an additional dice each round, but not First Aid, though
          First
          Aid can bring someone back up to Wounded and just stop the Conflict in its tracks anyway so there's that.</p>
      </div>
      <div class="anchor">
        <div id="10hpcjvwbBurZ" class="anchorTag"></div>
        <h1>ENDING COMBAT</h1>
        <div class="underline"></div>
      </div>
      <div class='marginBottom paragraphShell anchor'>
        <div id='10pLweRAnWJtP' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'10pLweRAnWJtP'"></app-bm-chapter-icon>
        <p> Combat ends when one side is incapacitated, reached a truce, or have fled the field. At that point the Clock
          stops and play moves back to narrative time. </p>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]="side"></app-quick-nav>
    </div>
    <h1 class="chapterTitle">Combat</h1>
  </div>
</div>