.MovementBasicTable {
  width: 200px;
  float: left;
  margin: 0 15px 0 0;
}

.MovementBasicvalue {
  width: 100px;
  padding: 7px 0;
}

.headerTop {
  background: #222;
  color: whitesmoke;
  width: 100%;
}

.headerSide {
  position: absolute;
  color: whitesmoke;
  top: 80px;
  left: 15px;
}

.movementvalue {
  min-width: 90px;
}

.tableValue {
  padding: 0;
}

.tableValue .movementvalue:first-child {
  background: #222;
  width: 50px;
  height: 24px;
  margin-bottom: 0;
}

.movementTable {
  margin: 0 auto 25px;
  width: 605px;
  overflow: auto;
}

.terrainvalue {
  padding: 7px;
  text-align: center;
  width: 50px;
}

.terrainvalue:first-child {
  min-width: 150px;
  text-align: left;
}

.terrainvalue:last-child {
  text-align: left;
  width: 330px
}

.shootOnTheRunFirst {
  width: 105px;
}

.shootOnTheRunSecond {
  width: 0;
  padding: 0;
}

.MountedTable {
  width: 250px;
  float: left;
  margin: 10px 15px 0 0;
}

.Moralevalue {
  width: 33%;
  padding: 4px;
}

.rankexamplevalue {
  margin: 5px 0;
  width: 50px
}

.rankexampleTable {
  width: 250px;
  margin: 0px 10px 10px 0;
  float: left
}

.tierpricevalue {
  margin: 5px 0;
  width: 75px
}

.tierpriceTable {
  width: 225px;
  margin: 0px 10px 10px 0;
  float: left
}

.armorMarginBottom {
  margin-bottom: 15px;
}

.rangedbreakdownvalue {
  min-width: 85px;
}

.tableValue {
  padding: 0;
}

.tableValue .rangedbreakdownvalue:first-child {
  background: #222;
  min-width: 75px;
  height: 24px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sideheading {
  color: whitesmoke;
}

.tierBox {
  padding: 5px 10px;
  margin: 0 auto 15px;
  background: white;
}

.tierTitle {
  display: flex;
  justify-content: space-between;
}

.tierTwo {
  background: lightgrey
}

.tierBox p {
  text-indent: 0;
}


@media (max-width: 450px) {
    .MovementBasicTable {
        float: none;
        margin: 0 auto;
      }

      .movementTable {
        float: none;
        margin: 0 auto;
        width: 100%;
      }

      .MoraleTable {
        float: none;
        margin: 0 auto 0 auto;
      }

      .rankexampleTable, .tierpriceTable{
        float: none;
        margin: 5px auto 0 auto;
    }
}