<div class="iframeDiv">
    <iframe src="https://mailer.dragon-slayer.net/iframe"></iframe>
</div>


<div class="homeOuterShell">
    <div class="homeInnerLeft">
        <div class="homeLeftShell">
            <div class="homeTitleShell">
                <img src="../../assets/images/Grey.png" alt="Bonfire" class="homeTitle">
                <img *ngIf="patreon" src="../../assets/images/deluxe.png" alt="Bonfire" class="deluxeTitle">
            </div>
        </div>
        <div class="discord-shell">
            <a href="https://discord.gg/G8GVTME" target="_blank">
                <img *ngIf="patreon" src="../../assets/images/discord.svg" alt="Discord">
                <h2>Be Heard! Join Our Discord</h2>
            </a>
        </div>
        <div>
            <div class="homeInnerSearch">
                <app-logon></app-logon>
            </div>
        </div>
        <div>
            <div class="homeInnerSettings">
                <h1>Settings</h1>
                <div class="homeSettingsTray">
                    <img (click)="notRedux.toggleBackground()" *ngIf="notRedux.background" class="homeButtonImage"
                        src="../../assets/images/on.png" alt="on">
                    <img (click)="notRedux.toggleBackground()" *ngIf="!notRedux.background" class="homeButtonImage"
                        src="../../assets/images/off.png" alt="off">
                    <p (click)="notRedux.toggleBackground()">Toggle Background</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homeInnerRight">
        <h1>Rules Reference</h1>
        <div class="homeList">
            <a routerLink="/rules-reference/1">1.1 Basic Mechanics</a>
            <a routerLink="/rules-reference/2">1.2 Confrontations</a>
            <a routerLink="/rules-reference/3">1.3 Combat</a>
            <a routerLink="/rules-reference/4">1.4 Challenges</a>
            <a routerLink="/rules-reference/5">1.5 The Divine</a>
            <a routerLink="/rules-reference/6">1.6 The Weird</a>
            <a routerLink="/rules-reference/7">1.7 Misc. Rules</a>
        </div>

        <h1>Character Creation</h1>
        <div class="homeList">
            <a routerLink="/character-creation/1">2.1 Step-by-Step Overview</a>
            <a routerLink="/character-creation/2">2.2 Races</a>
            <a routerLink="/character-creation/3">2.3 Archetypes</a>
            <a routerLink="/character-creation/4">2.4 Flaws</a>
            <a routerLink="/character-creation/5">2.5 Skills</a>
            <a routerLink="/character-creation/6">2.6 Equipment</a>
            <a routerLink="/character-creation/7">2.7 Character Progression</a>
        </div>

        <h1>Other Tools & Resources</h1>
        <div class="homeList">
            <a target="_blank" href="https://vault.dragon-slayer.net/">Character Vault
                <p class="homeItemSub">An online database for storing, editing, and retrieving Bonfire characters. </p>
            </a>
            <a target="_blank"
                href="https://vault.dragon-slayer.net/view/blank">Bonfire
                Character Sheet <p class="homeItemSub">Printout</p></a>
            <a target="_blank"
                href="https://drive.google.com/file/d/1SdyiHUEmgYOpuB6sl5ahDY_KcYbvDl8-/view?usp=sharing">Basic Combat
                Cheat Sheet <p class="homeItemSub">Printout </p></a>
            <a target="_blank" href="https://combatcounter.dragon-slayer.net/">Combat Counter <p class="homeItemSub">A
                    web app for keeping track of combat </p></a>
            <!-- <a target="_blank" href="https://greatlibrary.dragon-slayer.net/">The Great Library <p class="homeItemSub">A reference app for Spells and Miracles</p></a> -->
            <a target="_blank" href="https://bestiary.dragon-slayer.net/">Bonfire Bestiary <p class="homeItemSub">A
                    database of foul foes to fight</p></a>
            <a target="_blank"
                href="https://drive.google.com/file/d/1qPGUiIA107YcCut4U2Bjdb7MLVTq8znT/view?usp=sharing">GameMaster
                Screen <p class="homeItemSub">A handy shorthand reference for GameMasteres</p></a>
            <!-- <a target="_blank" href="https://drive.google.com/file/d/1Mqwgh437d2zHHPi9dUvroF5G5WX6-QPg/view?usp=sharing">Combat Tactics Cheat Sheet <p class="homeItemSub"> printout</p></a> -->
        </div>
    </div>
</div>