<div class="outerShell">
    <div class="innerLeft">
        <div class="titleShell">
            <img src="../../assets/images/bonfire.png" alt="Bonfire" class="image">
            <img src="../../assets/images/Grey.png" alt="Bonfire" class="title">
            <p class="subtitle">Basic SRD</p>
        </div>
    </div>
    <div class="innerRight">
        <h1>Bonfire Player's Handbook</h1>
        <div class="list">
            <a routerLink="/c/c1">1 Character Creation</a>
            <a routerLink="/c/c2">2 Ability Scores</a>
            <a routerLink="/c/c3">3 Races</a>
            <a routerLink="/c/c4">4 Archetypes</a>
            <a routerLink="/c/c5">5 Flaws</a>
            <a routerLink="/c/c6">6 Character Vitals</a>
            <a routerLink="/c/c7">7 Masteries</a>
            <a routerLink="/c/c8">8 Skills</a>
            <a routerLink="/c/c9">9 Social</a>
            <a routerLink="/c/c10">10 Combat</a>
            <a routerLink="/c/c11">11 Equipment</a>
            <a routerLink="/c/c12">12 Magic</a>
            <a routerLink="/c/c13">13 Divine</a>
            <a routerLink="/c/c14">14 Character Progression</a>
            <a routerLink="/c/c15">15 Misc Rules</a>
        </div>

        <h1>Other Tools & Resources</h1>
        <div class="list">
            <a href="http://combatcounter.highadventuregames.net/">Combat Counter</a>
            <a href="https://drive.google.com/file/d/1L8hQ38ZjLbn9E_CDqVb6_rKG-uG_5yGX/view?usp=sharing">Bonfire
                Character Sheet</a>
        </div>

        <h1>Settings</h1>
        <div class="settingsTray">
            <img (click)="notRedux.toggleBackground()" *ngIf="notRedux.background" class="buttonImage" src="../../assets/images/on.png" alt="on">
            <img (click)="notRedux.toggleBackground()" *ngIf="!notRedux.background" class="buttonImage" src="../../assets/images/off.png" alt="on">
            <p (click)="notRedux.toggleBackground()">Toggle Background</p>
        </div>
    </div>
</div>