@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

.outerShell {
    display: flex;
    justify-content: space-around;
    width: 950px;
    margin: 137px 0 25px;
}

a {
    text-decoration: none;
    color: #222;
    font-family: 'Vollkorn SC', serif;
    margin-bottom: 5px;
}

a:hover {
    color: #b45f06
}

h1 { 
    font-family: 'Vollkorn SC', serif;
    border-bottom: 2px solid #222;
    margin-bottom: 10px;
}

p { 
    font-family: 'Vollkorn SC', serif;
    color: #222;
}

.innerLeft {
    width: 475px;
    display: flex;
    flex-direction: column;
}

.innerRight {
    margin-left: 15px;
    background: white;
    height: 660px;
    width: 475px;
    padding: 35px;
}

.innerSearch {
    background: white;
    width: 475px;
    height: 450px;
    padding: 35px;
    margin-top: 15px;
}

.leftShell {
    background: white;
    height: 195px;
    width: 475px;
}

.titleShell {
    position: relative;
    margin: 35px 45px;
}

.title {
    position: absolute;
    height: 125px;
}

.subtitle {
    position: absolute;
    top: 110px;
    left: 45px;
}

.image {
    height: 190px;
    position: absolute;
    right: 82px;
    top: -35px;
}

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.settingsTray {
    display: flex;
    align-items: center;
}

.settingsTray p:hover{
    color: #b45f06
}

.buttonImage {
    height: 30px;
    margin-right: 15px;
}

.itemSub {
    font-size: 13px;
}




@media (max-width: 500px) {

    .leftShell {
        display: none
    }

    .innerLeft {
        width: 100%;
    }

    .innerRight {
        margin: 0;
        height: 910px;
        width: 100%;
    }

    .outerShell {
        width: 100%;
        flex-direction: column-reverse;
    }

    .innerSearch {
        width: 100%;
    }

    h1 {
        font-size: 25px
    }

    a {
        font-size: 20px;
        margin-bottom: 10px;
    }
}