@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

.homeOuterShell {
    display: flex;
    justify-content: space-around;
    width: 950px;
    margin: 137px 0 25px;
}

.homeList a {
    text-decoration: none;
    color: #222;
    font-family: 'Vollkorn SC', serif;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
    font-size: 17px;
}

.homeList a:hover {
    color: #b45f06
}

.homeInnerRight h1 { 
    font-family: 'Vollkorn SC', serif;
    border-bottom: 2px solid #222;
    margin-bottom: 10px;
}

p { 
    font-family: 'Vollkorn SC', serif;
    color: #222;
}

.homeInnerLeft {
    width: 475px;
    display: flex;
    flex-direction: column;
}

.homeInnerRight {
    margin-left: 15px;
    background: white;
    height: 650px;
    width: 475px;
    padding: 35px;
}

.homeInnerSearch {
    background: white;
    width: 475px;
    height: 440px;
    padding: 35px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeInnerSearch a {
    margin-top: 15px;
    font-weight: 700;
}

.homeLeftShell {
    background: white;
    height: 195px;
    width: 475px;
}

.homeTitleShell {
    position: relative;
    margin: 35px 45px;
}

.homeTitle {
    position: absolute;
    height: 125px;
}

.homeSubtitle {
    position: absolute;
    top: 110px;
    left: 45px;
}

.homeImage {
    height: 150px;
    position: absolute;
    right: 90px;
    top: -20px;
}

.homeList {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.homeSettingsTray {
    display: flex;
    align-items: center;
}

.homeSettingsTray p:hover{
    color: #b45f06
}

.homeButtonImage {
    height: 30px;
    margin-right: 15px;
}

.homeItemSub {
    font-size: 13px;
}

@media (max-width: 640px) {

    .homeLeftShell {
        display: none
    }

    .homeInnerLeft {
        width: 100%;
    }

    .homeInnerRight {
        margin: 0;
        height: 910px;
        width: 100%;
    }

    .homeOuterShell {
        width: 100%;
        flex-direction: column-reverse;
    }

    .homeInnerSearch {
        width: 100%;
    }

    h1 {
        font-size: 25px
    }

    a {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .homeOuterShell {
        margin: 90px 0 25px;
    }
}

@media (max-width: 320px) {
    .homeInnerRight {
        height: 1000px;
    }
}