<div class="outerShell">
    <div class="innerLeft">
        <div class="titleShell">
            <img src="../../assets/images/bonfire.png" alt="Bonfire" class="image">
            <img src="../../assets/images/Grey.png" alt="Bonfire" class="title">
            <p class="subtitle">Basic SRD</p>
        </div>
    </div>
    <div class="innerRight">
        <h1>Bonfire Player's Handbook</h1>
        <div class="list">
            <a routerLink="/chapter/c1">1 Character Creation</a>
            <a routerLink="/chapter/c2">2 Ability Scores</a>
            <a routerLink="/chapter/c3">3 Races</a>
            <a routerLink="/chapter/c4">4 Archetypes</a>
            <a routerLink="/chapter/c5">5 Flaws</a>
            <a routerLink="/chapter/c6">6 Character Vitals</a>
            <a routerLink="/chapter/c7">7 Masteries</a>
            <a routerLink="/chapter/c8">8 Skills</a>
            <a routerLink="/chapter/c9">9 Social</a>
            <a routerLink="/chapter/c10">10 Combat</a>
            <a routerLink="/chapter/c11">11 Equipment</a>
            <a routerLink="/chapter/c12">12 Magic</a>
            <a routerLink="/chapter/c13">13 Divine</a>
            <a routerLink="/chapter/c14">14 Character Progression</a>
            <a routerLink="/chapter/c15">15 Misc Rules</a>
        </div>
        <h1>Other Tools & Resources</h1>
        <div class="list">
            <a href="http://combatcounter.highadventuregames.net/">Combat Counter</a>
            <a href="https://drive.google.com/file/d/1L8hQ38ZjLbn9E_CDqVb6_rKG-uG_5yGX/view?usp=sharing">Bonfire
                Character Sheet</a>
        </div>
    </div>
</div>