<div class="outerShell">
  <div *ngIf="view" class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <app-outer-display [view]="view"></app-outer-display>
    </div>

    <div *ngIf=navDisplay class="tableShell" (click)="displayTables()">
      <p>Hide Quick Nav</p>
    </div>

    <div class="sidebarShell">
      <app-quick-nav *ngIf=navDisplay [side]='side'></app-quick-nav>
      <button (click)="scrollToTop()">🜂 To Top</button>
    </div>

    <div class="tableShell" (click)="displayTables()">
      <p>Show Quick Nav</p>
    </div>

    <h1 class="chapterTitle">{{chapterName}}</h1>
  </div>

  <div *ngIf='!view'>
    <div class="loading"></div>
  </div>
</div>

