.tierpricevalue {
    margin: 5px 0;
    width: 75px
}

.tierpriceTable {
    width: 225px;
    margin: 0px 10px 10px 0;
    float: left
}

.tierBox {
    padding: 5px 10px;
    margin: 0 auto 15px;
    background: white;
}

.tierTitle {
    display: flex;
    justify-content: space-between;
}

.tierTwo {
    background: lightgrey
}

.tierBox p {
    text-indent: 0;
}

.descriptionShell {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 15px;
    align-items: baseline;
}

.descriptionShell table {
    width: 49%;
}

.descriptionShell table tr th:first-child, .descriptionShell table tr td:first-child {
    width: 45%;
}

.descriptionShell table tr th:nth-child(2), .descriptionShell table tr th:nth-child(3) {
    text-align: center !important;
}

.combat-skill-suites-header th {
    background-color: #990000 !important;
    text-align: center !important;
}

@media (max-width: 426px) {
    .descriptionShell table {
        width: 100%;
    }
}