<div class="outerShell">
  <div class="innerShell">
    <div class="backTexture"></div>
    <div class="backColor"></div>
    <div class="chapterShell">
      <div class="anchor">
        <div id="ANATOMYoftheheader" class="anchorTag"></div>
        <h1>Anatomy of the Divine</h1>
        <div class="underline"></div>
      </div>
      <div class='anchor'>
        <div id='COVENANTSiADfRSYVws' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'COVENANTSiADfRSYVws'"></app-bm-chapter-icon>
        <h3>COVENANTS</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='DivineshavesQVdNUYHVFS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'DivineshavesQVdNUYHVFS'"></app-bm-chapter-icon>
        <p>Divines have spheres of power that represent their aspects. These are codified into Covenants, or promises
          they
          make with their servants in exchange for a portion of the Divine’s power.</p>
      </div>
      <div class='paragraphShell marginBottom anchor'>
        <div id='CultsofthatzwHmNDNuNz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'CultsofthatzwHmNDNuNz'"></app-bm-chapter-icon>
        <p>Cults of that Divine typically pick one, maybe two Covenants, of their chosen Divine to focus on.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ForinstancesJcEwJNofN' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ForinstancesJcEwJNofN'"></app-bm-chapter-icon>
        <p class="italic">For instance, Wülder, a Gothic god, watches over Raiding, Industry and Trade. There could be 3 different
          priests
          to Wülder, one focusing on his role as the Bridge Between Men, one seeing him as primarily a watcher over
          people
          going on cattle raids, and one worshiping him as the greater crafter and source of inspiration.</p>
      </div>
      <div class='paragraphShell marginBottom anchor'>
        <div id='WhiletheyallwwXPzqflAz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WhiletheyallwwXPzqflAz'"></app-bm-chapter-icon>
        <p class="italic">While they all worship the same Divine, the Miracles they can invoke in his name are different.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThismeansthautbLXeclqm' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThismeansthautbLXeclqm'"></app-bm-chapter-icon>
        <p>This means that priests of different cults may not get along with each other and there can even be
          intra-faith
          wars to purge heretics (those that focus on different Covenant from them).</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThemainbonusoPWYiyysLr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThemainbonusoPWYiyysLr'"></app-bm-chapter-icon>
        <p>The main bonus of Covenants is that they make Miracles within them easier to invoke. The specifics are
          elaborated
          on in the Invoking Miracles section below.</p>
      </div>
      <div class='anchor'>
        <div id='COSMICLINKSvHGbhXmpwF' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'COSMICLINKSvHGbhXmpwF'"></app-bm-chapter-icon>
        <h3>COSMIC LINKS</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheHigherPlaYpnOhzTsFf' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheHigherPlaYpnOhzTsFf'"></app-bm-chapter-icon>
        <p>The Higher Planes are those that exist above the crude and primitive world and so, naturally, the Divines are
          linked to the events and behaviors of the celestial bodies that make their homes in the heavens.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ACosmicLinkiaDDLzJJdG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ACosmicLinkiaDDLzJJdG'"></app-bm-chapter-icon>
        <p>A Cosmic Link is the specific celestial body that the Divine is associated with, and it usually gives an
          insight
          to the personality of the god. The Cosmic Link doesn’t necessarily mean your Patron is primarily the Divine of
          that Cosmic thing. So, a Divine associated with the moon might not be primarily a moon god, in the same way
          that
          while Venus was associated with the Morning Star, she was primarily viewed as a love goddess by the Romans.
          Still, your holy symbols may incorporate the moon motif commonly to represent her.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ForclarificatofJkDcSLUI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ForclarificatofJkDcSLUI'"></app-bm-chapter-icon>
        <p>For clarification’s sake: when something says “decrease” in this section’s explanations, you go down the
          chart by
          that many steps. If it says “increase” go up, so increase will always be a bonus, and decrease will always be
          bad.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThisisassociymIXRkBnjX' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisassociymIXRkBnjX'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>COMET </strong>This is associated with fervent but fleeting powers. Whenever you
          invoke a Miracle, you gain two Honor Dice with
          a +3 but lose an additional Favor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TheeveningstTnXWuhyvpu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheeveningstTnXWuhyvpu'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>EVENING STAR </strong>The evening star is a source of strength and beauty: it's
          the first star to rise in the evening. When you invoke
          a Miracle, if you roll below the average, you gain the average instead. So, if you roll d8 and get a 3 or
          less,
          you get 4 instead.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThemoonisayxdMeEfBIi' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThemoonisayxdMeEfBIi'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>MOON </strong>The moon is a steady force, its effects are subtle but constant.
          When you invoke a Miracle, if you roll two Honor
          Dice, keeping the highest.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThemorningstwDjRBxnplk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThemorningstwDjRBxnplk'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>MORNING STAR </strong>The morning star is the last star in the heavens before
          day and is a lone watcher. When you invoke a Miracle and
          roll the minimum amount, you don’t lose any Favor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThesunisthefDbaRwsoaH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesunisthefDbaRwsoaH'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>SUN </strong>The sun is the lord of heaven, strong and unbending, its power
          unquestioned. When you invoke a Miracle and roll
          the max amount, you don’t lose any Favor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='OftenhailingTrxXZAyWNu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'OftenhailingTrxXZAyWNu'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>CYCLICAL </strong>Often hailing from older, more primitive times, the Cyclical
          deity represents earthly inevitabilities in a
          dichotomy, sometimes with themselves and sometimes with an opposing deity. This can be Spring and Summer, life
          and death, creation and destruction. They may be weak now, but they will wax unstoppable. When you invoke a
          Miracle, and roll under its average, your next Miracle gains a +1. This is cumulative.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='IfyourollabQouVQTbiyn' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'IfyourollabQouVQTbiyn'"></app-bm-chapter-icon>
        <p>If you roll above its average, this bonus is then removed, and you get a -1 to your next Miracle. Again, this
          is
          cumulative and resets when you roll below.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='SoifyouhavipQjVVNqNM' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'SoifyouhavipQjVVNqNM'"></app-bm-chapter-icon>
        <p>So, if you have a d6! Honor Dice, and you roll a 2, the next Miracle you invoke gets a +1. That next Miracle
          you
          roll, you get a 3 for a total of 4 (because of the +1), giving you a +2 the next roll. On that roll, you roll
          a
          5 for a total of 7 ( 5 + 2 ). The next Miracle you then invoke gets a -1.</p>
      </div>
      <div class="anchor">
        <div id="FAVORoftheDheader" class="anchorTag"></div>
        <h1>Favor of the Divines</h1>
        <div class="underline"></div>
      </div>
      <div class='anchor'>
        <div id='WHATisFAVORIoOErAXOZr' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WHATisFAVORIoOErAXOZr'"></app-bm-chapter-icon>
        <h3>WHAT IS FAVOR?</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='FavorisameaEXSBgVoCHT' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'FavorisameaEXSBgVoCHT'"></app-bm-chapter-icon>
        <p>Favor is a measure of your standing with a given god. It’s not an absolute measure, however, but more a
          measure
          of the chance that a Divine will answer your prayer. How far your Favor goes ranges widely based on how
          devoted
          you are to a god and how Honor you are.</p>
      </div>
      <div class='anchor'>
        <div id='LEVELSofDEVOlaroqlcirH' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'LEVELSofDEVOlaroqlcirH'"></app-bm-chapter-icon>
        <h3>LEVELS OF DEVOTION</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='Thereare3leZwVLUgBpyq' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'Thereare3leZwVLUgBpyq'"></app-bm-chapter-icon>
        <p>There are 3 levels of commitment to a Covenant, that determine how often you get Favor and how much Favor you
          can
          have:</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='arethelowestVSSBJpKElL' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'arethelowestVSSBJpKElL'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>UNANOINTED </strong>are the lowest level: those outside the cult and its
          mysteries. They gain no benefits of any kind.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='arethosethatollWYIKajd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'arethosethatollWYIKajd'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>ANOINTED </strong>are those that are the lay members of the faith. They gain
          small bonuses to their max Favor for the deity they’re
          devoted to. You can only be anointed to one Covenant at a time.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='IfyouhaveadrZJjEuYQC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'IfyouhaveadrZJjEuYQC'"></app-bm-chapter-icon>
        <p>If you have a positive Devotion to a deity, one of their cults, or one of their Covenants, you can choose to
          begin the game as an anointed to that deity. Otherwise, you can become Anointed during gameplay once you have
          that Devotion.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='YoucanonlybrGPKmZNCve' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'YoucanonlybrGPKmZNCve'"></app-bm-chapter-icon>
        <p>You can only be anointed to one deity at a time.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='arethehighesFNlbIoPMAI' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'arethehighesFNlbIoPMAI'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>SERVANTS </strong>are the highest rung of the commitment ladder and serve as the
          officers of the cult of the god. They’re priests,
          abbots, hierophants, pontiffs, nazarites, hermits, etc. These are men and women that have taken vows to
          devote
          their life to the cult. In game terms, this means that these are those who have a Servant Archetype as either
          their Primary or Secondary Archetype.</p>
      </div>
      <div class='anchor'>
        <div id='ACQUIRINGFAVOpycTIdBLJE' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ACQUIRINGFAVOpycTIdBLJE'"></app-bm-chapter-icon>
        <h3>ACQUIRING FAVOR</h3>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ServantsturnGEhxFBGBOK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsturnGEhxFBGBOK'"></app-bm-chapter-icon>
        <p>Servants turn their eyes from the earth below to higher worlds, both literally and metaphorically. In this
          way,
          they’re the keeper of the times and seasons, as well as the calendar to note the occurrence of Holy Days.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AssuchplayeuIzFToLeFd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AssuchplayeuIzFToLeFd'"></app-bm-chapter-icon>
        <p>As such, players who play Servants will need to keep track of the passage of time. Doing so gives them
          special
          bonuses according to the schedule laid out below. You’ll note that it follows the Gregorian Calendar layout
          with
          holy days happening according to the Judeo-Christian traditions. The assumption that the characters will be
          following an in-game calendar with random Holy Days specific to their cult but we’re “translating” into the
          Gregorian calendar, in the same way that we assume the characters are actually speaking in their native
          fantasy
          tongues and not in English. Doing this makes it easier for players to keep track because the calendar is a
          familiar shape. They won’t have to track out a whole year and remember that Beltane is on the 5th of Seed’s
          Row.
        </p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='RulesforusinbpWBGurtFd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'RulesforusinbpWBGurtFd'"></app-bm-chapter-icon>
        <p>Rules for using your own calendar and keeping all Servants relatively balanced against each other is going to
          be
          the Deluxe Rules.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='FavorisuniqupwNLupmpRZ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'FavorisuniqupwNLupmpRZ'"></app-bm-chapter-icon>
        <p>Favor is unique to the Divine you’re petitioning. Gaining Favor with another Divine, means that you lose an
          equal
          amount of Favor with all others because gods are bad at sharing.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThesearesmalXVIpTNxAOx' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesearesmalXVIpTNxAOx'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>DAILY SACRIFICES (EVERY DAY) </strong>These are small, daily sacrifices. These
          tend to cost about 1 or 2 sc, 5 to 6 points of Stress, or 1 or 2
          Vitality, depending on your Divine's preferences. They can be the sacrifice of a small, sacred animal, the
          burning of a portion of your meal, or the lighting of incense during morning prayers. They net 1 Favor for
          Servants of that Divine.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThisisadayhONLEkiebE' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisisadayhONLEkiebE'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>SABBATIC HOLY DAY (EVERY 7 DAYS) </strong>This is a day of rest and
          contemplation, where the faithful are instructed to put aside the things of the world
          and focus on the Divine with activities related to their Covenant. There is an emphasis on ritual over
          practicality to emphasize this divide, so while a Divine of Battle encourages his followers to fight every
          day,
          on his sabbath he only wants them to focus on ritualistic combat and controlled bloodshed, as opposed to
          actual
          combat. Again, this is to remind his followers of the holiness of the action and by forcing his followers to
          stop and think about their actions, he forces them to contemplate the deeper realities of combat. The sabbath
          takes up 1 to 3 hours and the rest of the day can be spent at the faithful wants.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ServantswhoorlLnpOqOXR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantswhoorlLnpOqOXR'"></app-bm-chapter-icon>
        <p>Servants who observe the sabbath of their Divine gain all Favor back, while anointed worshippers gain their
          Min
          Favor from Charisma if they roll a 4 or better on their Honor die adding one Devotion related to that Divine.
          Unanointed
          worshippers gain nothing.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='WherenormalSYcUoUfXlKw' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'WherenormalSYcUoUfXlKw'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>LUNAR HOLY DAY (4 SABBATIC HOLY DAYS) </strong>Where normal Sabbaths are days of
          rest, Lunar Holy Days are about sacrifices and consecration, which are
          thematically appropriate to the cult’s Covenant. Those observing the holy day need to stop and spend the whole
          day or they gain no benefit.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ServantsgainNuKnBEyBSQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsgainNuKnBEyBSQ'"></app-bm-chapter-icon>
        <p>Servants gain all Favor back plus extra Favor equal to their Min Favor. This extra Favor is reset on the next
          Lunar Holy Day (which means you can’t stockpile it). The Anointed gain all Favor back, while the unanointed
          who
          celebrate gain 1 Favor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TheseholydaydVahNfSwkd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheseholydaydVahNfSwkd'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>SOLAR HOLY DAY (EVERY 3 LUNAR HOLY DAYS) </strong>These holy days celebrate the
          turning of the seasons and where the other festivals can be severe, with fasting
          and reading and nerd stuff like that, Solar Holy Days are about feasting and letting loose a bit. The Divines
          demand their faithful to party all day.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ServantsgainvgmPkxQPVy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsgainvgmPkxQPVy'"></app-bm-chapter-icon>
        <p>Servants gain all Favor back plus extra Favor equal to a roll of their Devotion. This extra Favor is
          reset on
          the next Solar Holy Day (which means you can’t stockpile it). The anointed faithful gain their full Favor back
          and the unanointed gain their Min Favor from Charisma if they roll a 4 or better on their Honor die adding one Devotion related to that Divine</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TheAnnualHolDCgXHufCtQ' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheAnnualHolDCgXHufCtQ'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>ANNUAL HOLY DAY (EVERY 4 SOLAR HOLY DAYS) </strong>The Annual Holy Day either
          celebrates the new year or an important event in the cult, such as the birth of their
          messiah or the founding of their faith. It is a 2 day affair and is often occupied by feasting, gift giving,
          public rituals, and other such nonsense.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ServantsandAnhEMQxwFva' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsandAnhEMQxwFva'"></app-bm-chapter-icon>
        <p>Servants and Anointed followers gain all Favor back with Servants also gaining extra Favor equal to
          their Devotion and the Anointed followers gaining extra Favor equal to a roll of their Honor die. For
          Servants, this extra Favor is reset on the next Annual Holy Day (which means you can’t stockpile it). The
          unanointed gain 1 Favor.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='NotasacrificbWoVvBWSfo' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'NotasacrificbWoVvBWSfo'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>TAKING AN OATH (SPECIAL) </strong>Not a sacrifice or holy day parse, Taking an
          Oath is essentially getting Favor on loan from the Divines for the
          promise that, if you get out the bad situation you're in, you'll make a huge sacrifice to them soon after. By
          Taking an Oath, you gain a die worth of Favor for every 20% of treasure you gain from the adventure you
          promise
          to the Divine, should you survive.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThisdieiseqRPKuwbbJug' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThisdieiseqRPKuwbbJug'"></app-bm-chapter-icon>
        <p>This die is equal to their Honor dice related to the Divine you're petitioning if you're Anointed to
          them. The Unanointed must also promise to become Anointed in addition to the cash and goods, in which case
          they
          gain a d6! worth of Favor. This Favor can put you over your max but must be spent on a Miracle immediately.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TheDivinesarrRbwsTUHwy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheDivinesarrRbwsTUHwy'"></app-bm-chapter-icon>
        <p>The Divines are extremely litigious. If you don't fulfill your oath in 1 month + 1 for every Honor Category
          higher than Average Honor you're in, they will seek vengeance. You may no longer gain any Favor with any
          Divine
          that shares a pantheon with the one you're in and what you do have will decay, causing you to lose 1 Favor per
          day. Priests of the Divine will also condemn you as an oath breaker, a very serious accusation, causing you to
          drop 1 Honor Category per month and preventing you from increasing your Honor. Should you fall into Dishonor,
          you gain the Excommunicated Flaw.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThereareholyXqFrpDkKAk' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThereareholyXqFrpDkKAk'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>CRUSADES & PILGRIMAGES (SPECIAL) </strong>There are holy places to visit and
          holy things to be done. Crusades and Pilgrimages are special rewards the GM
          can give out for furthering the Divine’s will. This can either be through an actual holy war or by waging a
          spiritual war of conversion. These don’t even need to be things done on purpose and can be part of the
          campaign.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TheGMshouldxIgecRssDh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheGMshouldxIgecRssDh'"></app-bm-chapter-icon>
        <p>The GM should award a roll of the crusader or pilgrim's Honor dice, allowing it to go over the Max Favor
          allowed, and awarding them Honor for furthering their deity’s influence in the Middle Realm.
          Additionally, if it was an amazing feat of faith, the GM may also increase the character’s Devotion size.
        </p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TheunanointedSdMlbzrCbz' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheunanointedSdMlbzrCbz'"></app-bm-chapter-icon>
        <p>The unanointed gain no benefit from crusades and pilgrimages.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ServantsandAnvtmXBTxyG' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ServantsandAnvtmXBTxyG'"></app-bm-chapter-icon>
        <p><strong class='orangeHeader'>CONDEMNATION & ABSOLUTION (SPECIAL) </strong>Servants and Anointed followers are
          expected to hold to the Divine’s tenets more closely and so can come under
          condemnation for disobeying their deity. GMs may subtract Favor from Servants and Anointed followers for sins
          against their religion or prevent them from gaining Favor for prolonged transgressions. Servants and Anointed
          followers with the Religion Advanced Skill in their Covenant receive a warning before they act (having studied
          their religion to some extent).</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ThosethathavdBQgQMZYaK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThosethathavdBQgQMZYaK'"></app-bm-chapter-icon>
        <p>Those that have transgressed must seek absolution before they gain the benefit of holy days and sacrifices
          again.
          What this means varies based on the magnitude of the sin.</p>
      </div>
      <div class='tableOverflowWindow anchor MaximumFavorTable'>
        <div id='13t6' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'13t6'"></app-bm-chapter-icon>
        <div class='tableOuterShell' [ngStyle]='{width: "200px"}'>
          <h1 class='tableTitle'>Maximum Favor</h1>
          <div class='tableHeaders'>
            <div class='tableRow'>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Honor Cate</p>
                <p class='MaximumFavorvalue TableIndividual'>Max Favor</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Dishonorable</p>
                <p class='MaximumFavorvalue TableIndividual'>Cannot Invoke</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Low Honor</p>
                <p class='MaximumFavorvalue TableIndividual'>0</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Average Honor</p>
                <p class='MaximumFavorvalue TableIndividual'>1</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>High Honor</p>
                <p class='MaximumFavorvalue TableIndividual'>2</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Great Honor</p>
                <p class='MaximumFavorvalue TableIndividual'>3</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Anointed</p>
                <p class='MaximumFavorvalue TableIndividual'>+2</p>
              </div>
              <div class='tableValue'>
                <p class='MaximumFavorvalue TableIndividual'>Servant</p>
                <p class='MaximumFavorvalue TableIndividual'>Varies</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='anchor'>
        <div id='MAXIMUMFAVORuKbAjGtpsD' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'MAXIMUMFAVORuKbAjGtpsD'"></app-bm-chapter-icon>
        <h3>MAXIMUM FAVOR</h3>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ApersoncanoBDrAwNQiHh' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ApersoncanoBDrAwNQiHh'"></app-bm-chapter-icon>
        <p>A person can only have so much Favor, with the Divines giving a little extra leeway for those of strong
          character. The Max Favor a person can have is limited to their Honor Category.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='AnointedmembeLBTfhqxcOv' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'AnointedmembeLBTfhqxcOv'"></app-bm-chapter-icon>
        <p>Anointed members increase this threshold by 1 while Servants increase their Max Favor by their level, but
          both
          cannot gain any Favor while in the Dishonorable Category, regardless of level.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ShouldapersoqsCLPEpprK' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ShouldapersoqsCLPEpprK'"></app-bm-chapter-icon>
        <p>Should a person drop an Honor Category, if their Favor is above their new max, it automatically drops.</p>
      </div>
      <div class="anchor">
        <div id="INVOKINGMIRACheader" class="anchorTag"></div>
        <h1>Invoking Miracles</h1>
        <div class="underline"></div>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='NowthatyouvUsRhgOlwaV' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'NowthatyouvUsRhgOlwaV'"></app-bm-chapter-icon>
        <p>Now that you’ve got a nice stash of Favor, you probably want to spend it. That’s pretty simple: pray out loud
          for
          the Miracle in question. Silent prayers don’t work because no Divine is going to answer a prayer they’re not
          going to get credit for.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ForeveryFavoaNFqDZPSEO' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ForeveryFavoaNFqDZPSEO'"></app-bm-chapter-icon>
        <p>For every Favor you spend, you get another use of your Honor Dice but comes with a few differences: the
          first,
          and most major, is that you can spend it on ANYTHING - you want to run faster or jump higher? You want to heal
          your wounds? You want to attack slightly faster? You can with Favor, however, the effects are only temporary,
          of
          course.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='ThesecondiscrdsGIdkxd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ThesecondiscrdsGIdkxd'"></app-bm-chapter-icon>
        <p>The second is that you can spend to change the world around you. Every Favor you spend can change a 5 ft
          square
          area with the following restriction: it can’t directly contradict things that have already been said.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ForinstanceaSzwqZxxDR' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ForinstanceaSzwqZxxDR'"></app-bm-chapter-icon>
        <p class="italic">For instance, you cannot wish to have an avalanche suddenly on the steppe or an inn to appear before the
          party
          that wasn’t there before, but you could wish for a flash flood or for an inn to be over the next rise, which
          was
          just out of view when you prayed.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='MiraclesareadgJGUeKJsX' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'MiraclesareadgJGUeKJsX'"></app-bm-chapter-icon>
        <p>Miracles are also bound by Covenant: you can’t pray for something your Divine doesn’t have power over, so a
          Divine of the city can’t really help you in the mountains, for example.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='ButthisiswhjXFthDxvXe' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'ButthisiswhjXFthDxvXe'"></app-bm-chapter-icon>
        <p>But this is where being in a pantheon does help out: you can pray to another Divine in your pantheon for
          their
          blessing instead, but it requires twice as much Favor and you don’t gain the benefit of your Cosmic Link.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheotherrestFuhVQraheu' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheotherrestFuhVQraheu'"></app-bm-chapter-icon>
        <p>The other restriction is that the Miracles need to be subtle: no angels coming down from the skies to keep
          you
          from falling to your death but perhaps there’s water or a passing hay cart that catches you just in time to
          soften your landing. There needs to be room for doubt.</p>
      </div>
      <div class='anchor'>
        <div id='13HDDgmqvRpc' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'13HDDgmqvRpc'"></app-bm-chapter-icon>
        <h3>SACRED & PROFANE SPACES</h3>
        <h4>🜂 Deluxe Rule</h4>
      </div>
      <div class='paragraphShell anchor'>
        <div id='HolyplacesarraTKzvxEMd' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'HolyplacesarraTKzvxEMd'"></app-bm-chapter-icon>
        <p>Holy places are those areas that are closer to the God’s Realm, where the Middle Realm is weaker. There the
          faithful can almost feel the Divines walking around.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='InasacredspZlNbJKwMZS' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'InasacredspZlNbJKwMZS'"></app-bm-chapter-icon>
        <p>In a sacred space dedicated to a certain Divine, the Honor Dice you get becomes 1 size larger. It also fills
          the
          devoted with a sense of purpose, temporarily increasing their Devotion by 1 for Confrontations and, if
          defending the space, their Devotion applies to Morale, of course.</p>
      </div>
      <div class='paragraphShell anchor'>
        <div id='TherearealsoDVlVNtrgsC' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TherearealsoDVlVNtrgsC'"></app-bm-chapter-icon>
        <p>There are also those areas that are abhorrent to the gods. Desecrated altars, dwarven holds, and other spaces
          the
          Divine presence is absent.</p>
      </div>
      <div class='paragraphShell anchor marginBottom'>
        <div id='TheseProfanemjFuHVpeJy' class='anchorTag'></div>
        <app-bm-chapter-icon [id]="'TheseProfanemjFuHVpeJy'"></app-bm-chapter-icon>
        <p>These Profane spaces net Honor Dice 1 size smaller, down to a d2 for each Favor spent to the Divine space is
          Profane to. The unanointed are completely unable to invoke Miracles.</p>
      </div>
    </div>
    <div class="sideShell">
      <app-quick-nav [side]="side"></app-quick-nav>
    </div>
    <h1 class="chapterTitle">The Divine</h1>
  </div>
</div>